[2020-02-17 16:52] pchampio commented on #357
If you want to add this feature to hover, I can assign you to this task!

[2020-02-17 17:30] james-lawrence commented on #357
I'll gladly help out with it. mainly filed so it was on the radar and if anyone else has ideas towards its implementation they wish to add.

[2020-02-17 19:02] james-lawrence opened #358 "missing text handles"
I have a text input box for sensitive information that has a hide/display button that transforms the text.

the text fails to change due to missing handlers.

[code]

couple of related issues:
#355
#354

[2020-02-17 22:41] stuartmorgan commented on #358
The only bug related to those log messages is the logging itself; see https://github.com/flutter/flutter/issues/49960 for relevant discussion from the macOS Flutter embedding.

Whatever functionality issues you are seeing, they aren't related to those log messages.

[2020-02-18 04:20] itMicmouse commented on #356
I have the same problem
<img width="1082" alt="D7D2C326-8526-4F6E-8D82-6C6C415C220E" src="https://user-images.githubusercontent.com/14135612/74703651-d1405a80-5248-11ea-9a8c-167dcdf94650.png">
<img width="365" alt="B4901930-9636-4EA4-AC8B-B59DBBBEE7F2" src="https://user-images.githubusercontent.com/14135612/74703719-0e0c5180-5249-11ea-9b86-208ac0bcfdbd.png">

[2020-02-18 21:11] pchampio commented on #259
Please read https://github.com/flutter/flutter/issues/50778

[2020-02-23 10:02] malyutinegor commented on #133
Any progress on this?

[2020-02-23 14:23] pchampio commented on #133
Can you try: `hover run -b '@no_resize_crash_v2'` ?

[2020-02-23 16:43] malyutinegor commented on #133
@pchampio Still `hover: App exited with error: signal: segmentation fault`

[2020-02-23 17:18] jld3103 commented on #133
That's an issue with libglvnd. We figured out that it currently can only be fixed by downgrading it. On our gitter you can see some discussion and info about it

[2020-02-23 18:26] malyutinegor commented on #133
@jld3103 Thanks! Downgrading `libglvnd` really fixed the issue.

[2020-02-24 18:51] fourscience commented on #128
Actually there are many arm boards running generic linux kernel, i have an embedder written in C, but the whole setup is somewhat hard for newcomers, i was checking out go then and found this :)
i would agree that by default nor ARM or Wayland is a main target, but it could very well fit some devices (tv, set top boxes, smart stuff)
an example would be webos (lg)

so ill create a pr for arm and wa

[2020-02-24 18:58] jld3103 commented on #128
@fourscience That would be great! I changed my mind some months ago about ARM and I think it's actually a reason to use go-flutter if we support it, because FDE doesn't.

[2020-02-24 19:47] fourscience commented on #128
May i ask about splitting cross compilation into 2 segments?

i would not influence the docker part, but any non supported platforms by flutter requires the engine built, as gn does it would be nice to pass go the compilation flags instead of relying on specific targets, so i would propose to adding flags to pointing to a local engine path (engine/src/out/platform etc), so that directory contains

[2020-02-24 20:07] jld3103 commented on #128
I absolutley agree with you. We need to restructure hover into a "proper" build system now that we got so many steps to choose from.

So we could build for anything? If then we need some predefined targets like now for everyone.

[2020-02-25 07:49] fourscience commented on #128
@jld3103
Basicly yes, as far as go compiler can go :D

I would propose a different hover build/run cli arguments list, something like:
- target: (clang docs borrowed) https://llvm.org/doxygen/classllvm_1_1Triple.html
The triple has the general format <arch><sub>-<vendor>-<sys>-<abi>, where:
arch = x86_64, i386, arm, thumb, mips, etc.
sub = for ex. on ARM: v5, v6m, v7a, v7m, etc.
vendor = pc, apple

[2020-02-25 07:52] jld3103 commented on #128
That sounds really awesome. Can you create a new issue to track your proposed changes?

[2020-02-25 10:31] fourscience opened #363 "Cross compile with custom engine."
This is a placeholder issue to track hover build and cross compile changes discussed in #128.

## **Proposal:**
### List of steps.
1. Add custom toolchain and target support.
2. Add support for build flags. (example: glfw gles2 and wayland tags)
3. Add local engine support, therefore providing own artifacts for the embedder.
4. Add sanity and error checking.
5. Refactor.
6. Probably add support fo

[2020-02-25 10:32] fourscience commented on #363
@jld3103 Can you please make sure that this is labeled correctly?
And could you please do a quick review? I'll revisit this after i have some free time.

[2020-02-25 11:14] jld3103 commented on #363
I'd like to know more about how docker is involved in cross-compiling and how the current targets on desktop are defined then. Do you also plan to make targets like RPI "standard" (so that you don't have to specify the arguments every time)? Also adding something like a "profiles" config file for custom defined targets would be good.

Moving from the current hover structure to the one you're propo

[2020-02-25 18:59] fourscience commented on #363
Lets separate these for a moment, i'll call it "hover compile".

So running hover build, without any arguments is a sure host compilation requiring no cross compile steps, but it will go trough the hover compile, so we can support local engines.
Calling "hover build linux/arm" would load the "linux/arm" preset, a good list of those are fyne-cross, as they are simple and need only small adjustments

[2020-02-25 19:08] jld3103 commented on #363
Regarding the docker base image @GeertJohan created an [PR](https://github.com/go-flutter-desktop/hover/pull/73) for a new docker approach that uses a single image that we define

[2020-02-25 19:10] jld3103 commented on #363
Also I created a PR for AOT that currently only works on linux, but would be needed for your changes I guess.

[2020-02-25 19:11] fourscience commented on #363
Nice!

Nice! ill add some comments regarding deps so it could be used by this!

[2020-02-25 19:15] jld3103 commented on #363
Also we are currently using https://github.com/flutter-rs/engine-builds as `libflutter_engine` sources for AOT (and also could use them for JIT). Adding our predefined targets to the automatic builds would be nice for other users, because instead of compiling the engine themselves they could download the prebuilt engines.

[2020-02-25 19:23] fourscience commented on #363
For the default set thats fine, i dont want to change the setup for that, just adding the option for users to use local engine :)

non of these arguments should be required, regarding prebuilts, these should be ok.
If the user does not define a local engine path and name then these artifacts should be used.

The flow os somewhat similiar to flutter build bundle.

[2020-02-27 12:52] ghost opened #364 "Transparent background Option"
I'm adding window shadow, however, it seems that init background color is black, I can't make it look like shadow but fat black line.

[2020-02-27 13:05] ShinyV commented on #364
It only support `glfw.TransparentFramebuffer` Hint on go-gl/glfw 3.3.

[2020-02-27 13:33] ShinyV commented on #364
Insert a line to [flutter.Run()](https://github.com/go-flutter-desktop/go-flutter/blob/512489aa1e6aabd7b33ddde932c13dde2dc5706b/application.go#L97):
[code]

[2020-02-28 06:58] chengxuncc commented on #356
Same problem for me.
[code]
I test commits of `go-flutter` master branch one by one, successfully run on commit `e989718 docs: update Mac OS CGO_LDFLAGS for embedder readme (#305)`, but it won't work after `62fe831 Bugfix/texture thread (#304)`, hope this helps.

[2020-02-28 12:37] pchampio commented on #356
Does `hover run --opengl=none` works?

[2020-02-28 14:53] chengxuncc commented on #356
Yes, it work.

[2020-02-28 15:00] pchampio commented on #356
When you remove the `opengl.GLFWWindowHint()` line, everything works?
I'm talking about the one in `createResourceWindow` not in ``
https://github.com/go-flutter-desktop/go-flutter/blob/d57ad2bcb4c4dcd434d628e2db6a12341f6989a4/application.go#L70-L71
not the one in `(a *Application) Run()`
https://github.com/go-flutter-desktop/go-flutter/blob/d57ad2bcb4c4dcd434d628e2db6a12341f6989a4/application.go#

[2020-02-28 15:09] #356 closed

[2020-02-28 15:11] pchampio commented on #356
Fixed in `v0.35.2`

[2020-02-28 15:16] chengxuncc commented on #356
How could I make sure everything works? There should be an app for testing kinds of functions.

[2020-02-28 15:17] pchampio commented on #356
https://github.com/go-flutter-desktop/examples/tree/master/texture_tutorial

[2020-02-28 15:19] chengxuncc commented on #356
`texture_tutorial` is not using `Image.asset()`.

[2020-02-28 15:23] chengxuncc commented on #356
When `draggable_borderless` uses `Image.asset()`, It works. This is different.

[2020-02-28 15:27] pchampio commented on #356
Since the fix affected texture I wanted to test if the `texture_tutorial` was sitll working.
I'm kinda in a rush ATM, I don't have an example with `Image.asset()`, but I thinks it's not that complicated to create.

Nevertheless, big thanks for going through the process of finding the commit that created this regression. :+1: :fireworks:.

I hope it works^^

[2020-02-29 15:32] AKushWarrior opened #366 "Go fails silently on attempted Hover install"
(Hover is currently not installed. Thus, I can't share the results of hover doctor.)

## Error output

`go get -u github.com/go-flutter-desktop/hover` completes silently, with no logs. However, the terminal errors out upon me trying to use hover, saying that there is no command 'hover':

[code]

[2020-02-29 15:33] AKushWarrior commented on #366
Above is my exact terminal inputs and outputs.

[2020-02-29 15:38] pchampio commented on #366
Can you try:
[code]

[2020-02-29 15:42] AKushWarrior commented on #366
Okay, that works. Thanks for the quick response.

[2020-02-29 15:42] #366 closed

[2020-02-29 15:45] pchampio commented on #366
I think this is a duplicate of [#306](https://github.com/go-flutter-desktop/go-flutter/issues/306#issuecomment-552200363)

[2020-03-02 09:42] goldenduo commented on #214
I can not  resize the window when setting borderless.Is that possible to remove the header(close widget etc) only?

[2020-03-03 12:46] pchampio opened #367 "Target platfrom linux & windows available"
https://github.com/flutter/flutter/pull/51519
Once the above commit goes into beta, we won't need to have the `debugDefaultTargetPlatformOverride` overwritten.

https://github.com/go-flutter-desktop/hover/blob/master/assets/app/main_desktop.dart#L8

[2020-03-03 13:06] pchampio commented on #314
Need to write a PR on flutter.
GLFW RawKeyEvent can be used on MacOS.
Have to change:
https://github.com/flutter/flutter/blob/1ba4f1f509202f3d2ec16f053edcbe2df6b7107e/packages/flutter/lib/src/rendering/editable.dart#L481
To:
`something == TargetPlatform.macOS`

[2020-03-04 09:26] younlok opened #368 "Building examples resolves an error "GLFW""
## Hover doctor

[code]

## Error output
creating glfw window: VersionUnavailable: GLX: Failed to create context: GLXBadFBConfig
hover: App 'stocks' exited with error: exit status 1

[2020-03-04 09:30] pchampio commented on #368
Does `hover run -b '@v0.35.1'` works

[2020-03-04 19:03] younlok commented on #368
this give me this
 21 % / 100 %hover: Failed to download artifacts: read tcp 192.168.1.8:37398->216.58.205.80:443: read: connection reset by peer

[2020-03-05 03:35] j4qfrost commented on #134
I've reimplemented the backend logic using gocv here https://github.com/Knights-of-the-Functional-Calculus/gfd-plugins/blob/master/video_player/cv.go

It's still showing memory leaks. I can't find any place where it might be leaking in my implementation nor in the flutter go embedder. Is there anyway we can renew interest in this subject? I'm not particularly great at leak hunting myself.

[2020-03-05 06:14] younlok commented on #368
i geet this error
`So, because stocks depends on intl 0.16.0, version solving failed.
pub get failed (1; So, because stocks depends on intl 0.16.0, version solving failed.)
hover: Flutter build failed: exit status 1
`

what is intl ?? sorry i am new to flutter :/
also thank for your time

[2020-03-05 11:59] pchampio commented on #134
@j4qfrost I'll take a look at this once I have more time.
It's awesome to see someone working on this subject!

[2020-03-05 12:01] pchampio commented on #368
Try another example.

[2020-03-05 15:04] younlok commented on #368
same problem

[2020-03-05 15:08] pchampio commented on #368
which problem?
using which hover command? `hover run -b '@v0.35.1'` ;)

[2020-03-05 19:42] younlok commented on #368
`creating glfw window: VersionUnavailable: GLX: Failed to create context: GLXBadFBConfig
hover: App 'keyboard_event' exited with error: exit status 1`

and yes with
`hover run -b '@v0.35.1'`

[2020-03-05 21:50] geoah opened #369 "Light/dark theme selection"
Flutter on IOS/Android/MacOS (at least) seems to be have the ability to automatically select between the [light/dark themes of a MaterialApp](https://api.flutter.dev/flutter/material/MaterialApp/darkTheme.html) based on system settings.

Running the same app with hover doesn't behave the same way and `MediaQuery.platformBrightnessOf(context)` always reports `Brightness.light` which I assume is the

[2020-03-06 09:16] pchampio commented on #368
Can you try with `hover run -b '@v0.35.3'`

[2020-03-06 13:16] pchampio commented on #369
It seems that the embedder controls the Brightness. I tried to test this in go-flutter but did not manage to get it working.
I based the implementation of code found in the android embedder [here](https://github.com/flutter/engine/blob/master/shell/platform/android/io/flutter/embedding/engine/systemchannels/SettingsChannel.java).

I'll take a further look at this this week-end.

Here is the `go/cm

[2020-03-06 22:37] jld3103 opened #371 "Use flutter --version --machine in hover"
Hover currently reads the human readable output of `flutter --version` and then fetches the full engine commit hash from github, but we can shorten and improve that by using `flutter --version --machine` which returns json like this:
[code]

[2020-03-07 05:42] younlok commented on #368
`creating glfw window: VersionUnavailable: EGL: Failed to create context: Arguments are inconsistent
hover: App 'keyboard_event' exited with error: exit status 1
`

[2020-03-07 05:44] younlok commented on #368
`hover: Using engine from cache
hover: Cleaning the build directory
hover: Bundling flutter app
hover: Downloading 'go-flutter' @v0.35.3
go: finding github.com/go-gl/glfw latest
go: finding github.com/go-gl/gl latest
hover: 'go-flutter' is on version: v0.35.3
hover: Failed to retrieve the organization name: open android/app/src/main/AndroidManifest.xml: no such file or directory
hover: Compiling '

[2020-03-08 16:12] pchampio commented on #371
That's a good idea! I wasn't aware of the `--machine` flag

[2020-03-08 16:16] pchampio commented on #368
Does `go run test.go` works,
test.go is a file with the following content:
[code]

[2020-03-08 17:13] pchampio commented on #369
I have updated the above snippet with a working example, sadly, I don't know how to query for dark/light theme on all platform/display environment.
As the above settings are quite hard to query on all platform, maybe it's up the the flutter developer to provide the right values.

@GeertJohan @geoah do you thinks those settings (PlatformBrightness, AlwaysUse24HourFormat, TextScaleFactor) should be

[2020-03-08 17:46] geoah commented on #369
@pchampio thanks so much for the update example.

---

I do agree with the idea of delegating the detection to the developers. The plugin is minimal enough that an example is enough I think

If you'd rather have an option for that maybe the option could accept a channel on which the developer could push updates?

For example macOS can automatically change to dark mode after sundown so applications

[2020-03-08 17:58] geoah commented on #369
This is literally a 2min mash of @pchampio's example and the gist linked above.
Flutter takes a couple more seconds than native flutter but works as expected.

[code]

[2020-03-08 18:02] jld3103 commented on #369
A snippet for windows: https://gist.github.com/jerblack/1d05bbcebb50ad55c312e4d7cf1bc909

I guess detection on linux is going to be a lot harder

[2020-03-09 06:09] younlok commented on #368
yes it works i get a black screen and alright

[2020-03-09 07:40] pchampio commented on #368
Je think the error comes from an openGL driver.
Can you try `hover run -b '@v0.35.3' --opengl=None`

[2020-03-09 13:55] TheOneWithTheBraid opened #372 "[feature-request] Custom name for AppImage and Snap"
## Is your feature request related to a problem?

Nope.

## Describe the feature you'd like

It would be great if I could specify the final executable name for the build application.

E.g. my dart project's name is `my_test_application` then the built AppImage executable is currently just named `my_test_application.AppImage` too. It would be great if this was adjustable somewhere. Same applies for

[2020-03-09 14:10] younlok commented on #368
worked cool ty
but the stocks project still doesn't work can you tell me why (just curiosity )

[2020-03-09 14:27] pchampio commented on #368
Cool!

Just a flutter dependency stuff, you can update it by changing [this](https://github.com/go-flutter-desktop/examples/blob/34585bad11bac7390b7b5441ecb4afadfc8f0f54/stocks/pubspec.yaml#L13) line.

[2020-03-09 14:27] #368 closed

[2020-03-09 16:11] jld3103 commented on #372
That's definitely a thing that is easily possible, but I'd like to wait for https://github.com/go-flutter-desktop/hover/pull/73, because then we have a new packaging structure and it's going to be a lot cleaner. I imagine renaming the executable would also be nice for more packaging formats than app image and snap

[2020-03-09 18:40] JasMich commented on #372
For those others it already is possible by renaming the `go/packaging/linux-*[...]/usr/bin/my_executable`.

[2020-03-15 20:43] j4qfrost commented on #134
Bump. Is there anything I can do to get better at tracking down the leaks?

[2020-03-16 16:44] jld3103 opened #373 "App crashes on application close"
## Hover doctor

[code]

## Error output

Using `hover run` to run my application, I get the following
error:

[code]

After switching from Ubuntu to Arch I get this error every time I close the app either using the window manager or Ctrl+c.

[2020-03-16 16:57] pchampio commented on #134
I don't time at the moment, I'm very sorry but I can't help.
To track the memory leaks we can use valgrind, but it will interfere with the C-based engine.

[2020-03-16 17:08] #371 closed

[2020-03-17 10:04] jld3103 opened #374 "AppImage docker image broken"
The current AppImage docker image is broken. It's still broken in https://github.com/go-flutter-desktop/hover/pull/73 and I couldn't find a fix for it or even anyone on the internet that has the same problem.

It fails with this message:
[code]
after downloading and chmod'ing it. So the problem is not that the file doesn't exists, but somehow can't be executed.

[2020-03-17 15:59] #373 closed

[2020-03-20 15:09] ericdallo opened #375 "Printscreen shortcut"
## Is your feature request related to a problem? No

A clear and concise description of what the problem is.
`What about a shortcut that prints the hover application screen? Android emulator has this feature and I think it's very useful.`

## Describe the feature you'd like
Something like `Alt + PrtScr`

A clear and concise description of what you want to happen.

[2020-03-20 16:00] jld3103 commented on #375
Would you like it to only be available in debug or always?

[2020-03-20 16:05] ericdallo commented on #375
@jld3103  I didn't know that there's a hover debug mode, or you are referring to flutter's debug mode?

[2020-03-20 16:22] jld3103 commented on #375
Yes

[2020-03-20 17:11] ericdallo commented on #375
I don't see any problem the print shortcut works for non debug profile too, but if you want to restrict only for debug, I'm okay with that :)

[2020-03-20 17:19] pchampio commented on #375
It's already available in the flutter toolchain!

`flutter screenshot --observatory-uri=http://127.0.0.1:50300/XXXXX --type=rasterizer
`
[code]

![image](https://user-images.githubusercontent.com/7476655/77188991-289b4a00-6ad7-11ea-911b-bdafdb55a781.png)

[2020-03-20 17:19] #375 closed

[2020-03-20 17:38] ericdallo commented on #375
Thank you very much @pchampio, It works!
If there was any way of getting this `XXXXX` easily, I could make some shortcut for [hover.el](https://github.com/ericdallo/hover.el) to take the screenshot :thinking: :pensive:

[2020-03-20 17:40] pchampio commented on #375
Haha, I'm working on this at the moment^^

[2020-03-20 17:41] ericdallo commented on #375
Thanks! :crossed_fingers:

[2020-03-20 18:04] pchampio commented on #375
I have removed the auth-code from the observatory URL. [engine/switches.h](https://github.com/flutter/engine/blob/fddb0c272e2f3e9f9639e1c1dbfcbf2ff86a262c/shell/common/switches.h#L111-L114) This wasn't an option before. No more `XXXXX` at the end of the url.

I've also enable `enable-service-port-fallback` [engine/switches.h](https://github.com/flutter/engine/blob/fddb0c272e2f3e9f9639e1c1dbfcbf2ff

[2020-03-20 18:07] pchampio commented on #375
fixed in the latest version of hover.
`go get -u github.com/go-flutter-desktop/hover`

[2020-03-20 18:33] ericdallo commented on #375
Uow, nice!
I'll sure implement this :D
Thanks for your help @pchampio

[2020-03-20 18:36] pchampio commented on #129
@chengxuncc I'm not 100% sure hover is the right place for baking such functionality.
I've managed to create a proof-of-concept, it doesn't require any hover modification.

Hot reload is trigger when the `flutter attach` receives a `SIG USR1` signal [source](https://stackoverflow.com/q/54975511).
By it's own, hover spawn a `flutter attach` cmd, it's on this one that we forward key-presses like r.

[2020-03-20 18:39] pchampio commented on #375
@ericdallo could you read https://github.com/go-flutter-desktop/go-flutter/issues/129#issuecomment-601852948
I'll like your opinion, and how are you performing hot reload? (manually or on save, if on save, are you sending 'r' key-presses into the `hover` proc)

[2020-03-20 19:06] ericdallo commented on #129
I agree with @pchampio, I think this is not hover responsibility, this should be implemented in a VSCode extension, where it calls hover in background and optionally allow to bind some keys to auto-reload like [hover.el](https://github.com/ericdallo/hover.el) does for emacs.

[2020-03-20 19:11] ericdallo commented on #375
@pchampio, `hover.el` has the option to manually input commands like `r` or `R`, but also allows keybindings to do that, like in [this example](https://github.com/ericdallo/hover.el). It has the feature that on file save, it triggers auto-reload(sending the `r` command to hover background process).

[2020-03-24 13:21] lmx01 commented on #134
I use this in Mac.But I got error like these:

(This is taking an unexpectedly long time.)       ⢿go-flutter/plugins/video_player   WARNING   MethodCall to ' setLooping ' isn't supported by the Golang video_player

Can U help me?Thanks.

[2020-03-25 10:24] lmx01 commented on #248
I got this error while run "hover run -b '@gl-3.3'.
go get github.com/go-flutter-desktop/go-flutter@gl-3.3: github.com/go-flutter-desktop/go-flutter@gl-3.3: invalid version: unknown revision gl-3.3

This branch does not exist anymore,how can I solved this problem now ? thanks.

[2020-03-25 10:35] pchampio commented on #248
Well, `hover run -b '@gl-3.3` is an older, which was deleted, as the error suggest.
Why do you want to use this very old branch?

[2020-03-25 10:38] lmx01 commented on #248
Sorry，I just didn't know how this works.I just want to solve the problem in Win10 while I run "hover run":
Windows: Failed to create OpenGL context

[2020-03-25 10:40] pchampio commented on #248
update your graphic card driver or run
`hover run --opengl=none`

[2020-03-25 11:03] lmx01 commented on #248
```hover run --opengl=none``` can run,but not texture，it becames a white screen.My graphic card driver is newest also.

[2020-03-25 12:01] pchampio commented on #248
`hover run --opengl=3.2`

[2020-03-25 12:02] pchampio commented on #248
I won't be able to provide you with a fix, sorry.

[2020-03-25 12:21] lmx01 commented on #248
ok,thank U for your help also.

[2020-03-29 08:11] xaxys opened #378 "Hover build fails with whitespace in path"
## Error output

Using `hover build windows` to build my application, I get the following
error:

[code]

Obviously, It is caused by whitespace in flutter path (I installed flutter in C:\Program Files\flutter).I checked the source of hover, found the error @ (build.go:436).
It seems hover uses the full path of Flutter/Go/Docker etc. So I tried to warp the path with `"`, but it will cause an error

[2020-03-29 11:12] pchampio commented on #378
Can you create a PR that fixes this issue?

[2020-03-29 16:18] etx commented on #123
Was there any movement on this? Looks like the flutter team is still working on it.

I'm trying to figure out how to pop another window with go-flutter right now using different root app. It doesn't even need to talk to the main process for my use.

[2020-03-29 16:25] pchampio commented on #123
Once the feature is available in the flutter engine, we will implement it.
Any other work-around will end-up in a waste of time.

[2020-03-29 16:54] davidmartos96 opened #379 "Increase scroll amount / make it configurable"
I don't know if I am the only one, but I find the amount of scroll in `go flutter` too low in comparison to any other desktop / web application. I found in the source code that currently `go-flutter` is using `50` as the amount to scroll.
https://github.com/go-flutter-desktop/go-flutter/blob/f67b5ecc81024ff9adb9abe5d06d2667e6130007/glfw.go#L191

I compared how much a simple ListView using Flutter

[2020-03-31 13:03] #379 closed

[2020-04-01 06:33] leedstyh opened #381 "Save the pos and size of the app automatically"
Hi, I wanna save the pos and size of the app. And tried to write a plugin with the code like this:

[code]

But no luck, window is `nil` all the time.

So can this feature be built into the go-flutter(save automatically when I move/resize the app), or any hints to do this?

Thanks

[2020-04-01 06:57] pchampio commented on #381
You can interact with the glfw window through GLFWPlugin, here are multiple examples: https://github.com/go-flutter-desktop/go-flutter/issues/181#issuecomment-508308348 |  [WIKI](https://github.com/go-flutter-desktop/go-flutter/wiki/GLFW-Plugin-example) | https://github.com/go-flutter-desktop/go-flutter/issues/267 | [Tips-and-tricks#4](https://github.com/go-flutter-desktop/go-flutter/wiki/Tips-and

[2020-04-01 08:49] leedstyh commented on #381
Thanks @pchampio works like a charm

[2020-04-01 08:49] #381 closed

[2020-04-02 13:31] pchampio commented on #345
@chengxuncc thanks for providing the mutualcall project.
It took me a looong time, but I managed to find the time and enough will to work on this segfault issue.
Man that was hard...

You can assert that my fix solves this issue by running: ` hover run -b '@fix_seg_fault' `.

[2020-04-02 13:44] chengxuncc commented on #345
Wow thanks. It works like a charm.

[2020-04-02 13:51] GeertJohan commented on #378
Thanks for opening this PR @xaxys.

The fix you propose may work well on your machine, but could introduce errors for other users. A proper fix should make the executable path working even with spaces, probably the spaces must be escaped.

Please wait for https://github.com/go-flutter-desktop/hover/pull/73 to be merged, because it may fix your issue as a side effect. I changed some of the inner wo

[2020-04-02 13:59] #345 closed

[2020-04-02 14:57] pchampio commented on #333
Without additional information, we are unfortunately not sure how to resolve
this issue. We are therefore reluctantly going to close this bug for now. Please
don't hesitate to comment on the bug if you have any more information for us; we
will reopen it right away!
Thanks for your contribution.

[2020-04-02 14:57] #333 closed

[2020-04-02 15:07] pchampio commented on #133
Tried to fix this issue, encounter a bug, I want to do more investigation on this: flutter/flutter#48651

[2020-04-02 15:08] pchampio commented on #326
Closing this issue as the black-screen doesn't appear anymore. Please follow #133 for more information about the Segmentation fault: 11 when resizing window on MacOS

[2020-04-02 15:08] #326 closed

[2020-04-02 16:09] xaxys commented on #378
Sure, I'll be waiting, Thx.

[2020-04-02 17:33] pchampio commented on #346
Closing this issue, go-flutter provide an implementation for path_provider. connectivity and connectivity_status are still missing.

[2020-04-02 17:33] #346 closed

[2020-04-02 17:49] pchampio commented on #353
This isn't something the go-flutter can work on.
The flutter plugin on android studio is less polished than the one on vs-code.

[2020-04-02 17:49] #353 closed

[2020-04-02 17:50] pchampio commented on #352
Closing this issue, "OpenGL and Windows Remote don't play along nicely." and since go-flutter uses OpenGL. mstsc is simply not compatible with go-flutter.

[2020-04-02 17:50] #352 closed

[2020-04-02 17:53] pchampio commented on #165
I want to clean the issue backlog.
Since there isn't much content on hover.build, I guess it's not our top priority.

[2020-04-02 17:53] #165 closed

[2020-04-04 18:09] Winwisly100 opened #384 "hover: Failed parsing json: invalid character 'W' looking for beginning of value"
Hello
I got this error when I try to build for linux-deb
`hover: Failed parsing json: invalid character 'W' looking for beginning of value`

[code]

here is the repo: https://github.com/Winwisly100/simple

[2020-04-04 18:11] pchampio commented on #384
What's is the output of `flutter channel --version --machine`?

[2020-04-04 18:12] Winwisly100 commented on #384
{
  "frameworkVersion": "1.15.17",
  "channel": "beta",
  "repositoryUrl": "https://github.com/flutter/flutter.git",
  "frameworkRevision": "2294d75bfa8d067ba90230c0fc2268f3636d7584",
  "frameworkCommitDate": "2020-03-07 00:28:38 +0900",
  "engineRevision": "5aff3119480996ca014ec0f8d26d74db617b5852",
  "dartSdkVersion": "2.8.0 (build 2.8.0-dev.12.0 9983424a3c)"
}

[2020-04-04 21:43] pchampio commented on #384
[code]

[2020-04-04 21:59] jld3103 commented on #384
Yes that should definitely reported. A command with `--machine` should only return machine readable data. @pchampio can you create the issue?

[2020-04-04 22:36] pchampio commented on #384
Issue created, please follow the issue on the flutter tracker.

[2020-04-04 22:36] #384 closed

[2020-04-05 09:45] rs5173 opened #385 "Multi-window support"
My application has a requirement, a new window pops up anywhere on the desktop, does it support this function？

[2020-04-05 09:50] pchampio commented on #385
No sorry we don't have multiple window support yet.
Duplicate of https://github.com/go-flutter-desktop/go-flutter/issues/123

[2020-04-05 09:50] #385 closed

[2020-04-05 12:09] pchampio commented on #355
I think we are dependent upon this upstream issue: glfw/glfw#41
https://github.com/glfw/glfw/pull/658

[2020-04-05 12:44] pchampio commented on #351
@jld3103 what is your plan for the PR?
I've looked at the new channels [method_channel_path_provider.dart](https://github.com/flutter/plugins/blob/c03166bc12791bebc172b63259bd7200c052187e/packages/path_provider/path_provider_platform_interface/lib/src/method_channel_path_provider.dart#L29) some of them could indeed be merged into the plugin.

Some links:
https://github.com/golang/go/issues/29960

[2020-04-05 13:43] jld3103 commented on #351
I didn't work on that, because the project I needed it for was changed in a way that the plugin was no longer in use, but I could actually update the plugin in the next days.

[2020-04-06 10:39] Winwisly100 opened #386 "Docker: no matching manifest for windows/amd64 10.0.17763 in the manifest list entrie"
Hello
I got this error when building windows-msi in Github's actions.
https://github.com/Winwisly100/simple/runs/563940693?check_suite_focus=true

[2020-04-06 11:13] jld3103 commented on #386
My first search lead to the answer that it is an windows docker issue. But anyway why are you using windows to build it? Packaging for msi is done in a docker container and works perfectly on linux. I would suggest to use ubuntu as the host and then it should work.

I'm closing this issue, because it's not a hover bug.

[2020-04-06 11:13] #386 closed

[2020-04-06 11:17] Winwisly100 commented on #386
@jld3103 ok thanks

[2020-04-10 13:24] X-Wei commented on #355
@pchampio thanks ! So the glfw issues are in 2015 and 2018, the fixes are still not in ? When shall we expect to have the fixes in hover ?

[2020-04-10 15:50] pchampio commented on #355
kovidgoyal has implemented IME in his glfw fork, his fork isn't event with glfw/master, I don't intent to use it.
go-flutter is also using a go wrapper on top of glfw (https://github.com/go-gl/glfw), this wrapper makes applying pach to C library much harder.

If I knew was IME was and the fact that glfw did not have support for it, I would of chosen another rendering toolkit. Sadly for now we are

[2020-04-10 21:03] Winwisly100 commented on #240
I want to use deep links e.g: _simple://xxx/yyy
How can I get the url (xxx/yyy) in go code?

[2020-04-11 16:40] #351 closed

[2020-04-13 07:41] alex-min opened #387 "locale.languageCode always returns 'en' on Linux"
Hi,

I'm running my project on an Linux distribution where english isn't the main language. It seems the go-flutter-desktop doesn't read the "LANG" env variable before starting the app and the app is incorrectly using english on the localizationsDelegates.

This is a very simple issue I think and I would be very happy to contribute a PR myself if someone would provide some pointers on how to fix i

[2020-04-13 09:43] pchampio commented on #387
Sure, I'll be happy to have you contribute onto the project.
I think the engine C call to `FlutterEngineUpdateLocales` should fix this issue.
Here are some pointer for you:
* [arguments to provide to `FlutterEngineUpdateLocales`](https://github.com/flutter/engine/blob/c5329ef5c42a4b55b03ab7b84f1cbcecf43baf7d/shell/platform/embedder/embedder.h#L840-L862)
* [example of usage (from the unittests)](ht

[2020-04-13 09:43] pchampio commented on #387
Can I assign you to this task?

[2020-04-13 10:48] alex-min commented on #387
Thanks a lot, yes you can assign me, I'll try to make that work :)

[2020-04-14 09:27] ekasetiawans commented on #326
Sorry i'm late. I still facing this issue on my windows machine. But application showing black screen in release mode (hover build).

[2020-04-14 09:36] pchampio commented on #326
@ekasetiawans #308 was reverted, our issue doesn't come from here.
Humm, after seeing your screen record, it's weird, I'm not sure the issue comes from go-flutter...
Anyway, can you open another issue, with more information.
I would like to have the output of `hover doctor` AND could you also run your app using the windows cmd, instead of double clicking the app to open it, please launch your app

[2020-04-14 09:58] ekasetiawans commented on #326
I'm currently using flutter master channel. I trying to using flutter stable channel. I will share the result.

[2020-04-14 10:05] ekasetiawans commented on #326
Solved by switching to flutter stable channel.

[2020-04-15 17:56] #387 closed

[2020-04-15 17:57] pchampio commented on #387
The locale can be query through `window.locales`
[code]

[2020-04-15 23:11] pchampio commented on #326
@jld3103
do you get the same issue with: `hover run -b '@macOS_no_resize_crash'` #390

[2020-04-16 08:06] jinfagang opened #391 "go get error"
[code]

[2020-04-16 08:38] jinfagang opened #392 "China problem"
github.com/Caijinglong/flutter-go-example/go/cmd imports
	github.com/go-flutter-desktop/go-flutter: module github.com/go-flutter-desktop/go-flutter: Get https://proxy.golang.org/github.com/go-flutter-desktop/go-flutter/@v/list: dial tcp 172.217.24.17:443: i/o timeout
github.com/Caijinglong/flutter-go-example/go/cmd imports
	github.com/pkg/errors: module github.com/pkg/errors: Get https://proxy.gol

[2020-04-16 09:03] pchampio commented on #391
This is a known issue, go-flutter needs to be compiled with specific flag in order to find the engine shared library.

Does everything works properly when using hover??

Why did you go get go-flutter and didn't used hover?

[2020-04-16 09:05] pchampio commented on #392
Can you report the same issue when you used hover?

[2020-04-16 09:38] pchampio commented on #392
does `hover run` works even if you encounter this error?

[2020-04-16 09:39] pchampio commented on #392
@jld3103 maybe we should add [this](https://github.com/go-flutter-desktop/hover/blob/1e0fd4b19e2cac8e1b24e7edb1338497d88cbe46/cmd/build.go#L592-L593) line to [cmdGoModTidy](https://github.com/go-flutter-desktop/hover/blob/5c2ae7b20a4211241773970fc8d0c7af61905fde/cmd/common.go#L170) ?

[2020-04-16 09:44] pchampio commented on #391
This is a known issue, go-flutter needs to be compiled with specific flag in order to find the engine shared library.

Closing this issue:
* [go-flutter wiki on manual compilation](https://github.com/go-flutter-desktop/go-flutter/wiki/Setting-up-hover-to-use-a-home-made-version-of-'go-flutter')
* Issue about `-lXxf86vm` https://github.com/go-gl/glfw/issues/140

[2020-04-16 09:44] #391 closed

[2020-04-16 10:39] jld3103 commented on #392
Yes, but I'd like to have in a more general way. Something like a variable for all go command environments

[2020-04-16 12:43] jinfagang commented on #392
Basically, nothing to do with hover code, but proxy.google.com does not accessable, change it to github is OK I think. Otherwise this blocks lots of Chienese developer outside of the door.

[2020-04-17 04:40] qianniancn opened #393 "If the clipboard copies a picture ctrl + v to text input will cause a crash"
In a windows environment.
If I copy a picture, accidentally pressing ctrl + v in the text input will cause a crash

[2020-04-17 10:32] jld3103 commented on #326
Works for me. No blackscreen or anything at all

[2020-04-18 13:51] jld3103 opened #395 "Native Windows MSI packaging (WiX Toolset)"
Currently it's only possible to build an MSI on Windows through Docker, but I recently found out that Docker is disabled on Windows Home etc. editions. They only support enterprise versions.
That is unfortunate for Windows Home etc. users, because they aren't able to build an installer for their own system.

The tool to build the MSI is called `wixl` and is an opensource alternative version for th

[2020-04-18 13:59] jld3103 commented on #372
I will work on this in the next days. My idea was to add two fields for `binary_name` and `app_name` in the [hover project config file](https://github.com/go-flutter-desktop/hover/blob/master/assets/app/hover.yaml).
@TheOneWithTheBraid @pchampio what do you think about that approach?

[2020-04-18 14:39] jld3103 commented on #372
I think also an `author` field would be good.

[2020-04-19 12:21] j4qfrost commented on #134
@pchampio I think I may have found a solution. I'm ashamed I hadn't thought of it earlier. The guys over at flutter-rs got around to fixing the memory leak issue by calling the destruction_callback https://github.com/flutter-rs/flutter-rs/blob/696d4b1ecce501e061523d01d8476280f88f3d2e/flutter-engine/src/texture_registry.rs#L122. The downside to this is that I ran into high CPU usage. I am not sure

[2020-04-20 08:41] pchampio commented on #393
fixed by: https://github.com/go-flutter-desktop/go-flutter/pull/396
This will be tagged in a future go-flutter release.

[2020-04-20 08:41] #393 closed

[2020-04-20 09:21] pchampio commented on #134
@j4qfrost
I'm not sure why they call this callback manually.
ALSO,
I've removed this the `destruction_callback` from go-flutter because it wasn't working, and I didn't really know what to do with it..
Seeing flutter-rs manually collecting the frame does indicate that I missed something.
Here is the `destruction_callback` commit:
https://github.com/go-flutter-desktop/go-flutter/pull/217/commits/3f8

[2020-04-20 09:32] qianniancn opened #397 "Is it possible to add the right mouse button menu"
If the text box receives a right-click message, is it possible to add a menu.
for example Menu items: undo, cut, copy, cut, select all

[2020-04-20 09:35] GeertJohan opened #398 "Setup Gitlab CI with examples"
Add automated gitlab CI to examples repo, to build the `stock` app. With verification on PR's.

[2020-04-20 09:35] GeertJohan opened #399 "Setup Circle CI with examples"
Add automated Circle CI to examples repo, to build the `stock` app. With verification on PR's.

[2020-04-20 09:35] GeertJohan opened #400 "Setup Github Actions with examples"
Add automated Github Actions to examples repo, to build the `stock` app. With verification on PR's.

[2020-04-20 09:38] pchampio commented on #397
This issue is already tracked by https://github.com/flutter/flutter/issues/31955
Once the flutter team exposes the correct ABI, we will implement it. (Note: this feature might or might not require modification to go-flutter (or any other embedder)).

[2020-04-20 09:38] #397 closed

[2020-04-20 10:12] GeertJohan commented on #372
So `binary_name` is the name of the actual executable inside the package, and `app_name` is the name of the package file?

If app name only defines the name of the outputted file, maybe we shouldn't add that to hover and just let it be a `mv` executed by the user or CI?

Having a value to change the name of the binary during/after the build process sounds good to me. I think it should affect both

[2020-04-20 10:21] jld3103 commented on #372
That wouldn't work, because some packaging formarts needs to know the name of the executable.

The author field is necessary for some packaging formats, but the pubspec author field is not necessary and hover defaults to the username of the system.

I already implemented that.

I don't know how to proceed exactly, but I would propose to make a PR with my changes and if they are acceptable they can

[2020-04-20 10:21] j4qfrost commented on #134
I'm not quite sure either. Maybe it's because The allocation for an OpenGL texture happens first and this is to ensure that the texture gets destroyed in case registering on the engine doesn't take place.

What I seem to be observing with the memory leak seems to be in line with some framebuffer not clearing. When I ran the video player examples under flutter-rs some months ago, I didn't have the

[2020-04-20 10:22] jld3103 commented on #372
Also I added an `packageName` field for the name of the package app.

[2020-04-20 10:29] qianniancn opened #401 "hover cannot get hover / assets / app / directory"
## Can't get “app ” directory
[code]
The `hover init` command will cause the main.go file not to be found

## Screenshot
![2020-04-20 182902](https://user-images.githubusercontent.com/5478237/79742203-0e9e9280-8335-11ea-97b9-630a4cacd402.png)

![2020-04-20 183854](https://user-images.githubusercontent.com/5478237/79742952-3fcb9280-8336-11ea-8e00-15aec56047fb.png)

[2020-04-20 10:57] pchampio commented on #134
last time I checked flutter-rs I saw those 2 commits:
* https://github.com/flutter-rs/flutter-rs/commit/de491a29e878c62fd4bd01f170bdf2709b716283
* https://github.com/flutter-rs/flutter-rs/commit/2c9d208bcbef3b997d8749a8de6ac7a2f66722bf

The high CPU usage might of come from their event loop, not their texture ABI.

On the go-flutter side we are still in the process of merging: https://github.com/g

[2020-04-20 10:57] pchampio commented on #134
Quoting from `csnewman` (gitter.im):

[2020-04-20 11:00] pchampio commented on #401
What is the output of `go env` ?

[2020-04-20 11:01] qianniancn commented on #401
[code]

[2020-04-20 11:04] qianniancn commented on #401
Can't it be set to `GO111MODULE=on` ？

[2020-04-20 11:10] GeertJohan commented on #401
It should be on, yes. We depend on Go-module based building in new features. But I forgot it would break our assets embedding. Working on a fix right now at go-flutter-desktop/hover#101.

[2020-04-20 11:11] pchampio commented on #401
duplicate of: https://github.com/go-flutter-desktop/go-flutter/issues/306 we are working on a fix: https://github.com/go-flutter-desktop/hover/pull/101

It seems that only `auto` works.

[2020-04-20 11:11] #401 closed

[2020-04-20 12:17] GeertJohan commented on #372
Sorry, I meant the outputted packaged file (dmg, appimage, etc), not the executable.

[2020-04-20 12:32] GeertJohan commented on #401
@qianniancn Can you please try with the latest version of hover?
[code]

It should work (it may error on the folder `go` already existing in your flutter project, if you have not done any work to the `go` folder you can remove it from the project and let `hover init` create it again.

[2020-04-20 12:35] GeertJohan commented on #306
This bug has been fixed by go-flutter-desktop/hover#101. After updating hover it should work. You can use `(cd $HOME && GO111MODULE=on go get -u -a github.com/go-flutter-desktop/hover)` to update to the new version of hover.

[2020-04-20 12:35] #306 closed

[2020-04-20 12:40] GeertJohan opened #402 "Create a github action on hover to validate all assets are properly embedded."
On the hover repository there should be a github action that verifies all the assets are properly embedded, and errors on PR's where the assets directory and the generated code are out of sync.

[2020-04-20 12:42] qianniancn commented on #401
can use `GO111MODULE=o`n, which is a perfect solution, thank you!
![2020-04-20 204158](https://user-images.githubusercontent.com/5478237/79752824-79f16000-8347-11ea-82bf-2d6e4b0eef14.png)
![2020-04-20 204225](https://user-images.githubusercontent.com/5478237/79752832-7bbb2380-8347-11ea-869e-b7c0e7005be5.png)

[2020-04-20 12:51] GeertJohan commented on #364
This sounds like something that could be an `Option`.

[2020-04-20 13:52] GeertJohan opened #403 "Let Hover take a screenshot by sending 's' to stdin"
Inspired by #375

We could let hover take a screenshot when the user sends an 's' on stdin.

Hover can simply execute `flutter screenshot --observatory-uri=http://127.0.0.1:50300/XXXXX --type=rasterizer`, because it knows the observatory uri already. This makes life easy for developers.

[2020-04-20 16:59] #133 closed

[2020-04-20 18:39] #364 closed

[2020-04-20 19:00] #398 closed

[2020-04-21 12:10] qianniancn opened #406 "in China hover: Warning, couldn't read the online plugin list"
### Sometimes this happens in China，Sometimes such problems do not happen

- `hover: Warning, couldn't read the online plugin list: Get "https://raw.githubusercontent.com/go-flutter-desktop/plugins/master/list.json": dial tcp 151.101.228.133:443: connectex: No connection could be made because the target machine actively refused it.`

- `hover: Warning, couldn't read the online plugin list: Get "ht

[2020-04-21 14:05] qianniancn opened #407 "It is recommended to add. The default position of the startup window is in the middle"
Hey, can you add the window's default start position to the screen center in the `flutter.WindowInitialLocation` function?
I know that InitPluginGLFW is used to gain control over the glfw.Window

[2020-04-21 18:00] j4qfrost commented on #134
So it would be fine to throw away the texture at each redraw? I'm also kind of confused about what the purpose of the destruction_callback is. Is it actually called within the flutter api if it gets set or is it just there for convenience?

[2020-04-21 18:27] pchampio commented on #134
Looking a bit deeper at the flutter-rs code, it seems they are Creating a new texture on [every new frame](
https://github.com/flutter-rs/flutter-rs/blame/696d4b1ecce501e061523d01d8476280f88f3d2e/flutter-engine/src/texture_registry.rs#L79-L80). This isn't what we do, we are [reusing the same texture](https://github.com/go-flutter-desktop/go-flutter/blob/f67b5ecc81024ff9adb9abe5d06d2667e6130007/tex

[2020-04-21 18:29] pchampio commented on #134
Also another FWI, @befovy has started to port his video player to go-flutter, I think he stop because of https://github.com/go-flutter-desktop/go-flutter/issues/311

 https://github.com/befovy/fijkplayer

[2020-04-21 18:35] j4qfrost commented on #134
Yeah, I recognized that go-flutter and flutter-rs differed in that respect. I was considering deleting the texture at each frame to see if that solved the memory leak but wasn't quite sure how to do that, so I held off until I got a response.

I actually was able to somewhat successfully use webcloudrtc's branch, but I stopped when I realized how much of a pain working with Makefiles would be movi

[2020-04-21 18:39] j4qfrost commented on #134
Also forgot to mention that I can't use valgrind on my machine due to some paging issues with mac. I haven't gotten my linux machine set up yet.

[2020-04-21 18:47] pchampio commented on #134
Even if you use valgrind, it's going to fail. Since the engine is written itself in C, the output will just be a bunch of unrelated mess.

[2020-04-21 22:38] GeertJohan commented on #406
Hmm, I guess the connection is firewalled sometimes... Needs investigation into how we can serve that file from within china, in the same way the flutter engine downloader can switch to china-based servers using `$FLUTTER_STORAGE_BASE_URL`

[2020-04-21 22:41] GeertJohan commented on #407
I'm not sure if initial location is something that we should force, or is something that maybe the systems' window manager should manage (keeping track of where it was last time). In any case, this could be something for a plugin, yes.

[2020-04-21 22:52] #374 closed

[2020-04-21 23:59] #372 closed

[2020-04-22 04:48] TheOneWithTheBraid commented on #372
Thank you!

[2020-04-22 10:37] qianniancn commented on #407
ok，Thank you

[2020-04-22 10:37] #407 closed

[2020-04-22 10:39] qianniancn commented on #406
ok

[2020-04-22 10:40] GeertJohan commented on #407
If you make such a plugin, please let us know, we could add it to the list of interesting plugins in go-flutter-desktop/plugins.

[2020-04-22 10:47] qianniancn commented on #407
Hmm，no problem

[2020-04-22 11:49] pchampio commented on #407
This can be implemented without the use of a plugin.
[2. Set the initial window dimension based on screen resolution(]https://github.com/go-flutter-desktop/go-flutter/wiki/Tips-and-tricks#2-set-the-initial-window-dimension-based-on-screen-resolution)

[2020-04-22 12:02] qianniancn commented on #407
This solution is better, thanks

[2020-04-23 15:56] marchellodev opened #409 "AppImage: .DirIcon is missing"
When trying to submit AppImage to [AppImageHub](https://appimage.github.io), I am having this error:

`FATAL: .DirIcon is missing in /tmp/.mount_BeingTQfaB4a`

([link to a full log](https://travis-ci.org/github/AppImage/appimage.github.io/builds/678647679))

[2020-04-23 16:03] jld3103 commented on #409
That's known. I'm not sure how to fix it, because there is a lack of documentation about that. I hope I can comeup with a solution in the next few days, but I can't promise anything

[2020-04-23 17:26] jld3103 commented on #409
@marchellodev Another thing to mention: You app uses a very old hover version. You can update it (same go get command as to install) and then reinit the project `rm go && hover init`. In the latest version you can control a lot of names for like the application, executable and the package. That won't fix your problem, but it gives you a lot more features!

[2020-04-23 17:28] marchellodev commented on #409
@jld3103 is there a way to check the installed version of hover?

[2020-04-23 17:35] jld3103 commented on #409
Maybe @probonopd could you explain to me how to create a correct `.DirIcon`? I understand if that's not your matter, but there is so little documentation on how to do that.

[2020-04-23 18:07] probonopd commented on #409
Simply place a png in a Linux standard icon size (e.g., 128x128px) in `.DirIcon` into the AppDir root directory. Normally tools that produce AppDirs/AppImages should do this automatically, e.g., by copying the icon specified in the desktop file `Icon=...` key there.

[2020-04-23 18:15] marchellodev opened #410 "There is no hot-reload in Hover v0.41.1"
Console:
[code]
And that's it. When I click `r` or something like that nothing happens.

Go version:
`go version go1.14 linux/amd64`

[2020-04-23 18:22] jld3103 commented on #409
Ok thanks. I hope that works

[2020-04-23 18:26] jld3103 commented on #409
@probonopd [This document](https://docs.appimage.org/reference/appdir.html) says that it needs be a symlink. That was what I tried, but I didn't get it to work. I think that document is outdated.

[2020-04-23 18:41] jld3103 commented on #409
@probonopd I'm using this command: `cp build/assets/icon.png .DirIcon && appimagetool .`. I copies a png icon with the size of 256x256 to the `.DirIcon` and then builds the AppImage, but still I get this error message:
[code]

[2020-04-23 19:30] probonopd commented on #409
please also copy the icon to `usr/share/icons/hicolor/256x256/apps/flutter.png` if your desktop file has `Icon=flutter`. Which tool are you using that is saying "ERROR: Unable to load image."?

[2020-04-23 19:32] jld3103 commented on #409
Just launching the AppImage from the command line and then clicking on integrate and run. I guess that means it's running using appimaged?

[2020-04-23 19:35] probonopd commented on #409
Sounds a lot like https://github.com/TheAssassin/AppImageLauncher. cc @TheAssassin

[2020-04-23 19:36] probonopd commented on #409
Changed, as I could not find anything in the ROX AppDir description that would indicate it needs to be a symlink.

[2020-04-23 19:55] jld3103 commented on #409
@probonopd This is the full application with the correct icon layout (now files but also tried with symlinks, but got the same result).
Now an icon is shown on the file and running once still works, but when trying to integrate it it fails with `Segmentation fault (core dumped)`. Nothing more. I guess then it's not an appimage error rather than an appimagelauncher error, right?

[hover-build-go_fl

[2020-04-23 22:43] #410 closed

[2020-04-23 23:01] jld3103 commented on #410
Fixed in `v0.41.2`.

[2020-04-26 11:11] marchellodev opened #411 "Cross-compiling for Windows: "x86_64-w64-mingw32-gcc": executable file not found in $PATH"
[code]

Hover v0.41.2

hover.yaml:

[code]

[2020-04-26 11:20] marchellodev commented on #411
I've run `sudo apt install mingw-w64` and now everything works.
Isn't cross-compiling supposed to be runned inside Docker?

[2020-04-26 11:23] jld3103 commented on #411
Yes, but you have to add the `--docker` flag to run in the docker container. There is a PR for adding better error messages about missing tools: https://github.com/go-flutter-desktop/hover/pull/109

[2020-04-26 13:43] marchellodev opened #412 "Hover linux-deb: Missing/Empty `license` field in go/hover.yaml."
Command:

`hover build linux-deb --docker`

response:

[code]

go/hover.yaml:

[code]

[2020-04-26 13:53] marchellodev opened #413 "windows-msi: /usr/bin/ld: cannot find -lflutter_engine"
Command: `hover build windows-msi --docker`

Response:
[code]

[2020-04-26 13:59] marchellodev commented on #413
Weird, now it works
Probably due to some connectivity issues

[2020-04-26 14:06] jld3103 commented on #413
This problem is known and cannot be fixed. Rerunning fixes it

[2020-04-26 14:06] marchellodev commented on #412
The same happens with `darwin-pkg`

[2020-04-26 14:10] jld3103 commented on #412
Should be wrong for every packaging format

[2020-04-27 02:49] itMicmouse opened #414 "How to Compile C/C++ with hover"
I want to add windows hook with C,
Can anyone tell me how to add it?

[2020-04-27 03:22] #414 closed

[2020-04-27 03:23] itMicmouse commented on #414
had Solved

[2020-04-27 08:18] marchellodev opened #415 "Hover for cli application"
It would be really great to be able to compile cli applications on dart just as flutter applications using hover and it's cross-compiling feature.

As far as I understand, currently it's not possible

[2020-04-27 09:51] jld3103 commented on #415
Um go-flutter/hover is only about a custom embedder for flutter in go. You can compile dart apps using `dart2native`. I'm not sure about crosscompiling there, but maybe it's possible.

[2020-04-27 10:03] jld3103 commented on #415
So I think it's currently out of scope of this project, but I also think there is currently no other project that packages dart/flutter/go apps to so many packaging formats. I'm not sure about the progress of fyne, but that's pure go project. So I'd keep the issue open, but it's definitely not a short term goal.

[2020-04-27 10:37] marchellodev commented on #415
Yeah, dart2native is an option but it doesn't allow cross-compiling as well as packaging to so many formats

And, obviously, channels, they are present in pure dart, right? Go has a lot useful plugins to offer.

[2020-04-27 13:45] jld3103 commented on #415
Cross-compiling would only be possible with something like this: https://blog.dantup.com/2019/11/easily-compiling-dart-to-native-executables-for-windows-linux-macos-with-github-actions/
On the developer's machine it would only be possible to compile for the host.

[2020-04-28 06:46] #412 closed

[2020-04-28 07:30] GeertJohan commented on #413
How does this problem occur? Indeed due to connectivity issues, would that be in the logs? Or is it always the case that windows-msi must be run twice before it works?

[2020-04-28 07:54] GeertJohan commented on #411
From go-flutter-desktop/hover#109:

I'm not sure if we should add checks or let Go do that.  If we add checks, then we need to keep the list of possible cross compilers up-to-date with whatever Go can use. I'm not sure if that's something we should do.

[2020-04-28 08:01] GeertJohan commented on #415
jld3103 is correct. We cannot compile a pure-dart application. Hover and go-flutter rely on the Dart/Flutter SDK to compile Dart and the Flutter Engine to run compiled Dart code. We don't really compile Dart ourselves, we just run the Flutter Engine on desktop platforms.
Sorry we cannot be of help here.

[2020-04-28 08:01] #415 closed

[2020-04-28 10:51] jld3103 commented on #413
Just because the `go/build/outputs/windows` folder in this case doesn't exist and the flutter engine isn't copied before that step it seems

[2020-04-28 10:52] jld3103 commented on #413
I think it only happens in docker

[2020-04-28 13:31] qianniancn opened #416 "How to cross compile in docker"
Hello, I want to know how to cross compile in docker

[2020-04-28 13:41] davidmartos96 commented on #58
@pchampio Your setup works fine for including dynamic libraries intended to be used with FFI. But, is there any way to include assets independent of the platform? In your solution, .so, .dll, and .dylib will all be bundled with all platforms. Any workaround for that?

[2020-04-28 13:51] jld3103 commented on #416
Just run `hover build *** --docker`

[2020-04-28 13:54] jld3103 commented on #58
If you are using a go-flutter plugin you can put the compiled library in the dlib folder (symlinks also work). Then run `hover plugins get` (you have to do it every time you update the compiled library) to copy the libraries to your project. Then on every run/build the library is copied from the project to the output folder so only the one for the platform you are building for/running on is copied

[2020-04-28 13:55] jld3103 commented on #58
@pchampio maybe we should add an example for that? I already created such an project with ffi and would only need to modify minor things

[2020-04-28 13:59] pchampio commented on #58
@jld3103 I'm still not fixed with how the plugin dlib folder work.
The project `go/build/intermediates/$OS` folder is here to stay on the other hand.
Sure, you can create a demo, it might no be necessary to go as far as building a plugin.
I'm sure a example with a Makefile would be fine.

[2020-04-28 14:01] qianniancn commented on #416
Do I need to write a `Dockerfile`？

[2020-04-28 14:02] davidmartos96 commented on #58
@jld3103 Thanks for the response! Yes I tried using a plugin, but with my current project setup I think it won't work. I am placing custom plugins in a folder called go-plugins at the root of the git repo, so when fetching such local plugin with the dynamic libraries, it fails because it tries to fetch it from remote. Maybe that is a bug in the `hover plugins get` flow?
Also, wouldn't the need of

[2020-04-28 14:04] jld3103 commented on #416
Nope. Automatically done for you.

[2020-04-28 14:18] pchampio commented on #58
@jld3103 I'm still not fixed with how the plugin dlib folder work. https://github.com/go-flutter-desktop/go-flutter/issues/311

@davidmartos96 yep, `go/build/intermediates/$OS` is what you are looking for.

[2020-04-28 16:36] jld3103 commented on #416
@qianniancn did it work?

[2020-04-28 16:49] qianniancn commented on #416
@jld3103 Sorry, failed to cross compile to Linux on Windows platform.

It's early morning Beijing time. I'm going to bed. I'll see what the problem is tomorrow.

[2020-04-28 16:53] jld3103 commented on #416
What Windows version do you have? Docker doesn't work on all Windows versions. They only let you use it on professional versions. Anyway you could still install a Linux toolchain on your Windows machine.

[2020-04-28 16:57] qianniancn commented on #416
@jld3103 My windows is professional. Docker can be built normally.

[2020-04-28 17:04] jld3103 commented on #416
Ok then lets look at it later when you are awake again

[2020-04-28 17:10] jld3103 commented on #392
Hm this makes no sense, because `GOPROXY` already comes from `os.Environ()` if set. So that can't be the problem.

[2020-04-28 17:28] jld3103 commented on #363
@fourscience any news? Since you last wrote a lot of things have changed in hover. We finally have better Docker cross-compiling support. I'd recommend to make yourself familiar with the new hover features to further discuss the progress on this issue.

[2020-04-28 17:56] fourscience commented on #363
Hello, yes and no :)
Still making progress in my free time, i saw the changes and actually following up on them, im able to cross compile with a followig setup:
- compiled clang to armv7 eabi (sf)
- compiled binutils to armv7 eabi
- compiled flutter engine for armv7 eabi

same works for darwin

using the cc above with the engine for go
works fine, what i was struggeling with is glfw go has somewha

[2020-04-28 18:11] jld3103 commented on #363
Could you upload your code on a new branch in your hover fork? Then we could see the progress as you work on it. And this issue should be kept open.

[2020-04-28 18:39] yossefEl opened #417 "go-flutter: no handler found for channel assets_audio_player"
Thanks for making this awesome package!
I trying to make my app work on Desktop, I'm using Linux and when i run
```hover run ```
i get this error
**go-flutter: no handler found for channel assets_audio_player**
the link of this plugin : https://pub.dev/packages/assets_audio_player
Thanks in advance :heart: :bow:

[2020-04-28 20:21] jld3103 commented on #417
That is because go-flutter doesn't have an implementation for that plugin. You may ask the plugin maintainer to add an implementation or you create one yourself.

[2020-04-29 06:12] qianniancn commented on #416
bxe@DESKTOP-85PRBV1 MINGW64 /e/GoDev/flutter-examples/text_demo (master)
$ [hover build linux --docker](url)
hover: Cleaning the build directory
hover: ⚠ The go-flutter project tries to stay compatible with the beta channel of Flutter.
hover: ⚠     It's advised to use the beta channel: `flutter channel beta`
hover: Building flutter bundle
hover: Using engine from cache
hover: Compiling go binary u

[2020-04-29 06:20] qianniancn commented on #416
@jld3103  It seems that it is caused by Chinese network problems

[2020-04-29 06:31] qianniancn commented on #416
![批注 2020-04-29 142938](https://user-images.githubusercontent.com/5478237/80566647-0970d000-8a26-11ea-922f-e7683b01e7bb.png)

[2020-04-29 06:47] qianniancn commented on #416
![s](https://user-images.githubusercontent.com/5478237/80567724-581f6980-8a28-11ea-9417-21d840419c84.png)

[2020-04-29 07:07] jld3103 commented on #416
hover should automatically pickup your GOPROXY in the docker container. Another problem you are running into is that you have no AndroidManifest.xml which hover needs to find the organization name. You can create a simple placeholder manifest with only your organization name.

[2020-04-29 07:16] qianniancn commented on #416
@jld3103 The question is still this：
![s1](https://user-images.githubusercontent.com/5478237/80569773-30ca9b80-8a2c-11ea-8426-a9870e5832d6.png)

[code]

[2020-04-29 11:44] jld3103 commented on #416
@pchampio

[2020-04-29 12:18] pchampio commented on #416
@jld3103 I'm not following the development of the hover toolkit.

Is this true?

@qianniancn what's the output of:
[code]

[2020-04-29 12:31] pchampio commented on #378
@xaxys with the latest version of hover, do you still encounter this bug?

[2020-04-29 12:43] qianniancn commented on #416
It seems that the local `GOPROXY `is not mapped in the `dockerfile`.
[code]

[2020-04-29 13:10] jld3103 commented on #416
It should be while running with docker. I'll look into that later this day

[2020-05-01 01:33] jinfagang opened #418 "go: github.com/go-flutter-desktop/go-flutter@v0.38.0: Get https://proxy.golang.org/github.com/go-flutter-desktop/go-flutter/@v/v0.38.0.mod: dial tcp 216.58.200.49:443: i/o timeout"
Run pointer_demo:

[code]

Can anyone take a look at this problem? I think it was blocked by GFW.

[2020-05-01 01:34] jinfagang commented on #392
So any updates on this? I still got timeout in China.

[2020-05-01 03:36] qianniancn commented on #418
我这边也有同样的问题，是我们的中国网络导致的吧，我们正常是无法访问[proxy.golang.org](https://proxy.golang.org)的，我估计需要设置[GOPROXY](https://goproxy.io/) 。 #416

[2020-05-01 14:33] marchellodev commented on #409
@probonopd @jld3103 any updates?

[2020-05-01 14:50] jinfagang commented on #418
设置代码可以解决，但是问题是不是每时每刻都i有代码，而且这个问题应该是可以避免的，即便是不翻墙Google的go包也可以通过github获取，没有必要非得访问google的API

[2020-05-01 14:55] qianniancn commented on #418
是的

[2020-05-01 15:39] jld3103 commented on #409
I'm not sure how to proceed or even if the error I encounter is the same that you encouter

[2020-05-01 17:53] frocelu opened #419 "Black screen in windows."
## Hover doctor

[code]
## Error output

Using `hover build [...] --XXX` to build my application, I get the following
error:

[code]

I try to build a demo project from examples/stocks for testing.
But when I run hover run, I always get a black screen of the application.
My windows version is 1909.

[2020-05-02 07:22] pchampio commented on #419
Does 'hover run -b "v0.38.0"' works ?

[2020-05-02 07:40] probonopd commented on #409
@jld3103

This is an AppDir, not an AppImage.

When I convert it to an AppImage like this:

[code]

the AppImage works well on Xubuntu 18.04.4 LTS, and it has the correct icon when the optional appimaged daemon is used for desktop integration both in the file manager and in the menu:

![icon](https://user-images.githubusercontent.com/2480569/80858249-c68e4280-8c47-11ea-99b0-6d7c0c46b0bb.png)

![me

[2020-05-02 08:44] davidmartos96 commented on #419
I have encountered with the same issue. 0.38.0 works, but the -b option wasn't working for me. I had to change the version in the go.mod file.

Using `hover run -b "v0.38.0"` gave me this error:
[code]

[2020-05-02 08:57] windzhu opened #420 "hover run error"
hover run
hover: Building flutter bundle
hover: Using engine from cache
hover: Failed to copy FlutterEmbedder.framework: symlink Versions/Current/FlutterEmbedder /Users/jiang/MyWorks/flutter/go-flutter-desktop/examples/pointer_demo/go/build/outputs/darwin/FlutterEmbedder.framework/FlutterEmbedder: file exists

[2020-05-02 09:18] pchampio commented on #419
I forgot to add the `@`.
@frocelu does `hover run -b '@v0.38.0'` works ?

[2020-05-02 09:19] pchampio commented on #419
@davidmartos96 thanks for your response.

[2020-05-02 09:21] davidmartos96 commented on #419
@pchampio Yes, the @ does it. Sorry, I haven't use the -b option that much 😅

[2020-05-02 09:23] pchampio commented on #419
@all to further investigative this.
Run 1 - Does `hover run -b '@9823ced8f7491631c320500356875ba518148d32'` work?
Run 2 - Does `hover run -b '@ec926762cc39ace963f974fbb19971b5cfe60b97'` work?

might be related to https://github.com/go-flutter-desktop/go-flutter/pull/390

[2020-05-02 09:26] davidmartos96 commented on #419
Run 1: Doesn't work
Run 2: Doesn't work

[2020-05-02 09:29] pchampio commented on #419
Okaay..
Run 3: does `hover run -b '@0ce8cfb2cca96753c1cde72663618389bb601279'` work? - Yes/No
Run 4: does `hover run -b '@100c066ded9b176203c96a3fc008c19ba1d38b87'` work? - Yes/No

[2020-05-02 09:32] davidmartos96 commented on #419
@pchampio
Run 3: Doesn't work
Run 4: Works 😄

[2020-05-02 09:34] pchampio commented on #419
good..
Run 5: does `hover run -b '@master'` work? - Yes/No

[2020-05-02 09:36] davidmartos96 commented on #419
@pchampio Yes, latest revert works fine.

[2020-05-02 09:36] pchampio commented on #419
I'm sorry to tag commits that doesn't works, such issue is kinda hard to test.
I don't have the infrastructure resources to run all test properly.
Thanks to you for feed back!

[2020-05-02 09:37] pchampio commented on #419
Just to be 100%, @davidmartos96 your issue was the same as @frocelu:
`WGL: Failed to make context current: The requested resource is in use`

[2020-05-02 09:39] davidmartos96 commented on #419
@pchampio Yes, the exact same issue. Black screen and the posted error message is getting printed constantly in the console.

[2020-05-02 09:41] pchampio commented on #417
The go-flutter team has implemented flutter maintained plugins: https://github.com/go-flutter-desktop/plugins
We don't plan to work on community based plugins.
Closing this issue.

[2020-05-02 09:41] #417 closed

[2020-05-02 09:58] pchampio commented on #419
Run 6: does `hover run -b '@8ee826935244fe6431b0f6afae6e29455a81104c'` (from https://github.com/go-flutter-desktop/go-flutter/pull/422) work? - Yes/No

[2020-05-02 10:08] davidmartos96 commented on #419
@pchampio No, it doesn't work.
These are the logs:
[code]

[2020-05-02 10:16] pchampio commented on #419
Run 7: what is the output of `hover run -b '@c89185c3a2dfd2fda1fb3cfaab3997f5781b2779'` ?

[2020-05-02 10:23] davidmartos96 commented on #419
@pchampio Fails

[code]

[2020-05-02 10:27] pchampio commented on #419
What's the full output?

[2020-05-02 10:29] davidmartos96 commented on #419
[code]

[2020-05-02 10:32] pchampio commented on #419
Okay, I think I got a fix.

[2020-05-02 11:12] jld3103 commented on #409
Ok nice thanks. I'm not sure if I didn't read the documentation or if the documentation was wrong. Anyway I'm glad you helped me

[2020-05-02 11:19] jld3103 commented on #420
Is there no log line about cleaning the output/build directory? If not you must be running using the `--skip-flutter-build-bundle` flag, right?

[2020-05-02 12:27] pchampio commented on #419
@davidmartos96 does `hover run -b '@revert-421-revert-390-macOS_no_resize_crash'` works?

[2020-05-02 12:28] pchampio commented on #419
Also, If you have new C warning, please report them!

[2020-05-02 12:30] davidmartos96 commented on #419
@pchampio It works without any warnings! 🎊

[2020-05-02 12:32] pchampio commented on #420
@jld3103 there is an inconsistency between `hover run` and `hover build`:
[code]
[code]

[2020-05-02 12:33] jld3103 commented on #409
@probonopd Now I used appimaged (also uninstalled appimagelauncher) and put the AppImage under `$HOME/Applications` and ran `appimaged`, but got this error message:
[code]

[2020-05-02 12:36] #419 closed

[2020-05-02 12:36] jld3103 commented on #409
When using the go-appimagetool I get this:
[code]

[2020-05-02 12:39] pchampio commented on #419
tagged in [v0.40.1](https://github.com/go-flutter-desktop/go-flutter/releases/tag/v0.40.1)

[2020-05-02 12:40] probonopd commented on #409
I'm happy to look into this but please do open issues in the respective projects (the ones that crash) so that we don't mix up different things.

[2020-05-02 12:41] jld3103 commented on #409
I'm not sure if appimagelauncher and appimaged are the problems. Maybe it's just my wrong packaging?

[2020-05-02 12:43] jld3103 commented on #420
I know, but the build flags are only meant for docker really. Maybe we should hide them.

[2020-05-02 12:48] jld3103 commented on #409
Ok I'm getting some error logs. I'll try to fix them and hope that it works then. Let's see

[2020-05-02 12:48] pchampio commented on #420
@windzhu it would really help us if you provide the ouput of `hover doctor` (as indicated by the github issue template)!

Does this issue happens on every run?

[2020-05-02 12:49] jld3103 commented on #409
But odd that the go-appimagetool reports misconfiguration while the normal appimagetool doesn't.

[2020-05-02 12:56] jld3103 commented on #409
Still the same. No clue what to do now.

[2020-05-02 13:01] pchampio commented on #418
duplicated of https://github.com/go-flutter-desktop/go-flutter/issues/392

[2020-05-02 13:01] #418 closed

[2020-05-02 13:03] pchampio commented on #392
Does
[code]
works. Please don't use docker.

[2020-05-02 13:21] frocelu commented on #419
Sorry about my late reply and poor English.
hover run -b "@v0.38.0"   works for me.
So is this a problem in current version?

[2020-05-02 13:24] pchampio commented on #419
@frocelu a regression was introduced on windows in v0.39.0.
v0.40.0 reverted it.
v0.40.1 re-introduced the feature but without the windows regression.

please run `hover bumpversion` and `hover run`

[2020-05-02 13:35] frocelu commented on #419
Ok, thank you.
I am a newbie in flutter and this project, so I really thought that I do something wrong in my installing.

[2020-05-02 13:46] probonopd commented on #409
If you can write something down that I can reproduce I'll gladly help. (Especially since I am essentially moving everything to Go right now.)

[2020-05-02 13:54] jld3103 commented on #409
I'll try

[2020-05-02 15:38] shaw8wit opened #423 "Problem installing hover in ubuntu 18.04"
I installed hover by running this in terminal:
`GO111MODULE=on go get -u -a github.com/go-flutter-desktop/hover`

Also installed the 2 packages required for ubuntu, still, I'm getting the error:

[2020-05-02 15:42] jinfagang commented on #392
@pchampio Will try it, am not using docker but host device directly.

[2020-05-03 12:48] #400 closed

[2020-05-03 13:45] GeertJohan commented on #423
You're probably missing `$HOME/bin` in your PATH, so the shell cannot find the hover command.

[2020-05-03 14:34] shaw8wit commented on #423
That doesn't seem to be the case as I've checked my .proflie to see that `PATH="$HOME/bin:$PATH"` is present.

[2020-05-03 14:45] jld3103 commented on #423
The go bin directory is under `$HOME/go/bin` normally

[2020-05-04 13:06] windzhu commented on #420
hover doctor
hover: Hover version v0.41.2 running on darwin
hover: Sharing flutter version
Flutter 1.18.0-9.0.pre.93 • channel master •
https://github.com/flutter/flutter.git
Framework • revision 06f81324d3 (2 days ago) • 2020-05-02 06:09:01 -0400
Engine • revision d0bcc6980e
Tools • Dart 2.9.0 (build 2.9.0-5.0.dev eca696c026)
hover: Flutter engine commit: https://github.com/flutter/engine/commit/

[2020-05-04 13:07] windzhu commented on #420
go version go1.14.2 darwin/amd64

[2020-05-04 13:22] windzhu commented on #420
The first can run successfully, and then an error occurs every time.
cmd hover run --omit-embedder  can run successfully.
cmd hover run / build,   I need to delete exists directory,  rm -rf /Users/jiang/MyWorks/flutter/go-flutter-desktop/examples/pointer_demo/go/build/outputs/darwin/FlutterEmbedder.framework

[2020-05-04 14:13] pchampio commented on #420
Maybe an anti virus is locking the `go/build/outputs/darwin/FlutterEmbedder.framework` file.
This would explain why ` hover run / build` cannot properly clean the `go/build/outputs/darwin/` before the copy happen???? :no_good:

Can you please provide the output of the failing `hover run`?

[2020-05-04 15:32] jinfagang commented on #392
@pchampio  No, it doesn't work.

Now my outputs are:

[code]
I am a little bit confusion, why a golang package problem can be so compilcated... Any easy way to solve it? Make it useable out of box in China?

[2020-05-04 15:42] pchampio commented on #392
[code]
the error is now different!

Looking at your github traffic, I can tell you that the majority of our user are base in China.
TBH, I think you miss installed golang. (`go env -w GOPROXY=https://goproxy.cn,direct` should be automatically if you reside in china)

To solve the new issue you encountered, please:
[code]

[2020-05-05 02:04] jinfagang commented on #392
@pchampio  I think it's due to doesn't delete go directory. Now I got error with GL lib:

[code]

But `libgl1-mesa-dev` already installed and `libGL` is under my `/usr/lib` and `/usr/lib/x86-linux/`:

[code]

[2020-05-05 02:15] jinfagang commented on #392
It runs!!!

On last question, how to update go-flutter to catch latest updates of go=flutter?

[2020-05-05 03:49] befovy commented on #311
Sorry for late response.
I prefer the first choice:  have a plugins/hooks system that runs on `hover plugins get`.

For details:
1. plugin developer add `hover_get_hook.go` in `dlib` folder,  download files or just print prompt information in main function.
2. When running `hover plugins get`, hover checks if `hover_get_hook.go` exists.
3. If `hover_get_hook.go` exists, hover compile it and copy o

[2020-05-05 06:15] jinfagang opened #424 "Is toast related plugin can be supported in go-flutter?"
[code]

Some common used toast package can not found. Any options for this ? I think many mobile platform will use toast more or less, is there a standard way to replace toast on both mobile side or desktop side?

[2020-05-05 06:48] jinfagang opened #425 "go-flutter: no handler found for channel flutter/isolate"
[code]

[2020-05-05 07:48] pchampio commented on #425
That is because go-flutter doesn't have an implementation for that plugin. You may ask the plugin maintainer to add an implementation or you create one yourself.

The go-flutter team has implemented flutter maintained plugins: https://github.com/go-flutter-desktop/plugins
We don't plan to work on community based plugins.
Closing this issue.

[2020-05-05 07:48] #425 closed

[2020-05-05 07:48] pchampio commented on #424
That is because go-flutter doesn't have an implementation for that plugin. You may ask the plugin maintainer to add an implementation or you create one yourself.

The go-flutter team has implemented flutter maintained plugins: https://github.com/go-flutter-desktop/plugins
We don't plan to work on community based plugins.
Closing this issue.

[2020-05-05 07:48] #424 closed

[2020-05-05 07:58] pchampio commented on #392
[code]
use the b flag with `'@master'` or edit [go/hover.yaml](https://github.com/go-flutter-desktop/examples/blob/master/stocks/go/hover.yaml)

But on it's own, hover will check if your version is up to date, and prompt you to `hover bumpversion` when needed.
[code]

[2020-05-05 07:58] #392 closed

[2020-05-05 09:23] pchampio commented on #259
As described by chinmaygarde

While we could wait for #50778 in golang we can already leverage this:

[ELF.zip](https://github.com/go-flutter-desktop/hover/files/4579860/ELF.zip)

First draft of ELF loading in Golang
[code]

Golang version of:
https://github.com/jwinarske/flutter_wayland/pull/1/files
https://github.com/flutter-rs/flutter-rs/commit/307bf7824bcdbc694de08d0b53db344e19cea1a5

We need

[2020-05-05 13:04] jld3103 commented on #416
Can we close this in favor of #392 ?

[2020-05-05 13:08] pchampio commented on #416
#392 was about host compiling.
This issue is about docker compiling.

The host compiling issue was resolved by:
[code]
This issue isn't resolved!
It seems that the host GOPROXY is not mapped in the docker.

[2020-05-05 13:26] qianniancn commented on #416
GOPROXY seems to need to be mapped into docker

[2020-05-05 13:37] jld3103 commented on #416
That should already be happening https://github.com/go-flutter-desktop/hover/blob/7ba55114fc956a2d2ef52276538010b3d7a45142/cmd/docker.go#L63 I don't understand why it doesn't work

[2020-05-05 13:39] pchampio commented on #416
The output of `go env GOPROXY` should be used instead of `Getenv`!

[2020-05-05 13:40] pchampio commented on #416
[code]

[2020-05-05 13:48] jld3103 commented on #416
@pchampio this should work right?
[code]

[2020-05-05 13:59] jld3103 commented on #416
@qianniancn can you try https://github.com/go-flutter-desktop/hover/pull/114 ? You need to clone the branch and then do a `go install` in the cloned hover directory. To go back just install hover normally again.

[2020-05-05 14:31] qianniancn commented on #416
@jld3103  Well, I'll have a look tomorrow. I have a headache today.

[2020-05-06 05:12] #406 closed

[2020-05-06 06:56] qianniancn commented on #416
This problem has been solved!  Thank you

![images_1](https://user-images.githubusercontent.com/5478237/81145836-b230a980-8fa9-11ea-9f1b-ef5fbea05d12.png)

[2020-05-06 10:45] #416 closed

[2020-05-06 21:56] jld3103 commented on #409
@probonopd With that PR the tool generates the attached folder and the packages it. After copying the AppImage to `~/Applications` and I run `appimaged` and get this error:
[code]
Can you reproduce it?
This is no information about the error, but I hope you can confirm that there is an error.
[hover-build-go_flutter_test-linux-appimage928923469.tar.gz](https://github.com/go-flutter-desktop/go-flutt

[2020-05-06 21:57] jld3103 commented on #409
@marchellodev Can you try https://github.com/go-flutter-desktop/hover/pull/115 and submit the AppImage to try if the check still fails? (You have to clone the branch and do a `go install`. To go back just follow the install steps again)

[2020-05-06 22:02] jld3103 commented on #413
@marchellodev Can you describe the exact setup you have, because I was unable to reproduce the error, but I know it exist, because I got also got it sometimes a few months ago.

[2020-05-06 22:05] jld3103 commented on #411
@GeertJohan My idea would be to add a list of supported compilers and a flag to use a custom compiler which isn't in the list currently and then print a suggestion to open a PR to add it to the list of supported compilers. What do you think?

[2020-05-07 04:49] qianniancn opened #426 "IME editor does not follow cursor position"
This is a problem with glfw

## Other such issues

## Related documents  win32
[microsoft](https://docs.microsoft.com/en-us/windows/win32/api/imm/nf-imm-immsetcompositionwindow)

[IME](https://github.com/alicevision/geogram/blob/98def2ce2393c04c9a6dbf034483deefd690da7b/src/lib/geogram_gfx/third_party/ImGui/imgui_impl_glfw.cpp#L792)

## Screenshot

### This does not follow the cursor

![输入](https:/

[2020-05-07 06:12] qianniancn commented on #426
duplicate question

[2020-05-07 10:59] pchampio opened #427 "Renovate bot update github action"
Renovate is updating the gitlab-ci file when a new hover tag is pushed but not the github action
https://github.com/go-flutter-desktop/examples/blob/master/.github/workflows/main.yml#L16

[2020-05-07 11:05] jld3103 commented on #427
See https://docs.renovatebot.com/modules/manager/github-actions/

[2020-05-07 12:21] marchellodev commented on #409
@jld3103
https://travis-ci.org/github/AppImage/appimage.github.io/builds/684236478

[2020-05-07 13:00] jld3103 commented on #409
I think is not the fault of go-flutter or hover.
`./build/sharik: /lib/x86_64-linux-gnu/libm.so.6: version 'GLIBC_2.27' not found (required by ./build/sharik)` indicates that there is something wrong with the glibc version

[2020-05-07 15:52] pchampio commented on #427
It's not possible using the WhiteSource Renovate app (currently the one we use).
 https://github.com/renovatebot/config-help/issues/570

Since the action is trigger by gitlab ci, we can use `@latest` instead of hard-coding the version.

[2020-05-07 17:51] probonopd commented on #409
From the message above, it looks like you are running into an issue in

[code]

Please report over at https://github.com/AppImage/appimaged/issues.

[2020-05-07 20:36] pchampio commented on #427
fixed by https://github.com/go-flutter-desktop/examples/pull/90

[2020-05-07 20:36] #427 closed

[2020-05-07 21:12] james-lawrence opened #428 "hover packaging is error prone"
## Hover doctor
[code]

## Error output
[code]
[code]

[2020-05-07 22:29] james-lawrence opened #429 "hover: uses wrong LDflags when fetching dependencies during builds."
when building darwin-dmg on linux using `hover build --cache-path=/tmp darwin-dmg`

it attempts to update go-flutter using the darwin flags flags which confuses the go build command because its running in a linux environment.
[offending code](https://github.com/go-flutter-desktop/hover/blob/master/cmd/bumpversion.go#L58)

this results in the following situation in go-flutter#build.go:
[code]
[code

[2020-05-07 22:46] james-lawrence opened #430 "hover: use same binary in docker as on host machine."
docker container uses an internal version of hover vs using the host version. (makes modifying hover to debug difficult.

[2020-05-07 22:50] james-lawrence commented on #413
this looks like the issue i've been running into. it has to do with the engine cache path and the go get download.

[2020-05-07 23:07] jld3103 commented on #430
It's actually easy to update the binary, because you can simply overwrite the docker image. There is a script for that in the hover repo that installs hover locally and updates the docker image.
But still we could try to improve the development time, because the container has to download and compile the dependencies on every image build.

[2020-05-08 02:03] ohsory1324 commented on #420
In my case, `hover build darwin` works very well, but `hover run` is not working. I'm temporarily using `rm -rf go/build && hover run` command and it works. This is my `hover doctor`.

[code]

[2020-05-08 03:49] jlcool opened #431 "Please support menubar"
https://github.com/google/flutter-desktop-embedding/tree/master/plugins/menubar

[2020-05-08 04:47] bzsome commented on #413
I had the same problem,mingw32/bin/ld.exe: cannot find -lflutter_engine

<img src="https://user-images.githubusercontent.com/35402969/81371215-da471680-9129-11ea-94fe-a2a94fd26063.jpg">

[2020-05-08 10:29] dedesite opened #432 "Is there a way to reduce RAM footprint ?"
## Is your feature request related to a problem?

When building linux application with go-flutter, the sample application takes about ~50Mb RAM in my system (Xunbuntu 18.04).

It is my understanding that flutter use low level API like Skia so I was hopping that application take less RAM than that.

Remark : it's better than official flutter debug build which takes about 150Mb.

Are those 50Mb a "b

[2020-05-08 10:34] jld3103 commented on #432
Yes. When we get AOT support the RAM usage is much lower. Until then there is little that can be done. See https://github.com/go-flutter-desktop/go-flutter/issues/259

[2020-05-08 11:13] #432 closed

[2020-05-08 12:30] dedesite commented on #432
Ok thanks for your reply, I'll wait then :).

[2020-05-08 12:31] jlcool opened #433 "how to custom projectName and icon"
how to custom projectName and icon

[2020-05-08 12:38] jlcool opened #434 "How the go plug-in calls setMethodCallHandler"
[code]

[2020-05-08 12:40] jlcool commented on #433
I cannot modify pubspec.yaml name

[2020-05-08 12:53] pchampio commented on #432
I've run some test with a JIT / AOT app.
The results are more like:
[code]

[2020-05-08 12:58] pchampio commented on #432
Demo AOT app: [aot-flutter-linux.zip](https://github.com/go-flutter-desktop/go-flutter/files/4599029/aot-flutter-linux.zip)

[2020-05-08 13:05] pchampio commented on #434
Please read:
https://github.com/go-flutter-desktop/go-flutter/wiki/Plugin-info
https://github.com/go-flutter-desktop/go-flutter/wiki/Create-a-hover-compatible-plugin
https://github.com/go-flutter-desktop/go-flutter/wiki/Implement-a-plugin <--- The best
https://github.com/go-flutter-desktop/go-flutter/wiki/GLFW-Plugin-example

And checkout our demo repo:
https://github.com/go-flutter-desktop/exampl

[2020-05-08 13:05] #434 closed

[2020-05-08 13:26] pchampio commented on #429
Can you try with: `go get -u -d github.com/go-flutter-desktop/go-flutter`

Use the `-d` flag in https://github.com/go-flutter-desktop/hover/blob/master/cmd/bumpversion.go#L74.

As for `GOOS`, it is be because you aren't on `darwin` (from past discussion I think you are on linux), and the C compiler are simply not available resulting in failure to compile embedded C code in the listed package.
Cf:

[2020-05-08 13:28] pchampio commented on #429
FYI, thanks for reporting the error, I'm kinda in a rush, and should really not be there at the moment.
I've crafted my response in a hurry.

[2020-05-08 13:45] pchampio commented on #429
Mhumm, are we sure https://github.com/go-flutter-desktop/hover/blob/master/cmd/bumpversion.go#L74 is executed when running `hover build --cache-path=/tmp darwin-dmg` that very surprising.

[2020-05-08 13:46] jld3103 commented on #433
To change the icon just replace the `go/assets/icon.png` with your own png. It has to be a square and you should use atleast 256x256.
You can modify the values in `go/hover.yaml` to your liking.

[2020-05-08 13:57] dedesite commented on #432
Thanks @pchampio for your tests and the demo.

However, I wouldn't compare flutter with Electron which is basically an entire web browser which bundle node and some platform API, but for me, we can compare it with native cross platform frameworks like Qt or Gtk and they have a much smaller footprint.

I thought the flutterengine was better is this domain, does it takes those resources on Android o

[2020-05-08 14:23] jlcool commented on #433
how to modify hover.yaml tocustom projectName?

[2020-05-08 14:35] pchampio commented on #432
yea, pretty much.
It also depends on the backing store, Meta or OpenGl or vulkan or software.
Meta is the less memory intensive.
Currently for desktop only OpenGL and software are available.

Hum, not really, the comparison with web browser is actually quite relevant.
In "AOT" mode, snapshot produced aren't native ARM64 code, we still need a "AOT" Dart VM to run the "aot" snapshot.

Flutter "AOT"

[2020-05-08 14:40] pchampio commented on #432
And now, get ready (I'm pretty sure you aren't expecting this).
In `--release` mode, your code isn't necessary AOT.
That why i've used "AOT", in the case of desktop, we will be using the dart execution mode "Core JIT mode".

All of this is super confusing, just know that saying `--release` is AOT, is a commercial move of the flutter commercial team. Actually they never said that, they said it's li

[2020-05-08 14:46] jld3103 commented on #433
I don't understand. Just change the entries in the file

[2020-05-08 14:49] pchampio commented on #432
Also from that forum: https://groups.google.com/a/dartlang.org/forum/#!topic/misc/BCfmQ6WTfNU "is probably not beneficial."

[2020-05-08 21:09] dedesite commented on #432
Maybe in term of performance, but not in term of memory footprint. A web browser is complex as hell, it's more like an entire OS than an "simple" UI framework.

I agree with that, but dart vm and go runtime (in the case of go-flutter-desktip) aren't that much memory intensive.

Here are a few numbers :
* The simplest go program is about 300Kb
* The simplest dart program is about 2.2Mb

So the over

[2020-05-09 01:23] jlcool commented on #433
this [link](https://github.com/go-flutter-desktop/hover/blob/788eec5627356dfd5671783b9cd6246e8ce1dd27/cmd/run.go#L49) shows that the project name is obtained from pubspec.yaml

[2020-05-09 02:39] jlcool commented on #434
@pchampio How does invokemethod return Map，It seems that only string can be returned

[2020-05-09 05:51] jld3103 commented on #433
1. I found a bug in that part of the code around the executable name
2. What do you want to change exactly? You can change the executable, the application and package name.

[2020-05-09 06:02] jld3103 commented on #433
1. Bug fixed in hover `v0.41.5`. Please update

[2020-05-09 07:42] pchampio commented on #432
Tree shaking is perform for dart application.
The engine VM and flutter engine cannot be tree shaken because they are pretty slow to compile. And the language, C++, is not know to me tree shakable.

[2020-05-09 07:53] dedesite commented on #432
Ah your right a big part of Flutter is not written in Dart !
So the only solution would be to split Flutter SDK into multiple modules.
But I guess reduce RAM consumption is not the priority.
I'll continue to learn Flutter and maybe choose it for my future projects. The multiplatform aspect and the very modern design is quite appreciable.

This is something that doesn't exist anywhere else.

And it

[2020-05-09 12:57] marchellodev commented on #409
This was built on Ubuntu 16.04 with @jld3103's pull request https://travis-ci.org/github/AppImage/appimage.github.io/builds/685028088

[2020-05-09 12:59] marchellodev commented on #409
When trying to run it: `Segmentation fault` and that's it

[2020-05-09 13:20] GeertJohan commented on #411
I would prefer to only do the tool detection once Go failed and the Go output indicates that it may have to do with cross-compilation. Because if we deny the user to cross-compile because our logic thinks it's not possible, even though it is possible, that's very painful. So after Go cross-compile failed, we may do some detection so we can advise the user on possible missing tools or to use `--doc

[2020-05-09 13:29] jlcool commented on #433
In the Mac system, when I run hover run, the name displayed in the dock is the name in pubspec.yaml, but this name can't be changed at will. I want to customize what to do with this name change. I set application name: "" executable name: "" package name: "" in hover.yaml, which is useless

[2020-05-09 13:40] jld3103 commented on #433
Your hover.yaml should use the entries like this:
[code]

[2020-05-09 13:44] GeertJohan commented on #430
Hover will try to use a docker container image for hover with the same version as the host hover. So the hover binary inside the docker container will be the same as the version of the host hover binary.

Relevant code is in [docker.go:91](https://github.com/go-flutter-desktop/hover/blob/master/cmd/docker.go#L91)

If you're developing locally, run this command to build and install hover.

[code]

[2020-05-09 13:44] #430 closed

[2020-05-09 13:48] GeertJohan commented on #413
This can happen when there are special characters such as spaces(` `) or dashes(`-`) in the path to the flutter engine. The path is passed to the Linker via the CGO_LDFLAGS env, but needs better escaping to handle spaces and dashes.

[2020-05-09 13:48] jld3103 commented on #409
That error is completely different from what this issue is about.
Can we close this when https://github.com/go-flutter-desktop/hover/pull/115 is merged and you open a new issue?

[2020-05-09 13:59] GeertJohan commented on #434
A map is returned as a `map[string]interface{}`, you have to type-cast that `interface{}` value to what you know it is. Don't forget to check the error on type casts, just in case the dart-side somehow doesn't send the type you expect.

[2020-05-09 14:03] marchellodev commented on #409
Ok, that's fine

[2020-05-09 15:11] #357 closed

[2020-05-10 08:21] pchampio commented on #433
The name of the windows (in docks, windows decoration, apps bar) is set using an internal flutter method channel.

To support setting the name describes here, we need use build-constraint.go

This feature requires isn't available ATM
Please wait for the next release of go-flutter

[2020-05-10 18:30] jld3103 opened #436 "Add better packaging docs"
The current packaging docs are just barely scratching the surface.
We need to explain which tools are needed for every packaging format on each system and link to some source of information about the packaging format.
Also sometimes additional instructions are needed.

[2020-05-11 08:04] ekasetiawans commented on #419
@pchampio i facing this issue again after upgrade to flutter stable 1.17.
here my [previous issue](https://github.com/go-flutter-desktop/go-flutter/issues/326#issuecomment-613330091)

[2020-05-11 08:18] pchampio commented on #419
Please open a new issue

[2020-05-11 08:25] ekasetiawans opened #438 "Black Screen after upgrade to Flutter 1.17"
My application showing black screen in release mode, after upgrade to flutter 1.17

Screen record:
https://github.com/go-flutter-desktop/go-flutter/issues/326#issuecomment-613330091

## Hover doctor

[code]

## Error output

It's release mode
No error printed in terminal

[2020-05-11 08:27] ekasetiawans commented on #419
ok, I open issue #438

[2020-05-11 09:05] jlcool opened #439 "Whether Google sign is supported？"
Whether Google sign is supported？If so, what should we do? Open a web page?

[2020-05-11 09:41] pchampio commented on #438
Does it work in with `hover run` ?

[2020-05-11 09:43] pchampio commented on #439
go-flutter doesn't have an implementation for that plugin. You may create one yourself.
And open a PR on https://github.com/go-flutter-desktop/plugins

The go-flutter team doesn't have the resource to implement all plugin, PLEASE help us.

[2020-05-11 11:09] ekasetiawans commented on #438
`hover run` work normally without black screen

[2020-05-11 11:21] pchampio commented on #438
can you update to the latest version of hover?

[2020-05-11 11:23] pchampio commented on #438
Does this example work?
https://github.com/go-flutter-desktop/examples/actions/runs/99814736

[2020-05-11 11:31] ekasetiawans commented on #438
im sorry @pchampio, i am at home now. I will try tomorrow in my office, because the windows machine is there.

[2020-05-11 13:33] iamsabet opened #440 "hover lost connection to device windows 10"
hi , im using latest on beta on windows 10
when i run my project
`hover run`
the cli works at first and app starts then hot-reload , hot-restart works perfectly
but after being seconds afk or do a save on 1 .dart file in project it drops :
LOST CONNECTION TO DEVICE
and continues to log everything else an even app is working completley but
No Hot-restart and Hot-Reload
NO debugger!
when i do ctrl+c

[2020-05-11 13:47] pchampio commented on #440
Open a new terminal (while `hover run` is still running) and type: `flutter attach http://127.0.0.1:50300`
This will by pass `hover`. This way, hot reload is only performed using the flutter toolchain.

[2020-05-11 13:48] iamsabet commented on #440
how can i automate this ?
at least with vscode or android studio config
a little help ?

[2020-05-11 13:52] pchampio commented on #440
No idea, `LOST CONNECTION TO DEVICE` isn't an error from go-flutter or hover but from `flutter attach`, so what I'm proposing isn't really an alternative, just a way to not rerun `hover run`  every time you get the `LOST CONNECTION TO DEVICE` (unknown to me).

a little help ?

Yea, sure, try:
https://github.com/go-flutter-desktop/vscode-hover
https://github.com/go-flutter-desktop/hover#ide-integra

[2020-05-11 13:53] pchampio commented on #440
Also, I'm a vim user. SOoooo I cannot really help you with vscode or android studio config..

[2020-05-11 13:55] GeertJohan commented on #440
I think @jld3103 is working on an extension for Android Studio.

The VSCode extension is very new, but sure give it a try!

[2020-05-11 13:57] pchampio commented on #440
I thinks this can also help you: https://github.com/flutter/flutter/issues/26945

[2020-05-11 14:03] jld3103 commented on #440
Yeah, but I hit some barriers where I need mor documentation, examples or tutorials to break through.

[2020-05-11 14:04] pchampio commented on #440
Closing this issue because it's not related to go-flutter-desktop.
More info can be found on the flutter issue tracker: https://github.com/flutter/flutter/search?q=lost+connection+to+device&type=Issues
Please keep reporting your findings here! And sorry for not been able to provide you with a fix.

[2020-05-11 14:04] #440 closed

[2020-05-11 14:51] xaxys commented on #378
It works well now, thank you for your work.

[2020-05-11 15:07] #378 closed

[2020-05-11 17:59] jld3103 commented on #409
Merged in https://github.com/go-flutter-desktop/hover/commit/b9d881be5eae011d61e3d6d2ed1e2830a9267b1f
It is not published yet, because there are going to be some changes, but if you want the fixed version you can clone the hover repo and do a `go install`.
I will closes this issue, because the original error is fixed.

[2020-05-11 17:59] #409 closed

[2020-05-11 20:42] MostHated opened #441 "Cannot obtain version information from hover build. Please go-get hover using Go 1.13 or newer. (Using go v1.14.1)"
I have been trying to get this working on my current setup for two days now. It works fine in WSL2, a Pop_OS VM, and on my Pop_OS laptop, but not in windows. I have checked all my paths a number of times and everything was good there.

## Hover doctor

[code]

## Error output

Using `hover build [...] --XXX` to build my application, I get the following
error:

[code]

---
[code]
---
I tried this b

[2020-05-11 20:51] pchampio commented on #311
We are still open for ideas.
Maybe a simple yaml like:
[code]
would be enough?

[2020-05-12 00:59] ekasetiawans commented on #438
I did it, but the result remains a black screen

[2020-05-12 01:00] ekasetiawans commented on #438
there is no problem with this. black screen does not appear.

[2020-05-12 01:14] ekasetiawans commented on #438
[code]

[2020-05-12 07:07] pchampio commented on #438
Does using the beta channel fixes the issue?

[2020-05-12 07:20] ekasetiawans commented on #438
[code]

using beta channel still black screen

[2020-05-12 07:35] ohsory1324 opened #442 "Cannot get plugins when pubspec.yaml contains git url"
Hi, I have my own flutter plugin in gitlab and this is a part of my `pubspec.yaml`.
[code]

When I run `hover plugins get` command to get plugins, I get an error attached below.
I think yaml parser has a problem to parse git url.

## Hover doctor

[code]

## Error output

Using `hover plugins get` to get plugins, I get the following
error:

[code]

[2020-05-12 08:19] ekasetiawans commented on #438
I think I found the cause. I cannot change the `TextEditingController.text` especially `MoneyMaskedTextController.text` value in the build method, this causes the build to fail and displays a black screen. But this I still investigate further.

[2020-05-12 08:50] ekasetiawans commented on #438
I think my case is indeed caused by the MoneyMaskedTextController that I use and does not come from go-flutter-desktop. Thank you for your attention @pchampio.

[2020-05-12 08:50] #438 closed

[2020-05-12 08:58] pchampio commented on #442
hover doesn't support url plugin.
please clone the repo localy, and import it using:
[code]

[2020-05-12 09:00] pchampio commented on #441
please install hover using:
`GO111MODULE=on go get -u -a github.com/go-flutter-desktop/hover`.
Go module must be `on`!

[2020-05-12 10:46] ohsory1324 commented on #442
@pchampio Ok. Is there any plan to support url plugin? Thank you.

[2020-05-12 10:48] pchampio commented on #442
This isn't our priority ATM.
Maybe in the future.
Leaving this PR open.

[2020-05-12 10:56] ohsory1324 commented on #442
@pchampio Ok. Thanks.

[2020-05-12 11:11] befovy commented on #311
Is it enough only have source url ?
Do we need a target path for each prebuilt libraries?
If plugins developers use zip files, hover need to unpack the zip file.

[2020-05-12 11:35] pchampio commented on #311
We would like to avoid hooks ref:https://github.com/go-flutter-desktop/go-flutter/issues/203

[2020-05-12 17:57] MostHated commented on #441
I do have that set. I did it again just to make sure.

Running it as a complete command like that doesn't work in Windows as it does other systems, it just gives:
[code]
I then did:
[code]
I then tried again:
[code]

[2020-05-12 22:26] #441 closed

[2020-05-13 01:19] jlcool commented on #439
Other plug-ins can also be written down. This login plug-in doesn't know where to start. Do you have an example for reference

[2020-05-13 05:39] jlcool commented on #433
Invalid on MAC

[2020-05-13 05:48] pchampio commented on #439
I have shared a link in my above comment.

[2020-05-13 06:18] jlcool commented on #433
The file name displayed by Darwin DMG has not been changed. It is still the name of pubspec.yaml

[2020-05-13 08:58] #395 closed

[2020-05-13 09:02] GeertJohan commented on #409
If you do a `go install`, be sure to also locally create the docker image if you'd like to use --docker.

The easiest way to do that is to read and run `install-with-docker-image.sh` in the root of the repo.

[2020-05-13 09:28] GeertJohan commented on #311
Instead of hooks into Go code, we could consider hooks like git does it? Executing a script/executable file and giving it data on stdin?

[2020-05-14 01:12] jamshidali1654 opened #443 "Send data to Printer"
i want to print file on printer with popup printer window?

[2020-05-14 07:13] jlcool commented on #439
Which example should I look at

[2020-05-14 10:59] pchampio commented on #443
This is another plugin request.
Duplicate of: https://github.com/go-flutter-desktop/go-flutter/issues/224

The go-flutter doesn't have an implementation for that plugin. You may create one yourself and open a PR on https://github.com/go-flutter-desktop/plugins

The go-flutter team doesn't have the resource to implement all plugins, PLEASE help us.
### Wiki:
- https://github.com/go-flutter-desktop/

[2020-05-14 10:59] #443 closed

[2020-05-14 11:00] pchampio commented on #439
The go-flutter doesn't have an implementation for that plugin. You may create one yourself and open a PR on https://github.com/go-flutter-desktop/plugins

The go-flutter team doesn't have the resource to implement all plugins, PLEASE help us.
### Wiki:
- https://github.com/go-flutter-desktop/go-flutter/wiki/Plugin-info
- https://github.com/go-flutter-desktop/go-flutter/wiki/Create-a-hover-compatib

[2020-05-14 11:00] #439 closed

[2020-05-14 11:22] pchampio commented on #431
This is another plugin request.

The go-flutter doesn't have an implementation for that plugin. You may create one yourself and open a PR on https://github.com/go-flutter-desktop/plugins

The go-flutter team doesn't have the resource to implement all plugins, PLEASE help us.
### Wiki:
- https://github.com/go-flutter-desktop/go-flutter/wiki/Plugin-info
- https://github.com/go-flutter-desktop/go-flu

[2020-05-14 11:22] #431 closed

[2020-05-17 08:18] CaiJingLong commented on #420
@ohsory1324
I also use the command to run application with hover.

[2020-05-18 01:40] jlcool opened #444 "I have a problem trying to write a WebView plug-in"
https://github.com/zserge/webview

[code]

[2020-05-18 08:07] GeertJohan commented on #311
What if someone requires multiple libraries? What if they want to use ftp instead of http? Or nfs? What if the framework needs to be compiled on the machine that hover is ran, before it can be used?

In the original discussion about hooks we may have over-complicated it by thinking about hooks into Go, required at hover compile-time. When using bash scripts as hook, like git does, that becomes a l

[2020-05-18 14:24] #423 closed

[2020-05-19 15:28] pchampio commented on #444
The go-doc of zserge/webview says that:

It implies that `w.Run()` is a blocking function call!
If you want to run the webview main loop in a non-blocking manner please use `go w.Run()`.

As this issue is about golang programing closing the issue.

[2020-05-19 15:28] #444 closed

[2020-05-19 15:29] pchampio commented on #444
Still, using `zserge/webview` building a google_auth plugin might possible! So Cool!

[2020-05-20 04:56] jlcool commented on #444
There are still problems use `go w.Run()`，
use `w.Run()`  Windows can be displayed, but go desktop windows are locked
*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: '+[NSUndoManager(NSInternal) _endTopLevelGroupings] is only safe to invoke on the main thread.'

[2020-05-21 14:04] etx opened #447 "Building on MacOS 10.15 not compatible with older OS"
## Is your feature request related to a problem?

When building with `hover build darwin` the binary produced is not compatible with MacOS versions below 10.15.

## Describe the feature you'd like

It looks like the clang compiler on 10.15 requires a flag to build for older versions of MacOS. The flag is `CGO_CFLAGS=-mmacosx-version-min=10.8`. I'm unsure if the linker needs this flag as well, I be

[2020-05-21 14:47] jld3103 commented on #447
Currently there is no way for passing flags (I believe), but the flag should definitely be added.

[2020-05-21 14:54] etx commented on #447
Would it make sense to live in hover.yaml?

[2020-05-21 15:14] jld3103 commented on #447
I would just directly put it into hover, because the flag seems to be needed for compatability so everyone should get the fix. Just put it here: https://github.com/go-flutter-desktop/hover/blob/master/cmd/build.go#L460
Can you try that and make a PR if it works?

[2020-05-21 15:15] jld3103 commented on #447
I'm not sure if there is a usecase for custom compiler flags. If then we could add a field in hover.yaml and add a flag to build/run.

[2020-05-21 17:32] etx commented on #447
You're right. Assuming it doesn't cause any errors for older versions of clang it should be fine. I just sent a PR to the hover repo.

https://github.com/go-flutter-desktop/hover/pull/133

Tested builds on MacOS 10.14 and 10.13 and they worked well.

Thanks for the great tool!

[2020-05-22 03:43] #447 closed

[2020-05-22 19:20] marquesinijatinha commented on #420
having the same issue on `hover run`:
[code]

```hover build darwin``` runs fine tho:
[code]

[2020-05-22 19:50] jld3103 commented on #420
Fixed in hover `v0.41.6`. Update and then it should work.

[2020-05-23 01:33] jlcool commented on #444
@pchampio  Can you help me？thanks

[2020-05-23 14:10] pchampio commented on #444
The go-flutter lib has to perform rendering on the main thread.
I don't know if the https://github.com/zserge/webview lib can work in a background thread.

@jlcool Please ask the author of zserge/webview to know if  `w.Run()` can be called in a sub-goroutine. The go-flutter has to `runtime.LockOSThread()` on his main thread.

To some extent, yes.
But I cannot free that much time,  learning how zse

[2020-05-24 08:44] #367 closed

[2020-05-25 09:03] #433 closed

[2020-05-25 09:11] jlcool commented on #444
Thank you for your reply. I went to ask him a [question](https://github.com/zserge/webview/issues/382)

[2020-05-25 14:01] #314 closed

[2020-05-25 14:01] #332 closed

[2020-05-25 14:01] #358 closed

[2020-05-25 15:55] #420 closed

[2020-05-25 15:56] pchampio commented on #413
@bzsome your issue is because your ran go build main.go. (cf the screen on the tag)
Please use https://github.com/go-flutter-desktop/hover.

[2020-05-25 16:21] pchampio commented on #413
@marchellodev  the issue comes because.
Hover hasn't cached the linux engine. (and it shouldn't since you want to build for windows)
Hover is used with the `-b` or `hover.yaml` `branch` branch flag set.
Hover tries to `go get` go-flutter (the behavior when `-b` or `branch` in hover.yaml is used)
Hover when `go get` -ing cache compile go-flutter but fail because the windows lib was cached and not t

[2020-05-25 16:28] pchampio commented on #429
Duplicate of #413

Please read: https://github.com/go-flutter-desktop/go-flutter/issues/413#issuecomment-633641403

Should be fixed in: https://github.com/go-flutter-desktop/hover/pull/142

[2020-05-25 16:28] #429 closed

[2020-05-25 16:38] pchampio commented on #428
Duplicate of #413

hover will always download go-flutter if the `branch` field is set in hover.yaml. We have to perform this to keep `@latest` of `@master` always update. Always downloading is the default behavior.

As you are using a tagged version of go-flutter, you don't need to explicitly ask for the `'@v0.40.1'` branch. Please leave it empty.

Everything else is detailed in: https://github.co

[2020-05-25 17:18] pchampio commented on #428
We plan to remove the `branch` field from hover.yaml.
go-flutter version is tracked with go/go.mod.

The `-b` flag on hover will also be hidden.

[2020-05-25 17:18] #428 closed

[2020-05-25 20:24] MostHated commented on #407
Just in case anyone is looking for a quick way to use the above to have a fixed size window but start the window center of the screen, you can use the following.

[code]

[2020-05-26 02:43] qianniancn commented on #407
@MostHated Thank you for your contribution

[2020-05-26 10:19] pchampio commented on #259
https://flutter-review.googlesource.com/c/recipes/+/2901
https://flutter-review.googlesource.com/c/recipes/+/2901

[2020-05-26 10:49] jld3103 commented on #259
Great. I've been waiting for it

[2020-05-26 11:49] pchampio commented on #259
This isn't the AOT compiled engine that we are needing, this is the GLFW shell proposed by flutter.
I just wanted to post this here because we might be able to send a PR in this repo. The goal would to upload an AOT compiled engine.

[2020-05-26 15:48] marquesinijatinha commented on #240
any news on this? I'm willing to use move my app to go-flutter but lack the necessary knowledge to implement it myself.
I implemented uni_links for macos on the FDE side if it helps somehow
https://github.com/LittleLightForDestiny/littlelight/tree/desktop/desktop_plugins/uni_links_fde/macos

[2020-05-26 17:35] jld3103 commented on #240
You could re-use your MacOS implementation to create a CGO plugin, but that still requires the knowledge of go and go-flutter plugins.

[2020-05-26 18:15] marquesinijatinha commented on #240
is there some knowledge base or a quickstart for plugins ?
I was stuck while trying to create a minimal example to proper "test" my plugin.
Also, is there already a repo for this plugin ? Or should I create a new one ?

[2020-05-26 19:45] jld3103 commented on #240
Here are the official go-flutter plugins: https://github.com/go-flutter-desktop/plugins
For the repo you can just upload it to your own account.

[2020-05-26 19:47] pchampio commented on #240
Yes, sure, checkout our wiki:
https://github.com/go-flutter-desktop/go-flutter/wiki/Plugin-info
https://github.com/go-flutter-desktop/go-flutter/wiki/Create-a-hover-compatible-plugin
https://github.com/go-flutter-desktop/go-flutter/wiki/Implement-a-plugin

[2020-05-26 19:55] jld3103 commented on #240
The problem on implementing it for linux is that only the `.desktop` file can specify a custom protocol handler

[2020-05-27 11:59] Nohac commented on #129
For anyone still interested, I made a [fork of hover](https://github.com/Nohac/hover) where I added `hover run --watch` to get hot reloading. It's just a "proof of concept", and only watches the `libs` folder for now (no recursive watch). It also removes the ability to press <kbd>r</kbd> or <kbd>R</kbd> in the terminal to reload without having to press <kbd>Enter</kbd> after.

[2020-05-27 13:45] pchampio commented on #129
@Nohac please open a PR on hover, discussion about this feature can properly take place in the PR.

[2020-05-29 12:25] Tokenyet opened #452 "Profile mode with go-flutter"
## Is your feature request related to a problem?
App/Software optimization

## Describe the feature you'd like
`hover run --profile` or  `hover run --p`

Recently, [my app](https://minecraftscepter.github.io/) that met a memory problem when users open the app over 2 days, then 2 gb ram will be filled up. Since observatory's memory native profiler only supported in profile mode, let me here to requ

[2020-05-29 13:02] pchampio commented on #452
Profile mode requires a special version of the flutter engine.
Profile/Release mode requires https://github.com/go-flutter-desktop/go-flutter/issues/259 to first be fixed.

[2020-05-29 13:05] befovy commented on #311
@GeertJohan @pchampio
Have a conclusion?

[2020-05-29 15:41] marchellodev opened #453 "Can't build with docker (manifest unknown)"
[code]

[2020-05-29 22:23] jld3103 commented on #453
We had an issue with the docker image so that some hover versions are not available as docker images. We need to release a new version of hover to fix it @GeertJohan.
As temporary fix you can clone hover and install it locally. Then it pulls the latest docker image which works again.

[2020-05-30 02:41] jinfagang opened #454 "Can not show Chinese?"
I using go-flutter migrate my App to desktop very nicely.

But  main issue is:

- Chinese charactors can not shown;

![image](https://user-images.githubusercontent.com/21303438/83317785-e8d4a980-a261-11ea-8985-35dfd1774a11.png)

[2020-05-30 08:49] GeertJohan commented on #240
So aside from the code part, there will also be need to change something during packaging? Perhaps this can be related to the hooks discussion?

[2020-05-30 08:53] GeertJohan commented on #311
A hook system would also benefit #240. But a hook system is not easy and needs to be done right.

[2020-05-30 08:56] GeertJohan commented on #454
You are probably using a font that is not available on your machine, or the version on your machine does not include chinese glyphs. Make sure to include any font that you want to use in the your assets list in pubspec.yaml.

[2020-05-30 09:59] jld3103 commented on #453
`v0.42.0` has been released. It will take some minutes to build the docker image, but when you try in about an hour or so it should already be available

[2020-05-30 09:59] #453 closed

[2020-05-30 15:18] jinfagang commented on #454
maybe just default one?no custom fonts, also i am on linux and my ubuntu shows CHINESE correct

[2020-05-30 15:18] marquesinijatinha commented on #240
@GeertJohan probably. In macOS i need to change the Info.plist to add the url schemes. Also the way go-flutter runs its dev builds on mac doesn't support that (it isn't a packaged .app) so it could be a bit hard to test this kind of feature.

[2020-05-30 18:27] pchampio commented on #454
Duplicate of:
https://github.com/go-flutter-desktop/go-flutter/issues/223
https://github.com/go-flutter-desktop/go-flutter/issues/80

[2020-05-30 18:27] #454 closed

[2020-05-30 18:31] pchampio commented on #413
Closed by: https://github.com/go-flutter-desktop/hover/pull/142
please update hover to v0.42.0

[2020-05-30 18:31] #413 closed

[2020-05-31 07:20] geata opened #455 "windows release shortcut icon is too small"
1. run `hover build windows-msi --docker`
2. install
3. the shortcut icon look blurred

i see the command is
`/bin/bash -c convert -resize x16 build/assets/icon.png build/assets/icon.ico && wixl -v ......`

is it too small of **x16**

[2020-05-31 07:25] jld3103 commented on #455
You are using an old version of hover. Please update and then the icon has the same size as your png in the assets.

[2020-05-31 07:25] #455 closed

[2020-05-31 13:11] GeertJohan opened #456 "Hover packaging linux-rpm and linux-deb fail when there is no description in pubspec.yaml"
https://github.com/go-flutter-desktop/examples/pull/97/checks?check_run_id=723591244

[2020-05-31 13:16] GeertJohan commented on #456
I guess there are three ways to handle this:
- Let any hover package command fail with a descriptive error when there is no description available in pubspec.yaml
- Only let linux-deb and linux-rpm command fail with an error when there is no description.
- Use "No description was provided during the build of this application" as description for linux-deb / linux-rpm when none was given.

[2020-05-31 13:48] pchampio commented on #456
I'll perfer the point 3 ("No description was provided during the build of this application" as description) with a descriptive warning.

[2020-05-31 17:44] jld3103 opened #457 "Cannot use replace directive in go.mod"
Since the changes of https://github.com/go-flutter-desktop/hover/pull/120 I'm not able to use a local go-flutter module, because hover fails with `hover: failed to parse the 'go-flutter' version in go.mod` when using a `replace ...` in the go.mod file.
Just wanted to track it, PR coming soon.

[2020-06-02 15:06] PiN73 opened #459 "Supported font formats"
Which font formats does hover support?

.otf and .ttf works for me, while .woff and .woff2 causes runtime crash:

[code]

<details>
<summary>Full run log</summary>

[code]
</details>

<details>
<summary>Hover doctor</summary>

[code]
</details>

[2020-06-02 15:14] kiasaki opened #460 "slice bounds out of range in text-input.go"
## Hover doctor

[code]

## Error output

The issue seems to be caused here: go-flutter@v0.41.0/text-input.go:223

My app exited with the following after clearing the text in a TextController:

[code]

## Reproducing

I was able to reproduce the error running https://gist.github.com/kiasaki/79a296498ff48e8cc2e65e46d337cd4a

Typing a bit and then quickly clicking that reset floating action button

[2020-06-02 15:15] kiasaki commented on #460
I could write a PR with some kind of bounds checking but I'm not familiar enough with the problem space to know if that should be the fix of some more digging is needed to fix the problem at the source.

[2020-06-02 20:04] etx commented on #459
Does this work with googles desktop embedding? I think it's a flutter issue, not a go-flutter issue.

[2020-06-02 21:05] etx opened #461 "pixelRatio wrong on built in MacOS display"
When dragging the go-flutter window between an external display and the built in MBP Retina display the UI renders differently due to the pixelRatio that is calculated.

## Hover doctor

[code]

## Error output
External Display:
[code]

Built in Macbook pro retina display
[code]

[2020-06-02 21:25] #460 closed

[2020-06-02 21:26] pchampio commented on #460
Fixed in go-flutter `v0.41.1` please `hover bumpversion`.
Thanks for reporting this issue!

[2020-06-02 21:35] pchampio commented on #457
fixed by: https://github.com/go-flutter-desktop/hover/pull/148

[2020-06-02 21:35] #457 closed

[2020-06-02 21:41] pchampio commented on #459
This is indeed a flutter issue: https://github.com/flutter/flutter/issues/13823

[2020-06-02 21:41] #459 closed

[2020-06-02 22:02] pchampio commented on #461
On the flutter side:
Their darwin shell uses this: https://github.com/flutter/engine/blob/e3c5f4827d17e82887b66469cf0d13ecc1cd5d3e/shell/platform/darwin/macos/framework/Source/FlutterEngine.mm#L298-L306
Their glfw shell uses the same codes as us: https://github.com/flutter/engine/blob/cc08940e6262ca6675eda145d7caf635e9774b4a/shell/platform/glfw/flutter_glfw.cc#L201-L214

I think our code is fine.

[2020-06-03 00:04] etx commented on #461
It's set to `Default for Display` so no scaling.

If I run the same dart app with the Google desktop embedding the scaling is correct and in Flutter a MediaQuery returns the devicePixelRatio of 2 as I would expect.

With go-flutter embedding it returns 1.6xxx for the devicePixelRatio when the window is on the mac retina display so that is why the UI is shrinking in that case.

https://github.com/g

[2020-06-03 01:13] kiasaki commented on #460
Amazing! Thanks for that :D

[2020-06-03 18:50] PiN73 commented on #459
@pchampio woff and woff2 fonts are working in Flutter itself, e.g. in Android

[2020-06-03 22:30] pchampio commented on #459
@PiN73 Please read [this](https://github.com/flutter/flutter/issues/13823#issuecomment-379361672) comment from the issue linked above!!

In summary:
 - The woff decoder is 100k of code. This code isn't shipped with Flutter.
 - If the platform supports (e.g. Android) woff, then flutter can the platform decoder (e.g. the android woff decoder) to parse woff font.
 - If the platform doesn't support wo

[2020-06-04 04:05] urjitbhatia opened #463 "Garbled text when external texture is used"
## Hover doctor

[code]

## Error

Using `hover run` to run my application. The text is garbled (looks like a corrupted texture). If I remove the texture, everything works fine. Gif Texture example is picked from examples.
![Screen Shot 2020-06-03 at 9 02 22 PM](https://user-images.githubusercontent.com/1226567/83713666-938bf580-a5dd-11ea-865e-491149a2e840.png)

I have a minimal repro in the examp

[2020-06-04 08:25] pchampio commented on #463
I'll love to know if this issue is also reproducible on AOT: https://github.com/go-flutter-desktop/hover/pull/147

[2020-06-04 14:45] neerajjaiswal opened #464 "Deployment Target not picking from the Mac project in flutter"
Hi,

I have set the Deployment Target as 10.11 for macos, but still the app which is generated doesn't run on a mac with 10.14. It is looking for version 10.15, same as the one on which I did my development.

Is there any other way I have to set the deployment target for hover to pick it up?

[2020-06-04 16:35] jld3103 commented on #464
Which hover version do you have? The target thing has been fixed in https://github.com/go-flutter-desktop/hover/pull/133 and is available in hover versions >= v0.41.6. If you are running an older version please update

[2020-06-05 13:19] TheOneWithTheBraid opened #466 "[feature request] Add package dependencies"
## Is your feature request related to a problem?

My Flutter application calls native platform binaries to render eg. LaTeX using `pdflatex`. To support this in packaged builds, I would need to be able to add native platform dependencies to the packages.

## Describe the feature you'd like

[x] `linux-deb`: possible by modifying `DEBIAN/control.tmpl`
[x] `linux-rpm`: possible by modifying `SPECS/{

[2020-06-05 13:45] jld3103 commented on #466
I think for snap and appimage there is a possibility to add dependencies, but I don't have any experience with them. For darwin and windows I have no clue, but from the way software management on these platforms work I would guess there is no standard way to do it.

[2020-06-05 13:52] TheOneWithTheBraid commented on #466
Well, on windows, there are two working formats of software distribution, I guess: MSI and `choco`. I don't know how far it is possible to include a package of the chocolatey inside an MSI but I think it might be possible to include prebuilt MSIs inside another MSI.
On macOS, the same but the formats are called `pkg` and `brew`...

[2020-06-06 07:10] jinfagang opened #467 "no method handler registered for method 'TextInput.setEditableSizeAndTransform' on channel 'flutter/textinput'"
[code]

Can not input text with Chinese:

![image](https://user-images.githubusercontent.com/21303438/83938543-d7fad980-a807-11ea-9df1-d6093d876182.png)

Anybody knows how to solve it?

[2020-06-06 13:58] pchampio commented on #467
What's the output of `hover doctor`.
This issue should be fixed in `v0.41.1`.
Please `hover bumpversion` if needed.

[2020-06-06 16:52] jinfagang commented on #467
[code]

I can't bumpversion in China, old issue, golang.org can not access.

[2020-06-06 16:58] pchampio commented on #467
What is the output of: `cd go && go get -u -d -v github.com/go-flutter-desktop/go-flutter@latest`

[2020-06-06 17:09] jinfagang commented on #467
[code]

[2020-06-06 17:11] pchampio commented on #467
Is GO111MODULE=on (v-env)?

[2020-06-07 02:47] jinfagang commented on #467
I set it and now seems `go get -u -d -v github.com/go-flutter-desktop/go-flutter@latest` this command can run.

However when run `hover bumpversion` got;

[code]

Seems golang.org/x/text can not upgrade.

[2020-06-07 03:06] jinfagang commented on #467
Actually I am already install text 0.3.2

[code]

Why it was still upgrading...

[2020-06-07 07:08] pchampio commented on #467
Golang.org/x/text doesn't matters.
After successfully updating go-flutter with 'go get -u -d ...' does the warning message about 'TextInput.set...' still shows-up?

[2020-06-07 07:29] jinfagang commented on #467
[code]

Still shows up, and Chinese still can not input.

For reference, here is my TextField dart code:

[code]

Does there looks any wrong?

[2020-06-07 10:49] ykmnkmi commented on #391
fedora 32 same error.
fixed by installing libXxf86vm-devel.

[2020-06-07 17:31] pchampio commented on #467
What's the output of 'hover doctor' ?

[2020-06-07 17:42] jld3103 commented on #467
I think you were in the wrong directory when updating go-flutter. Looks like you were in `~/go` instead of `/path/to/project/go`. Is that right?

[2020-06-08 08:30] jinfagang commented on #467
@jld3103  That problem resolved by add GO111MODULE=on.

But that warning and Chinese charactor can not input still exist.

[2020-06-08 08:31] jinfagang commented on #467
I suppose this can be easily revealed if you guys have a Chinese input method on linux? (I haven't tested on macOS and windows yet) but Linux (Ubuntu 20.04) will have this problem.

[2020-06-08 08:59] pchampio commented on #467
What's the output of `hover doctor`?

[2020-06-08 09:00] pchampio commented on #467
Not related please read: https://github.com/go-flutter-desktop/go-flutter/issues/454

[2020-06-08 09:04] pchampio commented on #467
This warning is not displayed in hover `v0.41.1`:
https://github.com/go-flutter-desktop/go-flutter/blob/2a5ae05b74a731701781bc9d02d788e35025c804/text-input.go#L74-L75

You can manually update your project's version by editing `go/go.mod` and switching the version number of the required dependency `github.com/go-flutter-desktop/go-flutter` to `v0.41.1`.

[2020-06-08 13:05] jinfagang commented on #467
@pchampio  Hi, I followed your instructions and the warning is gone.

But Chinese characters still can not input.

![image](https://user-images.githubusercontent.com/21303438/84033567-a7639d00-a9cb-11ea-8422-fd07bac16a41.png)

[2020-06-08 13:57] pchampio commented on #467
The Chinese characters issue is described in: https://github.com/go-flutter-desktop/go-flutter/issues/355 (linux only issue).

Still, `hover bumpversion` doesn't work.
@jld3103 can you add a condition on the command to only

append `GOPROXY=direct` to `cmdGoGetU.Env` if `buildOrRunGoFlutterBranch` has a `/` in it's name. Thanks
https://github.com/go-flutter-desktop/hover/blob/df5597276fcc278762c31

[2020-06-08 13:57] #467 closed

[2020-06-10 13:00] Leo-Lionni opened #468 "[CROSS COMPILE] about my behaviour"
macbook pro 2019 , macos 10.15.4,
i'm sure: the latest version of hover : Hover v0.42.0 ;
golang 1.13,  GO111MODULE=on;
## Hover doctor
[code]

## Error output
[code]

[2020-06-10 13:02] #468 closed, assigned to nobody

[2020-06-10 13:05] ariagecheney opened #469 "[cross compile] about App shown in macos & windows vm"
macbook pro 2019 , macos 10.15.4,
i'm sure: the latest version of hover : Hover v0.42.0 ;
golang 1.13,  GO111MODULE=on;
## Hover doctor
[code]

## Error output
[code]

[2020-06-11 11:38] YoussefBadal commented on #264
how we can get the preference xml path windows?

[2020-06-12 00:15] DJafari opened #470 "fatal error: 'windows.h' file not found"
## Hover doctor

[code]

## Error output

Using `hover build windows` to build my application, I get the following
error:

[code]

[2020-06-13 02:59] Tokenyet commented on #469
You might want to try a actual Windows instead of VM Windows, and see If It's still an issue.

Notice: Not sure If this is your problem, and I'm not a mac users, just remember VM will not work in some circumstance.

[2020-06-13 15:09] YazeedAlKhalaf opened #471 "hover: Cannot obtain version information from hover build."
## Hover doctor

[code]

## Error output

Using `hover run` to build my application, I get the following
error:

[code]

[2020-06-13 16:23] jld3103 commented on #471
Which go version are you using? You need to user >=1.13

[2020-06-14 20:16] pchampio commented on #470
` gcc-mingw-w64 ` isn't installed on your machine.
You can either install it or use the `--docker` flag.

Duplicate of: https://github.com/go-flutter-desktop/go-flutter/issues/411

[2020-06-14 20:16] #470 closed

[2020-06-14 20:21] pchampio commented on #469
@Tokenyet, Yes I'm pretty sure this issue comes from the virtualization.

Refs:
https://github.com/go-flutter-desktop/go-flutter/issues/352
https://github.com/go-flutter-desktop/go-flutter/issues/337
https://github.com/go-flutter-desktop/go-flutter/issues/248
https://github.com/go-flutter-desktop/go-flutter/issues/272

[2020-06-14 21:14] DJafari commented on #470
@pchampio
but i have mingw-w64 in my mc

[code]

how can i build it with `--docker` flag ?

[2020-06-15 03:31] chuguofei opened #472 "Hover. Failed to download engine: remote error: tls: handshake failure"
hover: Downloading engine for platform darwin-x64 at version 49891e065313d26bbc2ddc9805fb7ed27edae174...
hover: Failed to download engine: Get "https://storage.flutter-io.cn/flutter_infra/flutter/49891e065313d26bbc2ddc9805fb7ed27edae174/darwin-x64/FlutterEmbedder.framework.zip": remote error: tls: handshake failure

[2020-06-15 08:27] xinglinsky opened #473 "build error"
win10 x64：
E:\Project\flutter\demo1
λ go version
go version go1.14.3 windows/amd64

E:\Project\flutter\demo1
λ hover run
?[1;36mhover: ?[0m?[33m⚠ The go-flutter project tries to stay compatible with the beta channel of Flutter.?[0m
?[1;36mhover: ?[0m?[33m⚠     It's advised to use the beta channel: `?[35mflutter channel beta?[0m`?[0m
?[1;36mhover: ?[0m?[32mBuilding flutter bundle?[0m
hover: Using e

[2020-06-15 09:08] YazeedAlKhalaf commented on #471
yazee@Yazeed-AlKhalaf MSYS ~
$ go version
go version go1.14.4 windows/amd64

[2020-06-15 09:08] YazeedAlKhalaf commented on #471
When I try running hover version the same happens, I think there is a problem with it

[2020-06-15 09:45] pchampio commented on #471
`go env GO111MODULE` must be set to `on`.

Did you installed hover with:
`GO111MODULE=on go get -u -a github.com/go-flutter-desktop/hover`
?

[2020-06-15 10:47] jld3103 commented on #473
Duplicate of https://github.com/go-flutter-desktop/go-flutter/issues/471

[2020-06-15 10:47] #473 closed

[2020-06-15 14:41] geata opened #474 "how to popup menu when long press screen use finger"
1. i use [https://pub.dartlang.org/packages/menu](https://pub.dartlang.org/packages/menu) for popup menu
2. i know it use GestureDetector
3. it works ok with mouse long press
4. but on my laptop that has touch screen, when i long press screen use finger, there is only a square zoom in

i want pop up menu whith long press screen,how can ?

[2020-06-15 14:51] jld3103 opened #475 "Support flavors"
I want to migrate my app to use flavors, because it is a modular app and we publish two versions with different features included.
Hover should support `--flavor` and use `go/hover.yaml` to determine the flavor config. That should include the application, executable and package name, license, and target.

This feature shouldn't be too hard to implement, because the existing config can be used to c

[2020-06-15 15:11] YazeedAlKhalaf commented on #471
Yes I did

On Mon, 15 Jun 2020 at 12:45 PM Pierre Champion | Drakirus <
notifications@github.com> wrote:

[2020-06-15 15:12] YazeedAlKhalaf commented on #471
Yes I did install it with the variable on

[2020-06-15 15:34] YazeedAlKhalaf commented on #471
I have discovered that I have to change the variable globally before running the installation. Anyways thank to @pchampio

[2020-06-15 15:34] #471 closed

[2020-06-15 20:47] pchampio commented on #472
Humm, are you using a VPN?
Are you located under China's 'Great Firewall?

[2020-06-15 20:48] pchampio commented on #472
https://github.com/go-flutter-desktop/hover/blob/b250fc13e9e87549c3c30f94d6e2fdb5de954e69/internal/enginecache/cache.go#L248-L252

https://flutter.dev/community/china

[2020-06-16 03:20] chuguofei commented on #472
ok，I've solved it； Can this be embedded in the web page

[2020-06-16 03:40] chuguofei opened #476 "I want to use WebView"
Trying to use the default webview implemntation for  TargetPlatform.fuchsia but there isn't a defatult one , What should I am going to do?

[2020-06-16 09:10] qianniancn commented on #476
你需要写插件

[2020-06-16 09:23] pchampio commented on #476
Duplicate of: #324
TL;DR: we don't plan to implement the webview plugin.

[2020-06-16 09:23] #476 closed

[2020-06-16 09:24] #472 closed

[2020-06-17 21:41] pchampio opened #478 "utf-8 textinput"
Uses utf-8 internally

https://github.com/flutter/flutter/pull/53381 was merge, no need for the utf-16/utf-8 rollercoster used in the text-input.go plugin.

Waiting for this feature to be available in flutter channel beta.

[2020-06-18 05:34] jld3103 commented on #478
That PR got reverted for now, because it caused some problems https://github.com/flutter/flutter/issues/59645

[2020-06-18 17:06] justinmc commented on #478
Hopefully I'll be able to un-revert that PR soon in https://github.com/flutter/flutter/pull/59778.

[2020-06-20 08:01] altermark commented on #348
At the start `hover` should set a windows console flag that enables processing of escape sequences.

See https://docs.microsoft.com/en-us/windows/console/setconsolemode

If it does not, the flag will be set later in the run/build process by
flutter tooling. Colors then seem to appear only in later log messages.

![hover_partial_colors](https://user-images.githubusercontent.com/49390312/85196715-70

[2020-06-20 08:06] jld3103 commented on #348
I don't have a lot of experience with windows so I guess you are the one with proper knowledge. Could you make a PR with your changes?

[2020-06-20 08:17] altermark commented on #348
OK, I'll try and not mess up other operating systems.

[2020-06-20 12:30] jld3103 commented on #348
Fixed in https://github.com/go-flutter-desktop/hover/pull/154. Thanks @altermark

[2020-06-20 12:30] #348 closed

[2020-06-20 14:27] jinfagang opened #479 "32-bit mingw compiler accidentally picked up"
[code]

Any idea？

[2020-06-20 14:30] jld3103 commented on #479
From this thread https://github.com/hajimehoshi/ebiten/issues/689 I would guess you have a 32-bit mingw version installed which gets used for cgo. If you also have a 64-bit version installed you need to change the default pickup and if you don't have a 64-bit version installed you need to install one.

[2020-06-20 14:33] jld3103 commented on #479
Maybe we should limit go-flutter compilation to `x86_64` using
[code]
What do you think @pchampio @GeertJohan

[2020-06-23 13:16] jinfagang opened #480 "audio play support on desktop"
Does there already have some package supports audio play on linux or windows?

[2020-06-23 13:34] pchampio commented on #480
From what I know, no.

Somewhat related to: https://github.com/go-flutter-desktop/go-flutter/issues/417

[2020-06-23 13:34] #480 closed

[2020-06-24 06:22] jinfagang opened #481 "can not show emoji on linux"
Does any one knows why?

![image](https://user-images.githubusercontent.com/21303438/85508092-fc3b2080-b625-11ea-9650-dc3c3d256f8e.png)

Even my terminal can printout emoji:

![image](https://user-images.githubusercontent.com/21303438/85508122-09f0a600-b626-11ea-8296-351daea14120.png)

[code]

[2020-06-24 21:41] MattNguyen commented on #134
We began our own ffmpeg-based implementation as we needed to get video and audio to work:

https://github.com/telefuel/video_player_testbed

Currently we’re stuck on getting the audio and video to sync, most likely the result of some missing ffmpeg incantations or worst case some compatibility issues with the hardware.

We also have an [open bounty](https://github.com/telefuel/video_player_testbed

[2020-06-28 14:07] pchampio commented on #134
@MattNguyen this is so cool!
I've quickly glance through you implementation, it's much more cleaner than what I've previously done.

I'm always surprised on how the community is using go-flutter :heart:

I currently don't have much time to work on such plugin, I respect the time and money you put into this.
(But, I'll also like to point-out that other embedder exist. And in the future, they'll cer

[2020-06-30 04:07] YourksChan opened #483 "Cannot obtain version information from hover build. To resolve this, please go-get hover using Go 1.13 or newer."
cached_network_image: ^2.2.0+1
  shared_preferences: ^0.5.7+3
  spreadsheet_decoder: ^1.1.0
  cupertino_icons: ^0.1.3
  pull_to_refresh: ^1.6.0
  progress_dialog: ^1.2.4
  url_launcher: ^5.4.11
  common_utils: ^1.2.1
  file_picker: ^1.12.0
  flutter_svg: ^0.17.4
  fish_redux: ^0.3.4
  encrypt: ^4.0.2
  fluro: ^1.6.3
  toast: ^0.1.5
  intl: ^0.16.1
  dio: ^3.0.9

Flutter 1.17.3 • channel stable • h

[2020-06-30 08:01] pchampio commented on #483
Duplicate of https://github.com/go-flutter-desktop/go-flutter/issues/471

[2020-06-30 12:50] marchellodev opened #484 "Docker ubuntu version in config"
Would be really great to be able to specify version of ubuntu that is used in docker.

Sometimes when you build linux application via docker and then run it on older systems, app doesn't work (due to it was built "on a too new system and uses too new libraries")

[2020-06-30 13:04] marchellodev opened #485 "To package linux-pkg these tools are required: makepkg (with Docker)"
When running `hover build linux-pkg --docker`:

[code]

[2020-06-30 13:55] jld3103 commented on #485
The problem is known. I haven't found a solution yet, but PRs are welcome. I already tried copying from an arch stage and building it on ubuntu, but it wouldn't work because of some library incompatabilities. I can post the code for building on ubuntu later so anyone can tinker with it.

[2020-06-30 13:57] jld3103 commented on #484
So we should lower the ubuntu version? 16.04 isn't supported since April anymore so I think we shouldn't even support that.

[2020-06-30 14:01] marchellodev commented on #484
That's where this is coming from.
https://github.com/AppImage/appimage.github.io/pull/1968#issuecomment-625955381

You don't have to lower it, just make it possible to specify version in config file

[2020-06-30 14:13] jld3103 commented on #484
So they say you should use the oldes supported LTS version which is bionic, but using xenial should also work. The thing is we are already using xenial as ubuntu version if I'm not mistaken.

[2020-06-30 18:25] NO-ob opened #486 "Building/Crosscompiling for Linux ARM/ARM64"
It may already be possible but i'm not sure I was wondering if support could be added to build and crosscompile appimages for arm/aarch64 on linux?

[2020-07-01 01:46] jld3103 commented on #486
It's not possible yet. To make it possible we either need https://github.com/go-flutter-desktop/go-flutter/issues/363 or the flutter team uploads the needed engine files.

[2020-07-01 14:53] NO-ob commented on #486
I opened an issue on the flutter repo here https://github.com/flutter/flutter/issues/60678

[2020-07-03 10:32] YourksChan opened #487 "gcc_libinit_windows.c:7:10: fatal error: 'windows.h' file not found"

[2020-07-03 11:12] jld3103 commented on #487
Duplicate of https://github.com/go-flutter-desktop/go-flutter/issues/470

[2020-07-03 11:12] #487 closed

[2020-07-07 11:56] GeertJohan commented on #474
Could you provide a bit more information? What OS are you running, which touchscreen are you using?

[2020-07-07 11:58] GeertJohan commented on #475
I like the idea of flavors. I use it in some non-desktop apps. So +1 on the feature request.
Needs some proper brainstorm on implementation details though.

[2020-07-07 12:04] GeertJohan commented on #479
I'm not sure if we'd want to limit to amd64 only, maybe we could also support ARM targets, but that needs work on enginecache and packaging.

[2020-07-07 12:10] GeertJohan commented on #481
Most likely the font is missing emojii's.
Make sure you have the font you want to use in the assets folder and linked in pubspec.yaml.
If the font is not in your app, then Flutter will try to use the fonts from the operating system, but you can never be sure your users have the font you want to use. So always bundle fonts with your app.
Please re-open this issue if the problem did not go away afte

[2020-07-07 12:10] #481 closed

[2020-07-07 12:59] pchampio commented on #481
![image](https://user-images.githubusercontent.com/7476655/86784797-395dd480-c062-11ea-93f1-90feb988b67b.png)
Tested with https://github.com/samuelngs/apple-emoji-linux and  https://github.com/MorbZ/OpenSansEmoji and the emoji where properly displayed.

Still, you have to bundle the font in the app. Like in this example: https://github.com/go-flutter-desktop/examples/blob/768b3c12b46778d78c7bc1edf

[2020-07-07 13:00] pchampio commented on #481
All other font related information can be found here: https://github.com/flutter/flutter/issues/30700#issuecomment-541269268

[2020-07-07 13:33] pchampio commented on #474
GLFW doesn't have support for touch input: https://github.com/glfw/glfw/issues/42
The only kind of pointer event that we are sending to the flutter engine is mouse event (even when the touchscreen is used instead of the mouse)

https://github.com/go-flutter-desktop/go-flutter/blob/f3939f34c195aceed88f06a1cb47ecc282d13bd7/embedder/embedder.go#L239

Trying to fake the touch pointer (always sending p

[2020-07-07 13:39] pchampio commented on #474
Your issue:
I tried out: https://github.com/CaiJingLong/flutter_long_tap_menu/tree/master/example
and managed to make it work with my mouse and my finger, my screen also has touch input, but I didn't configured linux-KDE and it behaves just like a mouse.
I'm afraid this might be a limitation from glfw, glfw might not send us any touch-input related information on a properly configured display envi

[2020-07-08 03:06] jinfagang commented on #481
@pchampio  thanks for your reply. I actually buddled the fonts to my app, and the normal text ca be shown (charactors), only emoji can not shown.

Did u guys means, my custom fonts doesn't contain emoji? I suppose emoji is not related with fonts but system encoded pattern to show. My system is linux, and my linux can show emoji in terminal (as you can see ) at least the terminal shows like a norma

[2020-07-08 08:23] pchampio commented on #481
Please read the above comment https://github.com/flutter/flutter/issues/30700#issuecomment-541269268

Here is an example:
https://file.io/2xJLLY7q

[2020-07-08 08:51] jinfagang commented on #481
https://file.io/EBfmqaQ7 this link shows 404.

So, is because linux can not found the last fallback font which is Robo font on linux?

how to set a fallback font on linux since every font maybe missing and different paltform may have different fallback font.

What's the standard solution for this? I think this is a simple and foundamental using scenarios of apps on desktop.

[2020-07-08 08:54] pchampio commented on #481
https://we.tl/t-J5V6fZcKtl

[2020-07-08 08:56] pchampio commented on #481
how to set a fallback font on linux since every font maybe missing and different paltform may have different fallback font.
What's the standard solution for this? I think this is a simple and foundamental using scenario of apps on desktop.

I don't have answer to your questions, the level of which go-flutter operates isn't on that level.
What's I can say is that bundling a font that has support fo

[2020-07-08 14:49] jinfagang commented on #481
@pchampio  thanks! weird thing I test again on windows, it can show emoji, if it related about fonts, this shouldn't happen.

Anyway, I will test add fallback fonts on ubuntu

[2020-07-08 15:26] satindergrewal opened #489 "Where to put a function to trigger on exit/stop/close event of application?"
I'm running a gRPC server via ffi and flutter Isolates, and when I close the application I keep getting the following waiting for isolates to check in.

I can make a function to stop the server, but I need to know where to put it to trigger on application close/exit action.

Can you please tell me how can I trigger a function to stop the server when exiting the application?

[code]

This is the ex

[2020-07-08 15:52] pchampio commented on #489
Since you are using FFI, you only use go-flutter for embedding. Even if we had exit/stop/close event, you couldn't query them since you aren't writing a go-flutter plugin https://github.com/go-flutter-desktop/go-flutter/wiki.

This issue is FFI related, please ask for help directly through the flutter/flutter issue tracker.

[2020-07-08 17:28] satindergrewal commented on #489
Okay, thanks for quick response @pchampio 👍
I'll ask for help on flutter/dart resources.

[2020-07-09 09:12] monkeyWie opened #490 "Multiline TextField type numpad enter doesn't wrap"
When I type enter on numpad,it's doesn't wrap.
- ok:
![image](https://user-images.githubusercontent.com/13160176/87021409-c5f5c780-c207-11ea-994e-98cd343170ed.png)
- fail:
![image](https://user-images.githubusercontent.com/13160176/87021379-bc6c5f80-c207-11ea-8ba8-0ce0aa5d1d92.png)

## Image
![image](https://user-images.githubusercontent.com/13160176/87020844-04d74d80-c207-11ea-9237-8d7210ed858d.p

[2020-07-09 09:31] pchampio commented on #490
fixed in (`go-flutter 0.41.2`)[https://github.com/go-flutter-desktop/go-flutter/releases/tag/v0.41.2]

[2020-07-09 09:42] monkeyWie commented on #490
Thanks, the fixed speed is amazing!

[2020-07-09 09:42] #490 closed

[2020-07-11 14:37] sinojelly opened #491 "Write file exception on windows."
## Hover doctor

[code]

## Error output

Using `file.writeAsString(content);` to write file to user dir, I get the following
error: (It works on iOS and Android)

[code]

[2020-07-12 00:18] sinojelly commented on #491
I found the solution,
On iOS & Android, no need to create app documents directory,
but on windows, should create the app documents directory first,  then write a file.
So the solution is creating the app documents directory first.

[2020-07-12 00:18] #491 closed

[2020-07-14 06:49] jinfagang opened #492 "emoji and Chinese support at the same time on Linux"
Hi, I have posted simillar question before, my problem get quite embarrasing, I really want a help.

Some of your main develop give me a solution and example to show emoji shows correctly on linux. I runed it, and it indeed shows emoji.

But when I using that font, my Chinese gets mess again:
![image](https://user-images.githubusercontent.com/21303438/87393634-104cbf00-c5e1-11ea-81a1-8968e33d5c65.

[2020-07-14 12:55] pchampio commented on #492
Pick a Chinese font that have support for emoji.
Or, merge both individual fonts into a single one that have graphemes for emoji and Chinese entires.

[2020-07-14 12:55] #492 closed

[2020-07-15 03:56] jinfagang commented on #492
@pchampio  How to check a font has emoji or not? Can u give me an advise?

[2020-07-15 04:54] jinfagang commented on #492
@pchampio Sorry for bother, I have tried several other very very common fonts in Chinese such as 宋体 and 微软雅黑, if those can not support emoji, can u tell me which on can support?

After change to them, nothing changed:

![image](https://user-images.githubusercontent.com/21303438/87504979-5154da00-c69a-11ea-925a-7406014be0d6.png)

[2020-07-15 05:43] jld3103 commented on #492
Look at this: https://superuser.com/a/1382162/955784 Something like that should work so you can merge the Chinese font with the Emoji font

[2020-07-15 06:46] jinfagang commented on #492
@jld3103 thanks for your link. I have look around, merging fonts using fontforge or script like that one is for English mostly, Chinese  have encoding issue. Really, except of this, anyone could give me a indicate which a simple way to using go-flutter-desktop with Chinese and emoji?

[2020-07-15 07:10] jinfagang commented on #492
![image](https://user-images.githubusercontent.com/21303438/87514735-4788a200-c6ad-11ea-96af-155e3f3f15c3.png)

[2020-07-15 07:27] jinfagang commented on #492
Allright... I tried merge a standalone emoji font....

![image](https://user-images.githubusercontent.com/21303438/87516188-933c4b00-c6af-11ea-8996-0b5128e2742d.png)

It breaks some existed charactors and the size is so large..

[2020-07-16 08:01] jinfagang opened #493 "Chinese and emoji example"
For these users of go-flutter-desktop in China, strongly recommended an example can be provided for Chinese and emoji support on Linux.

[2020-07-16 08:02] jinfagang commented on #493
this is currently a blocking issue ... can't found any solution on this for now. tried replace fonts, reinstall fonts, merge fonts.. all don't really work well.

[2020-07-16 21:43] altermark commented on #184
AFAICT `engineCachePath` is stored to `CGO_LDFLAGS`

https://github.com/go-flutter-desktop/hover/blob/master/cmd/build.go#L470-L478

and passed to `cgo`, where the flags are parsed.

https://github.com/golang/go/blob/c5d7f2f1cbaca8938a31a022058b1a3300817e33/src/cmd/cgo/main.go#L289

Used parser function supports escaping of special characters

https://groups.google.com/forum/#!topic/golang-nuts/aN

[2020-07-17 09:36] RayMeibergen opened #494 "windows image error"
hi

when I build with windows.
I can not get image.

- build

[code]

- sample code

[code]

when I run with mac I can get image

[
![image](https://user-images.githubusercontent.com/286479/87771552-78a6d500-c85b-11ea-89d5-740a02ea12e8.png)
](url)

but with windows, I get just a box.

[
![image](https://files.gitter.im/5c6dda15d73408ce4fb86d18/m581/image-60-.png)
](url)

Is this a bug?

[2020-07-17 10:41] pchampio commented on #494
The docker image goflutter/hover might be using an older version of flutter.
Could you try to update the flutter version inside de image

[2020-07-17 11:36] RayMeibergen commented on #494
hi @pchampio

thanks for reply!
I updated my flutter., but it's same...

I made a new image for this!

rhemsjapan/goflutter-hover:latest

[code]

[2020-07-17 12:13] jld3103 commented on #494
I think there was a similar issue a few weeks ago. I'll do a quick search

[2020-07-17 12:15] jld3103 commented on #486
I'm also interested in this feature for a new project so I'm going try to setup some CI that builds the engines and make hover compatible.

[2020-07-17 12:18] jld3103 commented on #486
@NO-ob

This currently true, but adding cross-compile functionality is mandatory for easy development so that will be included when I add the feature to hover

[2020-07-17 12:25] jld3103 commented on #486
After reading some issues and PRs in the flutter repo it seems like there are already people working on supporting arm64 targets in flutter with all the required infrastructure. So it's better to wait for the engines to become available than trying to compile them ourself.

[2020-07-17 12:28] jld3103 commented on #494
https://github.com/go-flutter-desktop/go-flutter/issues/469 this looks pretty similar so I guess this is a duplicate. Anyway @pchampio suggested that the errors may come from virtualization. So @RayMeibergen are you running the Windows app in a VM?

[2020-07-17 12:30] RayMeibergen commented on #494
yes!
I'm checking this with Parallels Desktop!

[2020-07-17 12:41] RayMeibergen commented on #494
found the solution!

add this "-opengl=none" and it's working now!!!
thanks for information!!!
and thanks for help!

[code]

[2020-07-17 14:36] #494 closed

[2020-07-17 14:38] jld3103 commented on #469
@ariagecheney the solution seems to be to add `--opengl=none` as @raymeibergen found out. Can you try that?

[2020-07-18 13:22] satindergrewal commented on #489
@pchampio from https://github.com/flutter/flutter/issues/61372#issuecomment-660380405

Is that something go-flutter can help with?
Or in case give me some pointers what needs to be done, at least I'll try to attempt solving it.

[2020-07-18 14:34] jld3103 opened #495 "Make go-flutter window toolkit agnostic"
For a project I want to use go-flutter as an embedder (think about all the juicy plugins), but I don't want to use glfw as window toolkit. Instead I want to use wayland directly, as the project will only use wayland and customize the surface roles (using wlr-layer-shell to be exact) which is not possible when using glfw.

This will need abstract away a lot of logic to make go-flutter modular. I'm

[2020-07-18 14:57] jld3103 commented on #495
Some references to start work:
https://github.com/jwinarske/flutter_wayland
https://github.com/dkolbly/wl
https://github.com/dkolbly/wl-scanner

[2020-07-19 22:59] pchampio commented on #489
As Stuart said:

So on the go flutter side, we are waiting of the standard API to come and implement it.

Nevertheless, you can still write a go- flutter glfw plugin that send a close trigger when the application closes.
Check out our wiki for more information on how to write such plugin.

[2020-07-22 05:51] ganeshrvel opened #496 "What's the status on AOT?"
What's the status on AOT for macos? Are there any issues implementing it for flutter macos?

How different is the performance of a AOT compiled app with regards to JIT?

[2020-07-22 07:21] jld3103 commented on #496
[This](https://github.com/go-flutter-desktop/go-flutter/issues/259) is the general issue and [this](https://github.com/go-flutter-desktop/hover/pull/147) is the PR that worked for about two weeks, but the flutter team made changes so it's no longer possible to use it. Also the PR only worked on Linux and Windows, because of some error that I still don't understand. To get it working again we need

[2020-07-22 09:02] #496 closed

[2020-07-23 08:57] pchampio commented on #495
An example of an rendered abstraction layer can be found in: https://github.com/fyne-io/fyne/blob/2de50ef4d133ca5e1e8b22dc49e4033e4119ce88/internal/driver/glfw/window.go

[2020-07-24 15:43] ygworldr opened #497 "Dependency on !best!burning/platform_device_id fails with imported and not used: "fmt""
## Hover doctor

[code]

## Error output

The command `hover build linux-appimage --docker` produce this  [log.zip](https://github.com/go-flutter-desktop/go-flutter/files/4972852/log.zip). Please ignore the OpenSSL error as it is irrelevant for this bug.

## Fix

[Upstream BestBurning/platform_device_id has been fixed](https://github.com/BestBurning/platform_device_id/issues/3#issuecomment-6601060

[2020-07-25 12:58] ganeshrvel opened #498 "[Dart FFI] An example on how to use async callbacks between Dart and golang?"
I have been trying to setup a project which requires to make async calls from Flutter to golang native functions.  There is an example for the same https://github.com/dart-lang/sdk/tree/master/samples/ffi/async but the code is vague to get started.

According to https://github.com/dart-lang/sdk/issues/37022 they have recently added callback support from the native code to the dart code via Nativep

[2020-07-30 12:50] Aurora12 opened #499 "Unable to package darwin-dmg when using CGo in a go-flutter-desktop plugin"
## Hover doctor

[code]

## Preamble

The following does work.

I use CGo to compile [xeodou/go-sqlcipher](github.com/xeodou/go-sqlcipher).

I use a modified version of `go-flutter-plugin-sqlite` to be able to use `go-sqlcipher` for transparent database encryption over SQLite.

`~/go/bin/hover run` and `~/go/bin/hover build darwin` work as expected: the Flutter app runs and uses encrypted SQLite.

[2020-07-30 12:55] ygworldr commented on #499
In addition, shouldn't the following work?

[code]

[2020-07-30 13:00] jld3103 commented on #499
There is no support currently, because I don't have a Mac and working in a VM is a pain. If you want you can add support. It should be fairly easy

[2020-07-30 13:24] Aurora12 opened #500 "Unable to start the app packaged as darwin-dmg or darwin-pkg"
## Hover doctor

[code]

## Steps to reproduce

[code]

## Error output 1

Start `/go/build/outputs/darwin-dmg/test_dmg 1.0.0.dmg`. It should open a Finder window (see screenshot below).

It unpacks the .app which can not be run. The OS says: "You can’t open the application “test_dmg 1.0.0” because it may be damaged or incomplete."

![image](https://user-images.githubusercontent.com/5172598/889275

[2020-07-30 14:13] GeertJohan commented on #495
I think I left some comments in the source mentioning possible abstraction of the window toolkit. I didn't do it because there was a lot of work already and adding abstraction would add a lot of complexity without there being a use-case.

[2020-08-03 08:00] ganeshrvel commented on #498
@jld3103 any updates on this?

[2020-08-03 09:15] jld3103 commented on #498
I wasn't able to get it working, but I think it is possible. I guess it was especially hard, because I was using a static Rust librarys

[2020-08-03 10:50] ganeshrvel commented on #498
Please let us know if you were able to get it working. Please keep this issue open till then.

[2020-08-03 10:51] jld3103 commented on #498
I'm not working on it, because I have no project that needs it, but still this issue should be kept open

[2020-08-06 06:51] Aurora12 commented on #499
I ended up packaging with a series of commands to Xcode command-line tools.

What I added:

1. a template folder structure:
[code]
2. two `.plist` declarations: one for the `.app` and another for signing with entitlements for [hardened runtime](https://wiki.lazarus.freepascal.org/Hardened_runtime_for_macOS).
3. a bash script that copies the build files and the template folder around, packs and sig

[2020-08-06 06:54] Aurora12 commented on #500
See #499 for an example of working MacOS package.

The main problem here, _probably_, is the absence of the main `Info.plist` descriptor for the `.app` package.

[2020-08-07 12:57] ganeshrvel commented on #498
Finally an engineer from Google made this happen.

Use Dart FFI and Go asynchronously.
 https://github.com/mraleph/go_dart_ffi_example

Thanks to @mraleph 🎉

[2020-08-07 14:02] jld3103 commented on #498
That's really cool

[2020-08-08 04:26] leedstyh opened #502 "Some panic happen when I press some keys!"
## Hover doctor

[code]

[code]

## Error output

Using `hover run` to run my application, I get the following

When I press `Shift Right` key:

[code]

When I press some other keys (like `m`, but not all the other keys):

[code]

## reproduce

This happens even with a `Counter` example.

[2020-08-09 15:17] solarkraft commented on #129
Has anything happened regarding the PR? [(Here is the change, by the way)](https://github.com/go-flutter-desktop/hover/compare/master...Nohac:master)

[2020-08-09 16:30] Nohac commented on #129
@solarkraft Sadly, no. I use neovim + https://github.com/iamcco/coc-flutter that recently got support for go-flutter: https://github.com/iamcco/coc-flutter/commit/02238b28e2f5ffcf2526820ce9522fdabc416b2f so I personally don't need the file watcher anymore. Feel free to take my changes and open a PR if you want :+1:

[2020-08-09 20:24] jld3103 opened #503 "New system channels"
[code]
https://github.com/flutter/flutter/pull/60299

[2020-08-10 18:30] chunhtai commented on #503
This should not have throw because we also change the navigation channel to OptionalMethodChannel. Do you have a repro?

[2020-08-10 18:56] jld3103 commented on #503
It only happened once seemingly random. I've never seen it again.

[2020-08-11 02:49] stuartmorgan commented on #503
@chunhtai This isn't throwing; that message is coming from the go-flutter-desktop embedding, which [logs every unrecognized method channel call](https://github.com/go-flutter-desktop/go-flutter/blob/2a5ae05b74a731701781bc9d02d788e35025c804/plugin/method-channel.go#L199).

I'm not sure why this embedding does that, given that it's at odds with the concept of `OptionalMessageChannel`, but it's not a

[2020-08-14 20:59] marchellodev opened #504 "NSGL: Failed to find a suitable pixel format"
When trying to run the application on macOS in a virtual machine, I get this error:

[code]

[2020-08-21 08:05] JanezStupar opened #505 "App built on Linux does not run on windows"
Here is the deal. About a week ago I tried out hover as an alternative build process to the project built in for its advanced packaging support.

The initial test on my app seemed to work well enough, so I started figuring out how to add DLL's and how to handle the plugins I need as app installed on systems with installed VS redist package.

But then I never got to run the result on windows again.

[2020-08-21 09:42] marchellodev opened #506 "Linux-snap can't be built"
Whenever I'm trying to build `linux-snap`, I get this error:

[code]

`-- docker` works fine

[2020-08-21 09:55] #506 closed, assigned to nobody

[2020-08-21 09:58] provokateurin opened #507 "What should happen with Snap packaging"
Snap packaging is broken. When trying to run it doesn't work because of some glibc version incompatibilities (#327)
Also personally I don't like snap for the walled garden approach, but that shouldn't be an argument in the discussion.
We should either mark snap packaging as broken so people don't use it or remove it completely. @GeertJohan what do you think?

[2020-08-21 18:16] #507 closed, assigned to nobody

[2020-08-26 07:54] JanezStupar commented on #505
@pchampio  @jld3103 @GeertJohan  can somebody please give me some pointers how to collect more information?

[2020-08-26 09:34] jld3103 commented on #505
Oh I wrote an answer but it somehow disappeard. Sorry for that.
I wrote something like this:
* Compile and run the app directly on windows
* Cross-compile and the run the app on windows (without packaging)

If something works or not it will be useful to debug it further.

[2020-08-27 14:23] gargakshit opened #508 "Request: Add support for the flutter_secure_storage plugin"
Request for support of the plugin `flutter_secure_storage`.

That plugin is a crucial part of my application, as support for that would be a no-brainer for me to use go-flutter

Thanks

[2020-08-27 15:23] jld3103 commented on #508
I think it's not possible directly, because the official plugins use a secure storage provided by the OS which is uncommon for desktop OS's. You could use some keychain apps/system to build your own implementation for the plugin, but that seems to be a bit over the top.
Depending on your usecase you could also change what and how you store it so that it is secure, but that also may not be possible

[2020-08-27 16:09] gargakshit commented on #508
Thank you for a timely reply! Looks like you are right. As far as I know only Macos provides an official implementation. My usecase was to store encryption keys, which I can surely not store using shared prefs or something similar. Could you please suggest an alternative.

Thanks

[2020-08-27 17:12] jld3103 commented on #508
I think there is no way. Sensitive data on desktop is just stored as it is. Think of your ssh key in `~/.ssh`

[2020-08-28 00:35] MiSeWang opened #509 "The` hover build windows-msi -- docker` is used to package MSI files in Windows environment.But when you run this file in a Windows environment, you will be prompted"
Hover： v0.42.0

go-flutter： v0.41.2

The` hover build windows-msi -- docker` is used to package MSI files in Windows environment.But when you run this file in a Windows environment, you will be prompted
**Aportion of the folder path "is invalid. It is either empty or exceeds the length allowed by the system.**
When packaged with pointer_demo, it will run successfully.
What are the possible reasons

[2020-08-28 04:05] jld3103 commented on #509
Can you make an exact list of steps to reproduce this?

[2020-08-29 18:26] gargakshit commented on #508
So I am closing the issue. Final thing I did: I used plain sharedprefs as all the data stored there was hashed anyways

[2020-08-29 18:26] #508 closed

[2020-09-05 11:23] jld3103 commented on #485
It's fixed with this PR: https://github.com/go-flutter-desktop/hover/pull/164

[2020-09-09 14:00] jinfagang opened #510 "how to set exe icon on windows?"
how to set exe icon on windows?

BTW, i can using Chinese and emoji on windows without pain, but on linux, emoji can not be used.

[2020-09-09 14:00] jinfagang opened #511 "how to set exe icon on windows?"
how to set exe icon on windows?

BTW, i can using Chinese and emoji on windows without pain, but on linux, emoji can not be used.

[2020-09-09 14:19] jld3103 commented on #511
I'll close this issue because it's exactly the same as #510

[2020-09-09 14:19] #511 closed

[2020-09-09 14:20] jld3103 commented on #510
What icon specifically do you mean? The icon in the task bar or the icon that is displayed as the file preview or another icon?

[2020-09-10 03:09] jinfagang commented on #510
@jld3103  On windows, I mean the icon of that exe file. (I am not sure if manually set an icon of it is a good way or not)

[2020-09-10 08:08] ShiinaOrez commented on #323
I face the same situation now: Flutter in my PATH, but when I run the cmd [hover run], it will remind me I need to install flutter... why hover cannot find my flutter? I want to now the reason.

[2020-09-10 08:36] ShiinaOrez commented on #323
It's strange. I wrote a simple golang program that import "os/exec" and execute "env" and "flutter create xxx". The "env" command output the PATH variable (include flutter path!), but the "flutter create xxx" command still failed with "flutter not installed".
Please teach me how to link my shell binary path to system path. @pchampio

[2020-09-10 08:52] ShiinaOrez commented on #323
figure it out.
Just link flutter to /usr/local/bin by `sudo ln -s YOUR-FLUTTER-PATH/flutter/bin/flutter /usr/local/bin`

[2020-09-12 18:38] marchellodev opened #512 "darwin pkg: Failed to get app's bundle id"
I have built the darwin pkg package. But when I'm trying to submit it to the App Store using Transporter, I get this error: `Failed to create the .itmsp for 'app.pkg'. Failed to get app's bundle id.`

Is there any way to solve this?

[2020-09-12 18:42] jld3103 commented on #512
Sorry no idea. I can only google so I can't do much more than you can

[2020-09-12 19:14] marchellodev commented on #512
That's fine, seems like only packages built with xcode and productbuild (whatever that is) are acceptable.

Maybe there are other ways to distribute a hover app on App Store?

[2020-09-12 20:17] jld3103 commented on #512
Hm it must be possible to do it without Xcode.

[2020-09-14 09:16] JanezStupar commented on #505
I have been busy elsewhere and I expect to provide required feedback in the next couple of days. I am still very much intereseted and invested in getting hover to work for my use case.

[2020-09-15 09:14] JanezStupar commented on #505
Okay so I took some time to do the testing. Turns out that the build works very well. Even with develop channel.

Turns out the issue was that I was trying to run the app in VM. I expected that it will work since the official embedder does.

Feel free to close this issue.

[2020-09-15 09:21] pchampio commented on #505
Duplicate of: https://github.com/go-flutter-desktop/go-flutter/issues/272

You might be able to run it in a vm using: https://github.com/go-flutter-desktop/go-flutter/issues/272#issuecomment-535403717

[2020-09-15 09:21] #505 closed

[2020-09-18 08:25] NO-ob commented on #486
The arm64 engine changes have been merged now I think https://github.com/flutter/engine/pull/20254#issuecomment-694546839

[2020-09-18 09:36] jld3103 commented on #486
Then we need support for engines in https://github.com/flutter-rs/engine-builds . I'll ask them and update this issue when something changes

[2020-09-20 19:41] SureshKumar311 opened #513 "Cannot obtain version information from hover build."
when is use to run hover doctor i dot issue

E:\project_flutter\examples-master\text_demo> hover doctor
hover: Cannot obtain version information from hover build. To resolve this, please go-get hover using Go 1.13 or newer.

when is use to run in project

 E:\project_flutter\examples-master\text_demo> hover run
hover: ⚠ The go-flutter project tries to stay compatible with the beta channel of Flutt

[2020-09-21 08:24] pchampio commented on #513
The `GO111MODULE=on` must be set to 'on'
System-wide overwrite: `go env -w GO111MODULE=on`

[2020-09-21 08:24] #513 closed

[2020-09-21 08:43] SureshKumar311 commented on #513
i had tried but same error

C:\Users\sk>go env -w GO111MODULE=on

C:\Users\sk>hover version
hover: Cannot obtain version information from hover build. To resolve this, please go-get hover using Go 1.13 or newer.

[2020-09-21 08:47] SureshKumar311 commented on #471
i had install go in my system
but GO111MODULE=on is not  recognized

C:\Users\sk>GO111MODULE=on go get -u -a github.com/go-flutter-desktop/hover
'GO111MODULE' is not recognized as an internal or external command,
operable program or batch file.

[2020-09-21 08:49] SureshKumar311 commented on #471
the hover is install but not correctly in my system
i am geting error

C:\Users\sk>hover
Hover helps developers to release Flutter applications on desktop.

Usage:
  hover [command]

Available Commands:
  build          Build a desktop release
  bumpversion    upgrade the 'go-flutter' golang library in this project
  doctor         Show information about the installed tooling
  help           Help

[2020-09-21 08:55] SureshKumar311 commented on #471
thank for u help @pchampio
 now working

C:\Users\sk>go env GO111MODULE =on
on

C:\Users\sk>GO111MODULE=on go get -u -a github.com/go-flutter-desktop/hover
'GO111MODULE' is not recognized as an internal or external command,
operable program or batch file.

C:\Users\sk>go get -u -a github.com/go-flutter-desktop/hover
go: downloading github.com/go-flutter-desktop/hover v0.43.0
go: github.com/go-flut

[2020-09-21 08:58] SureshKumar311 commented on #483
try this

go env GO111MODULE =on

go get -u -a github.com/go-flutter-desktop/hover

i had tryed for me working

C:\Users\sk>go env GO111MODULE =on
on

C:\Users\sk>GO111MODULE=on go get -u -a github.com/go-flutter-desktop/hover
'GO111MODULE' is not recognized as an internal or external command,
operable program or batch file.

C:\Users\sk>go get -u -a github.com/go-flutter-desktop/hover
go: downloa

[2020-09-21 09:11] SureshKumar311 opened #514 "creating glfw window: APIUnavailable: WGL: The driver does not appear to support OpenGL hover: App 'text_demo' exited with error: exit status 1"
i am in master mode of flutter channel
i had install go and hover
but i am getting error plz help to slove this error

E:\project_flutter\examples-master\text_demo>hover run
hover: ⚠ The go-flutter project tries to stay compatible with the beta channel of Flutter.
hover: ⚠     It's advised to use the beta channel: `flutter channel beta`
hover: Building flutter bundle
hover: Using engine from cache

[2020-09-21 09:44] pchampio commented on #514
Are you running your app in a VM?
Could you try `hover run --opengl=none`

[2020-09-21 16:23] rsoares10 opened #515 "Unable to build app for Windows form Mac"
Hi, I'm trying to build my flutter app on Mac and would like to build a version for Windows as well, but when I run the command "sudo hover build windows --docker"i get the following error message:

[code]

This is the full error message:

[code]

this is the hover doctor output:

[code]

Thanks for the help.

[2020-09-22 15:26] JanezStupar commented on #185
@monkeyWie how did it go for you? Have you made any progress?

[2020-09-27 08:38] jinfagang opened #516 "?Tutorial on tar project to deb format or AppImg with hover"
Any support how to make distributable app on linux?

[2020-09-27 13:34] bettersun opened #517 "Help -> Mac: Undefined symbols for architecture x86_64"
MacOS High Serria(10.13.6)

$ hover run
hover: ⚠ The go-flutter project tries to stay compatible with the beta channel of Flutter.
hover: ⚠     It's advised to use the beta channel: `flutter channel beta`
hover: Building flutter bundle
hover: Using engine from cache
hover: Checking available release on Github
hover: Failed to check the latest release of 'hover': Get https://api.github.com/repos/go

[2020-09-27 14:32] jld3103 commented on #517
It's likely that you are using an old version of flutter since the required features already arrived in the stable channel, but for go-flutter you should use the beta channel, so please try updating flutter.
If it doesn't fix it run `hocer doctor` and comment the output.

[2020-09-28 03:21] bettersun commented on #517
Thank you very much.

[2020-09-28 10:53] bettersun commented on #517
This problem is fixed on flutter 1.20.4.

[2020-09-28 10:53] #517 closed

[2020-09-28 13:14] jinfagang opened #518 "hover: Failed to change file permissions for {{.executableName}}.desktop file: chmod /tmp/hover-build-flutter_app-linux-appimage917125703/flutter_app.desktop: no such file or directory"
[code]

[2020-10-01 11:29] JanezStupar commented on #185
I made my own plugin: https://github.com/JanezStupar/flutter_systray

[2020-10-01 17:10] JanezStupar commented on #502
I am getting this too. It doesn't happen on every application launch however. Some times all the keys are handled correctly.

[2020-10-07 12:31] rsoares10 commented on #515
[Resolved]

The problem was the user permissions assigned to Library/Caches/hover/. This folder and folders used by go, hover and docker need to have user permissions.

[2020-10-07 12:31] #515 closed

[2020-10-08 15:47] JanezStupar commented on #444
@pchampio I am facing the same issue on my `flutter_systray` plugin. The `systray` library has a blocking `systray.Run()` method. If I run it as a goroutine I get the same panic error as @jlcool  above.

I am not expecting you to solve the issue for me, but perhaps dropping a few keywords that would help me understand the problem would be greatly appreciated.

[2020-10-08 19:33] JanezStupar commented on #444
@pchampio I did a bit more research so if I understand correctly - there is no way to got this resolved outside of say merging systray logic into go-flutter if I understand correctly and even that may not be feasible?

[2020-10-09 06:49] jinfagang opened #519 "Does the repo gived up maintained? Windows how packaging a single exe file?"
This is a very good  solution for flutter generate desktop applications, why does this repo commit so rare? All newest issue is fire by me, is there only have a faith this project?

Windows how to packaging a single exe file? Any maintainer can help me figure out a solution with this?

[2020-10-09 06:50] jinfagang commented on #519
I mean, without flutter-engine.so related files. We can have AppImage packaging all togather but how about windows?

[2020-10-09 07:07] jld3103 commented on #519
This project didn't have much development in the last time, because we all have not that much time for it.
I see all your issues, but sometimes I don't know how to help or don't have time to help. Sorry for that.

It isn't possible to pack the app into a single exe file. You can only use the msi.

[2020-10-09 07:28] jinfagang commented on #519
@jld3103 Thank you! Now I don't know should using this for flutter desktop or using flutter official one. The downside of flutter official is that it doesn't have any plugin support at all (not even sqlite). Can u shine a light on me?

Then how do I using msi, using hover build doesn't generate such a file.

[2020-10-09 07:45] jld3103 commented on #519
For the future and in the long run I guess the official flutter desktop will be better, because it's official and they will maintain it.
From the plugin side they have much less support so go-flutter is currently better regarding that.
The great thing is that you can use both at the same time so you can use whatever works best in your scenario.
The advantage of go-flutter/hover is that you have th

[2020-10-11 13:44] jinfagang opened #520 "hover: To package windows-msi these tools are required: candle,light"
[code]

Any instructions on install this?

[2020-10-11 14:21] jld3103 commented on #520
The instructions should be clearer. Install them from https://wixtoolset.org/

[2020-10-11 16:51] pchampio commented on #444
In the webview case, it's quite complicated since you have to run 2 event loop at once. And there will be dead-locks..
But if event can be computed independently without a event loop. You can `Run` event alongside the the go-flutter event loop using [`HandleFuncSync`](https://pkg.go.dev/github.com/go-flutter-desktop/go-flutter/plugin#MethodChannel.HandleFuncSync).

Here is an example on how to pro

[2020-10-12 09:37] #259 closed

[2020-10-12 09:37] #452 closed

[2020-10-12 12:14] JanezStupar commented on #444
@pchampio thanks for this feedback. It was precisely what I needed.

[2020-10-12 12:54] jinfagang commented on #520
@jld3103  I install wix, but it still claims this:

[code]
Sorry, I think it's much more better if error messages download link along with candle and light, honestly I don't why what's this can when google it, I got only this"

![image](https://user-images.githubusercontent.com/21303438/95748627-da48d500-0ccc-11eb-8a37-69d70f27c16c.png)

And what's this? This is real candle used in windows:

![ima

[2020-10-12 12:58] jinfagang commented on #520
Solved it

[2020-10-12 12:58] #520 closed

[2020-10-12 13:05] pchampio commented on #444
The systray go module doesn't seems to allow for individual event to be exec without using the module bundled event loop `systray.Run()`.

Maybe try: https://github.com/getlantern/systray
There is a section: "co-exist with other UI elements"
https://github.com/getlantern/systray#the-webview-example

[2020-10-12 13:06] pchampio commented on #520
How did you solved the problem ?

[2020-10-13 03:13] jinfagang commented on #520
@pchampio downloaded from web

[2020-10-13 12:42] gedw99 opened #521 "Allow Icons conversion without docker for Bundling for darwin and linux"
Currently the packaging for darwin and linux uses a nodejs thing.

[code]

We can use golang code at https://github.com/scott-x/icns to replace it.
For Windows, i have not had a change to look. It seems to need candle and light which are only for Windows.

The changes in https://github.com/go-flutter-desktop/hover/blob/master/cmd/packaging/darwin-bundle.go would be as follows. I left the old code

[2020-10-13 12:56] gedw99 commented on #521
I see that for Windows its here: https://github.com/wixtoolset/wix3/releases/tag/wix3112rtm
In the wix311-binaries.zip is candle and light.

So i was thinking that we can add a function to hover to check if its on your disk and if not pull it in.

This would i think make all desktop builds work without docker, unless i have missed something

[2020-10-13 14:15] jld3103 commented on #521
Sounds like a good idea to convert the png to icns using go, but you linked https://github.com/scott-x/icns in the comment and used https://github.com/JackMordaunt/icns in the code. I guess you meant to link to the later.
Also pulling the wix binaries would be a possibility, but I'm unsure if that should really be done. The other thing is that they only provide windows binaries so it won't work on

[2020-10-14 08:32] gedw99 commented on #521
@jld3103

Yes i made a mistake with https://github.com/scott-x/icns. thanks for catching it :)

Also, i hit a problem with **packaging.go** (https://github.com/go-flutter-desktop/hover/blob/master/cmd/packaging/packaging.go#L73)  not respecting the fact that my code did not have any required tools. You might know why better than me.

[code]

Regarding the wix binaries. Yes i will open a different

[2020-10-14 08:39] gedw99 opened #522 "Install wix tools for Bundling windows"
I see that for Windows its here: https://github.com/wixtoolset/wix3/releases/tag/wix3112rtm
In the wix311-binaries.zip is candle and light.

So i was thinking that we can add a function to hover to check if its on your disk and if not pull it in.

This would i think make all desktop builds work without docker, unless i have missed something.

[2020-10-14 08:42] gedw99 opened #523 "hover doctor to also report on the wix tools, and other things that the OS needs to be on disk."
This is related to the issue about installing the Wix tools for the user: https://github.com/go-flutter-desktop/go-flutter/issues/522

The way hover does not make you call "hover deps" to first get the dependencies is quite nice for a user.
Instead it just checks it all under the hood for you when you use a function that requires OS dependencies.

But i was thinking it might be nice to have "hover

[2020-10-14 09:10] jld3103 commented on #521
You need to put an empty slice for all supported OS like this:
[code]

[2020-10-15 17:30] Shree-hari commented on #346
go-flutter: no handler found for channel miguelruivo.flutter.plugins.filepicker
I found this issue and am not able to solve it
Please help

[2020-10-15 18:16] jld3103 commented on #519
Can this be closed?

[2020-10-15 18:37] jld3103 commented on #521
I took your code and changed it a little an created that PR. It now also works on windows

[2020-10-16 02:59] #519 closed

[2020-10-16 12:54] jld3103 commented on #522
I thought about it and I'd prefer to not download tools on the users behalf. It would be very inconsistent, because wix is basically the only thing we can download for the user. So I would not implement it, but you can open a PR for it if you want to and then we can look at your approach.

[2020-10-16 12:56] jld3103 commented on #516
With `hover build -h` you can see a list of build targets. They include AppImage, deb, pkg, rpm and snap

[2020-10-16 12:56] #516 closed

[2020-10-16 13:11] JanezStupar commented on #444
@pchampio ultimately I had to use a different library for MacOS, but your advice was invaluable. Take care!

[2020-10-16 13:51] JanezStupar opened #524 "Hover: Is it possible to add docker build dependencies without forking Hover?"
The project I am working for requires additional build dependencies for a plugin. What I have gathered so far, to install say `GTK-2` into docker image I would have to fork the Hover project to edit the dockerfile to add the required dependency.

## Describe the feature you'd like

Having an ability to specify a local dockerfile or some other way to configure build dependencies.

[2020-10-16 13:54] jld3103 commented on #524
Currently there is no other way than downloading the hover source, changing the Dockerfile and then building the docker image. In previous versions the Dockerfile was added to your project so you could edit it, but that brought some problems.

[2020-10-16 14:08] jld3103 commented on #524
How are you using hover? If you use it in a CI/CD you can use the hover docker image as base and install everything on there

[2020-10-16 14:45] gedw99 commented on #522
ok cool.

i will do a PR. Might be a while as in the middle of other code.

[2020-10-17 09:39] JanezStupar commented on #524
@jld3103 I am currently using it manually via my development machine, but I am going to be using it as a part of my CI setup once I get that far.

[2020-10-20 07:07] JanezStupar commented on #461
Whats the status of this issue? How likely is it that this gets wrapped up in near future?

[2020-10-20 12:30] JanezStupar opened #525 "Hover 0.44.0 segfault on `hover run` in Linux"
[code]

Output of `hover run`. Note that the same process works fine with hover `0.43.0`
[code]

[2020-10-20 12:32] jld3103 commented on #525
Please run `flutter clean`, `rm go/build -rf` and `rm ~/.cache/hover/engine` and try again. In my experience that fixes it

[2020-10-20 12:36] jld3103 commented on #525
If that doesn't work please create a new flutter project and add hover to. Then try to run it

[2020-10-20 12:36] JanezStupar commented on #525
Copy that!

[2020-10-20 12:44] JanezStupar commented on #525
I tried all your suggestions from this thread and previous ones. All leads to segfault.

I also created a new flutter project:
[code]

And hover run:
[code]

[2020-10-20 12:46] jld3103 commented on #525
Sorry I have no idea. You can try to debug it using gdb and loading the binary manually or try the release mode.

[2020-10-21 08:52] JanezStupar commented on #525
This is what I got with gdb:
[code]

[2020-10-21 11:38] JanezStupar commented on #525
@jld3103  `hover run --release` works fine for the test project and for my actual project.

Is the `release` mode used by builds too? Or is this something I need to specify manually?

I would say that this is an okay workaround for the time being - as I am usually working with the `flutter run` and only use hover for either wokring on plugin related features or for doing releases.

But I would sti

[2020-10-21 12:16] MathiasDeWeerdt opened #526 "Cross-compilation not working using docker"
## Hover doctor

[code]

## Error output

I could be wrong but I think that hover supports cross-compilation using docker?

[code]

[2020-10-21 13:14] jld3103 commented on #526
We recently switched to AOT builds which are currently only possible to build on the host OS. It is possible using wine/darling, but not yet. You need to add `--debug` to get it working like previously. Then you get the same as before

[2020-10-21 13:29] jld3103 commented on #525
So `build` does the same as `run --release` except that it doesn't start the binary. The only thing broken is debug builds right?

[2020-10-21 13:39] JanezStupar commented on #525
Yes, that is correct.

[2020-10-22 07:06] CypherpunkSamurai opened #527 "Hover run dosent work in windows with golang version 1.15"
## Hover doctor

[code]

## Error output

Using `hover run` to build my application, I get the following
error:

[code]

I'm using golang version 1.15
[code]
[code]
gcc is installed and works as expected.
[code]

[2020-10-24 05:49] jonas1-4 commented on #525
Have the same problem after I reinstalled my os
I also ran `flutter clean`, `rm go/build -rf` and` rm ~/.cache/hover/engine ` but still doesn't work
if I run` hover run --release` it also works for me

[2020-10-24 09:39] jld3103 commented on #525
This has nothing to do with android in any way. It's weird that I can't reproduce it at all, but I'll try

[2020-10-24 10:39] jld3103 commented on #525
On what channel are you? I'm on master so that may be why it works for me. Can you try switching to master and see if that works?

[2020-10-24 11:16] jld3103 commented on #525
The channel doesn't seem to matter. Tried beta and stable and they both work

[2020-10-24 17:04] jonas1-4 commented on #525
I changed to version 0.43.0 and it works fine.

Sry not sure how i can switch the channel.

[2020-10-24 17:13] jld3103 commented on #525
Sorry I meant the flutter channel

[2020-10-24 17:14] jld3103 commented on #525
A fix for this issue would be changing back the debug builds to the official engine builds which are used prior to hover 0.44.0. That would also fix another issue with cross-compilation for darwin.

[2020-10-24 23:59] jld3103 commented on #525
Can you both try https://github.com/go-flutter-desktop/hover/pull/170 ? That should fix everything. Please also verify that release still works.

[2020-10-25 00:52] jonas1-4 commented on #525
Sry it still doesn't work

[2020-10-25 09:57] jld3103 commented on #525
Ah yes you need to clean the engine cache again and the build directory to be sure

[2020-10-25 16:25] jonas1-4 commented on #525
It still doesn't run
when i change the `--observatory-port`   it does work fine

[2020-10-25 16:37] jonas1-4 commented on #525
Weird. After I run hover once with another observatory-port i can run it normally even the release version (0.44) works

[2020-10-25 16:45] jld3103 commented on #525
That's really weird. Doesn't make sense to me at all

[2020-10-25 17:42] jonas1-4 commented on #525
Yeah I even created a new Project to test it again and hover 0.44 runs normal even if it uses the old port again
so changing `--observatory-port` fix it i guess
anyway thank you for all the help and for hover its a really awesome project

[2020-10-25 17:45] jld3103 commented on #525
@JanezStupar can you also try that?

[2020-10-26 03:28] edTheGuy00 opened #528 "Enlarged and blurry texts on Release and Release-Debug builds"
I'm not sure if this is an issue with Flutter itself or Hover, The only issues I found are related to the web and Chrome [32274](https://github.com/flutter/flutter/issues/32274), [58159](https://github.com/flutter/flutter/issues/58159). So far it appears to be only on macOS, but I will double check on Windows

This is how my text looks like when running just `hover run`

<img width="435" alt="Scre

[2020-10-26 09:48] JanezStupar commented on #525
Works fine with channel beta after cleaning the caches.

Also works fine with channel master.

Thank you very much!

[2020-10-26 11:45] JanezStupar commented on #525
WRT build process, linux build works correctly (and they didn't previously - so thats a bonus). Docker builds don't work due to AOT (I hope this gets resolved soon) and I could not test builds on windows and darwin ATM...

Will get back once I set up my new macos environment.

[2020-10-26 16:13] novolei commented on #527
I had the same issue on Widnows10

[2020-10-26 16:14] novolei commented on #527
`F:\desktop\examples\stocks>hover doctor
hover: Cannot obtain version information from hover build. To resolve this, please go-get hover using Go 1.13 or newer.`

[2020-10-26 16:37] jld3103 commented on #527
You need to install hover with: `GO111MODULE=on go get -u -a github.com/go-flutter-desktop/hover`.

[2020-10-26 16:37] #527 closed

[2020-10-26 16:38] jld3103 commented on #527
To use this on windows use `set GO111MODULE=on` before. I guess that is what you are missing.

[2020-10-27 15:29] JanezStupar commented on #525
This is the output on Mac for `hover run`:
[code]

[2020-10-27 16:06] jld3103 commented on #525
Release works? I will spin up my MacOS VM and fix it soon

[2020-10-28 03:20] novolei commented on #527
works now, thanks for your help!

[2020-10-28 10:26] JanezStupar commented on #525
Yes, release works.

BTW... how do you run hover in Macos VM? I am getting OpenGL errors (similar to Windows VM in virtualbox) with my QEMU mac VM.

[2020-10-28 10:44] jld3103 commented on #525
I only use it for building

[2020-10-28 11:51] fanlide opened #529 "Call Dart from Golang crashes in debug mode"
## Hover doctor

[code]

## Error output

When I run a program using `hover run`, calling dart from golang in the way shown in the example will crash, but not when `hover build windows` is packaged
error:

[code]

[2020-10-28 13:07] pchampio commented on #529
Please check https://github.com/JanezStupar/flutter_systray for a systray plugin
More information about correct thread handling can be found in: https://github.com/go-flutter-desktop/go-flutter/issues/444

Still go-flutter shouldn't put the embedder in a `Check failed` status. This will have to be investigated in the future.

[2020-10-28 13:16] pchampio commented on #529
Maybe
https://github.com/go-flutter-desktop/go-flutter/blob/master/messenger.go#L58
and
https://github.com/go-flutter-desktop/go-flutter/blob/master/messenger.go#L74
should be called in the same manner as:
https://github.com/go-flutter-desktop/go-flutter/blob/master/messenger.go#L130

[2020-10-28 13:27] pchampio commented on #528
I have no idea of where it could come from.
Maybe manually set the `flutter.ForcePixelRatio(2.0)` option ?
https://github.com/go-flutter-desktop/go-flutter/wiki/Options

[2020-10-28 14:49] fanlide commented on #529
@pchampio I tried https://github.com/JanezStupar/flutter_systray/tree/master/example too

[2020-10-28 15:09] pchampio commented on #529
And you have the same results?
Did you modify `JanezStupar/flutter_systray` ?
Could you create a simple plugin (without) systray that reproduce this issue ?
Thanks

[2020-10-28 18:26] jld3103 commented on #486
https://github.com/flutter/flutter/projects/181#card-48274867

[2020-10-29 02:36] fanlide commented on #529
Plase direct operation `JanezStupar/flutter_systray/example`

[2020-10-29 04:44] fanlide commented on #529
I tried the example of `JanezStupar/Ffltter_Systray` and got the same result.

The  [`fanlide/go-flutter-systray`](https://github.com/fanlide/go-flutter-systray) is plugin  I wrote. It's not based on `JanezStupar/Ffltter_Systray` modification.

You can `hover run` to run their examples, and they all have this problem when they click on the menu.

[2020-10-29 04:47] fanlide commented on #529
@pchampio I'm sure `hover build windows` won't have this problem because I'm already using `fanlide/go-flutter-systray`. But this somewhat affects the development.

[2020-10-29 07:23] edTheGuy00 commented on #528
@pchampio Whatever value I set, the Release build is still noticeable larger and pixelated compared the Debug version. Might it be related with this PR? https://github.com/go-flutter-desktop/go-flutter/pull/458

[2020-10-29 08:23] edTheGuy00 commented on #475
Currently I have a `Makefile` that just replaces the contents of `hover.yaml`.

I was looking though the code and saw that [`"hover.yaml"`](https://github.com/go-flutter-desktop/hover/blob/master/internal/config/config.go#L76) is just hardcoded in there.

Ideally, a `--flavor` flag can be added on [run.go](https://github.com/go-flutter-desktop/hover/blob/master/cmd/run.go) and [build.go](https://g

[2020-10-29 09:02] jld3103 commented on #475
That sounds better than my idea, especially because backwards compatibility is preserved

[2020-10-29 10:33] pchampio commented on #528
@edTheGuy00 not its not related, `ForcePixelRatio` overwrite the logic in #458

Wait, this is not the same as

Screen Shot 2563-10-26 at 10 03 29

Do you have the issue with: `hover build darwin-dmg --debug` ??

[2020-10-29 10:49] edTheGuy00 commented on #528
@pchampio both `hover build darwin-dmg` and `hover build darwin-dmg --debug` have the same result.

The other thing I noticed is that even the Application Name text on the Title Bar comes out pixelated

`hover run`
<img width="66" alt="Screen Shot 2563-10-29 at 17 38 59" src="https://user-images.githubusercontent.com/16095735/97558545-d6c48600-1a0e-11eb-8dfd-f4cb8f706447.png">

 `hover build darwi

[2020-10-29 12:00] pchampio commented on #528
Using `hover build darwin  --debug` (No dmg packing!) can you and execute the program using `./go/build/outputs/darwin/{your_app}` and check if you have the same result ?

[2020-10-29 12:18] edTheGuy00 commented on #528
Yea, this works, it looks normal (not enlarged and pixelated)

[2020-10-29 14:20] pchampio commented on #528
Then the issue comes from the dmg packaging.
@jld3103 do you have any idea ?

[2020-10-29 15:22] jld3103 commented on #525
This is not resolved. The PR didn't land and it has still some errors. I would keep this open until the actual error is fixed

[2020-10-29 15:25] jld3103 commented on #528
Could this be the same? https://github.com/IJHack/QtPass/issues/355#issuecomment-374162323

[2020-10-29 16:20] jld3103 commented on #528
To try if it fixes it put
[code]
into the `Info.plist` dict.

[2020-10-29 16:48] edTheGuy00 commented on #528
@pchampio @jld3103  Ok, adding

[code]

Fixes the issue.

[2020-10-29 16:59] jld3103 commented on #528
Great. I'll add it to the standard template

[2020-10-29 16:59] #528 closed

[2020-10-29 17:16] #523 closed

[2020-10-29 17:29] jld3103 opened #530 "Update MacOS minimum version"
The flutter engines are built against 10.11, but we link with a minimum version of 10.10, because the docker image doesn't support newer versions yet. Need to update the version once it's possible, because the linker is complaining.

[2020-10-31 13:25] JanezStupar commented on #526
@jld3103 doesn't `--debug` also add the terminal window with outputs?

[2020-10-31 13:26] #525 closed

[2020-10-31 13:27] jld3103 commented on #526
I'm not using windows, but I remember that there was something like that.

[2020-10-31 13:30] jld3103 commented on #526
Ok just looked at the code. This will be a small change

[2020-10-31 13:37] jld3103 commented on #526
I will also add a message that explains that users should use jit-release for cross-compilation builds.

[2020-10-31 13:57] JanezStupar commented on #526
I find the terms acceptable!

I love the docker build feature. And the performance is good enough. Of course the AOT with docker builds will be very dank when it lands, but you have just alleviated my worst fears ATM.

So, cheers!

[2020-11-01 19:52] pchampio commented on #510
manually set an icon works.

Without additional information, we are unfortunately not sure how to resolve
this issue. We are therefore reluctantly going to close this bug for now. Please
don't hesitate to comment on the bug if you have any more information for us; we
will reopen it right away!
Thanks for your contribution.