[2019-07-25 12:42] Drakirus commented on #209
Yea, Yea!
I'm not doing any beaking changes without your agreement!
And Stuart's arguments was primarily aimed for plugin, I took a setup forward and proposed a beaking change on hover.

@GeertJohan do you agree with Stuart's point on go-flutter plugin? (omit https://github.com/go-flutter-desktop/hover/pull/13, as it's related but not the initial issue)

[2019-07-25 12:47] Drakirus commented on #205
go-flutter plugins are not compatible with [FDE](https://github.com/google/flutter-desktop-embedding).

*opinion*: `desktop` is too generic, we must specialize the name.

[2019-07-25 12:51] stuartmorgan commented on #209
Apologies if the title caused confusion; I was assuming that `hover` would be expecting Go plugin implementations to be in a `desktop` folder, rather than that just being a convention.

[2019-07-25 13:02] stuartmorgan commented on #205
To clarify slightly: the plugin API is part of what moved to the Flutter project, so it's not really "FDE plugins" anymore. They would just be Flutter plugins, with support for one or more of Flutter's desktop platforms.

[2019-07-25 15:10] #210 closed

[2019-07-25 15:12] Drakirus commented on #102
![2019-07-25_17-11](https://user-images.githubusercontent.com/7476655/61886106-5ce64880-aeff-11e9-8ecb-8b676c6af0d2.png)
Updated the demo. Added an very simple videoplayer

[2019-07-25 15:19] Drakirus commented on #134
Progress on #102 has been made.
The Texture api is in beta release (use `hover run -b '@feature/gl_texture'` to test it)

The [texture_tutorial](https://github.com/go-flutter-desktop/examples/tree/feature/gl_texture/texture_tutorial) has been updated with a video example.

What is left to do is to align yourself with the way the https://github.com/flutter/plugins/tree/master/packages/video_player

[2019-07-25 15:22] Drakirus commented on #188
Progress on #102 has been made.
The Texture api is in beta release (use `hover run -b '@feature/gl_texture'` to test it)

The [texture_tutorial](https://github.com/go-flutter-desktop/examples/tree/feature/gl_texture/texture_tutorial) has been updated with a video example.

For a cross-platform webcam go library, https://github.com/hybridgroup/gocv is your best bet!

@joeblew99 if you want to start

[2019-07-25 18:21] joeblew99 commented on #188
thanks @Drakirus  fantastic support.

will try to get something working

[2019-07-26 18:38] wud147 commented on #179
Hi, have you figured out the entitlement file that is working for you? I met the same issue:(

[2019-07-26 18:41] alexelisenko commented on #179
@wud147 Yes, You need to codesign with the entitlement file:

`codesign -s "Developer ID Application: <APPLE DEVELOPER IDENTITY>" -fv --entitlements entitlements.xml --deep --options runtime MyAPP.app`

The entitlement file:

[code]

[2019-07-26 20:05] MostHated opened #212 "Possible to use webview in a go-flutter app?"
I was wondering if it's possible to use webview in a go-flutter app? I had tried but I was getting the following error:

[code]

I looked around and was able to technically find a [fuchsia_webview_plugin](https://github.com/fuchsia-rs/topaz-rs/tree/master/public/dart/fuchsia_webview_flutter), but I have yet to be able to get it to work because it required fidl_fuchsia_io and that starts getting in

[2019-07-27 20:34] Drakirus commented on #212
There is no support of webview in go-flutter. And I don't think it's possible to implement such features without a major work-account.

https://github.com/go-flutter-desktop/plugins/tree/master/url_launcher

Use the plug-in mentioned above. To me, a full-fledged browser is far superior than a webview.

[2019-07-27 23:36] MostHated commented on #212
I appreciate the reply. That url_launcher just opens an external browser, doesn't it? It doesn't allow you to display something within the actual application? Displaying a full browser is great for some things, but unfortunately, it is pretty much the opposite of what I was hoping to achieve. I was just wanting a few inline areas of my applications interface to be able to display a view of a page

[2019-07-28 03:47] Drakirus commented on #212
Yes.

No.

Well there is the texture plug-in, but that's not the intended use. https://github.com/go-flutter-desktop/examples/tree/feature/gl_texture/texture_tutorial

I honestly think that implementing a webview in go-flutter core or in a go-flutter plug-in is a Very bad idea for maintenance purposes.

Closing this issue because it's more a question than a request. (reopen if needed)
The flutter

[2019-07-28 03:47] #212 closed

[2019-07-29 01:05] chunhunghan commented on #205
I found a applescript command

    set frontmost to true

might useful here https://apple.stackexchange.com/questions/34810/create-a-command-to-focus-a-specific-window-from-anywhere-in-os

    osascript -e 'tell application "System Events" to tell process "iTerm2"' \
		   -e 'set frontmost to true' \
		   -e 'if windows is not {} then perform action "AXRaise" of item 1 of windows' \
		   -e 'end t

[2019-07-29 11:27] CaiJingLong opened #213 "[Need help] About Hot reload in android studio."
I have seen that hover can be connected to vscode in a certain way ,as #129 , and even theoretically can complete this process through plugins?
So Android Studio/Intellij Idea can do this?

[2019-07-29 11:35] Drakirus commented on #213
I'm not understanding the question.

If you are speaking about hot-reload using Intellij, the current flutter extension dosn't support it.

An issue has been opened on the flutter-intellij issue tracker, please follow: https://github.com/flutter/flutter-intellij/issues/2250. If the feature gets implemented, please report back on this issue and we will provide the instruction to 'connect' hover to

[2019-07-29 11:35] #213 closed

[2019-07-29 16:02] deromask commented on #156
Does Mac and Linux supported yet? Still get console windows in mac.

[2019-07-29 16:10] Drakirus commented on #156
@deromask: Answer copy/pasted from zserge/webview issue 13:

On windows there are two subsystems, console and windows. They often have two different entry points (main vs WinMain). But on MacOS it's all the same executable.

The reason you see a terminal window is because you launch the binary directly and not as an app bundle.

Try running the following commands:
[code]

Now in Finder you should

[2019-07-29 16:32] deromask commented on #156
@Drakirus Thank you very much!

[2019-07-29 19:53] Drakirus commented on #177
I'm pleased to see the community making plugins. The proof of concept made by zephylac is quite impressive.
Closing the issue, please use the [zephylac/statusbarcolor](https://github.com/zephylac/statusbarcolor/issues) issue tracker.

[2019-07-29 19:53] #177 closed

[2019-07-30 08:54] zephylac commented on #205
Either you follow dlgs logic and use osascript or you can try to re-implement the whole package in glfw. Which would reduce the dependancy graph.

For osascript here is an example :
[code]
This solution kinda works, it set the file dialog window above all the others but doesn't focus it and when you are using gesture to switch between desktop/application. It set the file dialog above all the other

[2019-07-30 09:16] Drakirus commented on #205
@zephylac

Aren't all file picker like that?
On Linux, with my setup, the browser file picker behavior is similar to your description.

[2019-07-30 09:57] zephylac commented on #205
It would seems like it but the go pkg which is [dlgs](https://github.com/gen2brain/dlgs) doesn't let you focus the windows. The only issue with that is that you can't press ESC until you have clicked on the dialog. osascript is specific to Mac OS meaning we would have to find fixes for Linux & Windows. This solution is kinda makeshift repair. I don't like the way it's being handled.
I guess we hav

[2019-07-30 10:53] Drakirus commented on #205
@chunhunghan @zephylac, the plug-in does work, a beta version can be released.

If @miguelpruivo is still OK, @chunhunghan you can create a PR on https://github.com/miguelpruivo/plugins_flutter_file_picker under the `beta` branch. The content of https://github.com/chunhunghan/file picker can be placed under any directory (I strongly suggest `go-desktop`) just make sure to update the Readme with th

[2019-07-30 13:22] MostHated opened #214 "Dragable borderless window"
Hey there,
    I see there is a borderless window which makes an app look really nice, but then moving it around seems to be a bit difficult. Is there any sort of way built in to have an area at the top in which is still dragable that I might be missing, or is that going to have to be custom within glfw?

Thanks,
-MH

[2019-07-30 17:02] Drakirus commented on #214
As always.. You just have to build a plugin!

I took this real-world problem and made a GLFW example plugin. You can find the example under the name [dragable_borderless](https://github.com/go-flutter-desktop/examples/tree/master/dragable_borderless)

[2019-07-30 17:02] #214 closed

[2019-07-30 17:26] Drakirus commented on #214
wiki ref: https://github.com/go-flutter-desktop/go-flutter/wiki/GLFW-Plugin-example#case-study-2

[2019-07-30 19:28] MostHated commented on #214
This is fantastic, thank you very much! I do want to report that I have implemented it and while it does work, strangely, whenever I grab to drag it, that particular window drops to about 1 fps. Not just the output of the display of the window, but moving the window around my actual screen space.

You can see what I mean here https://i.imgur.com/cAKz1EG.gifv

From the time I opened it and first mo

[2019-07-30 19:45] Drakirus commented on #214
If you are making [sync platform calls](https://godoc.org/github.com/go-flutter-desktop/go-flutter/plugin#MethodChannel.HandleFuncSync), the app will stop rendering frames until the platform calls is completed. I don't really have a solution for your app's sluggishness

[2019-07-30 19:53] MostHated commented on #214
Hmm... well, technically it *shouldn't* be making lots of them. I just make one at the start of the app to get data to populate the list of cards on the main screen. That doesn't necessarily mean that it isn't doing more than I think it's doing. I had a pretty strong feeling that the cause was of my own doing. I attempted to introduce the Provider package into my app last night, so there is a good

[2019-07-30 19:55] Drakirus commented on #214
are you using [HandleFuncSync](https://godoc.org/github.com/go-flutter-desktop/go-flutter/plugin#MethodChannel.HandleFuncSync) or [HandleFunc](https://godoc.org/github.com/go-flutter-desktop/go-flutter/plugin#MethodChannel.HandleFunc)?
If you are using HandleFuncSync I strongly recommend you to switch to HandleFunc

[2019-07-30 20:08] Drakirus commented on #211
Fixed by https://github.com/go-flutter-desktop/go-flutter/commit/0a081107c1d7102e2311e75e6b90b7b941db615e

[2019-07-30 20:08] #211 closed

[2019-07-30 20:11] MostHated commented on #214
I am using this below, I believe it was just what I found in the demo plugin.

[code]

[2019-07-30 20:16] Drakirus commented on #214
Your app's sluggishness doesn't comes form the platform messages.

The issue might come from the the [AppBarDraggable plugin while loop](https://github.com/go-flutter-desktop/examples/blob/c3ccd55d97496213c15b9e923e9722d1ce720e5d/draggable_borderless/desktop/cmd/options.go#L47-L60), but I don't know how to solve the your particular issue.

[2019-07-30 20:18] Drakirus commented on #214
Does the https://github.com/go-flutter-desktop/examples/tree/master/draggable_borderless works for you? (no sluggishness)

[2019-07-30 20:24] MostHated commented on #214
Actually, I just tried it out, it does the same thing.

Here are my specs.

[code]

[2019-07-30 20:34] Drakirus commented on #214
I have read: https://stackoverflow.com/questions/46203809/glfw-mouse-event-lag-with-window-drag/46205940#46205940

The author experiences the same issue:

Sorry I cannot help you.

[2019-07-30 20:37] MostHated commented on #214
I understand. I appreciate all you have done so far,   it is no problem.

[2019-07-30 22:01] Drakirus commented on #203
## Proposal:

the hover tool adds another template file named `hooks.go` in the `./desktop/cmd` directory.
The content of the file is the following:
[code]
---

go-flutter has a new file named `hooks.go` with the following content:
[code]
---

Those file aren't compiled if the `-tags=hooks` is provided.
Plugin can then satisfy the `Hook` interface to run post build copy.

Example of plugin with ho

[2019-07-31 16:52] stuartmorgan commented on #205
FWIW, getting correct behavior on macOS using that approach is going to be impossible. It's launching a completely separate process to show the dialog box, which means that it can never have the correct (window-level or application-level) modality, and if it's not system-model you'll have issues with anything application-level (hiding the app, app switcher, etc.) That Go package might make sense i

[2019-07-31 20:58] miguelpruivo commented on #205
Currently, what’s the advantage of Flutter GO vs the Flutter Desktop?

[2019-07-31 21:12] Drakirus commented on #205
@miguelpruivo I have written a comment in [#191](https://github.com/go-flutter-desktop/go-flutter/issues/191#issuecomment-511384007) about go-flutter and Flutter Desktop (previously FDE).

[2019-07-31 21:46] bus710 commented on #120
(Sorry for commenting in this closed ticket if anyone is bothered)

For those who don't want to install Roboto (and use Ubuntu),

[code]

Having the fontFamily **Ubuntu** as the sample above in main_desktop.dart shows good result for me.

[2019-08-01 09:51] zephylac commented on #186
I'm using MacOSX 10.13.6 but I didn't had the issue.
But with the fix below I don't have any drawbacks, maybe this will fix your issue.

First clone [go-flutter repo](https://github.com/go-flutter-desktop/go-flutter)
Then edit main.go of one of your app or example app like that :
[code]
Note that `../../../go-flutter` is where is located you local go-flutter with the following modification.

Go to

[2019-08-01 11:18] Drakirus commented on #186
@alexelisenko sorry I didn't understand your  issue. The comment of @zephylac is correct.

[2019-08-01 15:19] Drakirus commented on #175
wip in: #215.
Try it out with `hover run -b "@feature/event-loop-interop"`

[2019-08-02 01:09] miguelpruivo commented on #205
@Drakirus thank you for clarifying. I got the concept from the discussion here and README file, however, I was looking for a more detailed explanation about the main reasons that took you to work on this, and #191 explained it quite well. 👍

However, I must admit I would like to give it a try before merging it, but definitely I don't see a reason why it shouldn't as it also adds more value for GO-

[2019-08-02 01:12] miguelpruivo commented on #205
@Drakirus thank you for clarifying. I got the concept from the discussion here and README file, however, I was looking for a more detailed explanation about the main reasons that took you to work on this, and #191 explained it quite well. 👍

However, I must admit that I'm going to give it a try before merging it, but definitely I don't see a reason why it shouldn't as it also adds more value for G

[2019-08-02 01:16] MostHated opened #216 "Can't pass --track-widget-creation with hover run, is there another way?"
Hey there,
   I was trying to check some things in devtools but it said I needed --track-widget-creation enabled, so I tried including it using ```hover run --track-widget-creation``` but then I end up with an unknown flag error. Is there another way to enable it that I am not seeing? I looked through the h menu in the console but none of them jumped out as something comparable. I checked through

[2019-08-02 08:01] Drakirus commented on #216
Whenever you have request on hover, please check the latest version of hover.
Updating hover to the latest version will fix your issue. https://github.com/go-flutter-desktop/hover/commit/b38033fe91baf13046e2a7788859e6b58f4284c6 .
The `--track-widget-creation` flag is set by default when running `hover run`.

[2019-08-02 08:02] #216 closed

[2019-08-02 08:03] Drakirus commented on #216
For the side question:

It's a duplicate of: https://github.com/go-flutter-desktop/go-flutter/issues/213

[2019-08-02 22:47] Drakirus commented on #165
I took the liberty to push changes to the website repo.

Duplicating wikis isn't maintainable, I prefer to have everything on github. That why my changes are include redirecting the user the the github wiki.

About the blog, with medium I really thing that having personal hugo blog aren't made for massive sharing, deleted the hover.build link to the empty hover.build/blog site.

Overall, maintaini

[2019-08-03 07:53] CaiJingLong opened #221 "Delete all chars and input a new char will crash."
my flutter env:

[code]

The log :

[code]

using code: https://github.com/fluttercandies/JsonToDart/tree/master/Flutter/desktop

---

Reproduce gif like this:

![Kapture 2019-08-03 at 15 50 38](https://user-images.githubusercontent.com/14145407/62409229-bb4dae00-b606-11e9-9a1e-4da97df2c778.gif)

[2019-08-03 18:53] jld3103 commented on #58
At first I want to say I'm new to go-flutter, but I know that the project exists for some time.
I'm very used to the "official" desktop embedder, but as I was exploring the project I saw that it implements much more than the "official" embedder. That's why I'm so interested in it.

If I understood it correctly it should be possible to compile the go plugins to shared libraries and use them using t

[2019-08-03 22:16] Drakirus commented on #58
@jld3103 as my last comment said, I have no idea how dart FFI works.
My basic understanding is that the dart plugins can be made from native C source code through a binding layer.

Yes I thinks it's right, but at the moment only C/C++ integration is possible. Just to clarify plugin made to work on `dart:ffi` aren't the same as flutter plugin, `dart:ffi` plugin by pass the flutter layer and talk di

[2019-08-03 22:18] jld3103 commented on #58
Some examples: https://github.com/mjohnsullivan/ffi

[2019-08-03 22:20] Drakirus commented on #58
@jld3103 thanks for the example, but...
It's not related to go-flutter, I mean, I cannot do anything, please follow https://github.com/flutter/flutter/issues/7053
you are going to find peoples way more involved than us on `dart:ffi`

[2019-08-03 23:27] Drakirus commented on #221
"Fixed" by https://github.com/go-flutter-desktop/go-flutter/commit/83358fe362d0d4c48d8b2b67fd0ea9f90946ad41 tagged into `v0.27.1`

It's not a go-flutter error the flutter framework one, the framework is sending wrong value of text editing range.
More info on https://github.com/flutter/flutter/issues/20016

On the go-flutter side, the go-flutter embedder will now detect wrong text editing range sen

[2019-08-03 23:27] #221 closed

[2019-08-04 11:35] maheshbhattaraai commented on #156
How to update previous installed device.

This gives following error
[code]

Thank You

[2019-08-04 11:46] CaiJingLong opened #222 "Input has a crash error."
Sometimes, I get the error when delete or input new char.
This error does not always occur.

[code]

[code]

[2019-08-04 12:29] aixi2494 opened #223 "Chinese random code"
![image](https://user-images.githubusercontent.com/15819365/62423704-79039a00-b6f6-11e9-90df-c6296354dade.png)

[2019-08-04 12:41] Drakirus commented on #156
@mar

[code]

[2019-08-04 13:00] Drakirus commented on #223
The default Roboto font doesn't seem to support chine alphabet.

Please switch to a font that supports Chinese characters.

[2019-08-04 14:08] aixi2494 commented on #223
Thank you
Changing Fonts is effective

[2019-08-04 14:08] #223 closed

[2019-08-04 14:24] maheshbhattaraai opened #224 "Any Future support for printer"
This is not about any issue.

If it support with printer and Excel file export import then it will be great resource for flutter desktop.
Thank You

[2019-08-04 14:26] maheshbhattaraai commented on #156
Thanks for quick response @Drakirus  is there any planning to support printer or thermal printer. It will be great if there is support for printer and excel file .

[2019-08-04 15:43] zephylac commented on #222
Can you reproduce the error ?

[2019-08-04 16:03] zephylac opened #225 "TextInput error"
## Flutter version

[code]

## Steps to Reproduce
Using MacOS I tried to delete input text using `cmd ⌘` + `backspace``

go-flutter: handler for method 'TextInput.setEditingState' on channel 'flutter/textinput' returned an error: text editing state BUG, text selection isn't possible: selectionBase:-1, selectionExtent:-1. Please open a issue on flutter/flutter

[ERROR:flutter/lib/ui/ui_dart_state.c

[2019-08-04 17:16] Drakirus commented on #224
As always.. You just have to write a plugin!
For more information about plugins, read our [wiki](https://github.com/go-flutter-desktop/go-flutter/wiki)

Golang supports ESC-POS thermal printer via [this library](https://github.com/seer-robotics/escpos).
Golang supports Excel file export import  via [this library](https://github.com/360EntSecGroup-Skylar/excelize)

[2019-08-04 17:17] #224 closed

[2019-08-04 17:21] Drakirus commented on #225
I 'fixed' the issue yesterday: https://github.com/go-flutter-desktop/go-flutter/issues/221

[2019-08-04 17:21] #225 closed

[2019-08-04 18:03] Drakirus commented on #222
Does https://github.com/go-flutter-desktop/go-flutter/commit/4707364239ca3a1c435c14aece5f3e8eb6175076 fixes the issue ?

[2019-08-04 19:36] Drakirus commented on #221
I made final adjustment in https://github.com/go-flutter-desktop/go-flutter/commit/194612a55026b5269a17ad5bf3497b04a34121f4
tag `v0.27.4`

[2019-08-05 00:25] CaiJingLong commented on #221
This crash will not be repeated in 0.27.1 in the same way.

[2019-08-05 00:43] CaiJingLong commented on #222
It seems to be ok.
But because I have no definite steps to reproduce the problem, I am not sure if I can close this issue.

[2019-08-05 06:12] #222 closed

[2019-08-07 03:10] ResetPower opened #227 "[Question] How can I build an x86 exe to run on the x86 devices?"
Hi! I am a Chinese, I can't speak English very well.
I want to build an x86 exe to run on the x86 devices. I develop on macOS, I create a Windows x64 virtual machine to develop and test the Windows editions. But some user uses x86 devices. What should I do?

[2019-08-07 09:11] Drakirus commented on #227
duplicate of #127 #161 # 195

[2019-08-07 09:11] #227 closed

[2019-08-09 08:25] nowind opened #228 "crash in osx10.14.5 when resize main window"
Following the guideline,i run "hover run" in examples project / pointer_demo ,the main window opened,but carsh happens when i resize the window with following massage:
hover: app 'pointer_demo' exited with error: signal: segmentation fault

[2019-08-09 09:21] zephylac commented on #228
Could you post more info about your error ?

I'm currently using MacOS 10.14.6 and I'm not having any issue when resizing. Maybe if you update your OS it won't happen again

[2019-08-09 10:40] Drakirus commented on #228
This is a longstanding issue of the Flutter Engine.
Duplicate of https://github.com/go-flutter-desktop/go-flutter/issues/133

[2019-08-09 10:40] #228 closed

[2019-08-11 17:02] jld3103 opened #229 "Remove main_desktop.dart"
The main_desktop.dart is not really needed.
I do the debug default target platform override also on mobile and it doesn't do anything bad or unexpected.

# Proposal
If no main_desktop.dart file is found, use the main.dart file as target.

[2019-08-11 17:04] jld3103 commented on #229
The main problem I have is, that Flutter for web compiles all main*.dart files. As the main_desktop.dart file is not necessary for go-flutter, we could just remove it.

[2019-08-11 17:22] Drakirus commented on #229
You can use the `--target` if you want to have a single entry-point (main.dart).
[code]
`hover build --target=lib/main.dart` - `hover run --target=lib/main.dart`

As to remove the `main_desktop.dart` file, we might remove it in once desktops are 'official' target platform.
At the moment, having different entry-points for desktop and mobile is the best way to keep a consistent experience, without i

[2019-08-11 17:22] #229 closed

[2019-08-11 17:35] Drakirus commented on #182
There is also a wiki page: https://github.com/go-flutter-desktop/go-flutter/wiki

[2019-08-11 17:51] Drakirus commented on #66
#134

[2019-08-11 18:06] jld3103 commented on #229
No I think main_desktop.dart can stay, but we could just use main.dart if no main_desktop.dart is provided.

[2019-08-11 18:20] Drakirus commented on #229
After giving this a quick though, I don't like to add 'magic'. There is a flag to change the entry-point, adding another way to change it could be possible, but it should say consistent.
What you are proposing is to change the entry-point through a `Convention` knowing that
there is already a `Configuration` that do the change.
The existing `Convention` ("lib/main_desktop.dart") should stay simple

[2019-08-11 18:26] jld3103 commented on #229
That would be great!

[2019-08-12 07:59] ekasetiawans opened #230 "Blank Screen When Executing Async Method at Startup"
how to reproduce,
change main method on main_desktop.dart with async
call an async method using await before runApp() , for exampe load SharedPreference.

run application using hover run and dont touch mouse or keyboard anymore, the application show blank screen until you move mouse inside application window or typing button on keyboard.

[2019-08-12 08:27] Drakirus commented on #230
can you try `hover run -b 'beta'`. (You might need to be on `flutter channel master`)

[2019-08-13 01:34] ekasetiawans commented on #230
There is no -b flags on my hover.

Here is my flutter doctor :

poetra@warmachine:/media/poetra/SSD/Project/Mobile/TSPMProduction/tspm_production$ flutter doctor
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel master, v1.8.5-pre.130, on Linux, locale en_US.UTF-8)
[✓] Android toolchain - develop for Android devices (Android SDK version 29.0.1)
[✓] Android Studio (ve

[2019-08-13 01:35] ekasetiawans commented on #230
oh I forgot to add '@beta' on hover run -b command

[2019-08-13 01:37] ekasetiawans commented on #230
UPDATE. Running with beta branch solve this issue. Thanks @Drakirus

[2019-08-13 01:40] ekasetiawans opened #231 "Warning message on hover build"
What is this warning mean?
It shown when I build or run application

[code]

[2019-08-13 07:22] Drakirus commented on #231
Not related to go-flutter or hover.

Please submit a PR or a issue to https://github.com/go-gl/glfw.
If really want to help them; find a fix, the warning comes from the [line 224 of linux_joystick.c](https://github.com/go-gl/glfw/blob/e6da0acd62b1b57ee2799d4d0a76a7d4514dc5bc/v3.2/glfw/glfw/src/linux_joystick.c#L224).

[2019-08-13 07:22] #231 closed

[2019-08-16 11:49] GeertJohan commented on #209
Running `hover init` in an app repo creates the folder `desktop` with boilerplate Go code for a `go-flutter`-based application. Just like `flutter create` creates the folders `android` and `ios` with their boilerplate code/config. The current behavior of `hover` does not conflict with `macos`/`linux`/`windows`, but it also doesn't make clear that the folder concerns go-flutter / hover code.

It wo

[2019-08-16 12:07] GeertJohan commented on #203
This is very interesting! I think that hooks via Go is very complex; it needs extra compiling, and code execution time is totally different from the rest of the plugin, which may not be immediately clear to readers of that code. On the other hand it's more cross-platform than a bash script as hook..

Anyway, before going on such an adventure, perhaps it's worth exploring the use cases a bit more?

[2019-08-16 15:59] joeblew99 commented on #207
Maybe a different repo then within the org ?

I would really like to see the polish of proper packaging.
I started to do some but got side tracked.

I was also working on auto updating functionality. Again not finished.

[2019-08-16 16:04] joeblew99 opened #233 "Window"
I am working on a project where I need to open further Windows from the main app.

The main app shows a list and when the user clicks a row I need to open a window.
When they click another row it opens another window , and so on ...

[2019-08-16 16:42] Drakirus commented on #207
@joeblew99 no it should not be in another repo of the organization.
It should be another hover command.

[2019-08-16 16:44] Drakirus commented on #233
Duplicate of #123 ?

[2019-08-16 17:23] #233 closed

[2019-08-16 20:36] Drakirus commented on #209
I like `go`, it matches [`flutter-rs`](https://github.com/gliheng/flutter-app-demo/tree/d4859b46a6492721be50418ab39424ef5fcc6db5) (where they use `rust` as a directory)

[2019-08-16 22:37] djpnewton commented on #203
basically I am using dart::ffi and have some shared libraries that need to be in the same directory as the resulting binary,

for release builds I can add the shared libraries after the build is completed but for "hover run" it makes it difficult without any way to specify to the build system what extra binaries I have and where to place them

[2019-08-18 13:19] Tokenyet opened #234 "[Windows] Error on minimization"
[code]

## Golang errors (Optional)
[code]

## Steps to Reproduce
1. Add a list tile in any flutter example.
2. Minimize window
3. Look the logging, must show an errors as above.

I used `pointer_demo`, I only added one line in the bottom of Column.
[code]

It looks no problem when there isn't enough complicated. But in my other app, this cause refresh on homepage, and let `PageView` always go to

[2019-08-18 20:54] Drakirus commented on #234
This isn't possible using glfw, we cannot add such option.

---

About your main issue, I think it appears because we are notifying the engine of an very small screen size.

@Tokenyet can you reproduce following error by resizing down the window ?
[code]

About
[code]

@GeertJohan When [this](https://github.com/go-flutter-desktop/go-flutter/blob/19ec300ac7e16fc0e4b0bc4d976a646136c5f404/glfw.go#L19

[2019-08-19 05:25] Tokenyet commented on #234
Thanks for quick reqsponse! I cannot reproduce the issue when resizing down, only minimize would cause the issue. Currently, I'm using my tricky solution to solve these problems, share here, but don't be serious to this workaround.

To listen on **resume**, I use `SystemChannels.lifecycle` and `addPostFrameCallback` to tricky update when resuming. To prevent widget(PageView) in `Build` function fr

[2019-08-19 12:08] maheshbhattaraai opened #236 "Can we close app manually??"
## Flutter version

[code]
It is not an issue. If we want to close app manually in flutter like navigator.pop how can we achieve in go flutter. Thanks Regards.

[2019-08-19 12:12] Drakirus commented on #236
[`flutter.PopBehavior(flutter.PopBehaviorClose)`](https://github.com/go-flutter-desktop/go-flutter/wiki/Options)

[2019-08-19 12:12] #236 closed

[2019-08-22 02:09] maheshbhattaraai opened #237 "How can we find specific applications sqlite file."
`If we want to remigrate then how can we do that. How Can we find this database?`

[2019-08-22 06:46] Drakirus commented on #237
I'm sorry, I don't understand your issue. Can you please add some additional info/context?

[2019-08-22 07:29] Drakirus commented on #237
Closing since it's a cross-post of https://github.com/nealwon/go-flutter-plugin-sqlite/issues/5.
Please use the plugin issue tracker!

[2019-08-22 07:29] #237 closed

[2019-08-22 15:18] Drakirus commented on #170
https://twitter.com/golang/status/1164276194524762113

[2019-08-23 03:50] maheshbhattaraai commented on #126
Please add min width and min height bound only .Not bound for Max height and width in flutter.WindowInitialDimensions() function. Which must be optional parameter for minium bounded height and width.

[2019-08-23 04:05] thavlik opened #239 "flutter: Observatory server failed to start after 11 tries"
All of the examples fail to run with hot reload on Windows 10, x64:

[code]

Cool project, by the way. Go is the clear choice for embedding. Kinda surprised google didn't push it.

[2019-08-23 06:37] Drakirus commented on #126
Glfw uses 4 parameters in SetSizeLimits https://www.glfw.org/docs/latest/group__window.html#gac314fa6cec7d2d307be9963e2709cc90
Use glfw.DontCare as the glfw says

[2019-08-23 07:28] StefanLobbenmeier opened #240 "New Plugin: uni_links"
Hi,
I will probably need to use uni_links soon-ish. That will probably require some research, so I just wanted to create this issue to collect any info I can find.

[2019-08-23 07:29] StefanLobbenmeier commented on #240
Platform specific:

Windows:
- https://stackoverflow.com/questions/80650/how-do-i-register-a-custom-url-protocol-in-windows

[2019-08-23 07:37] Drakirus commented on #239
`OS Error: An attempt was made to access a socket in a way forbidden by its access permissions.`

Info: https://stackoverflow.com/questions/2778840/socket-error-errno-10013-an-attempt-was-made-to-access-a-socket-in-a-way-forb

Use the command on terminal: `netstat -na|findstr 50300` to check if that port (50300) flutter is trying to bind to, is already in used by another service or process.

[2019-08-23 09:15] Drakirus commented on #239
This should be fixed once https://github.com/go-flutter-desktop/hover/pull/12 is merged

[2019-08-24 12:23] Drakirus commented on #234
Does `hover run -b '@fix/flutter-error-on-minimization'` fixes the issue?

[2019-08-24 12:26] Drakirus commented on #203
Once https://github.com/go-flutter-desktop/hover/pull/12#issuecomment-519438280 hit master, the `--omit-embedder ` will be available, using this flag the directory won't be deleted on.

It's a workaround (and a dirty one).

[2019-08-24 16:42] Tokenyet commented on #234
This solved my minimal test project! I think this is fixed. If I found out more complex case that would certainly break on minimization, could I reply here? or I make a new issue?

Thanks for sloving this issue 😆

[2019-08-24 16:57] #234 closed

[2019-08-24 17:00] Drakirus commented on #234
tagged into: [`v0.28.0`](https://github.com/go-flutter-desktop/go-flutter/commit/4bb040b53aa1ba6b4e50943193af93ea8f9f524f).

Please open, it's better!

[2019-08-25 06:31] Tokenyet commented on #221
Does this mean we could not use `_textEditController.clear();` now, because of this bug? I just encounter this issue, and see the log below:
[code]

[2019-08-25 11:32] jld3103 commented on #240
Linux: https://unix.stackexchange.com/a/497147

[2019-08-25 11:41] jld3103 opened #242 "Copy build files to build/desktop instead of desktop/build/outputs"
All other platforms copy their build files to ```build/platform```. Hover copies them to ```desktop/build/outputs```.
They should be under ```build/desktop```.

[2019-08-25 12:50] Drakirus commented on #242
We are considering changing directory named created by hover from `desktop` to `go`, #209.
We aren't part of the flutter team, so I don't like to interfere too much with the current directory layout.

That been said, the build directory is ignored in the `.gitignore` file, copying hover build files to `build/go` shouldn't cause any issue. It is also better for cleaning because `flutter clean` will

[2019-08-25 13:03] Drakirus commented on #221
Per the [`TextEditingController.clear` documentation](https://api.flutter.dev/flutter/widgets/TextEditingController/clear.html) says:
[code]
I guess it is working as expected^^
I've added the `go-flutter: recover from wrong editingState:` to avoid go-flutter crash.
I don't think it's an issue, just a miss uses of the Flutter framework.

[2019-08-25 14:39] jld3103 commented on #207
I think it would be better to not have to initialize the packaging, because the configuration files for will change when the pubspec.yaml changes and have to be regenerated. I would prefer something like this:
[code]

[2019-08-27 17:28] GeertJohan commented on #242
See go-flutter-desktop/hover#14

[2019-08-27 21:08] GeertJohan commented on #242
That sounds great @stuartmorgan!

I agree with @Drakirus about not interfering with the directory layout. Other directories in a flutter project are "owned" by other tools. Inside the `go` directory (now still `desktop`) we can do what we want without much chance of conflicts.

[2019-08-27 23:09] GeertJohan commented on #207
There's a lot of nice stuff in go-flutter-desktop/hover#15. Thanks @jld3103 for getting started on this story and working out a viable solution.

I've been discussing with @Drakirus about how to fit packaging into the hover cli. A number of idea's came to mind, and after some brainstorming we've come to realize some changes are required to improve how the packaging features can be used by develope

[2019-08-28 15:56] jld3103 commented on #207
@GeertJohan On mobile the version of the app changes with the version in the pubspec. The way you mentioned only generates the files once and the user would have to update the version manually.
Otherwise I agree with you, but at least the version should be generated every time.

[2019-08-28 16:05] joeblew99 commented on #207
@GeertJohan Your approach outlined above looks really good.
Like how extensible it is. I can see go-flutter being used for many diverse projects this way.

Going to try out the branch and see if i can help.

[2019-08-28 17:11] GeertJohan commented on #207
@jld3103 you mean the version number?

[2019-08-28 18:19] jld3103 commented on #207
@GeertJohan yes

[2019-08-28 20:24] GeertJohan commented on #207
@jld3103 I agree, but currently we dont have a version number compiled into the binary anyway. It's still on my wishlist though, with support for override via the --build-number and --build-name flags as well.

[2019-08-29 18:05] wurikiji opened #243 "hover run failed"
## Flutter version

[code]

## Golang errors (Optional)

[code]

## Steps to Reproduce

1. create flutter project using `flutter create project_name`
2. `cd project_name`
3. `hover init .`
4. add `lib/main_desktop.dart` file
5. run `hover run`

[2019-08-30 02:13] wurikiji commented on #243
change step 3 to `hover init project_name` fixed the issue. I misunderstood arguments as a path.

[2019-08-30 02:13] #243 closed

[2019-08-30 05:13] chunhunghan commented on #205
Thank you all you are amazing.

[2019-08-30 05:13] #205 closed

[2019-08-30 10:08] #169 closed

[2019-08-30 10:08] #239 closed

[2019-08-30 11:00] GeertJohan commented on #242
Closing this issue, we'll stick with the `go` folder for now.

[2019-08-30 11:00] #242 closed

[2019-08-30 12:43] Drakirus commented on #209
fixed by https://github.com/go-flutter-desktop/hover/pull/12

[2019-08-30 12:43] #209 closed

[2019-08-30 14:15] alexelisenko commented on #156
@Drakirus Any luck figuring out the `-mmacosx-version-min` flag issue?

At the moment, it seems to be set to whatever OS version is used to build. I could try setting the ENV variable to `CGO_CFLAGS="-mmacosx-version-min=10.11"` and do hover build, im just not sure if this variable is overwritten by the hover build process.

[2019-08-30 14:18] alexelisenko commented on #156
Perhaps this can be added to: https://github.com/go-flutter-desktop/hover/blob/df3629d6657c7e194f966478c42faa516a545ba4/cmd/build.go#L195

[2019-08-30 14:27] Drakirus commented on #156
@alexelisenko if you build your own version of hover and add the `-mmacosx-version-min=10.11` flag in build.go#L195, does it fixes your issue?

[2019-08-30 14:49] alexelisenko commented on #156
I can give it a shot. Would you be able to give instructions on building and using a custom version of hover?

[2019-08-30 14:50] Drakirus commented on #156
`git clone https://github.com/go-flutter-desktop/hover.git` `cd hover` `go install`

[2019-08-30 21:24] alexelisenko commented on #186
@zephylac @Drakirus The above fix did not work, still getting the same crash, I also tested this on 10.15, which also crashes, it seems that only 10.14 works. Any ideas are greatly welcomed!

[2019-08-30 22:13] alexelisenko commented on #186
Im starting to wonder if this is related to OSX VMs, Since my machine is on 10.14 and it works fine, and all other versions do not, could it be related to the fact that I am testing in parallels VMs?

Ive looked through GLFW and found that the default for STENCIL_BITS is 8:

[code]

[2019-08-30 22:19] Drakirus commented on #186
I was about to ask you if you where running those test in a VM. 😂
OpenGL doesn't works well on VM and hackintosh.
I'm super confident that it's a VM related issue, closing the issue since we cannot do anything.

[2019-08-30 22:19] #186 closed

[2019-08-30 23:08] alexelisenko commented on #156
I think I have it working, but need to do some more testing.

I had to add the following:

`ldflags = append(ldflags, "-extldflags=-mmacosx-version-min=10.11")`

and

[code]

[2019-08-30 23:35] alexelisenko commented on #186
I just tested a 10.14 VM, and it also crashes, while not definitive, this does point to a Virtualization issue.. I am now searching for Host OSX 10.11-13 machine to test on.

[2019-09-01 11:38] joeblew99 opened #244 "hover: Failed to fetch full sha for engine version 4b22bc1bd9 from GitHub"
Just started to fail.
failing on examples and other projects.

I am using flutter master because i also use flutter web.

## Flutter version

[code]

## Golang errors (Optional)

[code]

[2019-09-02 09:51] Drakirus commented on #244
After a bit of waiting, does `hover run` works?

[2019-09-02 09:58] Drakirus commented on #244
I think the issue comes for too much request to the GITHUB API.
For users that hit the GITHUB API rate limit, please do the following:
 - create a github token https://help.github.com/en/articles/creating-a-personal-access-token-for-the-command-line
 - `GITHUB_TOKEN=afab9ab158cXXXXXXXXXXXXXXXXXXXXXXXXXXXXX hover run`

The `GITHUB_TOKEN` can be added as a env variable in .bashrc

[2019-09-02 11:09] joeblew99 commented on #244
Sorry it was me. I had an old hover binary.. :) thanks

[2019-09-02 11:09] #244 closed

[2019-09-02 11:33] ekasetiawans opened #245 "threads.h: No such file or directory compilation terminated on Windows"
[code]

[2019-09-02 14:44] Drakirus commented on #245
[code]

[2019-09-02 17:13] ekasetiawans commented on #245
[code]

[2019-09-02 17:33] ekasetiawans commented on #245
I have try update my gcc with latest version of mingw64 but the problem not solved yet.

[code]

[2019-09-02 20:57] Drakirus commented on #245
Can you retry now?

[2019-09-03 01:14] ekasetiawans commented on #245
It's working now, thanks @Drakirus

[2019-09-03 01:24] #245 closed

[2019-09-03 16:44] Tokenyet commented on #156
Is there a way to use something like `::ShowWindow(::GetConsoleWindow(), SW_HIDE);` to hide console? I got a fairly big issue when using release mode.

On debug mode, There is no console window when using dart [Process](https://api.dartlang.org/stable/2.4.1/dart-io/Process-class.html), but on release mode, This is the biggest problem, I use a bunch of `Process.run` in the background, so It popup u

[2019-09-03 16:48] alexelisenko commented on #156
@Tokenyet Does the process you are executing open with a console window (if you run it manually)?

If anyone can correct me if I'm wrong, but, I believe that if you execute a process that opens a console window, that is your issue.

[2019-09-03 16:53] maheshbhattaraai commented on #156
You can set  your icon with same icon name previously stored  inside desktop/assets/.

[2019-09-03 16:53] Tokenyet commented on #156
I don't know what you think, but what I mean is If I build a Debug executable, It's only one console, no any popups. This is only happened in Release mode.

[2019-09-03 16:55] Tokenyet commented on #156
Override *icon.png* will only be replaced the icon of the windows bar, not the executable itself in my case.

[2019-09-03 16:57] alexelisenko commented on #156
@Tokenyet Have you tried setting the `runInShell` argument to `true`?

[2019-09-03 16:57] Tokenyet commented on #156
That's what I'm doing.

[2019-09-03 17:17] Tokenyet commented on #156
With the following code, I made It! This is the hiding solution to solve the issue.
[code]

[2019-09-03 17:40] Tokenyet commented on #156
Sorry, but I can only find the solution indirectly, I think someone would interest on this, so I decide to share here.

For changing executable icon, following the instruction on [rc-demo](https://gitlab.com/gozoo/rc-demo), and run `hover build`, that's It.

reference: https://stackoverflow.com/questions/25602600/how-do-you-set-the-application-icon-in-golang/49127938#49127938

[2019-09-03 21:34] #102 closed

[2019-09-03 21:34] #141 closed

[2019-09-03 21:34] #175 closed

[2019-09-03 21:34] #230 closed

[2019-09-03 21:37] Drakirus commented on #141
fix taged in tag: [v0.29.0](https://github.com/go-flutter-desktop/go-flutter/releases/tag/v0.29.0)

[2019-09-03 21:39] Drakirus commented on #175
fix taged in tag: [v0.29.0](https://github.com/go-flutter-desktop/go-flutter/releases/tag/v0.29.0).

The delay of 30ms still occurs, there is currently no solution.

[2019-09-03 21:39] Drakirus commented on #102
fix taged in tag: [v0.29.0](https://github.com/go-flutter-desktop/go-flutter/releases/tag/v0.29.0)

[2019-09-03 21:39] Drakirus commented on #230
fix taged in tag: [v0.29.0](https://github.com/go-flutter-desktop/go-flutter/releases/tag/v0.29.0)

[2019-09-03 22:10] Drakirus commented on #134
Looking for maintainer: A first implementation is available at: https://github.com/go-flutter-desktop/plugins/tree/master/video_player
A partial rewrite needs to be done, more info in the video_player's readme.

[2019-09-03 22:12] Drakirus commented on #183
fixed by: #219, tagged in `v0.29.0`

[2019-09-03 22:12] #183 closed

[2019-09-04 08:18] NetFly-VPN commented on #185
hi, monkeyWie, 关于tray的插件怎么样啦, 我的项目中也需要一个这样的东东, 方便交流一下吗

[2019-09-04 11:32] ekasetiawans opened #246 "TextField value copied to another TextField when lost focus on Windows."
Let's say, I have 2 TextFields in a page, when I type something in first TextField then I focus to second TextField, the text I have type on first TextField is copied into second TextField.

this happen on windows only, I try on linux the application is running normaly.
this issue is solved when I use beta branch yesterday. Now, beta branch is gone.

Sorry for bad english.

[2019-09-04 12:56] Drakirus commented on #246
Beta had been merged to master.
Could you update to the latest version of hover and run `hover update`

[2019-09-05 02:56] monkeyWie opened #247 "hover run error!"
## Flutter version

[code]

## Golang errors (Optional)

[code]

## Steps to Reproduce

1. hover run

errors:
[code]

[2019-09-05 03:57] nzlov opened #248 "Windows: Failed to create OpenGL context"
## Flutter version

[code]

## Go Flutter Version

[code]

But `v0.28.0` work.

## Golang Version

[code]

## Windows version

[code]

## Golang errors (Optional)

[code]

## Steps to Reproduce

[code]

[2019-09-05 07:04] NetFly-VPN commented on #214
when I run the example, the error is that:
[code]
And the demo can not draggle any more.
my env: go 1.12.9,
flutter :  Flutter (Channel beta, v1.9.1+hotfix.1, on Mac OS X 10.14.4 18E226, locale zh-Hans-CN)

[2019-09-05 07:18] nzlov commented on #248
Related to this #219 set OpenGL version  `4.1`.

[2019-09-05 10:07] Drakirus commented on #214
@NetFly-VPN correct, the example abuse GLFW.
In the go example code, I call `p.window.GetCursorPos()` and `p.window.SetPos` from a different thread than the main one.
I'm thinking of a fix.

[2019-09-05 10:12] Drakirus commented on #247
You know what to do :wink:

[2019-09-05 10:12] #247 closed

[2019-09-05 10:24] ekasetiawans commented on #246
I have try `hover update` but not resolved

[2019-09-05 10:36] Drakirus commented on #246
can you share a reproducible example?

[2019-09-05 11:16] Drakirus commented on #248
does your project works with `hover run -b '@gl-3.3'`

[2019-09-05 11:19] Drakirus commented on #248
@zephylac @nzlov can you check if the https://github.com/go-flutter-desktop/examples/tree/master/texture_tutorial example works on your OS (MacOS, and Windows)

[2019-09-05 11:35] ekasetiawans commented on #246
https://drive.google.com/open?id=1i0otAA0rcfKw4OTZ7Ws8H4tSf_vwwUlc

[2019-09-05 12:32] zephylac commented on #248
@Drakirus  I'll try ASAP

[2019-09-05 13:27] Drakirus commented on #246
related (but not duplicate) of https://github.com/go-flutter-desktop/go-flutter/issues/221

It's a flutter issue, dirty workaround:
[code]

[2019-09-05 13:29] Drakirus commented on #246
Please look on the flutter issue tracker if there are related issues.
Some similar (but not same):
https://github.com/flutter/flutter/issues/35848
https://github.com/flutter/flutter/issues/20016
https://github.com/flutter/flutter/issues/7247

[2019-09-05 23:53] ekasetiawans commented on #246
I feel it's a little weird, because in the previous beta branch it didn't happen.  Before the beta branch was merged with the master branch, I compared it using the same source code and the same flutter version, but the issue only occurred in the master branch.

[2019-09-06 01:05] nalaws commented on #246
修改 text_field.dart文件中函数 void handleSingleTapUp(TapUpDetails details) . 里的代码

    _renderEditable.selectPosition(cause: SelectionChangedCause.tap);

为

    if(widget.focusNode != null) {
    _renderEditable.selectPosition(cause: SelectionChangedCause.tap);
    }

[2019-09-06 01:29] nzlov commented on #248
@Drakirus My project is working, but [https://github.com/go-flutter-desktop/examples/tree/master/texture_tutorial](https://github.com/go-flutter-desktop/examples/tree/master/texture_tutorial)  is not, Because dependencies required to run on Windows are simply too complex。

[2019-09-06 02:05] monkeyWie commented on #247
Haha,my bad.
It has been no problem before, probably due to the recently upgraded flutter version.

[2019-09-06 07:49] monkeyWie commented on #185
@NetFly-VPN 目前只写了个demo，功能是实现了，不过插件还不够成熟。

[2019-09-06 08:37] maheshbhattaraai opened #249 "released software not run in windows"

[2019-09-06 09:15] ccforgit opened #250 "undefined reference to `FlutterPlatformMessageReleaseResponseHandle'"
## Flutter version

[code]

## Golang errors (Optional)

[code]

## Steps to Reproduce

1. xxx
2. xxx
3. xxx

[2019-09-06 09:16] ccforgit commented on #250
hover: Using engine from cache
hover: Cleaning the build directory
hover: ⚠⚠ The go-flutter project tries to stay compatible with the beta channel of Flutter.
hover: ⚠⚠     It's advised to use the beta channel. ($ flutter channel beta)
hover: Bundling flutter app
hover: Checking available release on Github
hover: Compiling 'go-flutter' and plugins
# github.com/go-flutter-desktop/go-flutter/embedde

[2019-09-06 09:17] ccforgit commented on #250
hover: Using engine from cache
hover: Cleaning the build directory
hover: ⚠⚠ The go-flutter project tries to stay compatible with the beta channel of Flutter.
hover: ⚠⚠     It's advised to use the beta channel. ($ flutter channel beta)
hover: Bundling flutter app
hover: Checking available release on Github
hover: Compiling 'go-flutter' and plugins
# github.com/go-flutter-desktop/go-flutter/embedde

[2019-09-06 10:34] #250 closed

[2019-09-06 11:11] Drakirus commented on #248
@nzlov can you check to texture_tutorial with the following `go/cmd/options.go` file.
[code]
(no additional dependencies required)

[2019-09-06 11:16] Drakirus commented on #250
FYI: Updating the beta channel the the latest version solved this issue.

[2019-09-06 11:36] ykmnkmi opened #251 "hover run go-gl/glfw invalid pseudo-version"
windows 10 x64, go1.13, fluter beta v1.9.1+hotfix.1
gcc (x86_64-win32-seh-rev0, Built by MinGW-W64 project) 8.1.0

hover: Using engine from cache
hover: Cleaning the build directory
hover: Bundling flutter app
hover: Compiling 'go-flutter' and plugins
go: github.com/go-flutter-desktop/go-flutter@v0.29.0 requires
  github.com/go-gl/glfw@v0.0.0-20190519095719-e6da0acd62b1: invalid pseudo-version: do

[2019-09-06 12:07] ykmnkmi commented on #251
ubuntu 19.04 go1.13 too

[2019-09-06 13:29] thebf commented on #251
Windows 10 with all the latest updates and go 1.13 here as well.

[2019-09-06 15:00] Drakirus commented on #249
@maheshbhattaraai I'm not understanding your issue.

From what I understood:
You have 2 PC.
On one of them you are building the flutter app using: `hover build`.
You ship the content of `go/build/outputs/...` to the second PC.
On the second PC you run compiled desktop app.
You get an error on the second PC.

Could you please share with us the content of the terminal output?
Could you share the OSs

[2019-09-06 15:10] zephylac commented on #248
first run is ending up like this:
[code]

[2019-09-06 15:26] Drakirus commented on #246
Well you see, it's even weirder for us, we try to stay compliant with the flutter framework, but sometimes bugs occurs and we don't really know how to react.
In #221 I've added code to handle invalid selection base/extent values, this fix isn't behaving the same way as it used to be due to Flutter updates.

I'm working on a fix that complies with the Android error behavior. (Yes this error occurs

[2019-09-06 15:27] #246 closed

[2019-09-06 15:29] Drakirus commented on #246
This warning was originally reported from the https://github.com/fluttercandies/JsonToDart/tree/master/Flutter/desktop project.
I've tested JsonToDart, it works the same as it used to be.

[2019-09-06 15:29] Drakirus commented on #246
tagged into `v0.29.1`

[2019-09-06 15:32] Drakirus commented on #248
`gmf._Cfunc_avcodec_send_packet` this is related to `gmf` (the video plugin.)

In the same manner as my [above comment](https://github.com/go-flutter-desktop/go-flutter/issues/248#issuecomment-528813525), can you please try to run the example without the `VideoPlugin`?

[2019-09-06 16:02] Drakirus commented on #251
see: https://tip.golang.org/doc/go1.13#version-validation

I'm updating go-flutter to be compatible with go1.13.

[2019-09-06 16:06] #251 closed

[2019-09-06 16:10] Drakirus commented on #251
@ykmnkmi, @thebf the issue should be fixed in `'v0.29.2'` can you `hover update` and check if the issue is really resolved?

[2019-09-06 16:15] thebf commented on #251
Remoting into my work desktop right now to check

[2019-09-06 16:43] thebf commented on #251
Seems like it worked. I got to the point of getting a new type of error when bootstrapping.

The Url launcher plugin likely needs the same treatment as adding that plugin produced the same error again.

[2019-09-07 06:31] ykmnkmi commented on #251
Gets #248
When try with hover run -b '@gl-3.3' throws this error (texture-example too)

[2019-09-07 09:57] nzlov commented on #248
@Drakirus
In windows.
use msys2.

[code]

But run `pkg-config --libs libavformat`
[code]

[2019-09-07 12:09] Drakirus commented on #251
branch `gl-3.3` was rebased with master

[2019-09-07 12:45] Drakirus commented on #248
I shouldn't have ask you to run the texture_example.
I've updated the [texture_tutorial](https://github.com/go-flutter-desktop/examples/tree/master/texture_tutorial), can you please retry?

[2019-09-07 15:58] ykmnkmi commented on #240
Is possible to pass args from go to main function?

[2019-09-07 17:12] Drakirus commented on #240
No and should avoid putting business code above `runAp` because it delays the first rendering.

For this plug-in you can use the following system channel: https://api.flutter.dev/flutter/services/SystemChannels/navigation-constant.html

You can make a go-flutter plugin that invoke this method https://github.com/go-flutter-desktop/go-flutter/wiki/Implement-a-plugin#call-dart-from-golang

[2019-09-07 17:22] StefanLobbenmeier commented on #240
While we have the exper present: from my understanding Windows would spawn
a new process every time an uni link is opened. I think this process then
needs to start the actual app (if needed) and deliver the message. Is that
understanding correct? Is there any standard way for inter process
commutation in dart?

Pierre Champion <notifications@github.com> schrieb am Sa. 7. Sept. 2019 um
19:12:

[2019-09-07 17:38] Drakirus commented on #240
understanding correct?

I'm not an expert, but I does match my browser behavior, when I click on a link in the terminal either my browser is started with the link, or a new tab is opened.

again, not a big expert in that domain.
There is https://github.com/ybbus/jsonrpc , without much search that what I would use^^

[2019-09-07 19:26] Drakirus commented on #214
@NetFly-VPN the example is now fixed.

[2019-09-08 06:56] maheshbhattaraai commented on #249
There is no any specific issue showing in machine. It perfectly works in flutter installed machine . But not running on the PC which does not have flutter and go. Basically i want to release the desktop app for production environment.

[2019-09-08 10:42] Drakirus commented on #249
Please tell me the production environment OS and architecture.

[2019-09-08 11:42] joeblew99 opened #252 "packaging"
see : https://github.com/fyne-io/fyne/blob/master/cmd/fyne/package.go

can be used as a basis for Mac, windows, etc

[2019-09-08 11:43] joeblew99 opened #253 "cross builds"
https://github.com/lucor/fyne-cross

Will allow using docker for all desktop builds, including windows.

[2019-09-08 13:29] nzlov commented on #248
@Drakirus It's up and running.

[2019-09-08 13:40] nzlov commented on #248
I found that the reason for this success is that you annotated the video plug-in code in `options.go`

[2019-09-08 13:42] Drakirus commented on #252
Please post this in #207
Closing since it's a duplicated.

[2019-09-08 13:42] #252 closed

[2019-09-08 13:44] Drakirus commented on #253
Good stuff!
Please post this in #128
Closing since it's a duplicated.

[2019-09-08 13:44] #253 closed

[2019-09-08 13:47] Drakirus commented on #248
Hummm?
Are you not seeing [this](https://github.com/go-flutter-desktop/examples/blob/master/texture_tutorial/test.png) image?

[2019-09-08 14:15] nzlov commented on #248
Sorry, there was a picture at the beginning, but the warning was not wide enough.
When I widen it, it's just white.

[2019-09-08 14:17] Drakirus commented on #248
Ok it's working as expected, the image should disappear after 5s of screen time.

[2019-09-08 14:24] nzlov commented on #248
OK, thank you.
But how fo fix video plugin ?

[2019-09-08 14:26] Drakirus commented on #248
well, there is a BIG Disclaimer in the [video_player](https://github.com/go-flutter-desktop/plugins/tree/master/video_player) repo..

I'm repeating myself

[2019-09-08 14:31] nzlov commented on #248
Yes, I missed it, it is a problem with `gmf`.

[2019-09-08 14:33] Drakirus commented on #248
Reopening this issue since we still need to decide whether or not we downgrade the OpenGL version from `4.1` to `3.3`.

[2019-09-08 14:37] Drakirus commented on #128
As @joeblew99 pointed-out  https://github.com/lucor/fyne-cross is a VERY good example.

Looking for maintainer! to implement this hover feature.

[2019-09-08 14:45] maheshbhattaraai commented on #249
windows OS with 64 bit operating system and x64-based processor.

[2019-09-08 14:47] andyalbert opened #254 "Hover run is not working with strange output"
## Flutter version
[code]

## Golang errors (Optional)

[code]

## Steps to Reproduce

1. Install MinGW
2. Install go
3. Install hover
4. Run hover init github.com/...
5. Run hover run

[2019-09-08 15:09] Drakirus commented on #249
ok, good, go-flutter is only compatible with 64bit.
Can you share the content of the terminal output of the production PC?

[2019-09-08 15:11] Drakirus commented on #254
Update to the latest version of the flutter beta channel.

[2019-09-08 15:11] #254 closed

[2019-09-08 15:13] Drakirus commented on #250
duplicate of  #247

[2019-09-08 15:13] Drakirus commented on #254
duplicate of  #247

[2019-09-08 16:51] erickzanardo opened #255 "hover run failing to run on MacOs"
## Flutter version

[code]

I have been using go-flutter on my project with success for quite some time, but right now for some reason `hover run` is failing to execute with the following log:

[code]

That was happening on Flutter 1.7.8+hotfix.3, I tried upgrading Flutter to see if that would fiz, but the error persisted.

Is this a bug on `go-flutter`? Or something wrong with my project?

Thanks

[2019-09-08 17:00] Drakirus commented on #255
The go-flutter project tries to stay compatible with the beta channel of Flutter.

Please update the flutter channel to the latest beta version.

[2019-09-08 17:00] #255 closed

[2019-09-08 17:01] Drakirus commented on #255
Duplicate of #246

[2019-09-08 17:04] erickzanardo commented on #255
I changed to the beta channel, it is working fine now, I am gonna keep that in mind for the future. Thanks for the quick response.

[2019-09-08 17:09] Drakirus commented on #255
I can also see that your hover version is quite old.
You definitely should update hover: `go get -u github.com/go-flutter-desktop/hover`

[2019-09-08 18:51] joeblew99 commented on #128
@Drakirus thanks for moving it.
I cant maintain it. But i think its pretty easy to maintain actually since it golang.
Also it will be able to do the Mobile builds too, which i think its awesome.

[2019-09-08 18:53] joeblew99 commented on #207
just copying it here : https://github.com/fyne-io/fyne/blob/master/cmd/fyne/package.go

[2019-09-08 19:23] jld3103 commented on #207
Nice! Maybe you make a pull request with the proposed implementation after #20 gets merged?

[2019-09-08 20:02] jld3103 commented on #128
After the new build methods get merged (#20) the names for the builds need to be updated to add architectures.
I think I will try to implement cross-compile as my next contribution to this project :)

[2019-09-09 00:55] #249 closed

[2019-09-09 06:47] joeblew99 commented on #244
@Drakirus You were right. It was my hitting github too much.
happened to me again today.

[2019-09-10 00:17] nzlov commented on #248
I am running `win10` on `macos` host via `Parallels Desktop`, and I don't know how it works on `win10` host.

[2019-09-10 02:26] nzlov commented on #248
In windows. use `msys2`.
fix `pkg-config`:

[code]

[2019-09-10 05:29] axilesoft opened #257 "Failed to find hover assets"
Error, After installing hover with `go get -u github.com/go-flutter-desktop/hover` (on Windows 10)
`

hover: Failed to find hover assets: could not locate box "../assets"
`

[2019-09-10 05:48] ykmnkmi commented on #248
How to build with gl-3.1?

[2019-09-10 08:43] Drakirus commented on #248
@ykmnkmi can you update your OpenGL driver?

[2019-09-10 11:06] ykmnkmi commented on #248
last update 2011, but works with gl-3.3 on linux

[2019-09-11 10:28] Drakirus commented on #257
also happens to me when I remove the path on which hover was installed:
[code]

can you manually clone hover in something like `C:\app\hover` and run `go install` in that directory to check if hover works

[2019-09-11 11:56] axilesoft commented on #257
It works when install from the clone source directory.

[2019-09-11 12:02] Drakirus commented on #257
I don't know why `go get -u github.com/go-flutter-desktop/hover` isn't working in your system.

Could you share your `$GOPATH`? @GeertJohan is the author of [go.rice](https://github.com/GeertJohan/go.rice) he might have ideas why it's not working.

As the issue is more related to your system and go.rice, closing the issue for now.
This can be reopen if multiples users gets the same behavior as you

[2019-09-11 12:31] axilesoft commented on #257
I'm new to Go language.  I'm testing go-flutter on Windows 10.
I just follow the instruction:
1) install Go  with the msi installer.
2) open the Flutter Cconsole
3) go get -u github.com/go-flutter-desktop/hover

[2019-09-11 13:16] Drakirus commented on #58
First, from the following Cpp code:
[code]
I've compiled it:
[code]

Secondly I've thrown the `.dll | .so | .dylib` into the `go/assets` directory.

Lastly using the following `main_desktop.dart` file
[code]
I call the shared lib from a flutter app and get in the terminal output:
[code]

Putting the shared lib into the into the `go/assets` directory allows it to be persistent across `hover run`, t

[2019-09-11 13:20] Drakirus commented on #203
Awwwwwh, we were so focus on plugins/hooks that we forgot you old and trusty `go/assets` directory...
If you place file in `go/assets` the hover tool-chain will always copy the content of that directory to `go/build/outputs/XXXXX/assets`.

Closing the issue since the original request was:

The answer is to place them into the `go/assets` directory. :1st_place_medal:

---

FYI: I've written a small

[2019-09-11 13:20] #203 closed

[2019-09-11 14:59] GeertJohan commented on #257
Hmm. Maybe recent versions of Go clone the package in a tmp dir, which means the sourcecode and assets are removed after a while. I will investigate.

[2019-09-11 18:44] joeblew99 commented on #58
https://github.com/dart-lang/sdk/projects/13

Looks like much more work in Dart FFI to make it less verbose to write code. Great to see this getting attention

[2019-09-11 18:45] joeblew99 commented on #58
fantastic example @Drakirus

[2019-09-12 04:25] djpnewton commented on #203
There are still a couple of issues:

 1) Most platform load library functions look in the same dir as the exe or the system (say Android) makes sure to add certain directories into the load library search space, using "assets/" means we need different load library path logic for different platforms

 2) The loaded libraries might rely on other resources and not being able to put them in a arbitrar

[2019-09-12 06:43] Alex-A4 commented on #128
Actually, how to make that build? Any examples?

[2019-09-12 07:58] jld3103 commented on #128
I created a PR for cross-compiling yesterday go-flutter-desktop/hover#23

[2019-09-13 09:38] pchampio opened #259 "Flutter AOT"
The current `hover build XX` produce a JIT flutter application (with `disable-dart-asserts` and `disable-observatory`).

Flutter Desktop (from Google) has support for AOT on MacOS https://github.com/flutter/flutter/pull/38909, the others platforms will follow https://github.com/flutter/flutter/issues/38477, and https://github.com/flutter/flutter/issues/38478.

From a go-flutter point of view, addi

[2019-09-13 14:25] joeblew99 opened #260 "hover: init-plugin scaffolding"
I was thinking about the idea of generating the code for golang plugins.

I see 2 use cases:

1. Your making plugins that use golang on mobile and Flutter.
- this is common where your building a large application and need to use lots of golang libs and treat the Dart layer as just a GUI layer.
- Also common when your using a custom network transport or something.
- Could actually use protobufs as

[2019-09-13 14:39] thebf opened #261 "Running hover on an existing project produces the following error and the application window is stuck with the name loading..."
Output:
[code]
go version go1.13 windows/amd64

The same project builds and runs fine on IOS, Android Web and Desktop Embedding though with some things not yet implemented that are listed as working in Hover.
Any tips on getting beyond this issue?
I've tried using the 3.3 branch without success.

[2019-09-13 14:47] Drakirus commented on #261
Can you share the Dart code of your application?

Out of curiosity, what is listed as working in Hover and doesn't work on Flutter Desktop?

[2019-09-13 14:57] thebf commented on #261
Unfortunately I can't directly share the Dart code. it's part of a proprietary application.
Though with a bit of coordination I can do a supervised screen sharing session using parsec or something similar.

Potential advantages leading me to try out Hover:
The path provider plugin looks to be implemented for windows here while it is not yet implemented for FDE.
Bootstrapping FDE to run our applica

[2019-09-13 15:46] Drakirus commented on #260
Relatedly, there have been general conversations several times in the past about a `hover init-plugin` command that will generate the go-flutter plugin scaffolding. Such enhancement are usually discuss in your [gitter channel](https://gitter.im/go-flutter-desktop/go-flutter).

Regarding `plugins that use golang on mobile and Flutter` let me be real clear here: Even tho through dart:ffi, go-flutter

[2019-09-13 15:48] Drakirus commented on #261
I just need a very simple main_desktop.dart file that reproduce the same error.
Can you craft that for me?

Thanks for sharing why you gave go-flutter a try!

[2019-09-13 18:00] jld3103 commented on #259
Does this improve startup times?

[2019-09-13 18:42] Drakirus commented on #259
It Will improve startup time and memory consumption.

Regarding app's speed and responsiveness, desktop are powerful enough to run the JIT app, only small improvement is to be expected in that domain.

[2019-09-15 07:26] thebf commented on #261
Sorry for the delay. The documentation was a bit light on creating the main_desktop.dart file so I tried to simply point it the the main dart file which got me to this point.

import 'package:flutter/foundation.dart' show debugDefaultTargetPlatformOverride;
import 'package:flutter/material.dart';

import 'package:Bamboo/main.dart';

void main() {
  debugDefaultTargetPlatformOverride = TargetPlatfo

[2019-09-15 08:39] Drakirus commented on #261
Wellll, if I can't see what's behind `import 'package:Bamboo/main.dart';` there isn't much I can do.

Your error comes from the (package:Bamboo/presentation/root_page.dart:98:54), what happens if you comment this line?

[2019-09-15 12:42] Drakirus commented on #261
After a quick Google search:
https://www.google.com/search?hl=en&q=Object.noSuchMethod%20(dart%3Acore-patch%2Fobject_patch.dart%3A51%3A5)
https://www.google.com/search?hl=en&q=Unhandled%20Exception%3A%20NoSuchMethodError%3A%20The%20method%20%27subscribe%27%20was%20called%20on%20null.

I can tell that your issue is not about go-flutter.
Even though your app works fine on others platforms, for deskt

[2019-09-16 08:47] StefanLobbenmeier commented on #213
I know this issue is closed, but I found a slightly better way to launch hover in Android Studio / IntelliJ and wanted to share. [This is my source](https://intellij-support.jetbrains.com/hc/en-us/community/posts/206883315-Anyway-to-Make-IntelliJ-IDEA-run-command-line-commands)

I added hover as an External Tool like this:
![image](https://user-images.githubusercontent.com/36509607/64944287-58d707

[2019-09-16 11:19] ertugazi91 opened #262 "Can't run on Windows 7"
Which dependencies should I install to run Windows build on Windows 7 or does it even supported? Kinda beginner here so some advice would be really helpful

[2019-09-16 11:54] Drakirus commented on #262
Please read: https://github.com/go-flutter-desktop/hover/blob/master/README.md#install

[2019-09-16 11:56] Drakirus commented on #262
Windows is supported. As the go-flutter says:

[2019-09-16 12:01] Drakirus commented on #262
Closing this issue, RTFM.

If you ran into errors when installing hover (which can happen) please open an issue.

If you need advice, use our gitter.im chat, https://gitter.im/go-flutter-desktop/go-flutter
I like to keep only keep issues in the github.com issue tracker. Others proposition/advice/helps can be exposed in the chat.

[2019-09-16 12:01] #262 closed

[2019-09-16 21:59] Drakirus commented on #185
I've found this half done go-flutter implementation: https://github.com/firstmeetgames/go-flutter/blob/e7e447f8ee41a3571b171dc5ab6be75afc964037/systray.go
It's a good starting point if you want to make systray plugin.

[2019-09-17 12:48] jld3103 commented on #257
I got that same issue, when I mounted the app code into a Docker container.

[2019-09-17 18:20] jld3103 opened #263 "Add color and more formatting to log ouput"
The log output from hover is somewhat unstructured and doesn't highlight the important information at all.

[2019-09-17 21:32] Drakirus commented on #263
I find the log output fine enough 😊, it might be because I'm used to it.
Either way, I'll like to have a nicer implementation.
Can I assign you to this task?

[2019-09-17 21:34] jld3103 commented on #263
I'm already working on it and mostly finished :)

[2019-09-18 01:35] ekasetiawans opened #264 "Shared Preferences Plugin - Application only run one instance at same time"
I can't run 2 or more same application at same time

[code]

[2019-09-18 16:07] Drakirus commented on #264
It's more an enhancement than an bug, IIRC the `goleveldb/leveldb` package doesn't allows for multiple process to access the same db.
https://github.com/go-flutter-desktop/plugins/blob/126db66aab41a16729b07b894675d9ad30c5747d/shared_preferences/plugin.go#L12

[2019-09-22 16:32] Drakirus commented on #261
With the absence of a reproducible example, we cannot help you find a work-around/fix.

As the information required is simply not available, closing this issue for now.
(can always be re-opened)

[2019-09-22 16:32] #261 closed

[2019-09-23 03:31] crossle opened #266 "Upgrade desktop app plugin?"
Have any plan add upgrade plugin for go-flutter? like upload to GitHub release package for upgrade.

[2019-09-23 08:56] Drakirus commented on #266
I don't understand the question, hover has ab`hover upgrade`  to upgrade the go-flutter dependency.

Do you want a `hover plugin upgrade` command?

[2019-09-23 09:30] crossle commented on #266
like auto update https://www.npmjs.com/package/electron-updater

[2019-09-23 09:46] Drakirus commented on #266
No we don't have any plan on adding such features.
But soon with #265 and https://github.com/go-flutter-desktop/plugins/pull/26 users (and especially plugin maker) will have the ability to query PlatformVersion (go-flutter versions) and ProjectVersion (version of your app in pubspec.yaml).

Once those 2 PRs are merged, flutter dev can show a pop-up info to inform user of an update.
When it comes t

[2019-09-23 14:24] jascodes opened #267 "Set the initial window dimension based on screen resolution"
I wanted to set the initial dimension of the window based on the scale of the desktop environment the app is running. I was trying to find if it is possible at this moment to do so.

Thx

[2019-09-23 14:48] GeertJohan commented on #264
Hmm, na alternative implementation that allows for this may be created. But for compatibility reasons this cannot be done in the current implementation without having a migration path.

[2019-09-24 21:31] #248 closed

[2019-09-24 21:51] GeertJohan commented on #128
Cross-compilation support has just landed through go-flutter-desktop/hover/pull/23
Thanks @jld3103 !

[2019-09-24 21:52] #128 closed

[2019-09-24 23:22] jascodes opened #268 "Q: Why not allow go build"
I there reason you guys setup go-flutter like this. Why can't it be independant go project with help hover cli?

Am I mission somthing?

Thx

[2019-09-24 23:24] jascodes commented on #267
In adition to desktop scale, is it possible to get screen resolution. It makes sense to know screen resolution and then set initial screen size based on that.

[2019-09-24 23:38] Drakirus commented on #268
Before the `hover` era, and even before the project was moved into a github organization, I used to provide those information in the readme: (now in a wiki:) https://github.com/go-flutter-desktop/go-flutter/wiki/Manual-install-and-usage

Yes, you are missing something, and the thing is **the flutter engine**.

The flutter engine is precompiled by google, we download it in the shape of a share lib

[2019-09-24 23:38] #268 closed

[2019-09-24 23:50] Drakirus commented on #267
Before answering any question make sure to be aware of #84 .
So desktop scale is currently an issue, not possible for now.

Regarding getting the screen resolution & set initial screen size, I will hack a [Tips-and-tricks](https://github.com/go-flutter-desktop/go-flutter/wiki/Tips-and-tricks) go file to throw into your `go/cmd/` directory later.
Spoiler alert, need a [`GLFW Plugin`]{https://github

[2019-09-25 10:16] joeblew99 commented on #260
hey @Drakirus

Maybe there is a misunderstanding here or maybe yes i am just being pushy :)

I am suggesting that since plugins are being written in golang for go-flutter then we can also gen the same plugin code for IOS and Android that supports running the same golang plugin code.

This is being used quite a bit.
https://github.com/vocdoni/go-dvote is just one example.

dvote is a pretty good ex

[2019-09-25 12:56] Drakirus commented on #263
fixed by: https://github.com/go-flutter-desktop/hover/pull/26
@jld3103 thanks a lot!

[2019-09-25 12:56] #263 closed

[2019-09-25 18:01] Drakirus commented on #267
[Tips-and-tricks#2](https://github.com/go-flutter-desktop/go-flutter/wiki/Tips-and-tricks#2-set-the-initial-window-dimension-based-on-screen-resolution)

[2019-09-25 18:01] #267 closed

[2019-09-25 18:58] joeblew99 opened #269 "New Plugin: FileChooser plugin"
I need to be able to let the user choose a file.

Here is a basic example:
https://github.com/google/flutter-desktop-embedding/blob/master/testbed/lib/main.dart#L25

Here is a more complex example:
https://github.com/authpass/macos_secure_bookmarks/blob/master/README.md

This golang package seems to do what is needed on all desktops.
https://github.com/sqweek/dialog

[2019-09-25 19:02] Drakirus commented on #269
![image](https://user-images.githubusercontent.com/7476655/65631420-c7873380-dfd7-11e9-9d7d-382fc3f0ad0d.png)
https://github.com/go-flutter-desktop/plugins

[2019-09-25 19:02] #269 closed

[2019-09-25 22:38] Drakirus opened #271 "Hover bug"
https://github.com/go-flutter-desktop/hover/pull/26 introduced a bug.

[code]

When using `github.com/spf13/cobra` we make extensible uses of the golang `init()` function to create our commands.
When a package contains mutiples `init()` functions, the order of execution is based by the alphabetical order of the filename.

In the above case, the error occurs when the `init()` function of `cmd/commo

[2019-09-25 23:31] joeblew99 commented on #271
How did you work out this is wha the bug is ?

[2019-09-26 00:11] joeblew99 opened #272 "Run in Virtual Box / Virtualization / VM"
This runs fine chewing up 50% of the CPU, but it runs.

[code]

But stocks example does not:

[code]

I used scoop to install gcc and everything else needed.

[code]

[2019-09-26 00:44] vjeson commented on #272
same issuse,because the vm display driver does not support opengl

[2019-09-26 02:05] ekasetiawans opened #273 "WindowMode Configuration"
I want to add window mode configuration that allow user to select fullscreen mode or default mode.
I save the configuration in .json file then I want to load that file on application start and passing value to `options` variable. But, I have problem to achieve it, because I can't create func that returning flutter.windowMode.

[2019-09-26 02:08] ekasetiawans commented on #273
I want something like this

[code]

[2019-09-26 02:29] ekasetiawans commented on #273
Solved

I using `flutter.Option` as return type for getWindowModeFromConfig function instead of flutter.windowMode

[2019-09-26 02:29] #273 closed

[2019-09-26 07:16] joeblew99 commented on #272
@vjeson
But when i run the opengl main.go test the display window opens. Sure its using a ton of CPU but it works.
But when i run the Stocks example i get the display driver error.

[2019-09-26 07:19] joeblew99 commented on #272
I also tried the docker approach. I compiled Stocks from my mac as a windows build.
Over on the WIndows VM, it runs with no display driver error, but does nothing.

I am confused whats going on.

[2019-09-26 08:24] Drakirus commented on #273
@ekasetiawans can you share the code?

[2019-09-26 08:40] Drakirus commented on #272
Docker compiling strips down debug information from the binary, that why you won't get errors messages displayed in the terminal.
Please don't mix up everything, it's not related to Docker compilation.

[2019-09-26 08:42] Drakirus commented on #272
Using the latest hover build tool, can you run `hover run - - opengl=none"?
And please read the flag documentation (`hover build - - help`)

[2019-09-26 09:48] Drakirus commented on #248
[code]

OpenGL is used in 2 way.
  - One through GLFW, used to draw your flutter app handle event, etc..
  - Two through OpenGL-bindings directly, ONLY for textures (as the above flag description says).
    But the OpenGL-bindings version used here affect GLFW internally.

By default, we use GLFW/3.2 and OpenGL-bindings 3.3, so your system must be compatible with those versions (at least OpenGL 3.

[2019-09-26 10:59] #271 closed

[2019-09-26 15:23] ekasetiawans commented on #273
yes, this is the code

https://github.com/ekasetiawans/go-flutter-json-config

[2019-09-26 21:22] joeblew99 commented on #272
@Drakirus thanks for the feedback !

Ok i did what you asked. It runs now.
i assume it is using flutters skia software renderer ?

Note that there is weird rendering happening whenever the mouse is over the top of the Stocks window.

![VirtualBox_windows10_26_09_2019_23_15_51](https://user-images.githubusercontent.com/11999859/65725890-fa9ef500-e0b3-11e9-81de-a63174528ca0.png)
![VirtualBox_windows

[2019-09-26 22:21] Drakirus commented on #272
Read the flag documentation:
[code]

If it's not enough: https://github.com/go-flutter-desktop/go-flutter/issues/248#issuecomment-535428357

[2019-09-26 22:21] #272 closed

[2019-09-27 14:40] joeblew99 commented on #248
ok thanks for explaining it.

[2019-09-27 14:40] joeblew99 commented on #269
@Drakirus thanks - missed that :)

[2019-09-27 14:41] joeblew99 commented on #240
I thinks this is a relevent kink:
https://github.com/w3c/web-share/blob/master/docs/native.md

Its a good heads up for how we can implement sharing native.

[2019-09-28 09:15] phanirithvij commented on #191
@stuartmorgan is it possible to use go plugins from the official flutter-desktop-embedding repo? I'm assuming that's not in the project's goals.

[2019-09-28 09:53] Drakirus commented on #191
@phanirithvij go-flutter plugins aren't compatible with Flutter Desktop (used to be flutter-desktop-embedding) and Flutter Desktop plugins aren't compatible with go-flutter.

[2019-09-28 21:17] stuartmorgan commented on #191
To expand on that a bit:

Flutter plugin APIs are part of each embedding, not Flutter itself; there's no such thing as "go plugins" for Flutter in a generic sense, there are go-flutter plugins. The lack of interoperability isn't primarily about them being in Go, but that the APIs are not the same.

As one concrete example: go-flutter's plugin API appears to include a way of getting a pointer to th

[2019-09-30 02:37] ekasetiawans opened #274 "Open Virtual Keyboard / On-Screen Keyboard (OSK)"
Does application will show virtual keyboard automatically on touch screen computer that dont have phisical keyboard?

Or, how to catch open keyboard request? I'll trying to open virtual keyboard manually.

[2019-09-30 22:47] jascodes opened #275 "Bug: Cross-Compile corrupts other builds"
@jld3103

When I build one platform, the other folders gets updated and corrupted. Not sure whats happening but on ubuntu platfrom.

[code]

Let me know if you guys can reproduce this?

## Flutter version

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel master, v1.10.7-pre.70, on Linux, locale en_US.UTF-8)

[✓] Android toolchain - develop for Android devices (Andro

[2019-09-30 23:01] Drakirus commented on #275
For what it is worth:
Can you share the content of your go directory, `ls -R ./go`?

[2019-09-30 23:05] Drakirus commented on #275
Sometimes I get this error, and re-running the hover command solve the problem.
Have you found a reproducible path/route to always get this issue?
If yes, then please share the commands you used!

[2019-10-01 04:46] jld3103 commented on #275
That's not a hover bugm It's a bug in flutter that has already been fixed. Just update.

[2019-10-01 12:56] jld3103 commented on #275
This was the original bug report: flutter/flutter#41352

[2019-10-01 14:51] jascodes commented on #275
@jld3103 I have upgraded but still facing issue. I have created script for now to zip the output platform folder. But when I build one platform, the old builts of other platforms get corrupted. I don't know how?

[2019-10-01 15:30] jld3103 commented on #275
I'll try to reproduce this scenario (I'm on linux):
1. Build and run linux - Should be fine
2. Build and run windows (with wine) - Should be fine
3. Run linux again - Should crash

@jascodes Is this the scenario you described?

[2019-10-01 15:32] jld3103 commented on #275
Maybe that's because of the mounting? I'll look into that today

[2019-10-01 15:54] jascodes commented on #275
@jld3103

Exactly..

[2019-10-01 16:12] jld3103 commented on #275
Looks like only one flutter bundle can be stored at  a time (Why?). So just moving the bundle to one location for all builds should do the thing.

[2019-10-01 16:31] jld3103 commented on #275
@jascodes @Drakirus can you confirm my fix to be working?

[2019-10-01 21:49] Drakirus commented on #275
@jld3103 on the following flutter version:
[code]
The above reproduce scenario doesn't lead to an issue.
I cannot assert that your fix works.

And
I like to point out that form the flutter `master` channel, bad builds occurs.
That is why we have chosen the `beta` channel as your compatible one ([README #version-compatibility](https://github.com/go-flutter-desktop/go-flutter#version-compatibility))

[2019-10-01 22:36] Drakirus commented on #274
### go-flutter side
Currently, nothing is done on the go-flutter side when the engine sends `show` and `hide` keyboards events.

https://github.com/go-flutter-desktop/go-flutter/blob/87e0b2f8baaa5461bb4d09fb67781123ad133de8/textinput.go#L54-L56

In the future, those events coming form the internal  `flutter/textinput` MethodChannel could be expose to end-developers through [`Options`](https://gith

[2019-10-02 06:10] Drakirus commented on #275
Reopening since I may have misunderstood the issue. (see above PR on hover).

I will take a re-look at this tonight, while waiting, can you share a reproducible steps?

(or is this an issue that happens randomly?)

[2019-10-02 09:35] jld3103 commented on #275
Starting the app from step 1

[2019-10-02 14:53] devkabiir opened #276 "[Hover] Feature: Support/Document setting initialRoute similar to `--route`"
When running apps on android flutter supports passing `--route` argument and sets that as the initial route. This is currently not possible for iOS.

However during testing/debugging, it's more productive to directly launch the app in the correct route. Can this be supported?
Example use
`hover run --route="/post/5/edit"`

[2019-10-02 20:18] Drakirus commented on #275
Humm,
on:
[code]
[code]

---

on
[code]

[code]

---

Does this issue occurs on `beta` channel on your side?

[2019-10-02 20:46] jld3103 commented on #275
I think the behaviour of `flutter build bundle` did change. It looks like only one bundle can exist at a time

[2019-10-02 21:09] Drakirus commented on #275
My question is, should we wait to see if this issue gets promoted into `beta`, or should we fix it now?

[2019-10-02 21:20] jld3103 commented on #275
I would wait. The fix currently works, but it looks like it's not necessary if flutter gets fixed.

[2019-10-02 21:24] Drakirus commented on #275
agreed, is there a opened flutter which describe this issue?
Should we inform https://github.com/flutter/flutter/issues/41352?

[2019-10-02 22:13] jld3103 commented on #275
I don't really know if this is actually the same error.

[2019-10-02 22:15] Drakirus commented on #275
I'll comment on that issue commands that reproduce the "could not resolve the kernel binary" error.
It' might mi related to the same commit, we'll see.

[2019-10-02 22:49] Drakirus commented on #276
Not duplicate nor related, but it does overlaps #240.

More information is available in https://github.com/go-flutter-desktop/go-flutter/issues/240#issuecomment-529126934.

To implement this feature, it is likely that we will need to write a custom plugin that calls the 'flutter/navigation' Method channel.

I don't know how do design this into hover as this plugin should only be loaded when using

[2019-10-02 22:53] Drakirus commented on #276
The cleanest way might simply be to add another [Options](https://github.com/go-flutter-desktop/go-flutter/wiki/Options) into go-flutter that calls the `InvokeMethod` on initialization.
The path of the route could be set using `hover` by injecting a build-time variable with Golang CC.

[2019-10-03 16:04] #143 closed

[2019-10-03 16:04] #260 closed

[2019-10-03 19:37] Drakirus commented on #275
Fixed by the flutter team: xref: https://github.com/flutter/flutter/issues/41861

[2019-10-03 19:37] #275 closed

[2019-10-03 20:58] jld3103 commented on #207
New packaging formats:
linux-appimage: go-flutter-desktop/hover#39
windows-msi: go-flutter-desktop/hover#40
darwin-bundle and darwin-pkg: go-flutter-desktop/hover#42

[2019-10-03 22:44] Drakirus commented on #207
The feature got released into hover ` v0.33.0`
Thanks to @jld3103, I'll close this issue.

[2019-10-03 22:44] #207 closed

[2019-10-08 09:47] zj8331182 opened #279 "Error response from daemon: open \\.\pipe\docker_d4w_systray: The system cannot find the file specified."
## Flutter version

[code]

## Golang errors (Optional)

[code]

## Steps to Reproduce

1.clone the example code onto my windows pc
2. run command "hover build linux"
3. I make sure my pc's env is ok,beacuse i can run any docker command.
4.I guest the issue is that when i run command "hover build linux"on window pc the file path use is window's path but docker can't identification the window's pat

[2019-10-08 21:51] Drakirus commented on #279
1) does Linux (from windows) build works on one of our example, https://github.com/go-flutter-desktop/examples/tree/master/keyboard_event?
2) can you share the content of your pubspec.yaml file?

[2019-10-09 02:39] zj8331182 commented on #279
1.I build the stock example,https://github.com/go-flutter-desktop/examples/tree/master/stocks
2.pubspec.yaml file :
name: stocks

environment:
  # The pub client defaults to an <2.0.0 sdk constraint which we need to explicitly overwrite.
  sdk: ">=2.0.0-dev.68.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: 0.15.8
  intl_translation: 0.17.7

[2019-10-09 04:23] zj8331182 commented on #279
When i update the hover this issue not appear

[2019-10-09 04:23] #279 closed

[2019-10-12 10:30] ibrahem777 opened #280 "issue with "hover build windows" command"
Flutter 1.9.1+hotfix.2 • channel beta • https://github.com/flutter/flutter.git
Framework • revision 2d2a1ffec9 (5 weeks ago) • 2019-09-06 18:39:49 -0700
Engine • revision b863200c37
Tools • Dart 2.5.0

when i run "hover build windows" command
this issue appears
"
C:\examples-master\draggable_borderless>hover build windows
[1;36mhover: [0mUsing engine from cache
[1;36mhover: [0mCleaning the bui

[2019-10-12 10:53] Drakirus commented on #280
Can you share the result of  `flutter build bundle` where you have run the above hover command?

[2019-10-12 10:57] Drakirus commented on #280
*Putting this here, not sure if it's the cause of the issue or not.*

I recommend using a different terminal than the windows cmd.
https://github.com/cmderdev/cmder/releases/download/v1.3.12/cmder_mini.zip
 does a great job.

[2019-10-15 09:37] huextrat opened #281 "Unrecognized developer macOS & windows"
Hi,
It is impossible to install a build (.pkg) build on macOS 10.14 & 10.15 at least, an error is shown during the installation
[code]
and on windows we must force the installation by accepting the installation of an app from an unrecognized developer.

Do you know a way not to have this problem?

## Flutter version

[code]

## Steps to Reproduce

1. hover build darwin-pkg | hover build windows-ms

[2019-10-15 09:41] Drakirus commented on #281
Does it work on the flutter beta channel?

[2019-10-15 09:42] Drakirus commented on #281
Ping @jld3103

[2019-10-15 09:46] huextrat commented on #281
I just tried it on beta & stable and I got exactly the same 'issue', also I'm building the app on macOS 10.15 if it can help 👍

[2019-10-15 10:44] jld3103 commented on #281
@huextrat
The MacOS issue is already fixed (https://github.com/go-flutter-desktop/hover/commit/0566c890d116492b329f01d79655855113ba2537). You need to update hover and then re-init darwin-pkg (delete the folder and then do `hover init-packaging darwin-pkg` again).

The unknown developer issue has nothing to do with go-flutter. When you just create a .msi you are always an unknown developer. You hav

[2019-10-16 08:35] Drakirus commented on #133
https://github.com/flutter/engine/pull/13124

[2019-10-17 10:51] winwisely99 opened #283 "docker file share failng"
full makefile here:
https://github.com/winwisely99/enrollment-mod/tree/master/enrollment

log:
[code]

env:
[code]

[2019-10-17 17:23] #274 closed

[2019-10-17 17:33] Drakirus commented on #274
https://github.com/go-flutter-desktop/go-flutter/wiki/Tips-and-tricks#3-open-the-virtual-keyboard-on-text-edit

For windows, it's up to you to adapt the code.

[2019-10-17 17:40] Drakirus commented on #283
Packaging uses docker, and is very experimental.
It has only been tested on linux,
Pinging @jld3103 has he might have inside about your issue.

From your log output:
[code]

I am guessing extra steps are required to mount the temporary build file created by hover into the linux VM that's running the docker service.

[2019-10-17 18:02] jld3103 commented on #283
I simply read the referenced documentation and found this:
`
By default, you can share files in /Users/, /Volumes/, /private/, and /tmp directly. To add or remove directory trees that are exported to Docker, use the File sharing tab in Docker preferences whale
menu -> Preferences -> File sharing. (See Preferences.)
`

The problem is that your folder is in `/var` which is not allowed.

You could ha

[2019-10-17 18:13] Drakirus commented on #281
As @jld3103 said, this issue was fixed in the latest version of hover, please upgrade.
(`go get -u github.com/go-flutter-desktop/hover`).

After the updates finishes, delete the `go/packaging/` directory and rerun the `hover init-packaging darwin-pkg` command.

Finally run `hover build darwin-pkg` to produce a valid darwin  pkg.

Concerning

It's up to you to tweak the developer ID (I don't actual

[2019-10-17 18:13] #281 closed

[2019-10-18 14:04] winwisely99 commented on #283
My flutter project code is not in var directory  - Its in a GOPATH.

I know i can configure a share but it means that this will happen for others on MAC too.

[2019-10-18 14:06] jld3103 commented on #283
Maybe the problem is that creating a temporary directory on MAC is placed in `/var` @GeertJohan ? You have more experience with such things.
Otherwise I have no explanation for that bug

[2019-10-18 14:09] winwisely99 commented on #283
I tried just now to add the /var share and Docker wont allow it.

![Screenshot 2019-10-18 at 16 08 04](https://user-images.githubusercontent.com/56028033/67101256-94445880-f1c1-11e9-9496-9de4ae5a696e.png)

[2019-10-18 14:10] jld3103 commented on #283
Oh crap.

[2019-10-18 14:11] jld3103 commented on #283
@Drakirus can you reopen?

[2019-10-18 14:12] Drakirus commented on #283
Is it possible to add `/var/folders/wp/` ?

[2019-10-18 14:20] winwisely99 commented on #283
let me try now

[2019-10-18 14:23] winwisely99 commented on #283
Yes its happy with  "/var/folders/wp/ " :)

![Screenshot 2019-10-18 at 16 22 28](https://user-images.githubusercontent.com/56028033/67102286-7ed02e00-f1c3-11e9-8c47-e9c64f687a24.png)

[2019-10-18 14:24] jld3103 commented on #283
Looks like it's another edge case for cross-compiling / packaging that should be documented

[2019-10-18 14:33] winwisely99 commented on #283
Looks like it worked now on our project at: https://github.com/winwisely99/enrollment-mod/tree/master/enrollment

[code]

[2019-10-18 14:34] winwisely99 commented on #283
I just ran the darwin.pkg and it worked flawlessly ...

[2019-10-18 15:19] jld3103 commented on #283
The red messages are only warnings. I know that that isn't a good practice.

[2019-10-18 15:30] winwisely99 commented on #283
think its closable.  Maybe add this to the wiki ?
"
On Mac, when building with docker you need to the following share to docker: /var/folders/wp/
"

[2019-10-18 15:32] jld3103 commented on #283
As I said a lot of things need to be added to the wiki. This is one of them

[2019-10-18 15:39] winwisely99 opened #284 "hover build linux-deb failing with Failed to strip ...../go/build/outputs/linux/libflutter_engine.so: exit status 1"
Context:
OS MAC, build with docker

Reproduction:
Make file reproduces the error here: https://github.com/winwisely99/enrollment-mod

just do
[code]

output is:

[code]

[2019-10-18 23:26] #283 closed

[2019-10-18 23:27] Drakirus commented on #284
Good catch!
That a bug.

[2019-10-18 23:48] Drakirus commented on #284
https://github.com/go-flutter-desktop/hover/blob/master/cmd/build.go#L406

The strip command (removes debug information from .so) isn't available on windows/Linux and should be run in Docker when using cross-compiling.

Pinging @jld3103

[2019-10-19 06:49] Tokenyet opened #285 "SelectableText is not working in go-flutter"
[√] Flutter (Channel unknown, v1.10.12, on Microsoft Windows [Version 10.0.18362.388], locale zh-TW)
[√] Android toolchain - develop for Android devices (Android SDK version 28.0.3)
[√] Android Studio (version 3.3)
[√] VS Code, 64-bit edition (version 1.38.1)
[!] Connected device
    ! No devices available

## Steps to Reproduce
Just add a `SelectableText` with some text, and It's not copyable wit

[2019-10-19 06:58] jld3103 commented on #284
@Drakirus you mean the strip command is not available on windows/darwin :)

[2019-10-19 08:30] winwisely99 commented on #284
Maybe this helps ??

using the latest hover that you just pushed to master
strip is running on my mac. kicked off from VSCODE and
[code]

Its sitting in strip for 3 minutes at 100%.
thought this might help.

![Screenshot 2019-10-19 at 10 28 02](https://user-images.githubusercontent.com/56028033/67140479-2ba9ba00-f25b-11e9-9bda-50c0e924e191.png)

[code]

[2019-10-19 11:17] #284 closed

[2019-10-19 11:19] Drakirus commented on #284
@jld3103 thanks!
@winwisely99 does upgrading to the latest version of hover `go get -u github.com/go-flutter-desktop/hover` fixes the issue?

[2019-10-19 13:17] Drakirus commented on #285
I just spend a loot of time looking at `SelectableText` (https://github.com/chunhtai/flutter/blob/master/packages/flutter/lib/src/material/selectable_text.dart) and from my unbdersanding the flutter/flutter framework doesn't exposes the text selection value with the embedder (the one that handle ctrl-c)

[2019-10-19 13:21] Drakirus commented on #285
The `SelectableText` isn't sending message to the embedder because of [this](https://github.com/flutter/flutter/blob/e7ffac2d67203ff3e57a01f762fb5374955d14cd/packages/flutter/lib/src/widgets/editable_text.dart#L1385-L1387).
The line needed to notify the embedder (go-flutter) editing state: [`setEditingState`](https://github.com/flutter/flutter/blob/e7ffac2d67203ff3e57a01f762fb5374955d14cd/packages

[2019-10-19 13:25] ProRedHD opened #286 "ld -lGL could not be found"
Hi,

I don't know if this is the right place to ask but I transfered my existing go-flutter-desktop project over to a new pc and installed go-flutter as descriped. I checked everything but it should work but I get this error.

I already spent 2 hours trying to fix it and I am clueless.

OS: Kubuntu 19.04

[code]

[2019-10-19 13:28] Drakirus commented on #285
Can you please open a issue on flutter/flutter?
(and reference this issue in the flutter/flutter tracker if needed)

[2019-10-19 13:33] Drakirus commented on #286
That's the right place!
Your PC doesn't seems to have the OpenGL dev libraries https://en.wikibooks.org/wiki/OpenGL_Programming/Installation/Linux.
You can install them and it should work.

BUT before doing that, can you try `hover run --opengl=none` (and `hover build linux --opengl=none`).

[code]

[2019-10-19 13:35] Drakirus commented on #286
Humm, I take back what I said, `--opengl=none` shouldn't fix your issue. Only installing OpenGL will.

[2019-10-19 14:31] Tokenyet commented on #285
Thanks for taking care this issue! I opened this issue 😄

[2019-10-19 15:01] winwisely99 commented on #284
It works. Was reasonably fast too.
I got a linux debian package out.

[code]

[2019-10-19 15:12] winwisely99 opened #287 ""hover build linux-snap" failing on MacOS"
to Reproduce:

https://github.com/winwisely99/enrollment-mod

make flu-desk-pack

It tries to build all 3 linux types.
debian works ( hence i closed this issue: https://github.com/go-flutter-desktop/go-flutter/issues/284)
snap fails...

[code]

[2019-10-19 15:36] jld3103 commented on #287
I'll try

[2019-10-19 15:51] jld3103 commented on #287
I can't reproduce:
[code]
I cleaned all docker containers etc.

[2019-10-19 15:58] jld3103 commented on #287
Even when using only containers for everything I can't reproduce :(

[2019-10-19 16:03] jld3103 commented on #287
@winwisely99 Can you only run `hover build linux-snap` ? Without the Makefile stuff

[2019-10-19 16:14] ProRedHD commented on #286
Thank you for the quick answer.

I'm afraid installing OpenGL didn't help. It says I got all the packages installed and the same error happens. Do you have any other suggestions?

[2019-10-19 20:12] Drakirus commented on #286
What is your linux distribution?

[2019-10-19 20:18] Drakirus commented on #286
What is the output of `$ ls /usr/lib/libGL*`?
My best be is: `sudo apt install --reinstall libgl1-mesa-glx`

Since I cannot reproduce this error, and I don't really know where it comes from:
-> https://stackoverflow.com/a/54161024
-> https://stackoverflow.com/a/54397235
-> https://stackoverflow.com/a/32184137
-> https://stackoverflow.com/a/33458318

I guess you have already tried them ;(

[2019-10-19 21:08] Drakirus commented on #287
This issue is related to the snapcraft docker container running on darwin.

Might be the cause:
-> https://forum.snapcraft.io/t/cant-build-snaps-inside-docker-container/9714/3

[2019-10-19 21:09] Drakirus commented on #287
@jld3103 maybe the use: `docker pull snapcore/snapcraft:stable` instead of `latest` can fix this issue?

[2019-10-19 21:13] jld3103 commented on #287
I can't test that so @winwisely99  has to test it.
@winwisely99 do you know what you have to do to change the base docker image for snapcraft packaging?

[2019-10-19 22:32] Drakirus commented on #276
@devkabiir you can test #288 by running:
`env GOFLUTTER_ROUTE="/post/5/edit" hover run -b '@feature/initial-route'`

[2019-10-19 22:41] Drakirus commented on #276
PR for the hover flag done.

[2019-10-19 23:56] Drakirus commented on #286
If you really can't get OpenGL to be installed on your pc, use cross-compiling.

Hover enables you to compile apps to other platforms than the one you are working on.
(`hover build windows` will produce a .exe even if you are not working on windows).

This cross-compiling feature is possible by Docker. And Docker cross-compiling is automatically trigger when your-OS != buildOS.

If you want to use

[2019-10-20 08:34] ProRedHD commented on #286
Thanks for your help in solving this problem! I really appreciate it. I reinstalled libgl1-mesa-glx and moved some files around and the application is starting up.

However it is stuck at the "Loading..." stage and the console is telling me that there is no handler found for "flutter/isolate" and the sqlite-plugin

[code]

I am gonna see if installing android and running flutter itself once will f

[2019-10-20 08:39] jld3103 commented on #286
You need to add the sqflite plugin for go-flutter: https://github.com/nealwon/go-flutter-plugin-sqlite

[2019-10-20 09:00] winwisely99 commented on #287
Can you write it down step by step and i will do it and feedback how it goes.

[2019-10-20 09:02] jld3103 commented on #287
You have to change this line `FROM snapcore/snapcraft` in `go/packaging/linux-snap/Dockerfile` to `FROM snapcore/snapcraft:stable` and the try again

[2019-10-20 09:15] ProRedHD commented on #286
Right, thanks. I completely forgot that I did that last time. Stupid mistake! Everything is working as expected.

[2019-10-20 09:15] #286 closed

[2019-10-20 09:17] winwisely99 commented on #287
here ?
https://github.com/go-flutter-desktop/hover/blob/master/cmd/packaging/packaging.go#L109

[2019-10-20 09:19] jld3103 commented on #287
No here https://github.com/winwisely99/enrollment-mod/blob/master/enrollment/go/packaging/linux-snap/Dockerfile

[2019-10-20 09:19] winwisely99 commented on #287
ok
trying now

[2019-10-20 09:43] winwisely99 commented on #287
Ok i changed it to use "snapcore/snapcraft:stable"

got this:

[code]

[2019-10-20 10:08] jld3103 commented on #287
Can you share the content of the traceback file?

[2019-10-20 11:01] winwisely99 commented on #287
ok
where do i get it from ?

[2019-10-20 11:06] jld3103 commented on #287
The file path is at the end of your log

[2019-10-20 13:12] devkabiir commented on #276
Thanks @Drakirus!, While using a env variable is a good way, they are handled differently based on the host process. So for example, if the host process escapes `"` quotes and my route contains quotes, it will always provide incorrect route to flutter. Or for example if my route contains `$` (special meaning in many shells) it will either be escaped or it will be processed by the host process/shel

[2019-10-20 13:36] Drakirus commented on #276
That's another issue: https://github.com/go-flutter-desktop/go-flutter/issues/240

I think the use of venv is good enough for development purposes. (which was your initial request ^^)

[2019-10-20 13:40] Drakirus commented on #276
While I see to need for 'uni_links' I don't plan to work on it.
Mainly because it cannot be done without platform specific configuration/code.

I'll be happy to have a plug-in for url-links, please consider continuing on #240 😊😁

[2019-10-20 13:42] Drakirus commented on #287
IMO this isn't a hover issue, please consider creating an issue on the snap's issue tracker.

[2019-10-20 15:40] ekasetiawans commented on #274
woow, thanks @Drakirus

[2019-10-20 19:29] winwisely99 commented on #287
trace:

[code]

[2019-10-20 19:58] jld3103 commented on #287
As @Drakirus said the error has nothing to do with hover. So please move the issue to snapcraft

[2019-10-20 20:39] winwisely99 commented on #287
yep wil do...

[2019-10-20 21:15] Drakirus commented on #287
FWIW:
Reading at the snapcraft traceback, here is the run down:

[This line](https://github.com/snapcore/snapcraft/blob/93503ac6f785c481a65603dffc19a4d14792b78c/snapcraft/file_utils.py#L109) raises an exception.
Then in the catch, this [function](https://github.com/snapcore/snapcraft/blob/93503ac6f785c481a65603dffc19a4d14792b78c/snapcraft/file_utils.py#L117) gets called.
Finally during the excepti

[2019-10-20 21:46] Drakirus commented on #257
Go doesn't clone package to a tmp dir, I think this error was caused to some Golang configuration problem (GOPATH wrongly set).

I want to keep the backlog as clean as possible, closing this issue.

[2019-10-20 21:46] #257 closed

[2019-10-21 09:58] winwisely99 opened #289 "hover build linux-appimage failing on Mac with docker build"
to Reproduce:

https://github.com/winwisely99/enrollment-mod

hover build linux-appimage

It stay in the "File /app/enrollment-x86_64.AppImage changed size while reading filesystem, attempting to re-read" message forever.

[code]

[2019-10-21 10:00] jld3103 commented on #289
The same goes for this issue. This is not hover specific so please move the issue to AppImage.

[2019-10-21 10:01] winwisely99 commented on #289
ok

[2019-10-21 10:03] winwisely99 commented on #289
I had a look in tmp for a log but nothing there.
Any ideas where there might be a log i can use for the issue for them ?

[2019-10-21 10:09] winwisely99 commented on #289
raised issue over at AppImage repo: https://github.com/AppImage/AppImageKit/issues/999

[2019-10-21 10:11] #289 closed

[2019-10-21 10:42] winwisely99 commented on #287
This will help with raising an issue with them.
Raised with them here: https://bugs.launchpad.net/snapcraft/+bug/1849092

[2019-10-21 11:04] Drakirus commented on #289
Does the appimage building works with https://github.com/go-flutter-desktop/examples/tree/master/draggable_borderless ?

[2019-10-21 11:06] Drakirus commented on #289
_Suspicious_
Did you managed to get appimage to work?
https://github.com/winwisely99/enrollment-mod/blob/f490d4516c03f15df2847f4cc5f83b62b308408c/enrollment/Makefile#L157-L164

[2019-10-21 11:10] Drakirus commented on #289
Does restarting or cleaning your tmp directory (`/var/folders/wp/` http://magnusviri.com/Mac/what-is-var-folders.html) solves this issue?

[2019-10-21 11:27] winwisely99 commented on #289
Ok let me work through these 3 above suggestions now and post back here the results.

[2019-10-21 11:37] winwisely99 commented on #289
1. draggables_borderless:
- runs locally just fine on mac :)
- appimage docker build worked :)

![Screenshot 2019-10-21 at 13 36 10](https://user-images.githubusercontent.com/56028033/67201959-c5ae6580-f407-11e9-9057-17574704b586.png)

[code]

[2019-10-21 11:38] winwisely99 commented on #289
Trying building that example for all other OS packaging now.....

[2019-10-21 11:44] Drakirus commented on #287
Does the linux-snap building works with https://github.com/go-flutter-desktop/examples/tree/master/draggable_borderless ?

[2019-10-21 11:58] winwisely99 commented on #289
So all the OS's packaging build except for snap.

Output from packaging for all OS's

![Screenshot 2019-10-21 at 13 45 52](https://user-images.githubusercontent.com/56028033/67202535-1e323280-f409-11e9-96b7-4641e4ccafc9.png)

[code]

[2019-10-21 12:02] winwisely99 commented on #289
Regarding linux-snap.

I tried cleaning out the tmp folder, but no luck ...

Here is the makefile we are using for this  regression testing:
https://github.com/winwisely99/bootstrap/tree/master/example/flutter/go-flutter-desktop/examples

Output:

[code]

[2019-10-21 12:17] Drakirus commented on #289
@winwisely99 https://github.com/go-flutter-desktop/go-flutter/issues/287#issuecomment-544477161

[2019-10-21 12:38] winwisely99 commented on #287
For draggable_borderless:
It does not work to when i do: "hover build linux-snap"
The other linux packaging does work.

[2019-10-21 12:41] Drakirus commented on #287
And it's the same FileExistsError: [Errno 17] File exists: 'libbsd.so.0.8.2' -> '/app/stage/lib/x86_64-linux-gnu/libbsd.so.0' error?

[2019-10-21 12:43] winwisely99 commented on #289
Regarding linux-appimage packaging and the enrolment example.

Here is the cross issue from the team there:
https://github.com/AppImage/AppImageKit/issues/999

They suggest it a disk size issue...

[2019-10-21 12:44] Drakirus commented on #287
Can you share the content of `/var/folders/wp/XXXXXXXX/YY/hover-build-enrollment-linux-snapzzzz` directory.

The path is printed on the log when running `hover build linux-snap` i.e.:
[code]

[2019-10-21 13:12] Drakirus commented on #289
Make sure to clean your cache every now and then.
You can close the https://github.com/AppImage/AppImageKit/issues/999 issue.

[2019-10-21 13:51] winwisely99 commented on #287
OK
Its in this folder:
https://drive.google.com/drive/folders/143IRKo8LOIsZWfEyEiKTBKY4-tUzVBYC

216 mb

[2019-10-21 14:31] Drakirus commented on #287
Thanks for sharing (and taking time to upload this big blob).
I ran the following command on linux, and it worked.
[code]

I also deleted the lib dir (the one that produced your error) and it worked.
[code]
I cannot assert that the second snap file is working, but if want a workaround, you can try the second one.

This issue is related to docker snapcraft and MacOS. (not really hover).
Packaging i

[2019-10-21 16:29] winwisely99 commented on #287
ok makes sense and thanks for showing the commands from linux to help us debug things too.

I should get CI setup so that it does these hover builds on a linux machine with docker. At least for now. Might be able to use the new Github actions or another way.  I need to work on that for the team here.

lets close this ?

[2019-10-21 17:10] Drakirus commented on #287
Those commends can be executed on MacOS.

[2019-10-21 17:13] Drakirus commented on #287
This issue can be closed as it is a wontfix.

[2019-10-21 17:13] #287 closed

[2019-10-24 08:20] TT527 opened #290 "Hover build fails with linux"
when i run "hover build linux" command

`hover: Downloading engine for platform linux-x64 at version b863200c37...`
`hover: Failed to download engine: failed to get Content-Length header: strconv.Atoi: parsing "": invalid syntax`

[2019-10-24 14:02] Drakirus commented on #290
Does this error occurs on `flutter channel beta` ?

[2019-10-24 16:29] TT527 commented on #290
yes,i execute this ‘flutter channel beta’,then build successful,but i run it command
`creating glfw window: VersionUnavailable: GLX: Forward compatibility requested but GLX_ARB_create_context_profile is unavailable`

[2019-10-24 19:49] Drakirus commented on #290
The `glfw` error might comes from your Drivers.
here are some more information:
https://github.com/go-flutter-desktop/go-flutter/issues/272#issuecomment-535403717
https://github.com/go-flutter-desktop/go-flutter/issues/248#issuecomment-535428357

TL;DR: `hover run --opengl=none`.

[2019-10-24 19:49] #290 closed

[2019-10-25 03:46] ekasetiawans commented on #274
I create this for showing windows virtual keyboard.

[https://gist.github.com/ekasetiawans/dfc31125d862fa69abdc977bad6223d1](url)

[2019-10-25 03:48] ekasetiawans commented on #274
I have try
`exec.Command("osk")` or `exec.Command("tabtip.exe")` but not working.

[2019-10-25 06:22] 645638180 opened #291 "hover: Failed to parse the 'go-flutter' version in go.mod"
myapp>hover run
[1;36mhover: [0mUsing engine from cache
[1;36mhover: [0mCleaning the build directory
[1;36mhover: [0m[32mBundling flutter app[0m
hover: Failed to parse the 'go-flutter' version in go.mod

[2019-10-25 06:24] 645638180 commented on #291
Flutter 1.10.7 • channel beta • https://github.com/flutter/flutter.git
Framework • revision e70236e36c (3 weeks ago) • 2019-10-02 09:32:30 -0700
Engine • revision 9e6314d348
Tools • Dart 2.6.0 (build 2.6.0-dev.4.0 1103600280)

[2019-10-25 06:25] 645638180 commented on #291
what's the problem?

[2019-10-25 06:32] Drakirus commented on #291
What is the content of go/go.mod?

[2019-10-25 06:38] 645638180 commented on #291
![image](https://user-images.githubusercontent.com/45378040/67548703-0c1c0100-f735-11e9-9955-d4f28ddbbbcb.png)
how to open it?

[2019-10-25 06:42] Drakirus commented on #274
I do not run on windows so I can't help you.
If it is not possible to open the virtual keyboard in go, maybe try to craft a .bat file that opens the virtual keyboard, and call it from go?

[2019-10-25 06:43] 645638180 commented on #291
module std

go 1.12

require (
	golang.org/x/crypto v0.0.0-20190611184440-5c40567a22f8
	golang.org/x/net v0.0.0-20190813141303-74dc4d7220e7
	golang.org/x/sys v0.0.0-20190529130038-5219a1e1c5f8 // indirect
	golang.org/x/text v0.3.2 // indirect
)

[2019-10-25 06:50] ekasetiawans commented on #274
@Drakirus , yes it's not possible to open the virtual keyboard in go. I got `the requested operation requires elevation`. But, now I have solution. I use user32.dll to showing virtual keyboard from tray icon. But this only works on windows 10 and you have to show touch screen keyboard on tray icon.

[This is the link](https://gist.github.com/ekasetiawans/dfc31125d862fa69abdc977bad6223d1)

Maybe so

[2019-10-25 07:07] Drakirus commented on #291
The go projet seems to be wrongly initialized.

Can you:
 1. Make sure you are on the latest version of hover (read the hover Readme)
  2. Delete the go directory from your project
  3. Run `hover init` and `hover run`

Can you also try a example project?
https://github.com/go-flutter-desktop/examples/tree/master/mousebuttons

[2019-10-25 07:34] Drakirus commented on #274
Thanks for sharing.

[2019-10-25 07:40] 645638180 commented on #291
![image](https://user-images.githubusercontent.com/45378040/67552244-3ec9f780-f73d-11e9-8368-8af876c350c2.png)
I delete the go directory ,run hover init and hover run but the same problem
I try the example,but show another problem   (ToT)

[2019-10-25 08:38] 645638180 commented on #291
More problems now... haha, but thank you so much.

I will study it later.

[2019-10-25 09:49] davidmartos96 opened #292 "Error updating hover"
When installing `hover` with `go get -u github.com/go-flutter-desktop/hover` I'm getting the following error:
[code]

Go version: go1.12.6 linux/amd64

[2019-10-25 10:06] davidmartos96 commented on #292
Updating to go 1.13 did fix it. I don't know if you would like to keep it open, since in the docs it says go 1.12 as minimum.

[2019-10-25 10:09] jld3103 commented on #292
This should be kept open as long as there is no fix for it.

[2019-10-25 18:53] YoussefBadal opened #293 "examplesapp still in white screen"
Example name: stocks
Examples repository version: master
## Flutter version

[code]

## Golang errors (Optional)

[code]

## Steps to Reproduce

1.    first of all thanks for you effor to provide us alternative to FDE.
   I have installed go and hover according the description ,and after clone the examples from github , i make hover build  windows , averything is running but when i open stocks.exe

[2019-10-25 18:55] jld3103 commented on #293
Can you add this line, before `runApp(...)`:
[code]

[2019-10-25 19:14] YoussefBadal commented on #293
thanks jld3103 for the answer, but the white screen is  still persist, nothing changed.

[2019-10-25 19:20] Drakirus commented on #293
Does this occurs on others examples?

[2019-10-25 19:23] YoussefBadal commented on #293
Yes as i wrote the same result for all examples and also my flutter app

Pierre Champion <notifications@github.com> schrieb am Fr., 25. Okt. 2019,
21:20:

[2019-10-25 19:32] Drakirus commented on #293
Oh yes sorry,  I somehow miss that from your description.

Does `hover run` gives you an output in the terminal?

[2019-10-25 19:42] YoussefBadal commented on #293
with hover run the same result :), i try more then 3 days  :)
![whiteScreenRun](https://user-images.githubusercontent.com/19620944/67599412-4787f100-f770-11e9-890e-20ec747383f8.PNG)

[2019-10-25 19:57] Drakirus commented on #293
Humm, whenever I receive an issue, I always have a quick idea for a potential fix, but this one different, I actually have no idea of what is going on 🤔.

No error message + a while screen.. We have to dig deeper.

Similar to what jld proposed, can you add:
 - A print before runApp(...) to ensure the Dart VM is running.
 - A print before the first return of the build method from your root widget t

[2019-10-25 20:02] Drakirus commented on #292
Oups it's my commit😅

It might be time to move to 1.13 and fix #170

@jld3103 should we still wait for 1.13 to really be mainstream, or require 1.13 for all go-flutter-desktop projects

[2019-10-25 20:04] jld3103 commented on #292
I think moving to 1.13 would be better. Also 1.13 is the latest stable version according to this: https://golang.org/dl/#stable

[2019-10-25 20:19] davidmartos96 commented on #292
If you guys decide to make 1.13 the supported version, it should be noted in the docs some info about the migration. A small issue I encountered when upgrading to 1.13 was that the go-gl version was giving some conflict versioning errors. I ended up fixing it looking at the solution in a past issue, but better make it explicit somewhere.

[2019-10-25 20:27] Drakirus commented on #292
Yea, prior to v0.29.0 (IIRC) the way we ref go-gl in our go.sum isn't working with 1.13.

[2019-10-25 20:29] jld3103 commented on #292
Hm I was using go 1.13 for some weeks and had no migration problems coming from go 1.12

[2019-10-25 20:30] YoussefBadal commented on #293
so i tried your suggestion with print function and i see that the last print before the return of the build method is not called
![whiteScreenRunPrint](https://user-images.githubusercontent.com/19620944/67602512-10690e00-f777-11e9-950c-9695bdf55f95.PNG)

[2019-10-25 20:34] Drakirus commented on #292
@jld3103 here is the issue https://github.com/miguelpruivo/flutter_file_picker/issues/140

It is kinda bad since it also affects plug-in.

We should inform people to use go 1.13 and go-flutter > 0.30.0

[2019-10-25 20:35] jld3103 commented on #292
Oh yeah I had that error with file picker. I created this PR for it: miguelpruivo/flutter_file_picker#162

[2019-10-25 20:37] Drakirus commented on #293
Does updating to the latest version of Flutter (still recommend the beta channel) changes something?

[2019-10-26 07:27] mjafartp opened #294 "Hover run error"
i cant run the app it produce an error .

hover: Cleaning the build directory
hover: ⚠ The go-flutter project tries to stay compatible with the beta channel of Flutter.
hover: ⚠     It's advised to use the beta channel: `flutter channel beta`
hover: Bundling flutter app
hover: Compiling 'go-flutter' and plugins
 github.com/go-gl/glfw/v3.2/glfw
In file included from ../../../go/pkg/mod/github.com/g

[2019-10-26 07:53] #294 closed

[2019-10-26 07:56] Drakirus commented on #294
#290

[2019-10-26 08:30] YoussefBadal commented on #293
The problem is solved .it was my external geforce 520m Graficard it's old one .i switch to internal graficcard from intel and now the apps runs.thanks for the help

[2019-10-26 08:37] #293 closed

[2019-10-28 20:46] Tao-Baby opened #295 "hover build darwin-bundle failing"
TdeMacBook-Pro:demo tao$ hover build darwin-bundle
hover: Using engine from cache
hover: Cleaning the build directory
hover: ⚠ The go-flutter project tries to stay compatible with the beta channel of Flutter.
hover: ⚠     It's advised to use the beta channel: `flutter channel beta`
hover: Bundling flutter app
hover: Compiling 'go-flutter' and plugins
hover: Successfully compiled
hover: Packaging b

[2019-10-28 20:47] jld3103 commented on #295
Oh ya. Simple fix. Wait a minute.

[2019-10-28 20:49] jld3103 commented on #295
@Tao-Baby Please update hover and try again. Should work now.

[2019-10-29 01:49] #291 closed

[2019-10-29 02:03] 645638180 commented on #291
Hi,I build 'myapp.exe' now.
I run it,but it opens with CMD.
Is that right?
Can I close the CMD?

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Pierre Champion"<notifications@github.com&gt;;
发送时间:&nbsp;2019年10月25日(星期五) 下午3:48
收件人:&nbsp;"go-flutter-desktop/go-flutter"<go-flutter@noreply.github.com&gt;;
抄送:&nbsp;"杨杰"<645638180@qq.com&gt;;"State change"<state_change@noreply.github.co

[2019-10-29 07:23] Tao-Baby commented on #295
well,thx.

[2019-10-29 07:24] #295 closed

[2019-10-29 07:30] Drakirus commented on #291
`hover build windows` for non debug build.
If you are using Dart Process.run - > https://github.com/go-flutter-desktop/go-flutter/wiki/Tips-and-tricks#1-windows-console

[2019-11-02 16:49] befovy opened #296 "How to automatically copy external dynamic library or framework to build folder"
## Flutter version

[✓] Flutter (Channel beta, v1.10.7, on Mac OS X 10.14.6 18G95, locale zh-Hans-CN)

## Plugin version

I'm developing a new plugin.

## Go.mod file

plugin go.mod
[code]

example go.mod
[code]

## Steps to Reproduce

I used cgo in my plugin

[code]

cgo link a framework

It can compile. But framework can not be found when run
[code]

If I copy IJKPlayer.framework to  `/Users/bef

[2019-11-03 16:58] pchampio commented on #296
It's kinda the same issue as #203

Since we are using the golang tool-chain to generate apps (hover, at it's core, is wrapping `go build` and `flutter build bundle`), we don't have access to build automation tool (i.e.: makefile, gradle,...).

It's is currently impossible to have a plugin copy dlyb in the outputs/OS/ directory. (As a big workaround for plugin dev you can use: `hover run --omit-flu

[2019-11-03 17:05] pchampio commented on #296
What we can have is a dlib/{linux, darwin, windows} folder in the plugin (i.e.: https://github.com/go-flutter-desktop/plugins/tree/master/image_picker /dlib/linux)
Every file in those directory would be copied into `outputs/$OS` by `hover plugins get`.

That is the best I can thinks of.

@jld3103 what do you think?

[2019-11-03 17:09] pchampio commented on #296
BTW, awesome the see someone building a plugin!

[2019-11-03 17:35] jld3103 commented on #296
@pchampio I think that would be the best solution. But the problem is, that it looks like the file needs to be copied into the `.framework` folder. Maybe something like hover assets which maps the source files to a location in the build folder is needed. (Also specific for every OS)

[2019-11-03 17:42] pchampio opened #297 "hover upgrade command is confusing"
hover upgrade is confusing, people thinks it updates hover itself.

[2019-11-03 17:48] #297 closed

[2019-11-03 17:54] pchampio commented on #296
Humm, I don't think it works like that.
@befovy Does the output wanted is something like this?:
[code]

Exactly, but for plugin, the dlib will need to be copied from `~/.pub-cache/hosted/pub.dartlang.org/$PLUGIN_NAME/go/dlib/linux/*.so` and so on for each platform!

[2019-11-03 18:25] #170 closed

[2019-11-03 18:28] pchampio commented on #292
Updated hover readme.

[2019-11-03 18:28] #292 closed

[2019-11-03 23:17] pchampio commented on #280
Without additional information, we are unfortunately not sure how to resolve
this issue. We are therefore reluctantly going to close this bug for now. Please
don't hesitate to comment on the bug if you have any more information for us; we
will reopen it right away!
Thanks for your contribution.

[2019-11-03 23:17] #280 closed

[2019-11-04 01:48] befovy commented on #296
Thanks the answer from all of you.

~/fijkplayer/example/go/build/outputs/darwin
$ ls
FlutterEmbedder.framework fijkplayer_example        icudtl.dat
assets                                     flutter_assets                 IJKPlayer.framework

Yes, I want output like above. @pchampio

And, I also thinks  ` a dlib/{linux, darwin, windows} folder in the plugin dir ` is a good solution.

But it seems

[2019-11-04 02:50] foreverzmy commented on #295
I hava the same problem.

hover build darwin-bundle
hover: Using engine from cache
hover: Cleaning the build directory
hover: Bundling flutter app
hover: Compiling 'go-flutter' and plugins
# github.com/go-gl/glfw/v3.2/glfw
In file included from ../../../Golang/pkg/mod/github.com/go-gl/glfw@v0.0.0-20190409004039-e6da0acd62b1/v3.2/glfw/c_glfw_darwin.go:8:
../../../Golang/pkg/mod/github.com/go-gl/glf

[2019-11-04 06:42] kivutar commented on #179
Once codesigned and notarized, did you notice any issue launching the app?
I have a go-glfw app that refuses to launch the first time after clicking "Open" in the Gatekeeper dialog.
I'd like to know if this also happen with go-flutter.

[2019-11-04 07:29] pchampio commented on #295
Update hover:
`go get -u github.com/go-flutter-desktop/hover`

[2019-11-04 07:32] pchampio commented on #296
The implementation hasn't been coded yet^^

[2019-11-04 20:52] #276 closed

[2019-11-04 20:56] pchampio commented on #276
Feature available in go-flutter: `v0.31.0` and hover `v0.36.0`.
Please run: `go get -u github.com/go-flutter-desktop/hover` and then `hover bumpversion` to upgrade hover and the project in which your are.

Then the `hover run --route "/XXX" ` cmd will be available!

[2019-11-05 03:10] befovy opened #299 "Crashed when texture.UnRegister()"
## Hover doctor

[code]

## Error output

I'm developing a video player plugin.
The video content is displayed during playing.
App crashed when call `texture.UnRegister()`

[code]

Hope you reply.

[2019-11-05 05:55] befovy opened #300 "ClearAllHandler for MethodChannel"
## Is your feature request related to a problem?

`MethodChannel` dose not have clear handler method like java and objc.

## Describe the feature you'd like

add new `ClearAllHandler` method for `MethodChannel` and clear map methods in it

I'm pleasure to implement it if this new method is accepted

[2019-11-05 10:26] 926 commented on #224
I am curious to know if this plugin works on desktop :
https://pub.dev/packages/blue_thermal_printer

Never tried to bluetooth connect PC and thermal print, but it seems feasible :
https://printerssetup.org/how-to-configure-a-windows-7-pc-for-bluetooth-printing/

[2019-11-05 10:34] pchampio commented on #224
Since it's the host that connects itself to the thermal printer, the golang code can fake been connection in Bluetooth to a TCP thermal printer.

[2019-11-05 13:05] pchampio commented on #299
Do you get this error when running the https://github.com/go-flutter-desktop/examples/tree/master/texture_tutorial (image gets displayed for 5 seconds, and then it Unregisters)

[2019-11-05 13:13] pchampio commented on #300
Recreating the NewMethodChannel should do the trick, but it's not a super clean.

Yes, I'm interested in a `ClearAllHandler` method for `MethodChannel`.

You can submit a PR.

[2019-11-06 02:04] befovy commented on #299
It still crashed when running `texture tutorial`

<details>
 <summary>click to see terminal details and hover run output</summary>

befovy at Hi in [~/Flutter/go-flutter-examples/texture_tutorial]  on git:master ✔︎  1d385f9 "Update README.md"
9:57:53  › hover run
hover: Using engine from cache
hover: Cleaning the build directory
hover: Bundling flutter app
Running "flutter pub get" in texture_tuto

[2019-11-06 06:36] befovy opened #302 "Can't build go-flutter, request contributing guide"
## Is your feature request related to a problem?

I have the readme in go-flutter and go-flutter/embedder

export CGO_LDFLAGS="-L/home/${HOME}/.cache/hover/engine/linux/"
go build
This works if [hover](https://github.com/go-flutter-desktop/hover) has cached the flutter engine for the local user.

But it not works, hover dose not cached engine.

hover doctor
[code]
## Describe the feature you'd lik

[2019-11-06 07:21] winwisely99 opened #303 "Example Stocks and others failing on Mac due to opengl issue"
## Hover doctor

[code]

## Error output

Using `hover build [...] --XXX` to build my application, I get the following
error:

[code]

![Screenshot 2019-11-06 at 08 15 45](https://user-images.githubusercontent.com/56028033/68276877-460ed080-006e-11ea-8b63-ea9ccfbc7580.png)

[2019-11-06 07:22] winwisely99 commented on #303
![Screenshot 2019-11-06 at 08 21 45](https://user-images.githubusercontent.com/56028033/68277014-8a9a6c00-006e-11ea-91c6-0a74048d878b.png)

[2019-11-06 10:32] davidmartos96 commented on #129
I ended up finding a way to debug Go-Flutter apps within VSCode in the latest beta version v1.10.7 and I wanted to share it with you.

## Flutter Setup
#### 1. Enable flutter desktop support (https://github.com/flutter/flutter/wiki/Desktop-shells#tooling)
`flutter config --enable-linux-desktop`

#### 2. Use your desktop as a device without being in master branch

If you are not in the master branc

[2019-11-06 13:41] pchampio commented on #129
@davidmartos96 thanks for sharing, this is absolutely amazing. 👍

[2019-11-06 18:53] pchampio commented on #303
I don't think MacOS is broken.

The stocks example relies on third party API to display the stocks list.
If the Api is down, the app displays a blank widget.

Some ui of the example is displayed meaning go-flutter isn't broken.

If there where an issue the windows would stay black or transparent.

Are others example (draggable_borderless) down?
(nothing gets displayed)?

I don't know why the resou

[2019-11-06 19:36] pchampio commented on #302
You have to adapt the `export CGO_LDFLAGS` string to your os (see the linux at the end).
Hover should cache the engine in the `/home/${HOME}/.cache/hover/engine/` dir.
Is the engine cached `ls -R /home/${HOME}/.cache/hover/engine/` ?

While I don't have written a contributing guide, I have spend a lot of time writing a [wiki](https://github.com/go-flutter-desktop/go-flutter/wiki).
One of the avail

[2019-11-06 19:46] pchampio commented on #302
I don't feel like writing a contributing.md file.
If you want to PR one, I'll merge it, but to me the wiki stands for itself.

[2019-11-06 20:08] pchampio commented on #299
I thinks it's because the those calls aren't made on the main thread.
I'll create a new branch to test this hypothetical fix.

[2019-11-06 20:21] pchampio commented on #299
Also, the:
[code]
is kinda bad.
The resource window is specifically used to improve texture performance. [go-flutter code](https://github.com/go-flutter-desktop/go-flutter/blob/e0cd5259cd6d9dc4b0fc1071abe7f0b55640f883/application.go#L64-L76)

The only thing I can do is add another [open gl version](https://github.com/go-flutter-desktop/go-flutter/tree/master/internal/opengl).

[2019-11-06 21:12] pchampio commented on #299
PR complete:
I've added 2 other opengl version 3.2core and 3.2compatibility (the default one stays 3.3)
If you run `hover run --opengl=3.2 -b '@bugfix/texture-thread'`, does the SIGSEGV stills happen?

I would also like to know if using `--opengl=3.2` solves:
[code]

If not, can you also try `hover run --opengl=3.2_compatibility -b '@bugfix/texture-thread'`?

Thank for reporting, your contribution

[2019-11-06 21:24] #300 closed

[2019-11-06 21:29] pchampio commented on #300
tagged into: `v0.32.0`

[2019-11-06 22:05] pchampio commented on #296
If someone wants to work on this, here is how this feature should be implemented:

 -  When running `hover plugins get` [under this line](https://github.com/go-flutter-desktop/hover/blob/ac4f1964b23ddd536eb27a19d392702da6cf85b6/cmd/plugins.go#L301-L302) copies the content of the `dep.pluginGoSource / "dlibs"` folder (if exist) to `go/build/intermediates` of the project.
 - After the `Cleaning the

[2019-11-07 01:26] befovy commented on #302
Yeah, wiki is great.

But there's no `hover` folder in `${HOME}/.cache`

You said `/home/${HOME}/.cache/hover/engine/`. Is it a typo?
I hava nothing in `/home`

[code]

[2019-11-07 01:48] befovy commented on #299
no crash when running `hover run --opengl=3.2 -b '@bugfix/texture-thread'` .
but it hangs up at `hover: Closing the flutter attach sub process..`
So I press ctrl^ C

<details>

<summary >whole output</summary>

befovy  [~/Flutter/go-flutter-examples/texture_tutorial]  on git:master ✗  1d385f9 "Update README.md"
9:31:02  › hover run --opengl=3.2 -b '@bugfix/texture-thread'
hover: Using engine from

[2019-11-07 08:29] winwisely99 commented on #303
ok thanks for the feedback. Will check on our side

[2019-11-07 08:31] winwisely99 commented on #303
will clsoe out

[2019-11-07 08:31] #303 closed

[2019-11-07 08:52] pchampio commented on #302
fixed by #305

[2019-11-07 08:52] #302 closed

[2019-11-07 08:59] pchampio commented on #299
This is because the `flutter attach` command isn't attached to go-flutter and go-flutter just stopped.
The solution is either to Ctrl^ C or wait for the `flutter attach` command to be connected before closing the app.

---

You are still getting `VersionUnavailable` with `--opengl=3.2`:
[code]

I've missed some initialization flag for the resource window creation, does `hover run -b '@bugfix/textu

[2019-11-07 09:16] pchampio commented on #203
Please refer to: https://github.com/go-flutter-desktop/go-flutter/issues/296#issuecomment-550521895

[2019-11-07 09:44] befovy commented on #299
The image disappeared after 5 seconds.
![image](https://user-images.githubusercontent.com/51129600/68377472-67161500-0185-11ea-9936-3a7ea4cb95c3.png)

No `VersionUnavailable` without `--opengl` flag.
Also no `VersionUnavailable` with `--opengl=3.2` and `--opengl=3.2_compatibility` flag.

[code]

[code]

[code]

[2019-11-07 09:49] pchampio commented on #299
Awesome, the `--opengl=3.2` and `-opengl=3.2_compatibility` are unnecessary.
I'll remove them because the implicit `--opengl=3.3` works well.

[2019-11-07 09:52] liuhengloveyou opened #306 "Failed to find boxed file app/main.go"
## Hover doctor

[code]

## Error output

hover init github.com/my-organization/simpleApplication, I get the following
error:

[code]

[2019-11-07 09:52] #299 closed

[2019-11-07 09:53] pchampio commented on #299
Fixed in `v0.33.0`

[2019-11-07 09:58] pchampio commented on #306
Is golang newly installed?
Have you correctly set the $GOPATH? (and restarted the terminal..)

Duplicate of https://github.com/go-flutter-desktop/go-flutter/issues/257

[2019-11-07 16:53] pchampio commented on #306
It might be because `GO111MODULE=on`.

[2019-11-08 09:27] 926 commented on #224
Hi @pchampio,
Thanks for making this clearer,
Please forgive my newbie question, but why not start with Dart plugin ?

[2019-11-08 10:36] ximigame opened #307 "How can I output ALL logs to a file, include system's log"
I mean not only the log i call print, but also the system's

[2019-11-08 10:49] pchampio commented on #224
Since Dart as access to TCP sockets, it is actually better to do everything in Dart if your printer supports TCP printing.

[2019-11-08 10:55] pchampio commented on #307
What is your system?
What is the use-case?
On which command would you like to save a log file? (hover run? Or from the binary)

On Linux: https://stackoverflow.com/a/6674348

I'm not sure I understand your use case.

[2019-11-08 11:28] ximigame commented on #307
---eg.
"go-flutter: recover from wrong editingState: invalid text selection: selectionBase:-1, selectionExtent:-1. Refer to go-flutter-desktop/go-flutter#221"

"creating glfw window: APIUnavailable: WGL: The driver does not appear to support OpenGL"

 ----when i use hover run, there are logs in the console. but i can't get logs from the release app(hover build)

[2019-11-08 11:39] pchampio commented on #307
You will certainly have to modify the template generated by `hover init-package XXX`.
 For example on `hover init-package linux-appimage` the packaging build files are located under `go/packaging/linux-appimage`.
Editing the `AppRun` file and adding the above `> stdout.txt 2> stderr.txt` to the line `exec ./build/simple_app` redirect the output in a log file.

You have to configure your packaging

[2019-11-08 11:39] #307 closed

[2019-11-09 16:53] jld3103 commented on #259
I experimented a lot with AOT today and this is what I came up with:
1. Compile the engine for linux, darwin and windows using CI
2. Download the necessary files from the CI artifacts using hover (`dart, frontend_server.dart.snapshot, flutter_patched_sdk, gen_snapshot`)
3. Build the AOT snapshot using the CI generated binaries
4. Wrap go-flutter around

Have you any other ideas? @pchampio @GeertJo

[2019-11-09 20:35] pchampio commented on #259
Before going down the CI route, I would like to ask the flutter team if they are willing to add the AOT engine to their build-bot.

From the user perspective, I personally always look the source of pre-build software I install on my machine.
In this context, having the source of the engine build by the official flutter team instead of some 'random' dudes is much more robust.

From point 2, are the

[2019-11-09 23:23] jld3103 commented on #259
I don't think gen_snapshot available

[2019-11-10 14:36] pchampio commented on #306
To reproduce this issue:
`GO111MODULE=on go get -u github.com/go-flutter-desktop/hover`

[2019-11-11 08:11] DreamerLeon opened #309 "hover: Go build failed: exit status 2"
## Hover doctor

[code]

## Error output

Using `hover run` to build my application, I get the following
error:

[code]

[2019-11-11 13:48] truongsinh commented on #188
Hi, is there any update to this?

[2019-11-11 18:27] pchampio commented on #188
@joeblew99 hasn't reported back so I don't think he has made progress on this.

As for go-flutter-desktop maintainers, it's not manageable to implement all plugins by ourselves, we believe the community should help us when it comes to implementing plug-in.

If you are interested in continuing, please check the [texture_tutorial](https://github.com/go-flutter-desktop/examples/tree/master/texture_tu

[2019-11-11 18:35] pchampio commented on #309
Are you running on windows 32 bits ?

[2019-11-11 18:37] pchampio commented on #309
Have you tried following this steps https://stackoverflow.com/a/38589950 ?

[2019-11-12 01:23] DreamerLeon commented on #309
Running on Win10 64 bits

[2019-11-12 01:28] DreamerLeon commented on #309
After I install mingw-w64 and restart VS code ,It's ok! I'm not ensure .

[2019-11-12 07:28] #309 closed

[2019-11-12 07:36] befovy commented on #296
Please assign this issue to me. I will make a pull request in this week.

[2019-11-13 06:53] truongsinh commented on #188
the example above is for displaying the content I think, is there any example of getting raw data from devices/hardware?

[2019-11-13 07:32] CaiJingLong opened #310 "How to build mac application and use it in low os."
I want to build an application and distribution it to other user to use it.

Now my steps are like this:

1. Build application in mac os 10.15.1.
2. Send dmg to other user.
3. User can't use it.

I use the command to build application.
[code]

Then all the versions below 10.15 can't use this app. It seems that cgo introduces some system dynamic libraries.

## hover version
<details>

[code]
</deta

[2019-11-13 08:30] befovy commented on #296
@pchampio
What should do if two different go-flutter plugins have file with the same name in there `dlib` folder ?

[2019-11-13 09:20] jld3103 commented on #296
Maybe prefix the file with the plugin name (do it always for consistency)

[2019-11-13 09:26] pchampio commented on #188
In my above comment I referenced gocv

[2019-11-13 10:39] pchampio commented on #296
I don't thinks we can rename share libs without having to rename the CGO import (i.e.: `// #cgo darwin LDFLAGS: -framework XXX`).
If there is another solution, I'll take it.

PS: I'm not sure how renaming libs affect import

[2019-11-15 09:17] pchampio commented on #296
Fixed by https://github.com/go-flutter-desktop/hover/pull/59
Tagged in hover@v0.37.0

[2019-11-15 09:17] #296 closed

[2019-11-15 15:33] befovy opened #311 "Should large file in folder dlib and tracked in git"
Should large file in folder `dlib` and tracked in git ?

Can we use hover to auto download it when `hover plugins get` ?

[2019-11-15 16:27] pchampio commented on #311
Yea.. We are missing a real build system here (no grade, makefile..).
But I think it is for the best, it is easier to maintain classic `go build` for a small team of contributor.

To answer

The answer is obviously: no, but go-flutter/git doesn't prevent you from doing so.

Given the fact that we want to avoid a hook/plugins system that runs upon `hover build`. We don't have much choice.

 1) have

[2019-11-15 22:28] pchampio commented on #310
Packaging is done in docker, But if you are running on the OS of distribution, the default compilation of the binaries (exact output of `hover build darwin`) is perform on the host.

Can you run `hover build darwin-dmg --docker` to have the entire compilation/packaging procedure run on Docker.

[2019-11-15 23:13] pchampio commented on #310
You can also add the following line in your `go/cmd/option.go` file:
[code]

[2019-11-16 02:43] CaiJingLong commented on #310
I need to contact the App user to determine if it works, because I don't have a lower version of mac os.
Need to wait for the user's reply, I will contact you if there is a message.

[2019-11-16 06:43] befovy commented on #310
@CaiJingLong Hi, what is the version number of the "lower version of mac os"?
I have mac os with version 10.14.6 (18G1012).
Where can I get the dmg file? I can make a test.

[2019-11-17 19:29] elbashery opened #312 "Hover without flutter !?"
Why doesn't Hover be a project independent of Flutter?
What do you think of project like this ?
https://gioui.org/
 https://www.youtube.com/watch?v=PxnL3-Sex3o&t=31s

 Could you soon have something great like flutter?
I wonder this question because I believe that there will be no need  Hover when FlutterDesktop becomes stable
I hope I'm wrong.
Thank you

[2019-11-17 20:35] jld3103 commented on #312
This project is about flutter for desktop. You are free to choose any other UI framework, but go-flutter is only for flutter.

[2019-11-17 22:33] pchampio commented on #312
I'm a bit shocked by the "Hover without flutter !?".
This project isn't about building a UI toolkit. I don't fave any opinions on gioui, as I'm not a ui/ui-toolkit developer.
Make sure to read: https://github.com/go-flutter-desktop/go-flutter/issues/191

And please:

Have you heard of open source maintainer burnout? (remove the soon from your sentence next time😉)

[2019-11-17 22:34] #312 closed

[2019-11-18 05:22] CaiJingLong commented on #310
@pchampio
I contacted the user and it seems can''t be opened.
I use [tip-and-tricks](https://github.com/go-flutter-desktop/go-flutter/wiki/Tips-and-tricks#4-darwin-how-to-build-mac-application-and-use-it-in-low-os) to build it.

[2019-11-18 05:28] CaiJingLong commented on #310
Then, I tried another solution, using the image of macOS-10.14 provided by github actions, but it seems to encounter another problem.

https://github.com/CaiJingLong/JsonToDart/releases/tag/v0.0.20

I get the result when I double click to open it.
![image](https://user-images.githubusercontent.com/14145407/69026684-d9e58280-0a06-11ea-83b6-d0236137e7c8.png)

---

And if I use the cli to open the bi

[2019-11-18 06:36] nzlov opened #313 "build module requires Go 1.13 cross-compiling"
## Hover doctor

[code]

## Error output

Using `hover build [...] --XXX` to build my application, I get the following
error:

[code]

## Why:
docker image `golang-cross` based on `golang 1.12.12`.
`shared_preferences` use `os.UserConfigDir` in `golang 1.13`

## How Fix
rebuild `golang-cross` image based on `golang 1.13`

[2019-11-18 09:20] jld3103 commented on #313
I think you need to update the docker image. I have no problem with cross-compiling.

[2019-11-18 10:05] pchampio commented on #313
@jld3103 can you test with `github.com/go-flutter-desktop/plugins/shared_preferences v0.4.3`?
dockercore/golang-cross dosn't support golang 1.13. Pending PR https://github.com/docker/golang-cross/pull/45.
I didn't realized it when I've fixed: #170

@nzlov a temporary fix is to downgrade shared_preferences to `v0.4.1`. sorry for the inconvenience.

[2019-11-18 10:06] pchampio commented on #313
Waiting for docker/golang-cross#45

[2019-11-18 22:16] pchampio commented on #313
After a bit of search on the docker hub, I've found [this](https://hub.docker.com/r/goreng/golang-cross) container that supports golang 1.13.

If you want to compile everything using golang 1.13, the temporary solution is to edit the `go/cross-compiling/Dockerfile` file and change the `FROM dockercore/golang-cross` to `FROM goreng/golang-cross:v1.13.1`.

Keeping this PR open, I would prefer to use

[2019-11-18 22:19] pchampio commented on #310
@CaiJingLong please open another issue for the second problem.

[2019-11-18 22:22] pchampio commented on #310
Removed Tip-and-tricks 4 from wiki:
---
### 4. Darwin: How to build mac application and use it in low os:

Place the following `compatibility_darwin.go` file into the `go/cmd/` directory:
[code]

By @pchampio, [#310](https://github.com/go-flutter-desktop/go-flutter/issues/310)
---

[2019-11-18 22:25] pchampio commented on #310
@CaiJingLong we have another alternative:

Packaging is done in docker, But if you are running on the OS of distribution, the default compilation of the binaries (exact output of `hover build darwin`) is perform on the host.

Can you run `hover build darwin-dmg --docker` to have the entire compilation/packaging procedure run on Docker?
Does `hover build darwin-dmg --docker` fixes the issue?

[2019-11-18 22:27] jld3103 commented on #313
Maybe `goreng/golang-cross:v1.13.1` should be the default as long as the official golang cross-compiling image is not published.
We require go 1.13 as minimum version, but don't support it on cross-compiling. We should be consistent about that.

[2019-11-18 22:36] pchampio commented on #313
Ok, @jld3103 you can do the PR/Merge on hover.

[2019-11-18 22:40] pchampio opened #314 "hardware keyboard text selection"
The flutter team is implementing keyboard text selection movement at the framework level.
They are using the [`"flutter/keyevent"` BasicMessageChannel](https://github.com/go-flutter-desktop/go-flutter/blob/master/key-events.go#L11) as source of keyboard selection/movement events.

Currently go-flutter has implemented text selection movement at the embedder (glfw) level.
Work is duplicate (handlers

[2019-11-18 23:01] jld3103 commented on #313
@pchampio Can you do it? I need to get some sleep and can only do something again tomorrow evening

[2019-11-18 23:07] pchampio commented on #313
ok

[2019-11-18 23:07] stuartmorgan commented on #314
FWIW this is an area of ongoing discussion; see https://github.com/flutter/flutter/issues/30725 for some of it.

[2019-11-18 23:21] #313 closed

[2019-11-18 23:22] pchampio commented on #313
@nzlov please update hover: `go get -u github.com/go-flutter-desktop/hover`, rm `go/cross-compiling` and rerun your build!

[2019-11-19 00:54] nzlov commented on #313
@pchampio @jld3103
Why use `goreng/golang-cross: v1.13.1` instead of the `dockercore/golang-cross` change implementation?

[2019-11-19 01:03] CaiJingLong commented on #310
[code]

[2019-11-19 01:07] CaiJingLong commented on #310
When I edit the min version to 10.10.0, I get a dmg. I will ask the user to test if it is available.

[2019-11-19 01:17] CaiJingLong opened #315 "Use github actions to release"
I want to use github actions to build macOS application.
I'm using the image of macOS-10.14 provided by github actions, but it seems have problem.

https://github.com/CaiJingLong/JsonToDart/releases/tag/v0.0.20

I get the result when I double click to open it.
![image](https://user-images.githubusercontent.com/14145407/69026684-d9e58280-0a06-11ea-83b6-d0236137e7c8.png)

---

And if I use the cli t

[2019-11-19 01:38] CaiJingLong commented on #310
This is my user capture his screenshot.
![image](https://user-images.githubusercontent.com/14145407/69108606-2042ec00-0ab0-11ea-8947-2ebcecdde3a2.png)

The border of yellow is application windows.

[2019-11-19 08:58] pchampio commented on #313
We use the goreng/golang-cross image because we don't have another choice.
It's the only image that supports golang 1.13.

You aren't affected by this change.

[2019-11-19 09:30] pchampio commented on #315
Duplicate of #313
Sorry for making you create another issue, I didn't realize it was the cause of 313.

[2019-11-19 13:14] pchampio commented on #310
Does `hover build darwin-bundle` produce the same black screen result?

[2019-11-20 17:46] elbashery commented on #312
Thank you very much.

[2019-11-24 05:05] befovy commented on #129
@davidmartos96  thanks for sharing. I followed the step above.
`flutter device` list mac os as a device.
[code]

But VSCode dose not detect any device.
![image](https://user-images.githubusercontent.com/51129600/69489847-caa87e00-0eb9-11ea-9cad-c407c1d367ef.png)

And when I try to run go-flutter apps from VSCode, it requires me to start a device.

![image](https://user-images.githubusercontent.com

[2019-11-24 08:23] davidmartos96 commented on #129
If launching flutter devices from the console works, then make sure that VSCode is using the same flutter binary as your PATH. Also, restart VSCode so that it refreshes the available devices.

[2019-11-24 08:37] DanTup commented on #129
If you run `flutter config --enable-linux-desktop` while VS Code is open, you'll need to restart it as the config changes are only read at startup (and VS Code runs the device daemon in the background). There's another potential reason for the device to not show up, and that's if there isn't a macOS desktop project in the current folder (VS Code asks the device daemon which of the devies are valid

[2019-11-24 22:12] pchampio commented on #84
`hover run -b '@go-glv3.3'` shoud fix the issue.
waiting for https://github.com/go-flutter-desktop/go-flutter/pull/298 to be merged!

[2019-11-25 02:45] befovy commented on #129
Thanks for your answers @DanTup @davidmartos96

After I created an empty `macos` folder in project,  VS Code show the macOS device.

But I got another error when running go-flutter examples pointer_demo ( press F5 ).
BYW `hover run` works OK.

![image](https://user-images.githubusercontent.com/51129600/69507782-abb7f380-0f6e-11ea-9785-61dabf0c8e83.png)

![image](https://user-images.githubuserconte

[2019-11-25 08:22] DanTup commented on #129
Sorry I wasn't very clear with this - it can't be an empty folder, it needs to contain the macOS parts of the app. For example if you run `flutter create --macos` in a new folder, it will include ` macos` folder with the necessary files. I *think* you can probably just copy that folder over into your project, but I'm not familiar enough with the desktop work to be certain. Running `flutter create

[2019-11-26 03:57] stuartmorgan commented on #129
@DanTup Since the goal is just to pass the Flutter daemon's check that the project supports the desktop platform, an empty folder should work, add that's all the daemon checks (currently, although there's no guarantee that won't change in the future). The build for go-Flutter doesn't use the Flutter desktop embedding or runner.

That error just looks like the result of supplying a binary, rather t

[2019-11-26 07:40] DanTup commented on #129
Ah - it didn't occur to me this might work differently - thanks for clarifying! :-)

[2019-11-26 08:43] Vinoth1094 opened #319 "TextEditingController not working properly"
TextEditingController.**text** always returns empty String.

I'm using TextEditingController as controller for TextField and added listener to the TextEditingController as below,

**TextEditingController usernameController = TextEditingController();**

**usernameController.addListener(() {
      print(usernameController.text);
});**

**TextField(
      controller: usernameController,
      focusNo

[2019-11-26 09:08] pchampio commented on #319
I can see that you are running on `master`, does the `flutter channel beta` works?

[2019-11-26 09:48] Vinoth1094 commented on #319
Yes, it does work in the beta channel. But pasting text using shortcut **Ctrl+V** pastes the text twice.

This issue can be reproduced every time in both beta and master channels.
Can anyone help to resolve this issue?

[2019-11-26 10:07] pchampio commented on #319
Closing this issue because Master can be unstable, can always be reopened if needed.

About:

This is another issue, please refer to #314
The flutter team is currently working on the text back-end, some issues are still discussed. The go-flutter team is waiting to have a stable behavior rather than hot-fixing every little issue. If you want **Ctrl-V** to work, you need to use `flutter version v1.9

[2019-11-26 10:07] #319 closed

[2019-12-01 16:05] geata opened #320 "i use ctrl+v once to copy a string into TextField,but he did it twice"
"a" is in my clipboard,where i use ctrl+v once,i got "aa"

[2019-12-01 16:18] pchampio commented on #320
Duplicate of #314
Please read: https://github.com/go-flutter-desktop/go-flutter/issues/319#issuecomment-558557949

[2019-12-01 16:18] #320 closed

[2019-12-01 16:27] pchampio commented on #310
Friendly ping.
Does `hover build darwin-bundle --docker` works on your consumer device?

[2019-12-04 01:38] ekasetiawans opened #321 "Application crash when using flutter beta channel or flutter version newer than 1.10.15"
I use flutter beta channel (version 1.11.0).
I have trying in Windows, Linux, and Macos.

This is the logs shown on terminal.

[code]

[2019-12-04 10:11] pchampio commented on #315
Without additional information, we are unfortunately not sure how to resolve
this issue. Please follow #310 as the issue has more comments.

Thanks for your contribution.

[2019-12-04 10:11] #315 closed

[2019-12-04 10:20] pchampio commented on #321
https://github.com/flutter/flutter/issues/45892
https://github.com/flutter/flutter/issues/26108
https://github.com/flutter/flutter/issues/8403
https://github.com/flutter/flutter/issues/26168

What is the content of pubspec.yaml?

[2019-12-04 10:22] pchampio commented on #321
Does this error happens with one of our https://github.com/go-flutter-desktop/examples?

[2019-12-05 04:10] ekasetiawans commented on #321
is is my pubspec.yaml

[code]

[2019-12-05 04:11] ekasetiawans commented on #321
I'll try it

[2019-12-05 06:46] ekasetiawans opened #322 "How to get application version in pubspec.yaml at runtime?"
I want to show my application version at runtime.

[2019-12-05 08:53] pchampio commented on #322
You have to use https://github.com/go-flutter-desktop/plugins/blob/master/package_info/README.md

[2019-12-05 08:53] #322 closed

[2019-12-05 09:14] pchampio commented on #321
I think it is caused by one of the font you are using.
Also make sure to read the flutter issue I've linked, this isn't a go-flutter issue.

[2019-12-05 13:32] ekasetiawans commented on #322
Thank you

[2019-12-05 21:28] kenthinson opened #323 "hover not finding my flutter install."
Hello. I have been using hover for a few days to make a app without issue. Today I started up my computer and I see this
[code]
flutter is installed and in my path
[code]

Please advise thanks.

[2019-12-07 07:51] 12ndxu opened #324 "suport webview,please!!"
we can use js to replace when some widget no support , first we need webview!!

[2019-12-07 15:21] joeblew99 commented on #324
There are 2 ways.

Zserge lib
Lorca lib.

Just Google for it on GitHub.

They have to open in a seperate window though.
It might be possible to get zserge working inline but I don't know

[2019-12-07 15:24] joeblew99 commented on #266
There is an android and iOS downloader that is sort of like a self updater
It's API for the plugin could be used for desktop and then a golang self updater is pretty easy.

Downloading a new PKG on Mac will require running the full installer.
Do you want in place updating though ?

[2019-12-07 15:26] joeblew99 commented on #188
Hey all

We are working on it along with @cloudwebrtc

It's working on Mac, iOS and Android.
Getting it working on windows and Linux will require more cgo work.

It can also do s teen capture.

Almost working in flutter web

[2019-12-07 15:27] joeblew99 commented on #188
Also check out the ion project !.this is the golang server side parts to allow video streaming and pub sub.

It's part of the webrtc pion project. Really awesome stuff

[2019-12-07 17:53] pchampio commented on #188
Awesome, don't hesitate to submit a PR on https://github.com/go-flutter-desktop/plugins once you have something working!

[2019-12-07 18:21] pchampio commented on #324
On the same way a texture api is required to implement camera/video plug-in.
There is a special Api to implement in the go-flutter source code to implement webview plug-in.

The first step towards supporting webview plug-in, is to adds support for [`FlutterCompositor`](https://github.com/flutter/engine/blob/f5250ec9b1ef54a6357a8d5ef2ad164270b727f2/shell/platform/embedder/embedder.h#L1043).
The you

[2019-12-07 18:32] pchampio commented on #323
Your shell binary path might be not linked to your system path.
Are you sure flutter is in your path?

I guess you can try to craft a small golang binary which calls the flutter command. Then you will have to look at the error value

[2019-12-07 20:40] kenthinson commented on #323
Figured out that if I change shell I can get it to work. Closing thanks.

[2019-12-07 20:40] #323 closed

[2019-12-09 10:32] truongsinh commented on #188
@joeblew99 can I have a preview? Working on Mac is enough for me. I have a project using `tflite_native` for object detection, and is demonstrating how flutter and tflite can be truly cross-platform.

[2019-12-11 08:36] winwisely99 commented on #324
@pchampio thanks for the feedback. I was always wondering where compositing happens in Flutter !

[2019-12-11 08:39] winwisely99 commented on #324
Here is the golang lib that can open a Webview on all desktops.
https://github.com/zserge/webview/tree/webview-x

The webview-x branch is a refactor designed to also use the Edge Webview, rather than the old Windows browser engine.

Rather than the complex compositing, i was thinking of at least trying to have it open in a separate window to at least have something working.

@pchampio Any idea how

[2019-12-11 08:44] pchampio commented on #324
No, I don't know much, but I strongly recommend https://github.com/go-flutter-desktop/plugins/tree/master/url_launcher for a similar behavior.

[2019-12-11 08:55] winwisely99 commented on #324
@pchampio thanks will try out the Url Launcher

[2019-12-13 07:04] ekasetiawans commented on #321
you are right, this issue caused by font. I have remove that font and application running normally. So, I closed this issue.

[2019-12-13 07:04] #321 closed

[2019-12-19 02:31] CaiJingLong commented on #310
`hover build darwin-bundle --docker`  it works.
Double-clicking the app directly in dmg will continue to loading, but dragging the app to the `/application` folder will not cause problems.

Thanks for your work.

[2019-12-19 02:31] #310 closed

[2019-12-23 08:26] jstyarsenal opened #325 "Drag the windows size with the mouse a few times lead the application crash in my mac os"
I try to compile the examples/flutter_gallery in my mac os with flutter beta channel with command "flutter build macos" and hover command "hover build darwin-bundle". Both of these methods can compile successfully. But when I double click the darwin-bundle flutter_gallery with mouse and drag the application window size especially from top line to bottom line direction, it always crash. But I run t

[2019-12-23 08:53] pchampio commented on #325
duplicate of https://github.com/go-flutter-desktop/go-flutter/issues/133
a fix is coming soon https://github.com/go-flutter-desktop/go-flutter/pull/308

[2019-12-23 08:53] #325 closed

[2019-12-23 08:54] pchampio commented on #325
Do you encounter this bug with: `hover run -b '@no_resize_crash'` ?

[2019-12-25 13:53] pchampio commented on #133
This issue should be fixed in go-flutter: [` v0.34.0`](https://github.com/go-flutter-desktop/go-flutter/releases/tag/v0.34.0)

[2019-12-25 14:40] pchampio commented on #285
This issue is fixed in Flutter 1.12 stable.

[code]
The flutter/flutter framework is using the ["flutter/keyevent"](https://github.com/go-flutter-desktop/go-flutter/blob/master/key-events.go#L62) BasicMessageChannel to register the copy event on the framework side.
The framework is then sending the text content through the ["Clipboard.setData" method of "flutter/platform"](https://github.com/go-fl

[2019-12-25 14:47] pchampio commented on #285
As we are using [RawKeyEventDataLinux (GLFW compatible)](https://github.com/flutter/flutter/blob/6e72facad1d4bc28384cb8b38d57de8f1de2aa15/packages/flutter/lib/src/services/raw_keyboard_linux.dart#L166) this means the flutter framework would need have different handles for modifier keys on different platforms. i.e. different handles on (linux/macos/window) (ctrl-c vs cmd-c) for the SAME render-er b

[2019-12-25 15:02] pchampio commented on #285
The issue of using the flutter/keyevent to interact with keyboard shortcut/text movement is described in https://github.com/go-flutter-desktop/go-flutter/issues/314.
Closing this issue.

[2019-12-25 15:02] #285 closed

[2019-12-25 17:41] pchampio commented on #314
Using `Flutter 1.12.13+hotfix.5 • channel stable`, there is an issue with copying text in `SelectableText`.

`SelectableText` doesn't expose the text content through the `"flutter/textinput"` MethodChannel, meaning embedder cannot directly query the text content and put it in the OS clipboard. (This is how go-flutter handles it when using `TextField`: [code](https://github.com/go-flutter-desktop/g

[2019-12-26 12:04] jld3103 opened #326 "Blackscreen after #308"
@pchampio
After #308 my app only shows a blackscreen and spits out this error on linux (also tested windows with wine and got the same error):
[code]
When running using `hover run -b '@2d582358f34c257933c47e1f0591fc38c713c78c'` (the previous commit) the app starts like normal so it's definitely an issue with #308.

[2019-12-26 13:57] pchampio commented on #326
What's your flutter version?
Does this error happen with:
[code]

[2019-12-26 14:32] jld3103 commented on #326
I'm currently on:
[code]
and it also happens on stable

[2019-12-26 14:42] jld3103 opened #327 "Snap packaging is broken"
When running the executable of a snap the console shows:
[code]
I'll try to find the version of hover where snap packaging wasn't broken and the fix the current version.

[2019-12-27 13:52] pchampio commented on #326
@jld3103 does `hover run -b '@no_resize_crash_v2'` works?

[2019-12-27 14:24] jld3103 commented on #326
Nope same error

[2019-12-27 14:35] pchampio commented on #326
Just updated to glfw v3.3, does this fixes your issue ?

[2019-12-27 14:39] jld3103 commented on #326
No, didn't work

[2019-12-27 14:46] pchampio commented on #326
What about: `hover run -b '@no_resize_crash_v2' --opengl=none` ??

[2019-12-27 14:48] jld3103 commented on #326
Still the same

[2019-12-27 14:49] pchampio commented on #326
I'm clueless

[2019-12-27 14:49] pchampio commented on #326
Can you share the full output of the `hover run`?

[2019-12-27 14:52] pchampio commented on #326
FWIW, this should work: https://github.com/flutter/engine/blob/e731ad9b709df5d65f44e0703a5362beae186b18/shell/platform/embedder/tests/embedder_unittests.cc#L2585-L2661

[2019-12-27 14:54] jld3103 commented on #326
[code]

[2019-12-27 14:59] jld3103 commented on #326
I tried running using `@latest`, but also got the error. So somehow your revert doesn't work?

[2019-12-27 15:16] pchampio commented on #326
`@latest` uses the latest tag available, try `@master`

[2019-12-27 15:20] pchampio commented on #326
might be related to: https://github.com/go-flutter-desktop/go-flutter/issues/68

[2019-12-28 12:09] GeertJohan commented on #327
Or we could wait for go-flutter-desktop/hover#73 to be merged.

[2019-12-28 15:59] pchampio commented on #326
Do you have a multi GPU setup?

[2019-12-28 17:05] jld3103 commented on #326
No

[2019-12-29 03:26] tdh8316 opened #330 "[Question] How to use MethodChannel for invoking golang func"
Hi, I'm a newbie for this project.
I'd like to call functions written in Golang. In mobile flutter, I could invoke native functions via `MethodChannel`.

But I have no idea if `go-flutter` has MethodChannel, and how can I use it.

Can anyone provide an example of MethodChannel of `go-flutter`?

It'd be cool if this project has a well-organized document!

[2019-12-29 10:48] jld3103 commented on #330
Here is a plugin example: https://github.com/go-flutter-desktop/examples/tree/master/plugin_tutorial. You can use it like any normal plugin using MethodChannels.

[2019-12-29 12:06] tdh8316 commented on #330
Thank you for letting me know!

[2019-12-29 12:06] #330 closed

[2019-12-29 17:35] pchampio commented on #330
Please refer to our [wiki](https://github.com/go-flutter-desktop/go-flutter/wiki)

[2019-12-30 09:57] davidmartos96 commented on #326
I was having the same problem as @jld3103 and using the master branch worked. Flutter v1.12.13

[2019-12-30 10:23] pchampio commented on #326
@davidmartos96 on which go-flutter version are you running?

[2019-12-30 10:38] davidmartos96 commented on #326
@pchampio
v0.34.0 => Fails
v0.34.1-0.20191227132350-c4c03d13f0e6 => Works

[2019-12-30 19:50] XANOZOID commented on #326
Also having the same problem, on Ubuntu bionic. I have nvidia graphics drivers installed if that makes a difference.

I'll have to use the work-around suggested `hover run -b '@2d582358f34c257933c47e1f0591fc38c713c78c'` until this is fixed. . .

I'm using the flutter beta-channel, since flutter-master seems to be breaking web and this project allows me to work on the two on the same flutter branch

[2019-12-30 20:00] pchampio commented on #326
@davidmartos96 on v0.34.1-0.20191227132350-c4c03d13f0e6 the PR was reverted.

I'll keep the bad build `v0.34.0` as the `@latest` for a small amount of time in order to see how much people are affected by this.

If it happen that you have this issue, please try:
`hover run -b '@2d582358f34c257933c47e1f0591fc38c713c78c'` -> should work,
`hover run -b '@v0.34.0'` -> shouldn't work,
`hover run -b '@no

[2019-12-30 21:48] moffatman commented on #326
I am experiencing this same issue on Windows and Intel integrated graphics. The same workaround works for me.

[2019-12-31 08:19] zhileichen opened #332 "Crash happens when delete characters of a unicode string, such as "🍷hello🎤world🤗""
## Environment
[code]

## Step to Repreduce

1. Copy the sample string  "🍷hello🎤world🤗" into a **TextField**
2. Click **Backspace** key in the keyboard to delete any character
3. Then the crash happens

## Go Error
[code]

## Go Stacktrace
[code]

[2020-01-02 08:21] yxAnswer commented on #291
I have the same problem.

[1;36mhover: [0mUsing engine from cache
[1;36mhover: [0mCleaning the build directory
[1;36mhover: [0m[32mBundling flutter app[0m
hover: Failed to parse the 'go-flutter' version in go.mod

`module github.com/go-flutter-desktop/hover

go 1.13

require (
	github.com/GeertJohan/go.rice v1.0.0
	github.com/daaku/go.zipexe v1.0.1 // indirect
	github.com/google/go-github

[2020-01-02 08:35] 645638180 commented on #291
应该是安装go的时候报错了

[2020-01-02 08:36] 645638180 commented on #291
应该是安装go的时候有错，好像有一个下载需要梯子

[2020-01-02 15:46] huage2580 commented on #326
hover run -b '@2d582358f34c257933c47e1f0591fc38c713c78c'
work for me

[2020-01-03 07:44] Murtuzakabul commented on #326
It is still not working for me.
hover run -b '@2d582358f34c257933c47e1f0591fc38c713c78c' isn't working. I am getting the same black screen on windows.

Should I revert back to previous version ?

[2020-01-03 08:35] Murtuzakabul opened #333 "Flutter draggable widget does not work on Windows desktop"
## Hover doctor
hover: Running on windows
hover: Docker installed: false
hover: Sharing flutter version
Flutter 1.12.13+hotfix.6 • channel beta • https://github.com/flutter/flutter.git
Framework • revision 18cd7a3601 (3 weeks ago) • 2019-12-11 06:35:39 -0800
Engine • revision 2994f7e1e6
Tools • Dart 2.7.0
hover: Flutter engine commit: https://github.com/flutter/engine/commit/2994f7e1e6
hover: Find

[2020-01-03 13:05] chengxuncc opened #334 "How can I use golang on Android or iOS?"
I want to write an application on all platforms, it's a perfect solution working with `go-flutter` on desktop platforms. But I wonder how can I write apps efficiently on Android or iOS, I had seen `go mobile` or `go bind`, it seems I need to write code on Java/Kotlin or Swift, which is called by Dart and pass to Go API. I think there must be some ways simpler to call Go API in flutter.

[2020-01-03 15:50] pchampio commented on #334
I have an idea on that subject, I'll describe it when I'm back from vacation.

[2020-01-03 15:53] pchampio commented on #326
Yes! [`v0.33.0`](https://github.com/go-flutter-desktop/go-flutter/releases/tag/v0.33.0)

[2020-01-03 15:54] pchampio commented on #333
Can you share a simple main.dart file that reproduce this error?

[2020-01-04 15:41] chengxuncc commented on #129
I think it awesome if `hover run` is watching folder `lib`, detecting files changed, and auto hot-reload if detected. It can be implemented by receiving system file events, there're several Go libraries of file system notification. I would get tired of typing `r` in my heart.

[2020-01-05 16:42] geoah commented on #334
I'd be interested in this as well. I've just moved to go-flutter-desktop and so far I'm really happy with the results. Being able to use go-flutter for ios/android would be an amazing endgame.

[2020-01-05 23:10] gedw99 commented on #334
Use gomobile is what I do.

[2020-01-07 07:59] JoeyGaojingxing opened #335 "hover: Failed to find boxed file app/main.go"
## Hover doctor

[code]

there is an error above: `hover: Failed to read go.mod: open go\go.mod: The system cannot find the path specified.`

## Error output

Using `hover init` to build my application, I get the following
error:

[code]

Tips: I changed the default go environment like this, and I use go mod, I'm not sure whether the environment lead to the error. And I have used go for some other

[2020-01-07 08:02] pchampio commented on #335
Does the answer proposed in https://github.com/go-flutter-desktop/go-flutter/issues/306 solve the problem?

[2020-01-07 09:16] JoeyGaojingxing commented on #335
when I set `GO111MODULE=off`, I cannot connet to the `google service` either, and I tried many ways to let my console's network go through my VPN, but the `go get` commands still doesn't work.

[code]

[2020-01-07 09:19] JoeyGaojingxing commented on #335
well, I guss #306 works for me, but I really tracked with the net work, the WALL refused every google's products. is there any other way to solve the problem?

[2020-01-07 09:30] JoeyGaojingxing commented on #335
emmmm, I download the `hover-0.39.0.zip` project and unzip to the file in system, and it worked. But I still wondered why it lack the `app` file when turning `Go111Module` on

[code]

IT WORS!

[2020-01-07 09:53] pchampio commented on #306
might be related to: https://github.com/go-flutter-desktop/go-flutter/issues/257

[2020-01-07 09:53] #335 closed

[2020-01-07 10:22] JoeyGaojingxing commented on #326
I met the black screen error just now, and I change to version `v0.33.0` which works well.
but I met another error which made me unable to use hot-reload

my flutter version
[code]

the error msg
[code]

[2020-01-07 11:01] pchampio commented on #326
@JoeyGaojingxing this issue is for the black-screen.

nevertheless, please try: `hover run --observatory-port 44333`

[2020-01-07 11:24] JoeyGaojingxing commented on #326
Sorry about that, I just wanna report the blackscreen bug

[2020-01-07 11:27] JoeyGaojingxing opened #336 "SocketException: Failed to create server socket"
I met the black screen error just now, and I change to version `v0.33.0` which works well.
but I met another error which made me unable to use hot-reload

my flutter version
[code]

## the error msg
[code]

[2020-01-07 11:32] JoeyGaojingxing commented on #336
the default port is 50300, and use command `hover run --observatory-port 12345` to use a different can solve the problem.

but, I cannot find the program using 50300 port in my taskmanager, which waste me a lot of time

[2020-01-07 11:32] #336 closed

[2020-01-07 16:00] geoah commented on #334
@gedw99 are you using gomobile together with go-flutter-desktop?
If so could you please share how you are doing so?

[2020-01-07 22:44] GeertJohan commented on #133
Please make sure to stay on v0.34.0 if you have this issue. I have tagged the latest master as v0.34.1, which reverts the fix for this issue (#133), but solves the regression (#326).

[2020-01-07 22:49] GeertJohan commented on #326
I also ran into this, and someone in the gitter chat seems to have the same issue as well.
I've just tagged the current master to v0.34.1 to revert this regression (which was introduced by #308) for all users.

[2020-01-09 01:47] ekasetiawans commented on #321
UPDATE :

avoiding whitespace in font's name resolve my issue

[2020-01-10 03:51] nbwithlb opened #337 "Crash happens when i run the exe on the virtual machine which os is windows7 x64,the os is just new installed,how can i make it running,any other files needed?"
anything the running environment needed?

[2020-01-10 08:11] pchampio commented on #337
Its not possible to run the app on a VM. This has already been attempted, and it has failed.

Out of curiosity, what is your host OS?
Which VM toolkit are you using?

[2020-01-11 18:00] pchampio commented on #337
duplicate: https://github.com/go-flutter-desktop/go-flutter/issues/272

[2020-01-11 18:00] #337 closed

[2020-01-11 18:04] gedw99 commented on #334
My requirements are different from others but happy to share and get critical feedback.

All I do is delineate between the flutter process and the golang process.
The many flutter apps are pure flutter running in the standard foreground process and the singleton golang process is running on a background process.

A couple of nasty aspects depending on what your tradeoffs are.
- the interop between

[2020-01-11 21:12] pchampio commented on #326
I need you guys.

The one that have the blackscreen error, can you share your OS platform? (window/linux/darwin)
Can you also try the new version: `hover run -b '@no_resize_crash_v2'`?
(I'm only targeting this fix at the darwin users, as the inital issue was only affecting them)

[2020-01-12 09:29] jld3103 commented on #326
On linux the fix works now.

[2020-01-12 10:12] AlienwareHe opened #339 "flutter build windows command failed："goreleaser: error: unexpected bash""
Thanks~
when i use flutter build command on macos, the result is failed,but flutter build darwin-pkg command is normal.
error details:
[code]

[2020-01-12 10:21] jld3103 commented on #339
This is already fixed. Please upgrade hover (`go get -u github.com/go-flutter-desktop/hover`) and remove the `go/cross-compiling` dir (`rm -rf go/cross-compiling`). Please let me know if it worked for you.

[2020-01-12 10:51] AlienwareHe commented on #339
sorry~ it looks like does not work,my hover version looks like is the newst:
[code]
but when i rm -rf go/cross-compiling it also error:
[code]
Thanks~

[2020-01-12 10:52] jld3103 commented on #339
Can you do a `hover doctor` in your project?

[2020-01-12 10:53] AlienwareHe commented on #339
$hover doctor
hover: Running on darwin
hover: Docker installed: true
hover: Sharing flutter version
Flutter 1.12.13+hotfix.6 • channel beta • git@github.com:flutter/flutter.git
Framework • revision 18cd7a3601 (5 weeks ago) • 2019-12-11 06:35:39 -0800
Engine • revision 2994f7e1e6
Tools • Dart 2.7.0
hover: Flutter engine commit: https://github.com/flutter/engine/commit/2994f7e1e6
hover: Finding out

[2020-01-12 11:25] AlienwareHe commented on #339
I try to rm the docker images and rerun 'hover build windows', but still the same error, and do I need to update go-flutter version with command "hover bumpversion";
or are there has some other ways to sovle it.
Thanks~

[2020-01-12 12:02] AlienwareHe commented on #339
I resolve it! I execute the command `go install github.com/go-flutter-desktop/hover` to re-generate the hover bin，then i remove the go/cross-compiling dir , then i success~
Thanks~

[2020-01-12 12:37] #339 closed

[2020-01-12 22:57] pchampio commented on #332
Flutter ([source](https://github.com/flutter/flutter/blob/ab36346af6e6c61ab4174c753b1ec3f3260fa56a/packages/flutter/lib/src/services/text_formatter.dart#L142-L166)) and golang (through `[]rune`) have a different ways of handling index in text that have emoji.

I think using something like https://github.com/tmdvs/Go-Emoji-Utils can be a great help.

Btw, are you seeing the emoji on your app? (on m

[2020-01-12 23:04] pchampio commented on #332
https://github.com/tmdvs/Go-Emoji-Utils/blob/47a2e1776a742286b6766c73a3ad153ee0f2ceb4/search.go#L56

[2020-01-14 03:38] tsungyumr opened #341 "Windows execute file is not executed in chinese file path or directory"
Hello, thanks for great project to help building desktop application using flutter,
There is problem when hover build windows completed, I find program file in the project directory
....\go\build\output\windows\xxxx.exe
When I change directory name from windows to chinese charactors name, the program xxxx.exe is not running when you click it,back to english directory name,it works again,It is also

[2020-01-14 12:05] GeertJohan commented on #326
Works on my linux machine as well

[2020-01-14 12:08] GeertJohan commented on #306
We could consider using `rice embed`. It writes the assets into .go files so that the files are embedded into the binary. It would require `rice embed` being run after each change to a template file, and the embed .go files must be committed to the repository for it to work with `go get`.

[2020-01-14 17:12] pchampio commented on #334
Projet like https://github.com/adieu/flutter go aims to help you in this task.

I would like to have similar features in go-flutter, hers is 2 possibilities implementation:
 * dart -> a thin java/swift (like what adieu has done) -> a small golang dispatcher layer -> your Golang plugin (exact same plug-in interface). Both the java/swift, and the golang dispatcher can me generated.
 * dart -> a cust

[2020-01-14 17:16] pchampio commented on #326
I want to do more investigation on this: https://github.com/flutter/flutter/issues/48651

[2020-01-14 17:22] pchampio commented on #332
As keyboard shortcut (like `backspace`) might be handled in the framework side https://github.com/go-flutter-desktop/go-flutter/issues/314, I think we should wait.
If keyboard gets rolled to channel beta, we will adapt our embedder.

[2020-01-14 18:01] jld3103 commented on #306
That solutions seems good. The templates don't change that often and we can easily place a README into the templates folder

[2020-01-14 19:39] pchampio commented on #306
We need a github action to create the exec!

[2020-01-14 22:30] GeertJohan commented on #306
A github action on pr's xan also validate wether templates match embedded templates; otherwise error.

[2020-01-14 23:07] pchampio commented on #332
Dart inaccuracy calculate the RuneLen in the presence of those characters. The Dart lang bug https://github.com/dart-lang/sdk/issues/28404 has been filed to address this in Dart.

Btw, are you seeing the emoji on your app? (on mine it just shows up as a invalid character ▯)

[2020-01-15 00:24] pchampio commented on #341
I don't have any issue on linux.
Could you share error (the one outputed by the terminal)?
What command are you using?
Hover build ...
Hover run...
Thanks for your contribution.

[2020-01-15 00:48] tsungyumr commented on #341
As I metioned before,I used "hover build windows" to build windows application,I have no idea hover build on linux or mac os,and next step,trying to change directory name from English name "windows" to Chinese name likes "測試",and then double click program file inside directory,application is not running,when change back to English name "windows",application works again.There is no special error wh

[2020-01-15 08:22] pchampio commented on #341
Thanks,
Can you change your folder to a Chinese one and start the application using 'hover run'?
This way we will get a error in the terminal.

[2020-01-15 08:45] gedw99 commented on #334
Here is a working example of using GRPC between golang / gomobile and flutter.

The go code that is using grpc and exposes a GRPC client to flutter
https://github.com/textileio/go-threads/blob/master/api/pb/dart/pubspec.yaml

The flutter code that consumes the GRPC exposed by the golang code
https://github.com/textileio/dart-threads-client/blob/master/pubspec.yaml

---

The golang code is cross co

[2020-01-15 08:57] tsungyumr commented on #341
Ok, It is good idea, I have follow what you said,and got error reported on command screen.
λ hover run
hover: Using engine from cache
hover: Cleaning the build directory
hover: Bundling flutter app
hover: Checking available release on Github
hover: The core library 'go-flutter' has an update available. (v0.30.0 -> 0.34.1)
hover:               To update 'go-flutter' in this project run: $ hover upg

[2020-01-15 09:42] pchampio commented on #341
Either [this (go-flutter)](https://github.com/go-flutter-desktop/go-flutter/blob/ef6b553dadcace83ce35a0651ea0cbeb3b2a08af/application.go#L169-L186) code or [this (engine)](https://github.com/flutter/engine/blob/46adf73d5128269ed75572368eb720117d771ca8/shell/platform/embedder/embedder.cc#L669-L680) isn't doing something correctly.

[2020-01-15 15:16] chengxuncc commented on #334
It seem GRPC requires more work to be done, does it require local network? local network need to be concerned sometime and it's quite boring to define protobuf, not that directly calling function. I think Dart FFI is a better choice, I will try it first on mobile platforms.

[2020-01-18 10:30] chengxuncc commented on #334
I tried Dart FFI but I don't known how to pass String type via Dart FFI. I have also taken a look at https://github.com/adieu/flutter_go/, it's great but won't work with latest flutter.
I think jsonrpc 2.0 is a good start, comparing to grpc, jsonrpc is simpler. https://github.com/adieu/flutter_go/ is using golang standard library `net/rpc`, which is not support mutual rpc. I consider reimplementin

[2020-01-19 01:33] crossle commented on #334
@chengxuncc  https://gist.github.com/sjindel-google/b88c964eb260e09280e588c41c6af3e5

[2020-01-19 10:03] chengxuncc commented on #334
@crossle Thanks, but I don't understand why it didn't work without parameter.
main.go: `go build -i -buildmode=c-shared -o ffi.dll`
[code]

ffi.dart: `dart ffi.dart`
[code]
It worked:
[code]

Then I modified ffi.dart:
[code]
It didn't work:
[code]

environment:
[code]

[2020-01-19 14:24] crossle commented on #334
ffi only support param struct pointer, not support return ...

[2020-01-19 14:55] chengxuncc commented on #334
But it did returned.

[2020-01-21 15:40] TJvrDev opened #344 "[Question] Is it possible to build release versions of flutter windows desktop using hover?"

[2020-01-21 16:33] jld3103 commented on #344
Yes. Currently only JIT release using `hover build windows`, but AOT is coming soon.
You can even help us test AOT. If you're willing to please join our gitter chat and we can give you instructions on how to. That would really help us.

[2020-01-21 19:00] #344 closed

[2020-01-22 04:27] chengxuncc opened #345 "InvokeMethodWithReply throw exception"
## Hover doctor

[code]

## Error output

Run example app:
[code]
Then click FloatingActionButton and error show up:
[code]

[2020-01-22 20:17] jld3103 commented on #259
Just for reference: Work is going on at https://github.com/go-flutter-desktop/go-flutter/pull/331 and https://github.com/go-flutter-desktop/hover/pull/77
@pchampio Could you update the list of platforms that work to state linux as working?
FYI Windows and Mac should work, but haven't been tested yet.

[2020-01-23 09:33] crossle commented on #266
https://github.com/rodydavis/auto_updater

[2020-01-23 09:37] jld3103 commented on #266
That plugin uses the official flutter desktop embedder so we can't use it. Also we have some packaging so it would be better to update the whole packaged app and not just the flutter code, because the update go code would be missing.

[2020-01-23 10:46] nadimgouia opened #346 "Go-flutter: no handler found for channel"
Am working on desktop with flutter, and am using connectivity, path_provider packages in my project, and everything was good, until i added hover and  go-flutter.
I added hover to my project, because i need file_picker plugins, and it doesnt work on desktop without it.
Now i have the file_picker plugin works fine but the other plugins (connectivity and path_provider) dont work any more,

## Error

[2020-01-23 10:59] pchampio commented on #346
Please share the output of `hover doctor`.
Read this wiki section: https://github.com/go-flutter-desktop/go-flutter/wiki/Plugin-info
And checkout the implemented plugin, https://github.com/go-flutter-desktop/plugins.

[2020-01-23 15:53] Tokenyet commented on #341
Hi @pchampio ! Is there any issue on flutter/flutter ? I just want to leave a subscribe for good news 😄

Overall, notice users to change to English path is the workaround in this situation, am I right 😕 ?

[2020-01-23 16:21] pchampio commented on #341
Yes, as I cannot reproduce this issue on linux, I don't plan on working on this, sorry.

As I don't want to create unnecessary issue, I haven't create an issue on their bug tracker.

[2020-01-23 17:53] stuartmorgan commented on #266
That's not a plugin actually, it's just a desktop Flutter app that's had the Sparkle framework—a popular macOS updater—manually integrated. (Longer term I would hope that a Sparkle-based updated could be built as a plugin, but the necessary APIs aren't in place yet.)

Sparkle does update the entire application; it's a general-purpose macOS updater. Using it in a go-flutter-desktop application woul

[2020-01-23 18:00] stuartmorgan commented on #346
It sounds like you were [Flutter's desktop support](https://flutter.dev/desktop) previously? If so, I think the confusion here is that you haven't *added* hover and go-flutter, you've switched from one desktop embedding (the one that's part of the Flutter project) to a different embedding (go-flutter-desktop). The two are completely distinct, and have incompatible plugin ecosystems.

[2020-01-24 08:19] chengxuncc commented on #334
I figured it out by decompiling c-shared library, the first parameter is a return value when `Hello` function doesn't have parameter but a return string:
[code]

There're decompiled functions with different numbers of parameters and return values:
[code]

I did a test with 1 parameter and 1 return value situation:
go:
[code]

dart calls with 1 parameter:
[code]
Output:
[code]

dart calls with 2 pa

[2020-01-24 08:40] jld3103 opened #348 "Colored log doesn't work on windows"
The colored log doesn't work on windows and prints a lot of garbage symbols.
We should disable it on windows by default.

[2020-01-24 08:49] jld3103 commented on #348
Umm sometimes it works sometimes not.

[2020-01-24 09:59] nadimgouia commented on #346
i didnt use any other desktop embedding before in my project, i have normal project and i just executed the cmd : "hover init", after that, all other plugins declared in the pubspec.yaml file stop working. plugin declared in the go/cmd/options.go work.
when i  execute "hover run" i get this message:
"go-flutter: no handler found for channel plugins.flutter.io/plugin_name_here" (example connectivit

[2020-01-24 18:13] stuartmorgan commented on #346
Embeddings aren't part of your project, they are the layer between the OS and the Flutter engine. Any time you run your project before, you are using some embedding. If you previously used `flutter run` you were using an embedding that is part of the Flutter project. When you use `hover` you are using this project's embedding instead.

The embedding is also the layer that provides the plugin API,

[2020-01-30 07:38] deromask commented on #334
Check out [https://github.com/deromask/deromask](url). It work well with desktop and mobile. Basically, we passing data around via protobuf.

[2020-01-30 18:53] jld3103 commented on #348
Solution: https://github.com/logrusorgru/aurora/issues/2#issuecomment-299014211

[2020-01-31 00:22] stuartmorgan commented on #341
This is very likely fixed now.

[2020-01-31 09:12] pchampio commented on #341
Awesome, Thanks!

[2020-01-31 09:12] #341 closed

[2020-01-31 15:55] Frank-von-Schrenk opened #349 "Copy paste. Value is inserted twice."
I try the Copy paste under Windows. Every value will be written twice.
I try it from (Chrome & Notepad) <= Same

![image](https://user-images.githubusercontent.com/51343921/73553567-75a15f00-444a-11ea-85d5-017ac0ec979f.png)

[2020-01-31 17:07] pchampio commented on #349
duplicate of https://github.com/go-flutter-desktop/go-flutter/issues/314 and https://github.com/go-flutter-desktop/go-flutter/issues/320.
I'm working on a fix https://github.com/go-flutter-desktop/go-flutter/pull/338(it will take some time to be merge, I'm busy with life atm)
As a workaround, you can use my WIP PR: `hover run -b '@fix_keyboard_shortcut' `.

[2020-01-31 17:07] #349 closed

[2020-01-31 17:08] pchampio commented on #349
I've pushed a hotfix https://github.com/go-flutter-desktop/go-flutter/releases/tag/v0.35.1

[2020-01-31 17:09] pchampio commented on #349
Please read https://github.com/go-flutter-desktop/go-flutter/issues/319#issuecomment-558557949

[2020-02-01 10:13] chengxuncc commented on #334
I have given up trying Dart FFI:
1. Cross platform build issue.
2. Hard to access Flutter assets file handle from Dart.
3. Memory management is tricky.

[2020-02-02 15:17] chengxuncc commented on #334
Thank you, I accepted @gedw99's advice. Using `go mobile` with `grpc` is a good idea for whom want to integrate `Flutter` and `Golang` on mobile.

[2020-02-02 15:17] #334 closed

[2020-02-04 09:05] yougg commented on #223
hi @aixi2494 i have the same problem but change font was not working, can you share your font setting please, thanks.

![image](https://user-images.githubusercontent.com/1641020/73729628-59fec700-4770-11ea-9e65-6a6885ca1a23.png)
如图上的使用Ubuntu系统中的字体没有效果，只有使用资源中自定义的字体放才有效。
尝试了多个系统中的字体都不行。

[2020-02-06 10:06] yxAnswer opened #350 "Failed to parse the 'go-flutter' version in go.mod"
$ hover run
hover: Using engine from cache
hover: Cleaning the build directory
hover: Bundling flutter app
hover: Failed to parse the 'go-flutter' version in go.mod

Can you  help me?

[2020-02-06 10:45] #350 closed

[2020-02-08 09:26] aixi2494 commented on #223
可能你那个字体不支持中文,,你下载一个中文字体试着设置一下

在 2020-02-04 17:05:49，"yougg" <notifications@github.com> 写道：

hi @aixi2494 i have the same problem but change font was not working, can you share your font setting please, thanks.

如图上的使用Ubuntu系统中的字体没有效果，只有使用资源中自定义的字体放才有效。
尝试了多个系统中的字体都不行。

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-02-08 13:50] yougg commented on #223
字体是支持中文的，我又试了几次找到问题了。
我的中文字体都是安装在用户目录中的，把字体复制到系统目录中就可以了

@pchampio my chinese fonts were installed into user path $HOME/.local/share/fonts/ not system font path /usr/share/fonts/, this is my record:

1. copy font to system path

[code]

2. change font setting in the code, it's not working
[code]

3. rename font file to `YouYuan.ttf`, also not working

4. link `YouYuan.ttf` to `youyuan.ttf` in the

[2020-02-08 18:04] Tokenyet commented on #349
Thanks for the fix! It works now!

[2020-02-09 03:57] james-lawrence commented on #334
grpc and gomobile is what I did as well in my app over a year ago.

only platform binding code I needed was to pass a user password and return a address:port so the flutter app could communicate to the golang service. ~200 lines of code for ios and android.

[2020-02-10 11:05] gedw99 commented on #334
@james-lawrence / @chengxuncc
Did you manage to get the gomobile code running as a background service on mobiles ?
I have not.

[2020-02-10 15:49] jld3103 opened #351 "Update path_provider plugin"
The `path_provider` got updated a lot in recent times and got some new functions and even desktop exclusives. We need to update the plugin accordingly.
https://github.com/flutter/plugins/blob/master/packages/path_provider/lib/path_provider.dart
When I have time I'll create a PR in the next days.

[2020-02-14 06:55] ContainsK opened #352 "Cannot run on a Windows 7 host remotely logged on using mstsc"
I have no problem running on my windows 10.
I doubt it's OpenGL's problem. How can I solve it?

[2020-02-14 07:49] pchampio commented on #352
Is the machine you are connecting to a virtual machine?

[2020-02-14 11:50] ContainsK commented on #352
It's not a virtual machine's computer. It's another physical machine. I connect it through mstsc

[2020-02-14 11:54] ContainsK commented on #352
It's not a virtual machine's computer. It's another physical machine. I connect it through mstsc

[2020-02-14 13:02] ContainsK commented on #213
Have you finished debugging windows in IntelliJ ？

[2020-02-14 13:08] pchampio commented on #352
When using this physical machine without mstsc, does it work?

[2020-02-14 13:28] StefanLobbenmeier commented on #213
What do you mean „finished“?

If you mean if I could attach a debugger - then sadly no. I never tried to either. I guess this should  raise a separate issue, my guess is that you can actually attach a debugger to the dart VM after the app started like you can with Java

[2020-02-14 16:22] ContainsK commented on #352
Yes, it can't be used on mstsc .

[2020-02-15 13:23] pchampio commented on #352
I'm sorry, but I have no intention to work on this issue.
Here is a stackoverflow.com post you might want to read https://stackoverflow.com/questions/51705471/current-state-and-solutions-for-opengl-over-windows-remote

If others people are facing the same problem, please report it on this issue, someone might have a solution to this issue.

[2020-02-16 02:28] ContainsK opened #353 "How to support debugging Android studio plug-ins ?"
How can I debug my desktop app like a mobile app in Android studio, so that I can use the plugins "flutter inspector" and "flutter outline"

[2020-02-16 08:14] ContainsK opened #354 "I can't use the backspace key to delete text on a textfield from the end."
I can't use the backspace key to delete text on a textfield from the end.
But we can use the Del key, which is not consistent with our habits.

[2020-02-16 16:06] X-Wei opened #355 "Chinese input method don't work on Linu"
# Description
I'm on Debian Linux, and use fcitx for typing Chinese (`sudo apt install fcitx-googlepinyin`).

But with go-flutter-desktop the Chinese I typed were just omitted, I also see nothing in the terminal output while doing `hover run`.
![go-flutter-desktop-chinese-input](https://user-images.githubusercontent.com/1615196/74608083-7985e000-50de-11ea-8e1c-0f908e84e608.gif)

# Hover doctor
See

[2020-02-16 16:08] jld3103 commented on #355
`hover upgrade` only updates the embedder and not hover itself. Run `go get -u github.com/go-flutter-desktop/hover` to upgrade hover and then run `hover doctor` in your project.

[2020-02-16 16:09] jld3103 commented on #355
But without much knowledge I'd guess it's a GLFW compatability issue

[2020-02-16 16:17] X-Wei commented on #355
Thanks @jld3103 ! I re-get the hover repo, and here's the output:

[code]

[2020-02-16 16:21] X-Wei commented on #355
Not sure if it's relevant, I saw these errors when focusing on the text input field:

[code]

[2020-02-17 10:39] pchampio commented on #353
From what I currently know, this isn't possible at the moment. https://github.com/flutter/flutter-intellij/issues/2250
Somewhat duplicate of https://github.com/go-flutter-desktop/go-flutter/issues/213

[2020-02-17 10:43] pchampio commented on #354
Duplicate of https://github.com/go-flutter-desktop/go-flutter/issues/314

Please read https://github.com/go-flutter-desktop/go-flutter/issues/319#issuecomment-558557949

[2020-02-17 10:43] #354 closed

[2020-02-17 10:46] pchampio commented on #355
I think it is related to https://github.com/go-flutter-desktop/go-flutter/issues/332.
But not a duplicate.

[2020-02-17 11:09] madestuff opened #356 "Image Widget freeze latest windows 10 64bit"
The Flutter Image Widget freeze on my windows 10 laptop.
The application just freeze and there is no error log.

Seems to be the displaying of an image, since all "versions" freeze - assets, url etc.
Test-app ist just the helloworld flutter app with an image widget.

The application was build on another windows 10 pc with latest flutter and flutter go / hover and runs there just fine.

Hardware :

[2020-02-17 11:27] pchampio commented on #356
Can you create a debug version of your application, `hover build windows --debug`.
Then can you run it using the cmd and check if there is log printed?

Can you also try an older version of flutter? Maybe `flutter version v1.9.1-hotfixes` works.

[2020-02-17 16:28] james-lawrence opened #357 "Hover: remove the assumption that the go dir is the project root for golang tooling"
currently hover assumes that it controls go.mod, it generates one and then looks for it in a specific location.

this is relatively undesirable because it forces the end user to a specific directory tree or to run into issues dealing with golangs vendor tooling for private repositories.

we should be able to remove this assumption by letting the standard go tooling find the go.mod file.

some rele