[2018-09-09 05:08] pulyaevskiy opened #1 "MacOS support"
First of, thanks for sharing your work! It's great to see another approach available.

In readme you mentioned MacOS support is planned. Wondering what's the state on this front?

I'd like to explore this as well but have little knowledge of golang myself. It would be a lot easier for me to contribute when/if there is some scaffolding for macOS is in place already.

[2018-09-09 14:29] Drakirus commented on #1
I haven't made any progress on the MacOS support.

I have pushed a new branch [#windows_build](https://github.com/Drakirus/go-flutter-desktop-embedder/compare/windows_build#diff-15924f74f29d8e395351e1372ced5b25). If you want to explore the implementation on MacOS, I encourage you to take a look at how it is done on windows and try to reproduce the same pattern on MacOS.

Most of it _should_ be in

[2018-09-09 15:36] Drakirus opened #2 "Flutter version 0.7.3 - Engine run configuration was invalid"
[code]

On the `v0.5.1` the embedder is running correctly, but on the latest `0.7.3` it throws
[code]

[2018-09-09 15:37] james-lawrence opened #3 "improvements: make this library importable instead of forcing it to be the top level."
still playing with the code, but think this should work closer to how go-gl/glfw works where you can just import and go.

- figure out a way of statically linking the flutter engine.
- remove main function and expose a top level package function that perform the same work.

been working on getting these changes to work running into issues with the shared library, which i haven't had a chance to tr

[2018-09-09 15:55] Drakirus commented on #3
Make a go library is intended. But, for now, I am focusing on making the proof of concept work on multiple platforms.
Regarding the static linking, this would be awesome, but sadly I don't think it's possible without having to compile the entire Flutter-Engine at the same time as a go library.

Could you be more specific? (If I can help).

[2018-09-09 16:02] james-lawrence commented on #3
i'm working towards the library functionality, so I customized your code atm.

basically (this)[https://gist.github.com/james-lawrence/32f70ab1f28dfd1e15ff33f249610420]

problem is the flutter shared library is nested  in vendor.
I tried putting the same directory structure in my working directory but it failed.
i suspect I need to adjust the cgo directives to not contain the ${SRC} variables but

[2018-09-09 16:04] james-lawrence commented on #3
biggest help would be finding where go does its shared library loading so I can debug where its looking, though I suspect its coming from a native library go calls out to.

[2018-09-09 16:11] Drakirus commented on #3
Go is loading the shared library on [this](https://github.com/Drakirus/go-flutter-desktop-embedder/blob/f10c59dfd6e455b7eecbbeb54bbb8094734c4119/flutter/build.go#L7) line. The `-rpath` flags might be the cause.

Try `export LD_LIBRARY_PATH=$GOPATH/src/github.com/Drakirus/go-flutter-desktop-embedder/flutter/library/linux` or something like that.

[2018-09-09 16:13] james-lawrence commented on #3
oh I know where it was in repo, I was being very literal about trying to find out where go runtime attempts to do the loading.

basically getting this error:
[code]

and I can't find any of those strings in the go runtime =(

[2018-09-09 16:17] Drakirus commented on #3
And I am guessing that `objdump -p go-flutter-desktop-embedder` doesn't give you anything?

[2018-09-09 16:17] james-lawrence commented on #3
havent dug that far yet. will dig more when I get back to it later tonight or next week.

[2018-09-09 17:59] james-lawrence commented on #3
alright you were correct on rpath being the issue. removing $ORIGIN/ from it let the runtime find the library.

would you like a PR making the minor adjustments?

[2018-09-09 20:52] james-lawrence commented on #2
switching the engine version might resolve the issue. I get the same result in my pr as you have here with the version in the read me.

with same version as you, switching the engine.version to `af42b6dc95bd9f719e43c4e9f29a00640f0f0bba`
[code]

resulted in foundation/platform bitching because it only has 3 defined types.

[code]
[code]

[2018-09-09 21:43] Drakirus commented on #2
`gdb ./go-flutter-desktop-embedder ./core.xxx` says :
[code]

[2018-09-10 21:12] james-lawrence commented on #2
@Drakirus question I was testing my android app, and it wasn't choking on the font you have in the example app.

mind expanding on what you think the issue is?

[2018-09-10 22:16] Drakirus commented on #2
I don't think I can do a better explanation than what is available here [google/flutter-desktop-embedding] (https://github.com/google/flutter-desktop-embedding/blob/master/README.md#fonts)

[2018-09-10 22:51] james-lawrence commented on #2
I saw that, but if Roboto is being set by using fontFamily seems like that would resolve the issue.

[2018-09-11 20:17] #3 closed

[2018-09-11 22:38] Drakirus opened #6 "Multiple TextField support"
The current `textModel` is only working when there is one TextField displayed.

Reproduce the bug by using the [simpleDemo](https://github.com/Drakirus/go-flutter-desktop-embedder/tree/master/example/simpleDemo) example. The embedder crash when words are typed in a TextField when there is another TextField displayed on the screen that has been filled.

[code]

[2018-09-12 21:50] Drakirus commented on #2
loading the correct the ICU data file seems to resolve the issue.

[2018-09-12 21:50] #2 closed

[2018-09-12 22:33] TotallyGamerJet opened #7 "Allow Scrolling"
I think it would be cool if you could scroll with a mouse instead of having to drag! That's all, great project.

[2018-09-12 22:41] Drakirus commented on #7
The flutter engine does not support scrolling through the
They are working on it: https://github.com/flutter/engine/pull/6228

[2018-09-12 23:03] james-lawrence commented on #2
where do we get the ICU data file?

[2018-09-13 05:14] ghost opened #9 "Mage based building & ci"
Hopefully anyone reading this knows what golang mage is and the problems it solves for cross platform building - especially on desktops.

I think a mage script will really help the pace and regressions.

A great example of using it is elastic beats repo.

https://github.com/elastic/beats

For with does,Mac and Linux there is a make file that checks mage is installed and them mage all the way from

[2018-09-13 07:50] gedw99 commented on #1
The Mac build should be pretty easy since you have Linux already.

Great that you already have a windows build. Will hack on both windows and Mac builds

[2018-09-13 07:58] gedw99 opened #10 "Plugins support"
These are two desktop services I am thinking of adding and I want feedback

1. Notifications.
There are good golang packages for this so should be easy to do native notification.

2. Unilinks is when a user gets an email with a deeplinking into the flutter app. When they click the link it opens the flutter app and routes into the link.
Unilinks is the name of the flutter for mobile plugin and so w

[2018-09-13 19:59] #6 closed

[2018-09-13 21:02] Drakirus commented on #10
Again, Thanks for your suggestion :100:,

1. Notifications should be easy. (Plugin required).
2. Unilinks is harder but doable (Plugin required).
 The [Fluro routing library](https://github.com/theyakka/fluro/blob/d19e68935692b9410f26afd861325394bcd0128b/example/lib/config/route_handlers.dart#L69) is doing something similar on the `Android -> Flutter` side. If Unilinks gets ported having the _GoFl

[2018-09-13 22:03] james-lawrence opened #11 "memory leak in proxy_on_platform_messsage."
see [documentation](https://github.com/flutter/engine/blob/080fbcb1759e5916f0d6cdcdfd945c053320e6b3/shell/platform/embedder/embedder.h#L91)
[code]

[code]
should be
[code]

we would still need to handle the response later on but this moves the needle in the right direction.

[2018-09-13 22:06] james-lawrence opened #12 "TextInputController onSubmitted callback doesn't function."
havent discovered exactly how this is handled, but its related to #11.

and the answer is probably related to keyboard handler found in the [google-desktop-embedding](https://github.com/google/flutter-desktop-embedding/blob/master/linux/library/src/internal/keyboard_hook_handler.h)

[2018-09-21 23:57] Drakirus commented on #1
This issues was definitely harder than expected.
[d4df6def](https://github.com/Drakirus/go-flutter-desktop-embedder/commit/d4df6def83fded24ecfe83dc0f2f498331062715) add's the support the osx platform, a prebuild has been generated [v0.2.1-alpha](https://github.com/Drakirus/go-flutter-desktop-embedder/releases/tag/v0.2.1-alpha).

[2018-09-21 23:57] #1 closed

[2018-09-22 00:04] Drakirus commented on #12
I am not sure, but it think the `onSubmitted` callback might be trigger with the keyevents.

[2018-09-22 00:29] Drakirus opened #15 "Provide a working set default Option values"
[code]
Those option are not realy Optional the. `OptionAssetPath` and `OptionICUDataPath` are in the needs of a rename.
Some checking could also be made. To ensure the validity of the `AssetPath` and `ICUDataPath`.
`WindowDimension` should be > 0, and so on..

[2018-09-22 04:07] pulyaevskiy commented on #1
Wow, just ran the stocks app, really nice. Thanks this is definitely a good starting point now.

[2018-09-22 09:06] gedw99 commented on #1
Great work @Drakirus !
This is really a game changer for me and many other Devs !!

[2018-09-22 14:15] gedw99 commented on #10
Did you see this ?

https://github.com/adieu/flutter_go

It's a way to plugin golang into flutter on mobile.

It's simple and works with zero messing around with java or objective c.

This is what might be cool for desktop I was thinking.

Then using g your your golang lib between mobile and desktop is the same

Food for thought ?

[2018-09-23 19:34] gedw99 commented on #10
now there is a grpc approach also.
https://github.com/empirefox

Quite nice since it supports both gomobile and go. So can be used for Mobiles and Desktops.

[2018-09-23 20:41] Drakirus commented on #10
Those golang libs are looking good. But they are kind of niche. I don't see many cases where you would use those 'codec' instead of the ones that are already exposed.

A lot of work needs to be done to implement the `StandardMethodCodec` and `JSONMethodCodec` which are used by most of the library maker. The goal is to support those codecs so that we can plug the embedder to already existing flutte

[2018-09-23 20:55] gedw99 commented on #10
Did you see the JSON RPC one ?

Here is my make file for it:

[code]

[2018-09-23 21:09] Drakirus commented on #10
Yup I did saw it, but for now, I only want to keep the standard related work in this repo. Another golang lib could be made later to bridge their stuff into this project.

[2018-09-24 07:48] gedw99 commented on #10
ok, makes sense :)

[2018-09-24 08:57] gedw99 opened #16 "Take screenshot of the OpenGL window"
Just raising this as a placeholder as we will need printing.
DO you want to add this to the readme TODO list ?

https://github.com/alexbrainman/printer
- Windows Printing. Works well.

The big question is how to get Print a Flutter Page. I see two approaches
1. Use PDF, and so you need to write code ( in golang) to output a PDF
- Good:
      - Nice for Report generation where whats on the Flutter

[2018-09-24 22:38] Drakirus commented on #16
I guess we could try `glReadPixels` which captures the OpenGL window into a memory buffer. (Need to format the data to jpg manually).

This is the role of the embedder to perform those low-level tasks. I am not against having this by default into the embedder.

[2018-09-25 09:43] greatGregLiu opened #17 "is it possible that flutter rules all?"
by porting to WebGL through OpenGL?

https://github.com/goxjs/glfw (Go cross-platform glfw library for creating an OpenGL context and receiving events.)
https://github.com/goxjs/gl (Go cross-platform OpenGL bindings.)

https://github.com/gopherjs/gopherjs/wiki/bindings
Isomorphic Libraries
These libraries expose the same API for native architectures (386, amd64, arm) and js architecture. Using the

[2018-09-26 11:44] Drakirus commented on #17
Thanks for your message!

From what I understand, writing isomorphic Go code that talks to the WebGL or OpenGL could be possible.
The concern is the **Flutter Engine** itself, which relies on multiple other libraries to work (From what I know there is at least *minikin* and *skia*)

Some project is trying to port *Skia* to wasm.
But a lot of work still needs to ve done! ;)

[2018-09-26 11:52] Drakirus commented on #16
What about https://stackoverflow.com/questions/51117958/how-to-take-a-screenshot-of-the-current-widget-flutter/51118088 ?

[2018-09-26 13:32] gedw99 commented on #17
If i get the gist of the issue, your talking about running 2D and 3D code with Flutetr Desktop.

Flutter Desktop is based on GLFW, and lots of golang 2D and 3D libraries are also based on GLFW.
SO there are two options:
1. Make the 2D and 3D apps seperate from Flutter Desktop
2. Include the 2D and 3D stuff inside Flutetr Dekstop as "plugins" and use the GL Texture of Flutter to Render to the Flutt

[2018-09-26 13:45] greatGregLiu commented on #17
Thanks for your responses. From your hints I checked some info here:
https://skia.org/user/modules/canvaskit
https://github.com/Zubnix/skia-wasm-port

[2018-09-26 13:46] gedw99 commented on #17
AH so you want to reuse the flutter code for the web ?

[2018-09-27 08:17] Drakirus commented on #16
If you want to reuse golang's code across both mobile and desktop, you will have to write a *go-flutter-desktop-embedder*'s plugin which will proxy your plugin's request/response to something like https://github.com/adieu/flutter_go.

[2018-09-27 09:27] gedw99 commented on #16
Thanks for the heads up

I think I can easily deal with that.

This project is awesome

[2018-10-29 09:53] gedw99 commented on #9
I got a prototype working.
It inspects the current flutter installed and then pulls the correct flutter embedded binary based on the sha.

But for some reason I can't get the final cgo binding to work on my Mac when I follow the Mac sh script.

Maybe I should upload it to the fork and you can have a look to see what I am doing wrong.

I also want to add packaging and signing for Mac and Windows bu

[2018-10-29 15:11] Drakirus commented on #9
Feel free to create a new Issue with the related CGO errors logs.

[2018-10-29 22:43] Drakirus commented on #10
I just made a PR #20
Any through ?

[2018-10-30 13:34] Drakirus commented on #11
For the keyboard input we have to ignore this field.
The Doc says:

And since we are using `FlutterEngineSendPlatformMessage` (Can send multiple messages) and not `FlutterEngineSendPlatformMessageResponse`(Can send ONE message for One response), this is not a memory leak.

[2018-10-30 13:34] #11 closed

[2018-10-30 13:51] Drakirus commented on #12
flutter Doc: [TextInputClient.performAction](https://github.com/flutter/flutter/blob/acc591e98bcedafc5c28dcf8e8d86720019d3419/packages/flutter/lib/src/services/system_channels.dart#L140-L142) [TextInputAction.newline](https://github.com/flutter/flutter/blob/2ea1d81cdc5ccb457240b649b49d0ccedbf32794/packages/flutter/lib/src/services/text_input.dart#L299-L314)
The  the newline action is not sended to

[2018-10-30 19:19] Solido opened #21 "Awesome Flutter"
I'll be glad to add your work to the awesome list if you want to PR
https://github.com/Solido/awesome-flutter

Thank you !

[2018-10-31 11:34] #21 closed

[2018-11-04 22:46] Drakirus commented on #10
Fixed with: #20 and #25

[2018-11-04 22:46] #10 closed

[2018-11-13 08:51] TitouanT commented on #12
The current flutter version used in the project (7.3) doesn't include the fix from  flutter/flutter#23015 https://github.com/flutter/flutter/blob/3b309bda072a6b326e8aa4591a5836af600923ce/packages/flutter/lib/src/widgets/editable_text.dart#L511

I will see if everything works with version 10.1 because it's the first version containing the fix.
see https://github.com/flutter/flutter/blob/v0.10.1/pac

[2018-11-14 19:59] Drakirus commented on #12
fixed by #26

[2018-11-14 19:59] #12 closed

[2018-11-22 05:37] KanybekMomukeyev opened #28 "Can not build and run on MacOs"
Hi, thanks for sharing, I followed tutor for MacOs
but have following issue, what can cause this error?
[code]

[2018-11-25 17:57] vjeson opened #30 "build on windows failed"
go version : go1.11.2 windows/amd64

# github.com/Drakirus/go-flutter-desktop-embedder/flutter
..\..\..\github.com\Drakirus\go-flutter-desktop-embedder\flutter\flutter.go:200:17: cannot use _Ctype_ulong(len(data)) (type _Ctype_ulong) as type _Ctype_ulonglong in argument to func literal

[2018-11-25 18:14] #30 closed

[2018-11-25 18:15] Drakirus commented on #30
Does the fix works ?

[2018-11-27 09:56] Drakirus commented on #28
@zephylac worked on the installation procedure.
Checkout
-  [icudtl.dat config](https://github.com/Drakirus/go-flutter-desktop-embedder/blob/8186aaf1a3faeb52a2259718c205a740bcb24a04/example/simpleDemo/main.go#L32-L35)
 - The updated readme`go run engineDownloader.go`

[2018-11-27 14:48] zephylac commented on #9
Maybe this issue is linked to #31 and #29. It is not mage file but it should work.

[2018-11-27 19:51] rodolfoaguiar opened #32 "Index out of range, When selecting the EngineOpenGL"
Hi, I made a app to receive data from internet (on the flutter side) and persist on the SQLite  (using the JSONMessageCodec and the pluginReceiver) but I'm receiving this error sometimes when the memory  usage exceeds 200mb

goroutine 17 [running, locked to thread]:
github.com/Drakirus/go-flutter-desktop-embedder/flutter.proxy_make_current(0x6812490, 0x4320870)
	/go/src/github.com/Drakirus/go-flut

[2018-11-27 21:35] Drakirus commented on #32
No, you are not doing something wrong, it's an embedder crash.
Can you change this [Line](https://github.com/Drakirus/go-flutter-desktop-embedder/blob/ff753a81e67abc18eca7fe13f58c54240116818b/flutter/flutter_proxy_glfw.go#L43) to `return C.bool(flutterEngines[0].FMakeCurrent(v))`, and see if the error still occurs?

Also, "when the memory usage exceeds 200mb", you are speaking of the embedder's me

[2018-11-28 08:37] Fireprufe15 opened #34 "Error running go get -u -v github.com/Drakirus/go-flutter-desktop-embedder"
When I attempt to run go get -u -v github.com/Drakirus/go-flutter-desktop-embedder on Windows, following your instructions, I get the following error:

c:/winbuilds/bin/../lib64/gcc/x86_64-w64-mingw32/4.8.3/../../../../x86_64-w64-mingw32/bin/ld.exe: cannot find -lflutter_engine
collect2.exe: error: ld returned 1 exit status

I did run the flag command from your instructions first.
Am I doing somet

[2018-11-28 08:47] Drakirus commented on #34
When you run `go get -u -v github.com/Drakirus/go-flutter-desktop-embedder` golang will try to compile the project. (Surely  for casing purposes)

So it's doesn't mater if it fail during `go get`.

Does the error occurs when building the `simpleDemo` ?

[2018-11-28 08:58] Fireprufe15 commented on #34
Yeah the same problem happens when I run go build.

I did set the path in the main.go file, maybe I did it wrong though?
Is it supposed to be
gutter.OptionICUDataPath("/opt/flutter/bin/cache/artifacts/engine/windows-x64/icudtl.dat"),
or
gutter.OptionICUDataPath("/flutter/bin/cache/artifacts/engine/windows-x64/icudtl.dat"),

Neither of those work for me. Do I need to set it to some specific path on

[2018-11-28 09:00] Drakirus commented on #34
`gutter.OptionICUDataPath` is used at run time, so the error doesn't come from here.

The linker dosn't seems to find the `flutter_engine.dll` , can you try referencing that dll, or putting the dll into the mingw64's libs path.

[2018-11-28 09:11] Fireprufe15 commented on #34
Yeah throwing it in with the mingw64 libs seems to work. Thanks.

[2018-11-28 09:11] #34 closed

[2018-11-28 09:16] Drakirus commented on #34
The generated binary, uses the `flutter_engine.dll` located right next to it.
The project should stay portable. And the `flutter_engine.dll` in the mingw64 libs is only used for compiling.

[2018-11-28 11:58] rodolfoaguiar commented on #32
Thanks for your help.

I changed the code but now I have the same error on the 57 line
`
return C.bool(flutterEngines[index].FPresent(v))
`

I tried to change to index 0 too but the error persist

`
return C.bool(flutterEngines[0].FPresent(v))
`

Any ideias ?

About the memory, I was speaking about the embedder's memory.

Thanks.

[2018-11-28 13:12] Drakirus commented on #32
I managed to reproduce the error on linux, I don't thinks it's related to the process memory used.

The [EngineOpenGL](https://github.com/Drakirus/go-flutter-desktop-embedder/blob/eba787891c74796a014acf3f2d5ba201a9ab3e82/flutter/flutter.go#L39) is stored [globally](https://github.com/Drakirus/go-flutter-desktop-embedder/blob/eba787891c74796a014acf3f2d5ba201a9ab3e82/flutter/flutter.go#L15) at the m

[2018-11-28 23:08] Drakirus commented on #28
Should be fixed with the PRs made by @zephylac,  #33 #31 #29.
Closing the issue, feel free to reopen, comment!

[2018-11-28 23:08] #28 closed

[2018-11-29 10:33] rodolfoaguiar commented on #32
Thanks for your help

[2018-11-29 18:37] pauldemarco opened #35 "Plugins"
I'm wondering once StandardMethodCodec is in place, if this library could use https://github.com/GoogleCloudPlatform/golang-samples to implement the Firebase plugins found at github.com/flutter/plugins ?

[2018-11-29 18:51] pulyaevskiy commented on #35
I did some research on this just last night. Here is how it looks to me.

There is official Go Admin SDK which implements mostly what I'm looking for with only caveat if using privileged authentication with service accounts (I suspect those samples you linked to are using this SDK).

If for your use case privileged auth is fine then you should be able to just use the SDK as is. For my use case I'm

[2018-11-29 20:11] pauldemarco commented on #35
My use case is much the same as yours. I plan on using **client** sdk's for Go, and deploying them to desktop users.

[2018-11-30 05:02] KanybekMomukeyev opened #36 "Can not download/build under Windows 10"
Hi, i can not download under windows 10
[code]

[2018-11-30 05:33] KanybekMomukeyev commented on #36
I tried follow the medium guide for this

https://medium.com/flutter-community/flutter-from-mobile-to-desktop-93635e8de64e

But have following issue
[code]

[2018-11-30 08:21] zephylac commented on #36
Can you put the result of your `flutter --version`

[2018-11-30 08:40] Drakirus commented on #36
`go run engineDownloader.go` is fixed by #37.

Regarding:
[code]

Using `Flutter 0.11.13 • channel beta` the *simpleDemo* does work.

Are you compiling your own flutter app ?
If so some tweaking might be needed!

[2018-11-30 08:42] Drakirus opened #38 "flutter: The following NoSuchMethodError was thrown building IconTheme"
https://medium.com/flutter-community/flutter-from-mobile-to-desktop-93635e8de64e

But have following issue
[code]

_Originally posted by @KanybekMomukeyev in https://github.com/Drakirus/go-flutter-desktop-embedder/issues/36#issuecomment-443096461_

[2018-11-30 08:44] #36 closed

[2018-11-30 08:44] Drakirus commented on #38
Using `Flutter 0.11.13 • channel beta` the *simpleDemo* does work.

Are you compiling your own flutter app ?
If so some tweaking might be needed!

[2018-11-30 09:21] KanybekMomukeyev commented on #38
@Drakirus now i will retry everything one more time.

[2018-11-30 09:39] KanybekMomukeyev commented on #38
@Drakirus ok, everything is ok, even keyboard is working.

[2018-11-30 09:53] Drakirus commented on #35
I'm not a Firebase user but, from an embedded perspective, there is a lot of work to be done before having the correct **Flutter Platform Channel** implemented.

[2018-11-30 09:55] #38 closed

[2018-11-30 10:38] KanybekMomukeyev commented on #38
@Drakirus i have one more question:
How to build windows release app?

I created folder, added there 3 files: main.exe, icudtl.dat, flutter_engine.dll
But when i try to excecute app in another machine, there are some errors:

[code]

[2018-11-30 10:44] Drakirus commented on #38
You need to add `flutter_project` (if the content is only `demo/build` it's ok).
Also, `assets` is needed if you want to have a custom icon.

[2018-11-30 18:56] pulyaevskiy commented on #35
@Drakirus

I'd actually be curious on what's missing on the golang side for unblocking development of plugins using StandardMethodCodec? I mean aside from the codec itself of course.

[2018-12-01 00:07] Drakirus commented on #35
I didn't wrap my head around the Message/Channels abstraction. But, the goal is to match the existing Flutter plugin API, and from what I have read we need (not entirely sure):
1. Binary Messages
1. Message channels (delegate to the binary messaging layer for all communication)
   - Binary Created with a [MessageCodec](https://docs.flutter.io/flutter/services/MessageCodec-class.html) ( [StringCode

[2018-12-01 04:11] carlosbdw opened #39 "file was built for unsupported file format on Mac"
GitHub/go-flutter-desktop-embedder/example/simpleDemo/FlutterEmbedder.framework/FlutterEmbedder, file was built for unsupported file format ( 0x56 0x65 0x72 0x73 0x69 0x6F 0x6E 0x73 0x2F 0x43 0x75 0x72 0x72 0x65 0x6E 0x74 ) which is not the architecture being linked (x86_64): GitHub/go-flutter-desktop-embedder/example/simpleDemo/FlutterEmbedder.framework/FlutterEmbedder
Undefined symbols for archi

[2018-12-01 20:13] gedw99 commented on #39
I tried out the new Downloader in the Demo and had no issues for what it worth.
Have been working many times for me.

@carlosbdw can you give me info on what you did. Env, etc

[2018-12-01 20:21] ghost opened #40 "Molten / Vulkan / Metal support"
I get warnings all the time about openGL being deprecated in the future because of Apple moving to Molten ( Apple's version of Vulkan / Metal ).
Skia and Flutter can do Vulkan on Desktop ( and mobile) and so that is not going to be an issue, but the golang openGL, GLFW will be a problem soon.

Would be good to look into what else is out there for Golang on MacOS to solve this that will eventually

[2018-12-01 20:21] gedw99 opened #41 "Black screen. Does not draw initially on MacOS Mojave (10.14)"
Seems many others getting exact same issue

https://github.com/go-gl/glfw/issues/231

Basically the window opens and its just all black.
Once you maximise the window its ok and renders the FLutter scene
Also when you resize it goes black as you resize and then comes back to Flutter scene.

[2018-12-01 23:02] Drakirus commented on #40
At the moment the flutter/engine is not supporting Vulkan [embedder header file] (https://github.com/flutter/engine/blob/7375a0f414bde4bc941e623482221db2fc8c4ab5/shell/platform/embedder/embedder.h#L31).
As you pointed out this might be a non-issue if Vulkan/Metal is ported into GLFW.

[2018-12-03 09:04] gedw99 commented on #40
i guess what the space ...

[2018-12-06 04:32] KanybekMomukeyev opened #42 "How to release Windows desktop app, to be usable in another machine?"
Hi, every time when i build from source code ``` go build main.go ```
[code]
Here the "dir path" is fixing my local path.
And whenever triying ro run in another machine, app crashes,
with error that app can not find my local path.

For example:
[code]
this is another machine, there should not be go-flutter-desktop-embedder

Or this kind of issue:
[code]

[2018-12-06 10:00] zephylac commented on #42
When trying on another machine did you just copied files or did you fully reinstalled ?
Shared Library are dependant on your architecture (Windows, MacOS, Linux).

[2018-12-06 10:43] KanybekMomukeyev commented on #42
There are 2 machines:
 1) mine.
 2) collegue.

a) I build flutter windows desktop app on mine machine.
b) Copy neede files into one folder (assets, dll framework, icu file ....)
c) Send folder to collegue machine by messenger.

Whenever run app in folder, i have mentioned issues on collegue machine.

[2018-12-06 10:57] zephylac commented on #42
To run the application you need flutter. And your icudtl.dat file is dependant of the flutter version installed and the OS.

You can try to create a file that automatically execute installation steps and launch your app. So that you colleague can just execute that file to launch the app.

[2018-12-06 11:11] Drakirus commented on #42
Can you try to remove:
[code]
and use `gutter.OptionAssetPath("flutter_project/stocks/build/flutter_assets")` instead of `gutter.OptionAssetPath(dir + "/flutter_project/demo/build/flutter_assets")` and so on every time you encounter `dir + <...>`

---

Here is an older example of the `main.go` used in the prebuild embedder [main.go](https://github.com/Drakirus/go-flutter-desktop-embedder/blob/d4df

[2018-12-07 15:34] jeffmikels opened #43 "How to build the examples?"
I'm new at Go, but I'm pretty sure I have it installed properly. I'm on Mac Mojave. How do I build the example apps?

[2018-12-07 20:17] Syleron opened #44 "Unable to build on Windows 10"
I get the following when attempting to run build simpleDemo:

..\..\flutter\flutter.go:177: cannot use C.uintptr_t(len(strMessage)) (type C.uintptr_t) as type C.size_t in field value

[2018-12-07 20:34] Syleron commented on #44
I've managed to get it working by changing it to the expected C.size_t, however, unsure if this is the proper fix.

[2018-12-07 20:56] Drakirus commented on #44
@Syleron thanks for the issue :smile:
This is the proper fix! ref: [embedder.h](https://github.com/Drakirus/go-flutter-desktop-embedder/blob/140562ebcb093712e527a080bf32241f39c6f5e5/flutter/library/flutter_embedder.h#L90)
Do you think you could submit a quick PR for this?

[2018-12-07 21:02] Drakirus commented on #43
On which step are you stuck?

[2018-12-07 21:09] Syleron commented on #44
Awesome :) Yes, It's awaiting your confirmation.

[2018-12-07 21:10] #44 closed

[2018-12-07 23:36] zon7 commented on #43
I'm at the same stage. Cannot build stocks. It tells me
"Because stocks depends on flutter_test any from sdk which depends on quiver 2.0.1, quiver 2.0.1 is required.
So, because stocks depends on quiver 2.0.0+1, version solving failed."

I'm using flutter 1.0 and I know I can edit pubspec.yaml, but I want to solve it right :)

[2018-12-07 23:44] Drakirus commented on #43
Ohh, The stocks example is kinda old. 😅

I you want the latest stocks example, please download it from [the official flutter repo](https://github.com/flutter/flutter/tree/master/examples/stocks).

Also you need to read [this README.md](https://github.com/Drakirus/go-flutter-desktop-embedder/blob/master/example/stocks/flutter_project/stocks/README.md) in order to make the appropriate adaptation.

[2018-12-08 15:18] jeffmikels commented on #43
Step 0. I don't know where to start.

I have go installed.
I have downloaded this repo.
I already have flutter installed in its default location.

I know enough to try `go build` but that doesn't work.
So I'm simply asking "Where do I start?"

[2018-12-08 15:19] jeffmikels commented on #43
Oh! Never mind... apparently the README has a little arrow next to the Operating system that shows build instructions when you click on the OS. I've never seen that before on a Github README.

[2018-12-08 15:19] #43 closed

[2018-12-10 05:05] KanybekMomukeyev commented on #42
@Drakirus, your solution worked like charm, removed "dir" everywhere.

[2018-12-12 13:16] gedw99 opened #47 "Update downloader to use correct environment variables to allow chinese to access also"
Flutter code is now available in china, so it would be good for the project if they have no issues running the Downloader. Many people in China are firewalled by the Great Firewall of China and cant access google servers.

Its just 2 variables. see here:
https://flutter-io-staging-2.firebaseapp.com/community/china

[2018-12-12 13:19] Drakirus commented on #47
@zephylac

[2018-12-12 15:02] zephylac commented on #47
我会做的 👍

[2018-12-15 18:59] g123k opened #49 "Specify a custom Entrypoint"
Hello,

Thanks for your excellent work on this project!
In my Flutter application, I am not using the default file as entrypoint (main.dart), but a different one.

When building an Android or iOS app, I just have to specify which file I want to use with the `-t` arg:

```flutter build apk --release -t lib/main-dev.dart```

How can I pass this argument?

Thanks!

[2018-12-17 10:58] winner484 opened #50 "$GOPATH not set."
## Flutter version

###### `$ flutter --version`

[code]

## Golang errors (Optional)

###### `$ go build main.go`

[code]

## Does the prebuilt and portable version works ?

###### Download [Link](https://github.com/Drakirus/go-flutter-desktop-embedder/releases)
 - [x] Yes
 - [ ] No

## Steps to Reproduce

1. xxx
2. xxx
3. xxx

[2018-12-17 11:07] #50 closed

[2018-12-17 13:30] zephylac commented on #41
Known isssue, seems to be fixed : [glfw/glfw#1334](https://github.com/glfw/glfw/issues/1334)

[2018-12-17 15:07] zephylac opened #51 "MacOS shortcut support"
## Flutter version
[code]

## Does the prebuilt and portable version works ?
Yes

###### Download [Link](https://github.com/Drakirus/go-flutter-desktop-embedder/releases)
 - No

## Steps to Reproduce

Under MacOS High Sierra 10.13.6, shortcuts doesn't works. I also tested on MacOS Mojave, I would assume it won't work on any MacOS.

After doing so testing. When checking for copy and paste, the key

[2018-12-18 07:45] winner484 opened #52 "how can i write a "mian.go" and a "pubspec.lock"?"
## Flutter version 1.0.0

Thanks for your work than makes me successfully build the demo to a linux app.
But if i want to build a app for my own flutter project, how can i write a "mian.go" and the "pubspec.lock"?
I am new to go-lang as well as flutter.
can anybody tell me how to start?
Thanks a lot!

[2018-12-18 08:47] Drakirus commented on #52
First of:
```The README has a little arrow next to the Operating system that shows build instructions when you click on the OS.```

Next up:
In the file [simpleDemo/main.go](https://github.com/Drakirus/go-flutter-desktop-embedder/blob/1a6f12721c313651a991e148d33b379d5969acd2/example/simpleDemo/main.go#L33-L42), you have the specify the path to the flutter's build using `gutter.ProjectAssetPath`

F

[2018-12-19 05:41] winner484 commented on #52
it`s ok with simpleDemo.
but i get this error when i use a hello_world project.
..............
$ go get -u -v github.com/Drakirus/go-flutter-desktop-embedder
github.com/Drakirus/go-flutter-desktop-embedder (download)
github.com/go-gl/glfw (download)
runtime/cgo
# runtime/cgo
gcc: error: (copy): No such file or directory

[2018-12-20 14:14] #52 closed

[2018-12-21 20:56] zephylac commented on #51
https://github.com/Drakirus/go-flutter-desktop-embedder/tree/feature/MacOS_Shortcuts

[2018-12-21 22:28] zephylac opened #53 "Keyboard layout"
## Flutter version
[code]

## Does the prebuilt and portable version works ?
Yes

###### Download [Link](https://github.com/Drakirus/go-flutter-desktop-embedder/releases)
 - [ ] Yes
 - [X] No

## Steps to Reproduce

`glfw.SetKeyCallback` doesn't support keyboard layout. It only support US layout. [Documentation](https://www.glfw.org/docs/latest/group__input.html#ga7e496507126f35ea72f01b2e6ef6d155)

[2018-12-24 01:46] pushqrdx opened #54 "I don't get it, what's the use of go here?"
So, this isn't an issue but rather a question. As far as i can see we're still building the application itself in Dart? and go is just running as a wrapper? If so how's that `Single Codebase` in the readme 😄
Did you mean single go codebase _or_ single dart codebase?

Again, Sorry for opening this as an issue =)

[2018-12-24 06:51] mikowiec opened #55 "mac: wrong directory"
## Precondition

- macOS Sierra
- dart v2.1.0 installed via brew, flutter SDK not installed
- prebuild binary v0.3.0-alpha from github

## Does the prebuilt and portable version works ?
No

###### Download [Link](https://github.com/Drakirus/go-flutter-desktop-embedder/releases)
 - [x] Yes
 - [ ] No

## Steps to Reproduce

1. Unzip downloaded binary
2. Run `stocks`
3. Console shows error:
`2018/12/

[2018-12-24 09:34] Drakirus commented on #55
Luckly the `main.go` used to compile the `stocks` binary is still in the zip file.
The `main.go` file wasn't compile with the correct go file.

@zephylac can you rebuild the stocks example using the simpler [stocks/main.go](https://github.com/Drakirus/go-flutter-desktop-embedder/blob/master/example/stocks/main.go)
Thanks :+1:

[2018-12-24 10:48] Drakirus commented on #54
Good questions!
The Readme wasn't clear enough, I updated it.

---

Here are (hopefully) the answers to your questions:

Yes

That where you got confused (you're not the only one :smile:).

This project does wrap the [Flutter engine](https://github.com/flutter/engine/blob/master/shell/platform/embedder/embedder.h) to Golang.
But that not it! The biggest part is about handling the OpenGL's Buffer,

[2018-12-24 11:10] Drakirus commented on #53
I reviewed your works!

[2018-12-24 17:40] Drakirus commented on #54
Is the Readme clear enough?
If no, can I reuse your description, to describe the project? (your English is way better than mine)

[2018-12-24 23:13] zephylac commented on #55
ASAP 👍

[2018-12-25 01:03] pushqrdx commented on #54
Of course, In this case here's a rephrased version of both your readme and my description that i think will better express the project. Feel free to use/edit it.

# Purpose

The flutter engine itself doesn't know how to deal with desktop platforms _(eg handling mouse/keyboard input)_. Instead, it exposes an abstraction layer for whatever platform to implement. This purpose of this project is to im

[2018-12-25 10:39] zephylac commented on #55
I've updated the release, it should work now. If you can check it on your side @mikowiec, it would be great.

[2018-12-26 08:40] Drakirus commented on #38
Desktop platforms are not supported Flutter targets. Existing applications are likely to require modifications in order to run.

[2018-12-26 19:55] gedw99 opened #56 "License"

[2018-12-26 19:56] gedw99 commented on #56
Btw are you sure you want GNU license ? Slot of people will want to use this for commercial projects

[2018-12-27 07:49] mikowiec commented on #55
not fixed

[code]

[2018-12-27 08:32] zephylac commented on #55
It's working but for this release you need to execute it from the directory. When it was compiled, it was with
` gutter.ProjectAssetPath("flutter_project/stocks/build/flutter_assets"),`
As this is not an absolute path (we would fall in the other case where absolute path is written in the executable), you need to execute it from it's directory otherwise he won't find `flutter_assets` directory
[cod

[2018-12-27 08:36] Drakirus commented on #55
I just ran into the following issue:
[code]
@zephylac can you build the stocks example while making sure the path to the `gutter.ApplicationICUDataPath` is local to the `zip`
Thanks :+1:

[2018-12-27 08:43] Drakirus commented on #56
CI is starting to become necessary, unfortunately, I don't have the time atm.

Regarding the license, it's an LGPL license which allows for Commercial use.

[2019-01-04 11:07] ghost opened #58 "Look into use the new Dart / Flutter FFI under development"
https://github.com/flutter/flutter/issues/7053
- follow the link at the bottom and down the rabbit hole.

Basically it will mean you can take your golang code and compile it to a shared lib for Mobile and Desktop.
[code]

Why its a feasible approach:
1. speed.
2. agnostic. The same code for Desktop and Mobile can be plugged into Flutter in the exact same way.

when ?
Q1 2019 they say.

[2019-01-12 01:01] zet4 opened #59 "Poor CPU performance."
## Flutter version

###### `$ flutter --version`

[code]

## Does the prebuilt and portable version works ?

###### Download [Link](https://github.com/Drakirus/go-flutter-desktop-embedder/releases)
 - Yes

## Steps to Reproduce

1. Run any flutter app (including the samples provided with the project)
2. Observe abnormal CPU usage (10-15% on idle)

## Notes

I have not tested google's version of th

[2019-01-12 14:53] Drakirus commented on #58
I'll keep this issue as a reminder.

[2019-01-12 15:35] Drakirus commented on #59
https://github.com/google/flutter-desktop-embedding/issues/58

[2019-01-12 16:42] zet4 commented on #59
So I finally got google/fde to build and run on my windows machine and the performance / resource usage was a lot lower than what I saw with Go bindings here, so it's not completely on Flutter here, is there anything we can do to figure out what's causing the constant 15% on idle?

[2019-01-12 16:45] Drakirus commented on #59
On which platform are you running ?

[2019-01-12 16:56] zet4 commented on #59
Both of the embedders were tested on Windows 10 x64. With `go version go1.11rc1`, which is a bit behind, but not enough to cause any drastic changes, the sample builds in gh releases were showing the same results anyway.

[2019-01-12 17:01] Drakirus commented on #59
Using `glfw.PollEvents()` in [gutter.go](https://github.com/Drakirus/go-flutter-desktop-embedder/blob/f22c94dc7facb2b3e53571ea0e7d7b3103140c38/gutter.go#L47-L51) is way more CPU intensive than using `glfw.WaitEvents()`.
If you want the embedder to receive a platform plugin message from the flutter side. The line `flutter.EngineFlushPendingTasksNow()` has to be run ([flutter#16912](https://github.c

[2019-01-12 17:02] Drakirus commented on #59
The Windows version of **flutter-desktop-embedding** seems to be using [`glfwWaitEvents`](https://github.com/google/flutter-desktop-embedding/blob/123fea23efcf444d560df2424fa7860eab13d45b/library/common/glfw/embedder.cc#L359-L366)

[2019-01-12 17:33] zet4 commented on #59
Alright awesome, after switching to WaitEvents the CPU usage has become tolerable for my use case.
As you mentioned using this method has its drawbacks too, keyboard plugin in particular, even though I've yet to notice said edge cases from my short testing, but since my project will likely not require much keyboard input, I will hope it's going to be okay for me.

I am assuming nothing else can re

[2019-01-17 23:28] Syleron opened #61 "[Windows] Possible to build without cmd window in the background?"
Is it possible to build a windows exe without having it run a CMD in the background of the flutter app?

[2019-01-18 09:12] Syleron commented on #61
@marceloneppel perfect! Thank you.

[2019-01-18 09:12] #61 closed

[2019-01-18 17:59] mikew commented on #55
In the meantime:

[code]

[2019-01-18 18:39] mdcfrancis commented on #34
If you are using powershell you have to use a different syntax ` $env:CGO_LDFLAGS = "-LC:\......\simpleDemo"` allows me to compile.

[2019-01-19 14:06] Syleron opened #62 "GO Fatal whilst running"
Windows 10
## Flutter version

###### `$ flutter --version`

[code]

## Golang errors (Optional)

Get this error whilst the program is running

[code]

## Does the prebuilt and portable version works ?

###### Download [Link](https://github.com/Drakirus/go-flutter-desktop-embedder/releases)
 - Yes

## Steps to Reproduce

There is no clear way for me to replicate without providing the executable to

[2019-01-21 07:44] zephylac commented on #55
New release! 😀

[2019-01-21 07:44] #55 closed

[2019-01-21 17:29] gedw99 opened #63 "Feature: Printing via Screen shotting"
This looks like an excellent basis.

https://github.com/DavBfr/dart_pdf
It can take a screenshot and then output as as PDF and then Share / Print.

Taking a screenshot is a bit hacky to purists, but way let work than converting Dart AST layout to PDF.
SO its not a bad solution in terms of easy but effective in 90% of cases approach i feel.

In progres is the ability to take a PNG of a Flutter VIew

[2019-01-21 17:31] gedw99 commented on #58
i think that its a long way of btw. But still keep in mind long term i guess.
Pity they did not just use Protobufs i feed since so many language support it.
Maybe worth thinking about for Plugin architecture maybe

[2019-01-23 10:55] ghost opened #64 "File dialogs"
https://github.com/gen2brain/dlgs

Also has other dialogues and notifications and beeps.

Needed for any desktop app :)

Works on all desktops with only golang

[2019-01-23 22:04] zephylac commented on #53
#57

[2019-01-23 22:04] #53 closed

[2019-01-26 11:43] Drakirus commented on #62
Sorry for the late reply.
Can you share the source that replecate the issue?

[2019-01-28 23:20] Syleron commented on #62
@Drakirus I'd rather not share my entire personal project. I'm using the simpleDemo main.go and nothing more. Would you be able to join in on a discord call?

[2019-01-28 23:25] Syleron opened #66 "Video Player Plugin"
I'm attempting to use the video_player plugin but it doesn't appear to instalize.

Is this plugin supported? If not, when can I expect this to work as it is a crucial part to my project.

Thank you.

[2019-01-29 09:14] Drakirus commented on #66
The plugin architecture isn't ready to support Android/iOS plugins without to write/rewrite some Dart code, this goes against the Flutter philosophy and that why work on the plugin system needs to be done [#35](https://github.com/Drakirus/go-flutter-desktop-embedder/issues/35#issuecomment-443377193).

About the video_player, this kind of plugin needs access to the Texture widget. I strongly encour

[2019-01-29 09:40] Drakirus commented on #62
This goes against my working methods, no for discord, sorry.
Did you implement a personal plugin?

[2019-01-29 09:43] Syleron commented on #62
@Drakirus sure, np. I believe it may be the used of flutter Redux, however, I'm unsure to be exact.

[2019-01-29 09:44] Syleron commented on #66
@Drakirus Thank you for this. I will have a closer look and see.

[2019-01-29 09:44] #66 closed

[2019-01-29 09:47] Drakirus commented on #62
Try to delete those lines: [main.go, `ownPlugin`](https://github.com/Drakirus/go-flutter-desktop-embedder/blob/91996e7a2f605a297aa3e7b4c1bf9020e880f420/example/simpleDemo/main.go#L68-L95)

[2019-01-29 09:49] Syleron commented on #62
[code]

Is currently my main.go code

[2019-01-29 10:18] Drakirus commented on #62
If you are using some flutter plugins, make sure they are 100% Dart. If they use some platform bindings, those are not implemented.

[2019-02-08 03:13] thetooth commented on #59
Just bumping this as I am experiencing similar issues. Are you saying 15% total CPU or single core utilization? Because I am getting 100% single thread utilization that is locked to one core (with the same environment using the simple demo example).

Unfortunately trying to use this in an embedded setting(Intel NUC) won't end well :hot_pepper: :hot_pepper: :hot_pepper:

I have tried switching to W

[2019-02-12 09:31] huang-weilong opened #67 "Why is the compiled project showing a blank?"
I created a new default flutter project and compiled it. Why does the window title show `Loading` and the view content is blank when running `main.exe`? The demo in the build project can be displayed normally.
I am compiling the new flutter project by replacing the demo of the original project.
Is this the wrong way to compile?

[2019-02-12 10:11] huang-weilong commented on #67
Solved: need to add the following code to `main.dart` in your project:
[code]

[2019-02-12 10:11] #67 closed

[2019-02-16 16:21] GeertJohan opened #68 "PlatformError: GLX: Failed to make context current"
I'm seeing an issue that I've seen before. I know how it can be fixed, but I'm not succeeding in applying the fix to this project.

In flutter-desktop-embedding I encountered an error that was caused by improper resolving of GL functions. The Flutter>Skia>GL rendering would assume the wrong GL context and resolved the wrong procs, ending up in a bunch of errors. Providing flutter with a glfw proc

[2019-02-16 16:46] Drakirus commented on #68
I won't be available until next week. This issue is my top priority.

[2019-02-16 21:43] GeertJohan commented on #68
I managed to get the fix working using GLFW directly. This demonstrates that the issue is in fact the same as the one I had with flutter-desktop-embedding, and that the solution is to provide the flutter engine with the `gl_proc_resolver`.
I kept the solution in C, because wiring the function call into and back out of Go didn't seem to make much sense here.

https://github.com/Drakirus/go-flutter-

[2019-02-16 21:56] Drakirus commented on #68
Yes, it should remain the responsibility of go-gl/glfw.
**Waiting for go-gl/glfw#234 to be resolved.**

[2019-02-16 23:06] GeertJohan commented on #68
I have added two more iterations.

- Resolving via Go, using GLFW directy from Go: https://github.com/Drakirus/go-flutter-desktop-embedder/compare/master...GeertJohan:feature/add-gl-proc-resolver-via-go
- Resolving via Go with a patched go-gl/glfw: https://github.com/Drakirus/go-flutter-desktop-embedder/compare/master...GeertJohan:feature/add-gl-proc-resolver-via-go-gl-glfw

I've created a PR at g

[2019-02-17 10:28] GeertJohan commented on #35
@pulyaevskiy Did you make some progress? I'd like to look into this issue as well but it would be sad if we duplicated work.

[2019-02-17 10:41] #68 closed

[2019-02-17 11:53] Drakirus opened #72 "Move repository to go-flutter-desktop organisation"
As I'm less and less maintaining this repository due to my studies, it would be better to move it to a ~~"[@flutter-desktop](https://github.com/flutter-desktop)"~~ "[@go-flutter-desktop](https://github.com/go-flutter-desktop)" organization.

Having 1,500+ stargazer only meant one thing: The community is in the needs.
Sadly I cannot invest enough time into the project, and it's time for me to admit

[2019-02-17 12:47] GeertJohan commented on #32
@rodolfoaguiar Can you please try if this problem still occurs with the most recent version of this package? Make sure to update both the go-getted package (`go get -u -a github.com/Drakirus/go-flutter-desktop-embedder`) and any sources you have manually cloned.

If this problem still occurs, can you share a standalone project that reproduces the issue, so I may try to debug this.

[2019-02-17 13:56] GeertJohan commented on #72
Hi all, it's great to be part of this project! Thanks @Drakirus for the trust. Lets make this even more awesome than it already is!

We want the movement to be as little hindrance for existing users as possible, but at the same time rename some packages and exported functions/types that are currently causing confusion for developers. This involves breaking changes, but it's important to us that th

[2019-02-17 15:35] GeertJohan commented on #62
@Syleron Is it possible to distil a minimal version of your code that still produces this error? Then I may be able to debug the problem.

[2019-02-17 15:41] GeertJohan commented on #64
I suppose this could be a neat plugin. It's not required for this library to function. The plugin could be a very nice cross-platform example for plugins with this library.

[2019-02-17 15:54] GeertJohan commented on #63
Hi @gedw99, sounds very interesting. I've been thinking about possibilities to supplement existing plugins with desktop functionality. Have you tried this already or thought about such a solution?

[2019-02-17 16:31] Drakirus commented on #56
according to Gustavo Niemeyer (Cannoncial, gopkg.in)

linkage is accepted if you intend to use a different license in the
rest of the code, which excludes the way Go links them.

down a specific exception for all of the Go-related libraries exactly
because of that (there's no intention to force linked packages to buy
into the same license).

[2019-02-17 16:36] Drakirus commented on #56
After chatting a bit with @GeertJohan, we concluded that BSD was more appropriated.

[2019-02-17 16:42] #56 closed

[2019-02-17 16:48] GeertJohan commented on #51
Perhaps the modifier key should be selected using go build tags.
https://golang.org/pkg/go/build/

A file that's just compiled for GOOS=darwin could override the default modifier key to ModSuper.

[2019-02-17 17:36] GeertJohan opened #74 "Multi-monitor support for pixel ratio"
The pixel_ratio is calculated using the primary monitor. Instead we want to detect on which physical display the GLFW window resides, and use the metrics for that display to calculate the correct pixel_ratio.

[2019-02-17 20:28] stuartmorgan commented on #72
Have you considered a less generic name? With the in-progress migration of flutter-desktop-embedding's implementations to flutter/engine, there are now desktop implementations that are part of the Flutter project. Creating an organization called "flutter-desktop" that's not part of Flutter and unrelated to Flutter's desktop implementations seems potentially very confusing.

(It also seems a bit od

[2019-02-17 21:00] Drakirus commented on #72
Our plan was to move the repo to `flutter-desktop/go-flutter`.
Having a "[@flutter-desktop](https://github.com/flutter-desktop)" organization might confuse some people.
I hadn't thought about it.

@stuartmorgan is `go-flutter-desktop/flutter` a better name ?
I don't want to include "go" in the organization AND repo name.

Thanks for the feedback!

[2019-02-17 21:05] GeertJohan commented on #72
The repo name `flutter` might be confusing as well, looks as if it is a fork of the flutter/flutter repo.

[2019-02-17 21:08] GeertJohan commented on #72
@stuartmorgan I wasn't aware of flutter-desktop-embedding being merged into flutter/engine? I thought the engine project was embedder-agnostic? How will that work?

[2019-02-17 21:21] stuartmorgan commented on #72
I think `go-flutter-desktop` as an organization name is much less likely to cause confusion, certainly.

The embedding API is embedder agnostic, not the project. The repository is where the Android and iOS Flutter shells lived already, so is definitely not implementation agnostic.

The embedding API and the shell will be different targets. I don't want to hijack this thread though, so if you are i

[2019-02-17 21:37] GeertJohan commented on #72
@stuartmorgan Just read up on the mailinglist. Congratulations with the promotion of FDE into flutter/engine! And thanks for the feedback, we'll go with `go-flutter-desktop`.

[2019-02-17 21:44] Drakirus commented on #72
Crazy stuff is happening fast!
Thanks for the feedback and the hard work you've put into FDE, this experiment would not have existed without you.

[2019-02-18 09:10] zephylac commented on #51
I agree, I've done this in the new branch that supports keyboard shortcuts for MacOS

[sample](https://github.com/Drakirus/go-flutter-desktop-embedder/blob/feature/MacOS_Shortcuts/gutter.go#L102-L109)

[2019-02-19 10:01] GeertJohan commented on #51
@zephylac Could you open a PR for this?

[2019-02-19 22:51] gedw99 commented on #64
The use case i have in mind was for when a user needs to save a file or open a file.
For example:
-  when you export a report
-  want to add an image to an app.

[2019-02-19 23:07] gedw99 commented on #64
Here is what i have found. It would be good to provide these basics as a plugin for go-flutter-desktop.

# dialogs

Flutter-go needs to interact with the Desktop os for:
- Printer dialog, where we send it a PDF to print
- Select File (s) to upload
- Select where to download a file
- Show Notifications
- Other.

Libs Research:

## Inputs
https://github.com/gen2brain/dlgs/
dlgs is a cross-platform l

[2019-02-19 23:25] gedw99 commented on #63
Hey @GeertJohan

BTW i saw the issue about the new org and you taking over maintenance. Huge thank you.
I hope i can help also in my own way.

Regarding your question "about possibilities to supplement existing plugins with desktop functionality", i am not exactly sure what you mean. Can you be more verbose ?

[2019-02-19 23:32] gedw99 commented on #66
There is a Flutter Plugin that uses Video that works on Mobiles and Desktop.
https://github.com/cloudwebrtc/flutter-webrtc-demo
https://github.com/cloudwebrtc/flutter-desktop-embedding

They also need Desktop and so have forker the official Flutter Desktop to add it.
How that affects the go-flutter-desktop-embedder i am not sure, but i suspect it will mean that the Desktop embedder will get it and

[2019-02-20 14:11] GeertJohan commented on #63
Thanks @gedw99

There are a lot of plugins already out there, I'm thinking if and how it's possible to add desktop (Go-based) support for those plugins. So that the dart side stays the same, but the native implementation is swapped for a Go version. I think this must be possible with the messaging system.

[2019-02-20 22:16] GeertJohan commented on #72
The move has been completed.
https://github.com/go-flutter-desktop/go-flutter/wiki/Package-has-moved-to-an-organization

[2019-02-20 22:16] #72 closed

[2019-02-25 09:43] gedw99 commented on #63
I think it's very possible and have seen 2 examples.

https://github.com/empirefox/flutter_dial_go

https://sites.google.com/a/athaydes.com/renato-athaydes/posts/buildingamobilefrontendforagoapplicationusingflutter

I have tried both. The 2nd is closest because it's just JSON RPC.very clean. It's designed for gomobile obviously, but a slightly different driver wrapper can be built I suspect to mat

[2019-02-26 10:02] Drakirus opened #78 "Flutter (Channel beta), v1.2.1 is released!"
The [Changelog](https://github.com/flutter/flutter/wiki/Changelog) contains 2 Embedder API changes:

 [#7497](https://github.com/flutter/engine/pull/7497) Embedder API: `main_path` and `packages_path` in `FlutterProjectArgs` have been renamed to indicate that they should no longer be provided.
 [#7567](https://github.com/flutter/engine/pull/7567)  Embedder API: The `FlutterResult` type has been re

[2019-02-26 10:04] Drakirus commented on #78
Good news, none of the above changes breaks `go-flutter`.

[2019-02-26 10:07] Drakirus commented on #78
The following message appear when the `go-flutter` embedder is started:
[code]

[2019-02-28 21:20] kameleon83 opened #79 "embedder.go:140:15: identifier "_Ctype_FlutterPointerPhase" may conflict with identifiers generated by cgo"
go get -u -v github.com/go-flutter-desktop/go-flutter

github.com/go-flutter-desktop/go-flutter (download)
github.com/go-gl/glfw (download)
github.com/go-flutter-desktop/go-flutter/embedder
# github.com/go-flutter-desktop/go-flutter/embedder
../../../github.com/go-flutter-desktop/go-flutter/embedder/embedder.go:140:15: identifier "_Ctype_FlutterPointerPhase" may conflict with identifiers generated

[2019-03-01 08:39] gedw99 commented on #79
I also got the same error

[2019-03-01 09:00] Drakirus commented on #79
Same error here.
[code]
It's a new compiler error.

Replacing `_Ctype_FlutterPointerPhase` to `C.FlutterPointerPhase` fixes the issue.

[2019-03-01 09:02] #79 closed

[2019-03-01 19:16] 0x4ym4n opened #80 "Arabic language support"
## Flutter version

[code]

[2019-03-04 10:40] Drakirus commented on #80
Did you added the Arabic font in your `pubspec.yaml` file ?

It's a bit old and hidden, but here is a example: [stocks demo](https://github.com/go-flutter-desktop/go-flutter/tree/master/example/stocks/flutter_project/stocks)

[2019-03-04 10:45] 0x4ym4n commented on #80
Yes I had to add Arabic font in pubspec and it works out of the box.
Thank you guys .

On Mon, 4 Mar 2019, 12:40 Pierre Champion, <notifications@github.com> wrote:

[2019-03-04 10:49] #80 closed

[2019-03-04 17:59] GeertJohan commented on #78
We should probably decide which channel we stick to. I'm usually using the dev channel, which was already at 1.2.2, but that channel is not stable at all.. Perhaps it's good to stick to beta and track upcoming features in feature-branches until they land in beta, at which point the feature is merged to master.

[2019-03-04 18:02] Drakirus commented on #78
Tracking Beta is good enough.

[2019-03-04 18:03] GeertJohan commented on #78
As part of solving this issue, the `flutter_embedder.h` file should be updated to the upstream version linked to v1.2.1.

[2019-03-04 18:22] GeertJohan commented on #78
I've already pushed version compatibility information directly to master, PR #81 to update embedder definitions.

[2019-03-04 18:54] GeertJohan opened #82 "Improve performance by providing a resource context"
Flutter prints this error. The feature is actually an optional feature, but highly recommended.

`[ERROR:flutter/shell/platform/embedder/embedder_surface_gl.cc(89)] Could not create a resource context for async texture uploads. Expect degraded performance. Set a valid make_resource_current callback on FlutterOpenGLRendererConfig.`

[2019-03-04 19:05] #78 closed

[2019-03-04 19:09] Drakirus commented on #82
The warning is related to the texture API.
Since the current embedder doesn't make use of this API, I don't think the performance are impacted.

[2019-03-05 09:35] zephylac commented on #51
Merged branch

[2019-03-05 09:35] #51 closed

[2019-03-08 15:59] GeertJohan commented on #35
I'm working on this now.

[2019-03-09 20:13] ghost opened #84 "Wrong PixelRatio calculation (based on DPI scaling)"
Hello, I have a monitor that is uhd, and the dpi that comes configured with the app is very low, is there any way to change it?

![Screenshot from 2019-03-09 17-07-30](https://user-images.githubusercontent.com/43121549/54076826-76f3f700-428e-11e9-883b-aa87f7b6f493.png)

[2019-03-10 18:06] GeertJohan commented on #84
@m3k4itr41n
Are you using the prebuilt release of that app? I think it was built using a version of go-flutter that didn't have proper DPI scaling support.

If you follow the guide to compile locally, you'll get the app in a proper resolution. Please let me know if that works.

I'll leave this ticket open as a reminder to setup CI/CD for the example app releases.

[2019-03-12 15:15] rfsx0829 opened #87 "unexpected signal during runtime execution on Mac Mojave"
I successfully built main.go, but the generated binary does not work.

Here is the error message

$ go build main.go
$ ./main
fatal error: unexpected signal during runtime execution
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x40f0bd3]

runtime stack:
runtime.throw(0x414b1f1, 0x2a)
        /usr/local/Cellar/go/1.11.4/libexec/src/runtime/panic.go:608 +0x72
runtime.sigpanic()

[2019-03-14 04:19] winner484 commented on #87
go version 1.12
flutter 1.0.0

i got the same error on ubuntu.
    fengyu@fengyu-desktop:~/go-flutter/example/simpleDemo$ ./main
    fatal error: unexpected signal during runtime execution
    [signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x4fa803]

    runtime stack:
    runtime.throw(0x556983, 0x2a)

[2019-03-14 12:46] Drakirus commented on #87
A new version is around the corner, once #86 gets merged, we'll check the issue.

[2019-03-14 15:05] GeertJohan commented on #59
I have included a change in #86 that should imrpove this issue by limiting the message loop to ~60fps iterations.

[2019-03-15 10:17] GeertJohan opened #88 "Add support for window minimization"
When the flutter application signals to pop the whole application, we should probably iconify or minimize the application..

SystemNavigator.pop method on flutter/plaform channel:
https://github.com/flutter/engine/blob/master/shell/platform/android/io/flutter/embedding/engine/systemchannels/PlatformChannel.java#L113

Should be routed to GLFW hide/show or iconify:
https://godoc.org/github.com/go-gl

[2019-03-15 11:59] GeertJohan commented on #88
This could be part of a bigger effort to separate GLFW as a renderer, which would then implement platform channels.

[2019-03-15 13:18] GeertJohan opened #89 "Move any dependency of glfw to go-flutter package"
Possibly abstract by creating a interface that is implemented by GLFW specifics..

TODO linked in source.

[2019-03-15 13:23] GeertJohan opened #90 "Add support for mouse-over/hovering"
`kHover` in embedder.h suggests support for hovering.
https://github.com/flutter/engine/blob/4b01d795feec3ba8231a397a4ec2759954d8216e/shell/platform/embedder/embedder.h#L288

[2019-03-15 13:24] GeertJohan opened #91 "Add support for scrolling"
Enum and field in embedder.h support suggest support for scrolling.

https://github.com/flutter/engine/blob/4b01d795feec3ba8231a397a4ec2759954d8216e/shell/platform/embedder/embedder.h#L292
and
https://github.com/flutter/engine/blob/4b01d795feec3ba8231a397a4ec2759954d8216e/shell/platform/embedder/embedder.h#L307

[2019-03-15 13:26] Drakirus commented on #91
Related to #7

[2019-03-15 14:17] GeertJohan commented on #91
Whoops, duplicate even!

[2019-03-15 14:17] #91 closed

[2019-03-15 14:20] GeertJohan commented on #7
Enum and field in embedder.h support suggest support for scrolling.

https://github.com/flutter/engine/blob/4b01d795feec3ba8231a397a4ec2759954d8216e/shell/platform/embedder/embedder.h#L292
and
https://github.com/flutter/engine/blob/4b01d795feec3ba8231a397a4ec2759954d8216e/shell/platform/embedder/embedder.h#L307

GLFW  would be https://godoc.org/github.com/go-gl/glfw/v3.2/glfw#ScrollCallback

[2019-03-16 00:54] m3k4itr41n commented on #84
yes

nope, it seems that it did not work

I think this is related to this error, right?
[code]

![Screenshot from 2019-03-15 21-51-22](https://user-images.githubusercontent.com/43121549/54468556-98f8e800-476c-11e9-9c06-82a9b3a49f18.png)

[2019-03-16 07:27] winner484 opened #92 "linux app not work"
## Flutter version

###### `$ flutter --version`

[code]

## Does the prebuilt and portable version works ?

###### Download [Link](https://github.com/go-flutter-desktop/go-flutter/releases)

 - Yes

## Steps to Reproduce

1. use IDEA build a default flutter app "untitled"
2. copy "untitled" to /go-flutter-0.4.0-alpha/example/simpleDemo/flutter_project
3. cd /utitled2   flutter build bundle
4. cd

[2019-03-16 10:11] GeertJohan commented on #84
Are you using a multi-monitor setup? Or are you somehow scaling the virtual screen vs physical screen in X11?

[2019-03-16 23:01] m3k4itr41n commented on #84
@GeertJohan I am using only one monitor.

I just changed 2 settings so that it scales well:
- add an environment variable for qt (I very much doubt that you do anything in this project)
- the gnome configuration

![Screenshot from 2019-03-16 19-57-35](https://user-images.githubusercontent.com/43121549/54482683-42e87b00-4826-11e9-8b31-4cb9d7efe69e.png)

[2019-03-17 12:52] GeertJohan commented on #84
We'll need some debugging values to see why the ratio was calculated so low..

Meanwhile you may be able to add OptionPixelRatio to the options given to `Run(..)`, it forces the amount physical pixels per flutter displaypixel to a given value. Probably a value between 1.4 and 2.0 would work for you. Higher = larger UI. Ofcourse this isn't a permanent solution. I'll work on debug options after #86

[2019-03-17 12:55] winner484 commented on #92
@GeertJohan Thank you very much! It works!
but i get new ERROR here. and the "StreamBuilder" or websocket not works will.
i build a very simple chat room, and it worked will in android virtual device. But this linux desk version not works will.
when i open the chat room app, the websocket server show that the chat room app connected, and push back one greet message. but the chat room app can not d

[2019-03-17 21:24] m3k4itr41n commented on #84
@m3k4itr41n Now it looks perfect after changing that, thanks.

![Screenshot from 2019-03-17 18-18-00](https://user-images.githubusercontent.com/43121549/54498122-a4b9eb00-48e1-11e9-95c2-6c07854b0409.png)

But now there is another problem, there are times that it crashes (after a while it is working):
[code]

[2019-03-17 21:29] Drakirus commented on #84
The DPI issue seems to be resolved. Closing the issue.

A new version is around the corner, once #86 gets merged, please report us any new issues.

[2019-03-18 01:41] winner484 commented on #92
@GeertJohan even the prebuilt demo also shows the same error in terminal, but the gui app works will,and every word can be showed.

[2019-03-18 07:54] #35 closed

[2019-03-18 07:59] GeertJohan commented on #32
Without more information it's hard for us to reproduce the described behaviour. Also, a lot has changed in the way engine lookups work, and some bugs that may have caused this error were fixed. Please open a new issue if the problem still occurs with the latest version of go-flutter.

[2019-03-18 07:59] #32 closed

[2019-03-18 08:06] GeertJohan commented on #92
The errors that you see should not cause an issue with your app. Probably there is a plugin that is not working correctly?
Please update to the latest version of go-flutter, it has a new plugin setup and will log more information when there is a missing plugin.

[2019-03-18 08:21] GeertJohan commented on #62
Without more information it's hard for us to reproduce the described behaviour. Also, a lot has changed in the way engine lookups work, and some bugs that may have caused this error were fixed. Please open a new issue if the problem still occurs with the latest version of go-flutter.

[2019-03-18 08:21] #62 closed

[2019-03-18 08:32] GeertJohan commented on #63
I'm closing this as a duplicate of #16
If you can take a screenshot, it can be printed.

[2019-03-18 08:32] #63 closed

[2019-03-18 08:38] GeertJohan commented on #59
#86 has been merged.The performence is not yet 100% efficient, but seems to be the best we can do with the currently available features from engine/embedder. It's certainly not "poor performance" anymore, so I'm closing this issue.

[2019-03-18 08:38] #59 closed

[2019-03-18 08:40] GeertJohan commented on #39
@carlosbdw Is this still an issue for you?

[2019-03-18 08:41] #42 closed

[2019-03-18 08:41] GeertJohan commented on #42
Closed because issue seems to be fixed. Please re-open if this is not the case.

[2019-03-18 08:43] GeertJohan commented on #87
@rfsx0829 It looks like the function call to destroy was made from an invalid thread. Could you please try again with the latest version of go-flutter, it contains fixes concerning thread-safety, this will probably fix the problem. Please re-open this issue if the problem still occurs.

[2019-03-18 08:43] #87 closed

[2019-03-18 16:15] GeertJohan commented on #84
Actually, the DPI issue was patched with duct tape.. I'd like to know why the calculated DPI is wrong..

@m3k4itr41n Could you please update to the latest version and remove the `OptionPixelRatio`, so it calculates based on screen dimensions again? It should give you the same warning ("calculated pixelRatio limited to a minimum of 1.0") but now with a bunch of numeric values added behind it. Pleas

[2019-03-19 00:08] winner484 commented on #92
@GeertJohan Thank you! i already use the latest go-flutter version.but still can not work.
Which version of flutter do you use?
Android studio or IDEA?

[2019-03-19 12:43] Drakirus commented on #15
Closed by #86

[2019-03-19 12:43] #15 closed

[2019-03-20 08:02] gedw99 commented on #9
@GeertJohan Sorry i have not had time to implement this. It is on my todo list still !!

[2019-03-20 09:22] gedw99 opened #93 "mac build failing on export CGO_LDFLAGS="-F${PWD} -Wl,-rpath,@executable_path""
## Flutter version

[code]

## Golang errors (Optional)

[code]

## Steps to Reproduce

[2019-03-20 09:25] gedw99 commented on #93
The directory IS there. Must be something else i am doing wrong ?
Rerun the downloader already.

[code]

[2019-03-20 09:27] Drakirus commented on #93
Can you try
`export CGO_LDFLAGS="-F. -Wl,-rpath,@executable_path"` instead of
`export CGO_LDFLAGS="-F${PWD} -Wl,-rpath,@executable_path"`

[2019-03-20 09:39] gedw99 commented on #93
@Drakirus  thanks for your help.

I got the same result using export CGO_LDFLAGS="-F. -Wl,-rpath,@executable_path"
[code]

I am trying to automate this to finally build a standard magefile we can all use.
Using Makefile for now to workout the flow.

a usr only need to run:
1. make dep
2. make flu-dep
3. Make flu-desk-run
- flu-desk-run is where it errors

my current Makefile
[code]

[2019-03-20 09:42] Drakirus commented on #93
Does it  works when you arn't using `Make` ?

[2019-03-20 09:46] gedw99 commented on #93
ok let me try using a .sh down in the dir.
will take a few minutes

[2019-03-20 09:56] gedw99 commented on #93
Ok so i made a run.sh that i just copy into the Demo directory from the Makefile

Make file:
[code]

run.sh file:
[code]

shell log:
[code]

[2019-03-20 09:58] gedw99 opened #94 "Flutter bootstrapper"
https://github.com/leoafarias/fvm

Nice.

thinking of making part of the Makefile automation.
good idea ?

[2019-03-20 10:28] Drakirus commented on #93
Clang's framework search paths seems to ignore `CGO_LDFLAGS="-F${PWD}"`.
Just like #34 (Windows case).

A quick and dirty solution would be to throw `FlutterEmbedder.framework` file into `/usr/local/lib`.
(Since we use `-rpath,@executable_path`, `/usr/local/lib/FlutterEmbedder.framework` will not be use at runtime)

[2019-03-20 10:32] Drakirus commented on #94
Please use the [gitter](https://gitter.im/go-flutter-desktop/go-flutter?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for those kinds of propositions.

[2019-03-20 10:32] #94 closed

[2019-03-20 10:41] gedw99 commented on #93
thanks !

SO i got it working with CGO_LDFLAGS="-F${PWD}". on mac after all.

Now i can make the Magefile :)

But i like your idea of making CGO use the /usr/local/lib
How will this affect deployment, liek ? the main binary is hardcoded to look for the FlutterEmbedder.framework in  /usr/local/lib now ? This will mean that when we package an a Mac OS package it will rely on FlutterEmbedder.framewor

[2019-03-20 10:50] Drakirus commented on #93
Please **share** with us how you managed to fix the issue!!

Again, Since we use `-rpath,@executable_path`, the `FlutterEmbedder.framework` located in `/usr/local/lib` will only be used at  compiling-time (when linking to be more precise).

More info at https://wincent.com/wiki/%40executable_path%2C_%40load_path_and_%40rpath

[2019-03-20 11:04] gedw99 commented on #93
I will share :). Just gotta finish the Mage file so its cross platform.

But it would be good to do it right, so i need to know about packaging.
If i use /usr/local/lib, then when packaged and distributed that directory will need to be there ?

[2019-03-20 13:06] Drakirus commented on #93
no

[2019-03-20 13:58] GeertJohan commented on #9
Cool. I'm also working on a tool; glutter, which uses go, flutter, maybe [xgo](https://github.com/karalabe/xgo) to initialize and build a flutter application for desktop. But it's always good to have multiple ways to do it.

[2019-03-20 15:59] gedw99 commented on #93
ok thanks.
Will get back to you if i get everything working.

[2019-03-21 13:41] GeertJohan commented on #41
I cannot reproduce this issue at Mac OS Mojave 10.14.3. The window is black for a short time but then automatically renders. Perhaps this has been solved by glfw, or because by a recent change in go-flutter's handling of window redrawing. @gedw99 Is this still an issue for you?

[2019-03-21 15:32] GeertJohan opened #96 "Use go-homedir in plugins shared_preferences and path_provider"
github.com/mitchellh/go-homedir

[2019-03-22 02:14] wonderful89 opened #97 "'dyld: Library not loaded' and 'Reason: image not found'"
## Envs

![image](https://user-images.githubusercontent.com/44089389/54796355-e4d6f000-4c8a-11e9-876b-f93f3bfdcf53.png)

## Steps to Reproduce

![image](https://user-images.githubusercontent.com/44089389/54796414-24054100-4c8b-11e9-9d0d-de258eec679f.png)

[code]

## Golang errors (Optional)

[code]

[2019-03-22 09:13] GeertJohan commented on #97
Do you also get this error when just running the binary?
Right now, you first `go build main.go`, which outputs a binary (`main`), you should be able to just execute that binary (`./main`).

`go run` doesn't work, as stated at the bottom of the instructions.

[2019-03-22 12:20] Drakirus commented on #84
Pixel ratio issue should be solved by 2119e28

[2019-03-22 13:06] GeertJohan commented on #92
It should work with the beta channel, at version 1.3.8

[2019-03-22 15:30] GeertJohan commented on #84
@Drakirus
No, that mistake was introduced when adding more debug info for this issue.

[2019-03-25 09:51] mikesies opened #98 "Copy paste (android way) crashes the app"
## Flutter version

Flutter 1.3.9 • channel dev • https://github.com/flutter/flutter.git
Framework • revision f91df4abe1 (2 weeks ago) • 2019-03-09 21:19:28 -0500
Engine • revision 4e54bc93ca
Tools • Dart 2.2.1 (build 2.2.1-dev.1.0 2fb6cd9f5f)

## Steps to Reproduce

When I double click on a TextFormField and click Paste on the popup that appears, the application crashes. Pasting using CTRL+V does

[2019-03-25 11:16] wonderful89 commented on #97
Oh my god. It turned out to be like this.

I understand. @GeertJohan , Thanks. I hurry up to close this issue.

[2019-03-25 11:16] #97 closed

[2019-03-25 12:25] GeertJohan commented on #97
No problem @wonderful89 , glad to be of help :)

[2019-03-25 19:50] GeertJohan commented on #98
This is caused by the synchronous handling of platform messages. I'm still waiting on https://github.com/flutter/flutter/issues/29444

[2019-03-26 15:12] gedw99 commented on #93
I got it all working.

@GeertJohan @Drakirus DO you want the Mage file ?

[2019-03-26 15:13] gedw99 commented on #93
actually closing this because its relating to another issue.
Will open a new one

[2019-03-26 15:13] #93 closed

[2019-03-26 15:14] gedw99 commented on #41
This is now fixed thanks to Hover !!

[2019-03-26 15:14] #41 closed

[2019-03-26 15:19] ghost opened #99 "Packaging for Mac"
I am using Hover. Its really great btw !

I noticed that on MAC, the exe opens a terminal and then opens the Flutter GUI.
I think most of this is because its not packaged as  Mac .app.
Here is a pure golang packager for Mac.
https://gist.github.com/mholt/11008646c95d787c30806d3f24b2c844
I am thinking that it might be cool to integrate into Hover itself.

I got the packaging working but not the sym

[2019-03-27 17:21] gedw99 opened #100 "go-flutter: no method handler registered for method 'TextInput.show' on channel 'flutter/textinput'"
## Flutter version
[code]

## Golang errors (Optional)

compile is fine, but at runtime it locks up the GUI.

[code]

## Steps to Reproduce

1. Git pull: https://github.com/memspace/zefyr

2. Edit the Main.dart so it thinks its fuchsia.

3. Run with hover
cd $GOPATH/src/github.com/memspace/zefyr && hover run --target $(EX_FSPATH)/lib/main.dart

4. Try edit and then try Copy paste.
It will lock up

[2019-03-28 15:35] GeertJohan commented on #98
Fixed by 676de77352dbd7b24ea18e16607e67a87b1a5b0e

[2019-03-28 15:35] #98 closed

[2019-03-28 15:51] #100 closed

[2019-03-28 19:32] AppleEducate commented on #99
@gedw99 How would I use your GIST?

[2019-03-28 19:54] gedw99 commented on #99
here is example code.

[code]

At the moment the symbolic links fails.
I think we should put this into hover or another repo here to work on it.

[2019-03-28 19:55] AppleEducate commented on #99
Ok sweet thank you! I’m excited about desktop embedding, I have been using flutter for over a year

[2019-04-01 02:52] bootstraponline opened #101 "go-flutter simpleDemo issues on stable"
## Flutter version

[code]

## Steps to Reproduce

1. `~/code/go-flutter/example/simpleDemo$ go build main.go`
2. `~/code/go-flutter/example/simpleDemo$ ./main`

![image](https://user-images.githubusercontent.com/1173057/55300725-e2049980-5406-11e9-91a9-195b93b78a7d.png)

I ran the `simpleDemo` with flutter stable on `macOS 10.14.4`. Clicking on the button doesn't increase the button count. Clicki

[2019-04-01 03:05] bootstraponline commented on #101
The stocks app has warnings:

[code]

I can click into a stock, however clicking the back button doesn't return to the main screen. After pressing `esc`, I land on the main screen however the only widget responsive to clicks are the stocks. `portfolios`, the plus button, and the hamburger menu don't respond to clicks.

When I click and hold on a stock, the wrong stock is selected. After clicking a

[2019-04-01 08:07] Drakirus opened #102 "Add support for external OpenGL textures"
The flutter engine ABI supports external OpenGL textures allowing the embedder to draw to OpenGL directly. [engine#7087](https://github.com/flutter/engine/pull/7087)

It's needed to implement the [VideoPlayer](https://github.com/flutter/plugins/tree/master/packages/video_player).

[2019-04-01 08:11] Drakirus opened #103 "Add support for EventChannel"
https://docs.flutter.io/flutter/services/EventChannel-class.html

[2019-04-01 08:34] Drakirus commented on #101
There are two issues:

* In the simpleDemo, a demo plugin is registered: [`manualInputPlugin`](https://github.com/go-flutter-desktop/go-flutter/blob/676de77352dbd7b24ea18e16607e67a87b1a5b0e/example/simpleDemo/main.go#L53). This plugin [blocks](https://github.com/go-flutter-desktop/go-flutter/blob/676de77352dbd7b24ea18e16607e67a87b1a5b0e/example/simpleDemo/main.go#L90) the main thread. Until a numb

[2019-04-01 13:45] GeertJohan commented on #101
The `manualInputPlugin` shouldn't block the main thread anymore, as method calls are now handled concurrently from the main thread, so the blocking wait for input is in a different goroutine and different thread.

Concerning examples: I'd like to move both examples into their own repository and keep them maintained. Thoughts @Drakirus?

There can be breaking differences between stable and beta cha

[2019-04-01 14:40] Drakirus commented on #101
After pulling the repo, the `manualInputPlugin` isn't blocking the main thread, and the first issue described disappear.
@bootstraponline can you please try to update `go-flutter` to the latest revision, and tell us if the issue persists. (Using the both flutter's stable and beta channels).

As for the examples, moving them in their own repo is a good idea.

[2019-04-01 23:18] bootstraponline commented on #101
I pulled master and tried both the stable/beta channel. Pushing the plus button doesn't do anything.

[2019-04-02 02:27] stuartmorgan commented on #101
I haven't looked at the code, but the click behaviors described here sound like the kinds of things that happen when the scaling for drawing and the scaling for mouse input don't match, FWIW.

[2019-04-02 08:22] Drakirus commented on #101
@stuartmorgan thanks for the help!
@bootstraponline can you try the [fix/ScreenScalingMouseEvent](https://github.com/go-flutter-desktop/go-flutter/compare/fix/ScreenScalingMouseEvent) branch ?

[2019-04-02 08:58] GeertJohan commented on #101
Auch, yes the scaling is applied twice.
The fix/ScreenScalingMouseEvent branch is bugged as well, the calculation that remains is wrong.

`float64(widthPx / width)` vs `float64(widthPx) / float64(width)`

I'll push a fix to master

[2019-04-02 09:06] GeertJohan commented on #101
I've pushed a fix to master, it has no regressions on desktops where pixel to screencoordinates ratio == 1, which is most of the cases. But I cannot test if the fix properly works for you, @bootstraponline, so I'll leave this issue open until we have confirmation.

[2019-04-02 21:56] bootstraponline commented on #101
It works!! Thanks for fixing.

![image](https://user-images.githubusercontent.com/1173057/55438797-a7b70b80-5570-11e9-8bc2-efd5be610b72.png)

[2019-04-02 21:56] #101 closed

[2019-04-02 22:06] GeertJohan opened #104 "Support ctrl-delete"
`ctrl-delete` doesn't work as epxected on most desktop systems. Support should be added to the builtin textinput plugin.

[2019-04-02 22:46] GeertJohan commented on #96
Done in https://github.com/go-flutter-desktop/plugins/commit/bc46135251516e37a6bb6173e4c0b0820a9c0e8d

[2019-04-02 22:46] #96 closed

[2019-04-02 22:46] #92 closed

[2019-04-02 22:48] GeertJohan commented on #39
@carlosbdw Please re-open if this is still an issue.

[2019-04-02 22:48] #39 closed

[2019-04-03 09:25] gedw99 commented on #102
Will also be useful for doing 3D graphics and webrtc.

[2019-04-03 09:26] gedw99 commented on #99
me too.
Sorry i have not had time to work on the Mac packaging.
I suggested that it go into hover, but i think its early days.

[2019-04-03 10:30] ghost opened #106 "Hover: windows"
Can we add the dependencies for Windows in the Readme.
https://github.com/go-flutter-desktop/hover/blob/master/README.md#install

Also for Windows it makes sense for Hover to build this way?
[code]
There is still other things to get working for windows, but adding this will allow lots of devs on windows to easily help dogfood and improve go-flutter.
Many devs i know are now using go-flutter and so

[2019-04-03 16:50] maheshbhattaraai opened #107 "hover run gives error"
Example name:
Examples repository version:

## Flutter version

[code]

## Golang errors (Optional)

[code]

## Steps to Reproduce

1. xxx
![Screenshot_1](https://user-images.githubusercontent.com/34735076/55497166-79185e00-5660-11e9-94f0-e14bd59096f3.jpg)

2. xxx
3. xxx

[2019-04-03 18:00] GeertJohan commented on #107
It looks like some install depdendencies steps for windows are still missing.. I'm not using windows daily, but will walk through the instructions on a fresh windows VM to see what's missing.

For now, looking at the error, it seems that gcc needs to be installed.

[2019-04-03 18:03] GeertJohan commented on #107
I'm reading installing mingw should fix the issue. https://mingw-w64.org/doku.php

[2019-04-04 02:37] maheshbhattaraai commented on #107
This Issue had resolved may be due to  slow internet connection.
How can i navigate into text field through tab or how can i handle short cut keys

[2019-04-04 02:37] #107 closed

[2019-04-04 09:06] GeertJohan commented on #107
@maheshbhattaraai tabnavigation is not yet supported. Shortcut keys are implemented by default.

[2019-04-04 10:47] gedw99 commented on #106
also found this helpful -

Windows dev env setup and build instructions:
Setup choco package manager https://chocolatey.org/docs/installation

Use choco to install golang and mingw
```choco install golang mingw```

[2019-04-04 18:27] dcboy95 commented on #79
I am still getting this error running

[code]

[2019-04-04 21:58] Drakirus commented on #79
Just to clear things up, are you using go-flutter-desktop/go-flutter or Drakirus/go-flutter-desktop-embedder?

https://github.com/go-flutter-desktop/go-flutter/wiki/Package-has-moved-to-an-organization

[2019-04-05 07:46] maheshbhattaraai opened #108 "Go install error in windows 10"
## Flutter version

[code]

## Golang errors (Optional)

[code]

## Steps to Reproduce

1. xxx
2. xxx
3. xxx
![Screenshot_2](https://user-images.githubusercontent.com/34735076/55612029-f948db80-57a6-11e9-9089-e7cb1cad2cec.jpg)

[2019-04-05 15:06] GeertJohan commented on #89
Fixed in https://github.com/go-flutter-desktop/go-flutter/commit/f2dd736ee3a814a67d773d0ebc47bce05b75aafe

[2019-04-05 15:06] #89 closed

[2019-04-05 15:15] Drakirus commented on #108
You are using the deprecated source code.
https://github.com/go-flutter-desktop/go-flutter/wiki/Package-has-moved-to-an-organization
https://github.com/go-flutter-desktop/go-flutter#getting-started

[2019-04-05 15:15] #108 closed

[2019-04-05 15:19] maheshbhattaraai commented on #108
So how can i convert flutter completed app into desktop app?

[2019-04-05 15:20] Drakirus commented on #108
https://github.com/go-flutter-desktop/hover

[2019-04-05 15:22] maheshbhattaraai commented on #108
i had already run example app using hover run . What is next step. I created flutter app first or i need to clone go flutter desktop then create flutter project.

[2019-04-05 15:26] GeertJohan commented on #108
Create a normal flutter project, then use hover in that project.
Follow these instructions: https://github.com/go-flutter-desktop/hover#init-project-for-hover

[2019-04-05 15:30] GeertJohan opened #109 "Improve plugin package test coverage"
The plugin package is still missing some tests, coverage can be increased.

Required for: https://github.com/avelino/awesome-go/pull/2431

[2019-04-05 15:31] maheshbhattaraai commented on #108
The project must be uploaded into github  to initialize hover.

[2019-04-05 15:53] maheshbhattaraai commented on #108
![Screenshot_3](https://user-images.githubusercontent.com/34735076/55640387-31720d80-57eb-11e9-9837-97ebc2d5dc6f.jpg)

[2019-04-05 16:04] GeertJohan opened #110 "Let hover default to main_desktop.dart"
The `hover run` command should default to `lib/main_desktop.dart`, instead of `lib/main.dart`. This avoids mistakes where users expect a "normal" main.dart to work (without the platfrom override).

[2019-04-05 16:26] GeertJohan commented on #7
Unpinned, on hold until the embedder support lands in beta channel.

[2019-04-05 18:19] GeertJohan commented on #110
Fixed in https://github.com/go-flutter-desktop/hover/commit/c7169967efb7d20b59f8d9c119e6798dbbfc84a9

[2019-04-05 18:19] #110 closed

[2019-04-05 19:34] marquesinijatinha opened #111 "Can't install hover on OSX 10.14"
## Flutter version
[code]

## Golang errors (Optional)
[code]

## Golang version
``` go version go1.10.8 darwin/amd64```

## Steps to Reproduce
tried to run
```go get -u github.com/go-flutter-desktop/hover```

[2019-04-05 20:49] GeertJohan commented on #90
Implemented by https://github.com/go-flutter-desktop/go-flutter/commit/1e9492e0dd657de1324760799603856bc179a2ef

An examples is available in the examples repo. https://github.com/go-flutter-desktop/examples/tree/master/pointer_demo

[2019-04-05 20:50] #90 closed

[2019-04-05 20:51] GeertJohan commented on #111
Please update your version of Go. Version 1.10.8 is quite old and doesn't support that field.

[2019-04-05 20:51] #111 closed

[2019-04-05 21:25] marquesinijatinha commented on #111
thanks for the heads up.
For future reference, I think the current version of go on homebrew is outdated.
uninstalling it and installing from the official site fixed the problem.

[2019-04-06 04:14] maheshbhattaraai opened #112 "hover run error"
## Flutter version

[code]

## Golang errors (Optional)

[code]

## Steps to Reproduce

1. xxx
2. xxx
3. xxx
![Screenshot_4](https://user-images.githubusercontent.com/34735076/55664715-ae849d80-5852-11e9-9f7b-efae3e9ccf3b.jpg)

[2019-04-06 08:24] GeertJohan commented on #112
@maheshbhattaraai Please add all the required information. What version of flutter and go are you using, what steps can we take to reproduce the issue?

[2019-04-06 08:45] GeertJohan commented on #112
It looks like this error occurs when an older version of flutter is installed. Please upgrade to 1.3.8 which is on the beta channel.

[code]

[2019-04-06 08:45] #112 closed

[2019-04-06 08:47] GeertJohan opened #113 "Error when releasing mouse button outside of window."
Doesn't seem to break any behavior, but is annoying nonetheless, and simply shouldn't occur.

[code]

[2019-04-06 08:48] GeertJohan opened #114 "Let hover check flutter version"
A lot of support questions are due to old versions of flutter. Perhaps we should let hover check the flutter version and display and quit with an error when it is not compatible.

[2019-04-06 09:33] Sorixelle opened #115 "Hover: too many open files"
When downloading the Flutter engine, Hover seems to continually open the file it's downloading, without closing them, leading to the download failing with this error on Linux:

[code]

Using `lsof` to show Hover's open files, this entry keeps appearing:

[code]

Usually it'll get the engine downloaded, but it doesn't get the artifacts done, because there's too many files open at that point, and it

[2019-04-06 10:16] Sorixelle opened #116 "Hover: Failed to move downloaded libflutter_engine.so: rename: invalid cross-device link"
Once Hover has downloaded the Flutter engine on Linux, it fails to move a file to the cache with the following output:

[code]

This happens because `/tmp` is a separate (tmpfs) filesystem on most Linux systems, and as a result, `os.Rename` fails because it is trying to "rename" a file from one filesystem to another, which is not possible.

The current workaround is quite tricky:
1. Copy `/tmp/hov

[2019-04-06 15:44] symkuangyaw opened #117 "debug spam"
after today update my console is spammed with errors like this,
how to fix this ?
also how to stop the auto update ?

btw I'm using hover to run and debug my app

million thanks for this amazing tools, combined with hover... I can get rid of the most annoying part of android development (emulator, gradle, android studio)

[code]

[2019-04-06 17:48] GeertJohan commented on #117
@symkuangyaw This happens if you have an older version of flutter. When you update to flutter 1.3.8 (beta channel) you shouldn't get spammed with this error anymore. Except for this specific situation: #113

[code]

[2019-04-06 17:48] #117 closed

[2019-04-06 18:03] GeertJohan commented on #115
Thanks for the great report. This bug is fixed in https://github.com/go-flutter-desktop/hover/commit/94cccf7fc47d57723d5ad23520b26fc9f662fb39\
Released as v0.11.0

[2019-04-06 18:03] #115 closed

[2019-04-06 18:06] symkuangyaw commented on #117
ah I see... I'm using stable channel atm.
many thanks @GeertJohan

[2019-04-06 18:42] #116 closed

[2019-04-10 20:12] ogierm opened #118 "I can't get hover installed, I think."
Hey, I'm on Manjaro Linux and I'm trying to get the whole thing running. I was following your guide, but I can't get hover started over the comand line because it is not found.

Do I have to add it to PATH? I tried running hover from it's directory but it wasn't found their either. I also tried `go run github.com/go-flutter-desktop/hover` which didn't result in an error, but also didn't do anythin

[2019-04-10 21:51] GeertJohan commented on #118
`go get` probably installed it to ~/go/bin. Please check ifits there, thenadd thatfolder to your PATAH

[2019-04-11 09:42] ogierm commented on #118
Go get just downloaded the files to `~/go/src/github.com/go-flutter-desktop/hover`. However I also tried installing it and then it was installed to bin.

[2019-04-11 09:57] #118 closed

[2019-04-11 17:25] LampeMW opened #119 "When running any of the examples, I get unhandled exceptions when moving mouse over app"
Example name: simple_demo
Examples repository version: 6bb17c4028be6fa3433a1987575a25b8d2d76f50

## Flutter version

[code]

## Steps to Reproduce

When running 'hover run', the app starts up and I can see the window with the app inside, but as soon as I move my mouse over the app window, I get tons of repeated exceptions in console.

[code]

[2019-04-12 05:29] GeertJohan commented on #119
Please use flutter at beta channel for compatibilty with go-flutter.
[code]

[2019-04-12 05:29] #119 closed

[2019-04-15 07:12] lohnn opened #120 "No text widgets visible in Linux"
When I run a Flutter app as desktop application on Ubuntu/Linux 18.04, I cannot see any of the text widgets. Tested with my own apps as well as the provided examples.

Desktop:
![Screenshot from 2019-04-12 13-59-25](https://user-images.githubusercontent.com/960157/56036653-abdfe780-5d2d-11e9-8c1b-9c686f8715ef.png)

Android device:
![device-2019-04-12-141439](https://user-images.githubusercontent.c

[2019-04-15 10:23] GeertJohan commented on #120
I suspect perhaps a font is missing. To confirm, could you let me know if the font used in the app is installed on your machine?

[2019-04-15 11:33] lohnn commented on #120
Seems like I did not have the font installed on the machine. But I installed Roboto font and tried again without success.
However, it looks like you are correct about missing fonts, since when I'm running stocks example, which has fonts defined in pubspec, I do get text just as expected.
Does this mean that the default font is not Roboto?

[2019-04-15 14:13] davidmartos96 commented on #58
They recently released an alpha preview for developers to test.

https://github.com/dart-lang/sdk/issues/34452#issuecomment-482136759

[2019-04-15 15:11] GeertJohan commented on #120
The default font for a `MaterialApp` should indeed be Roboto. It's possible that after installation of the font you still need to run `fc-cache -f -v` to clear the font cache on your machine. Does that help?

[2019-04-15 19:04] lohnn commented on #120
Argh. Last time I installed fonts from .ttf files downloaded from Google fonts. After installing with `apt install fonts-roboto` it all works.
Closing this, thank you very much!

[2019-04-15 19:04] #120 closed

[2019-04-15 19:16] GeertJohan commented on #120
I've added a note to the README.md of hover about Fonts. It's best to include them with a project, so that the application works regardless of whether a font is available on a system or not.

[2019-04-16 02:54] canadaduane opened #121 "hover run results in "panic: runtime error: index out of range""
## Flutter version

[code]

## Golang errors (Optional)

[code]

## Steps to Reproduce

0. using flutter stable:
1. `flutter create myproject`
2. `cd myproject`
3. `hover init github.com/canadaduane/myproject`
4. create `main_desktop.dart` following readme instructions
5. `hover build`
6. `hover run`
7. break ^C
8. `flutter channel beta`
9. `hover run`

I missed a `flutter upgrade` step when movin

[2019-04-16 06:10] SahandAkbarzadeh opened #122 "Windows /bin/ld.exe: cannot find -lflutter_engine"
## Flutter version
[code]

## Steps to reproduce

run `hover run` on a new project.

output:

[code]

[code]

[2019-04-16 06:49] GeertJohan commented on #122
I wonder why it shows the dll as incompatible... Are you running on a 32 bit system?

[2019-04-16 07:06] SahandAkbarzadeh commented on #122
@GeertJohan
no
` Windows 10 1809 LSTC X64 (17763.437) `

[2019-04-16 16:01] ghost opened #123 "Multiple root windows support"
Support an app opening multiple windows from the same app.

For example I'm an email app you may want to see 2 emails at the same time so you can compare them.

Or for a painting app, I might want to have the tools floating in another window.

Stuart added this to flutter engine :

https://github.com/flutter/flutter/issues/30701

Strategy still being discussed it seems.

Regarding synchronisation,

[2019-04-16 16:11] ghost opened #124 "Provide easy way to bootstrap roboto fonts in"
For each OS users need to install the Roboto fonts.

https://www.fontsquirrel.com/fonts/roboto

A user can elect to install them via hover. It knows where to put them.

[2019-04-16 16:50] tgienger commented on #113
I'm getting this just moving my cursor over the application. No button presses necessary.

[2019-04-17 06:20] GeertJohan commented on #113
@tgienger: update to flutter 1.3.8 or higher
[code]

[2019-04-18 06:01] SahandAkbarzadeh commented on #122
@GeertJohan is it helpful to you if I build the engine myself to check if it works ?

[2019-04-18 06:08] GeertJohan commented on #122
That could help, yes.
I dont know how a dll is decided to be incompatible..
Have you tried using hover with flutter at version 1.3.8? The current version at channel beta.

[code]

Please let me know if that works.

[2019-04-18 06:46] SahandAkbarzadeh commented on #122
using beta channel causes this error for hover
( i also deleted `.../hover/engine` folder )

[code]

i think in [here](https://github.com/go-flutter-desktop/hover/blob/56b21444c2fdec4ed358a253b5b9be14d7581c50/internal/enginecache/cache.go#L279) it doesn't find any suitable version.

[2019-04-19 08:51] GeertJohan commented on #121
This has beend fixed in https://github.com/go-flutter-desktop/hover/commit/cd01714c57e728b7ca2f21427752a0d0c987ada0

[2019-04-19 08:51] #121 closed

[2019-04-19 08:52] GeertJohan commented on #122
@SahandAkbarzadeh Correct, that has been fixed in https://github.com/go-flutter-desktop/hover/commit/cd01714c57e728b7ca2f21427752a0d0c987ada0

[2019-04-19 08:56] GeertJohan commented on #124
I would say fonts should be included using the flutter assets/fonts system, so that it works the same on all platforms. We should write documentation on this.

[2019-04-19 11:36] SahandAkbarzadeh commented on #122
@GeertJohan
after updating hover to https://github.com/go-flutter-desktop/hover/commit/cd01714c57e728b7ca2f21427752a0d0c987ada0 and changing flutter channel to beta, `hover run` worked without any error.

thanks

[2019-04-19 11:36] #122 closed

[2019-04-22 13:49] cloudwebrtc commented on #102
@Drakirus @gedw99
I have done a texture patch on flutter/engine and it seems to work very well, but I don't know how to port it to go-flutter. Here is my Texture rendering code, maybe it will help you.
https://github.com/cloudwebrtc/flutter-engine/blob/texture_for_glfw/shell/platform/glfw/external_texture_gl.cc

![image](https://user-images.githubusercontent.com/17733746/56503593-79fa2c80-6548-11e

[2019-04-22 21:44] Drakirus commented on #102
@cloudwebrtc Is the `EventChannel` require for the Texture to work?

[2019-04-22 21:45] Drakirus commented on #103
C++ implementation: https://github.com/cloudwebrtc/flutter-engine/commit/a2fb127e4d984c08cac5871cc687301d0d140457#diff-412ef158a1f525f3234237794a50dd0c

[2019-04-22 22:32] cloudwebrtc commented on #102
@Drakirus
I think EventChannel is needed, because when the video frame changes in size and aspect ratio, the flutter side needs to adjust the display scale or fit, EventChannel is used to send notifications to the flutter side.
In addition, if we want to adapt WebRTC.PeerConnection, or other plugins with many event sources, EventChannel is needed.

[2019-04-23 16:31] OrionWambert opened #125 "I have an error when I execute the command hover run"
Example name: simple_demo
Examples repository version: 53bbca4daca9b927177c09be9df22c0679b60d24

## Flutter version

[code]

## Golang errors

[code]

## Steps to Reproduce
1. git clone https://github.com/go-flutter-desktop/examples.git
2. cd examples/simple_demo # or examples/stocks
3. hover run

I think it's because it does not support spaces at the system path

runtime / cgo
gcc: error: WAMBERT

[2019-04-25 06:35] wupeaking opened #126 "How to make the length and width of the window fixed ？"
## Flutter version

[code]

I want to know how to set the length and width fixed.  It seems flutter have no such api. (；′⌒`)

[2019-04-25 07:22] zcwatch opened #127 "Can flutter desktop engine support window 32bit?"
I found flutter desktop engine support window 64bit only. Can it support 32bit?

[2019-04-25 07:28] Drakirus commented on #127
The flutter engine doesn't support 32-bit Windows: https://github.com/flutter/flutter/wiki/Custom-Flutter-Engine-Embedders
No plans to support 32-bit Windows.

[2019-04-25 07:28] #127 closed

[2019-04-25 15:02] txthinking opened #128 "Hover: support cross-compile"
This is really a nice project.
I want to ask if hover support cross-compile, ep: build Windows app on macOS,
what other work or obstacles need to be done?

Thank you.

[2019-04-26 10:23] Drakirus commented on #126
For this and similar requests read: [GLFW Plugin example](https://github.com/go-flutter-desktop/go-flutter/wiki/GLFW-Plugin-example)

[2019-04-26 16:30] #113 closed

[2019-04-29 07:25] Drakirus commented on #128
For cgo cross-compiling there is this project: https://github.com/karalabe/xgo
Haven't tested yet.

#7 #84 #102 #103 [go-gl/glfw#219](https://github.com/go-gl/glfw/pull/219)

[2019-04-29 09:41] GeertJohan commented on #128
Eventually, hover may use xgo to cross-compile apps. Have looked at it, but didn't get it to work yet. Re-opening this issue as it is a valid request. (Not sure why @txthinking closed?)

[2019-05-03 11:21] glenfordwilliams opened #129 "Hot reload"
Now that it is possible to get automatic hot reload working using https://github.com/google/flutter-desktop-embedding and vscode is there a way now to get it working with hover?

[2019-05-03 11:58] Drakirus commented on #129
when running `hover run` you should get an line
[code]
With this Observatory url, follow the
[https://github.com/google/flutter-desktop-embedding/blob/master/Debugging.md](FDE/Debugging.md) instructions.

I'm not a vscode, please let me know if the above instructions are still correct.

[2019-05-03 13:42] glenfordwilliams commented on #129
Yes that works, thank you.

[2019-05-03 13:48] #129 closed

[2019-05-04 13:15] glenfordwilliams commented on #129
note that the observatory seems to expect you to have a `main.dart` file when reloading

[2019-05-04 20:22] gedw99 opened #130 "Texture support"
It looks like we finally got texture support.
https://github.com/google/flutter-desktop-embedding/issues/107

[2019-05-04 21:03] Drakirus commented on #130
Duplicate of #102

[2019-05-04 21:05] Drakirus commented on #130
For those kinds of 'issues' use the gitter chat. Thanks

[2019-05-04 21:05] #130 closed

[2019-05-06 11:35] atresnjo opened #131 "Exception when launching on Windows 10"
Flutter 1.2.1 • channel stable • https://github.com/flutter/flutter.git
Framework • revision 8661d8aecd (3 months ago) • 2019-02-14 19:19:53 -0800
Engine • revision 3757390fa4
Tools • Dart 2.1.2 (build 2.1.2-dev.0.0 0a7dcf17eb)
go1.12.4 windows/amd64

Created default flutter app, executed hover init, created main_desktop.dart same as in the provided samples, executed hover run. The app launches bu

[2019-05-06 11:53] Drakirus commented on #131
You are using the stable channel, after switching to the beta channel does the errors persist?

[2019-05-06 12:43] atresnjo commented on #131
That worked. My bad for missing that one. Thanks. 👍

[2019-05-06 12:44] #131 closed

[2019-05-07 07:47] Drakirus commented on #129
We provide [`--target lib/main_desktop.dart`](https://github.com/go-flutter-desktop/hover/blob/b9fe41062a92cfd52a6098ad2be81e1a7cfef0ed/cmd/run.go#L90-L95) to the `flutter attach` command responsible for hot reloading.

It [might be possible](https://github.com/flutter/flutter/issues/25363) to tweak the *launch.json* file to support custom target.
@glenfordwilliams can you please try to add
[code]

[2019-05-12 15:59] drdgvhbh commented on #109
Just want to chim in on how to test these plugins.

You basically just need to do a [manual install] in your plugin directory and then set `export LD_LIBRARY_PATH=$PWD`, otherwise you'll get an error like this when running the tests: `/tmp/go-build321691715/b001/file_picker.test: error while loading shared libraries: libflutter_engine.so: cannot open shared object file: No such file or directory
`

[2019-05-12 17:13] drdgvhbh opened #132 "Plugins implode upon errors when developing locally"
If you try to develop a plugin locally and the method you invoke returns an error, it your application will crash. When to invoke the same plugin that is versioned, you won't crash.

Also interestingly, I am unable to catch errors when invoking platform methods using try/catch.

## Flutter version

[code]

## Plugin version

github.com/go-flutter-desktop/plugins/shared_preferences v0.4.0

## Go.mo

[2019-05-13 15:55] GeertJohan commented on #7
Support for scrolling has just been merged in a633350fdf577e42af608c6020e99457b4b62f48

[2019-05-13 15:55] #7 closed

[2019-05-13 17:53] radzish opened #133 "Segmentation fault: 11 when resizing window on MacOS"
Initially screen is empty, then when I resize it - application crashes with message in issue title.
After maximizing application works fine.

[2019-05-13 19:35] GeertJohan commented on #133
Could you add the full strack trace?

How can you still maximize the window when it has crashed? Or do you mean, when starting the application and then maximizing directly?

[2019-05-13 20:51] radzish commented on #133
There is not stack trace in console, just error message.
After app started, I do maximize not resizing it and it works.

[2019-05-13 21:25] GeertJohan commented on #133
Can you share the full console output?
What version of flutter are you using? (`flutter --version`)

[2019-05-14 07:33] chunhunghan opened #134 "windows : no handler found for channel flutter.io/videoPlayer"
Can we have video player plug-in for Windows?

Thank you for your amazing work.

## Flutter version
Flutter 1.5.4-hotfix.2 • channel stable • https://github.com/flutter/flutter.git
Framework • revision 7a4c33425d (2 weeks ago) • 2019-04-29 11:05:24 -0700
Engine • revision 52c7a1e849
Tools • Dart 2.3.0 (build 2.3.0-dev.0.5 a1668566e5)

## Go.mod file

module C:\go-flutter-master\example\test_templa

[2019-05-14 07:50] Drakirus commented on #134
Yes WE can, but work needs to be made on:  #102 #103.
Once those issues are resolved we could implement the [plugin](https://github.com/go-flutter-desktop/plugins)

[2019-05-14 20:33] radzish opened #135 "Way to avoid cmd when launching application on Windows"
Is that possible. If so, how it can be done. disclaimer: I am not go expert

[2019-05-14 21:00] Drakirus commented on #135
Yes it is possible #61.
But hover doesn't implement the feature yet #106, [hover code to modify](https://github.com/go-flutter-desktop/hover/blob/b9fe41062a92cfd52a6098ad2be81e1a7cfef0ed/cmd/build.go#L180-L184).
By using the manual compilation method [wiki](https://github.com/go-flutter-desktop/go-flutter/wiki), you can pass the flag to `go build`.

Closing since it's a duplicate of: #106

[2019-05-14 21:00] #135 closed

[2019-05-16 13:50] erickzanardo opened #136 "RawKeyboard events support"
Hello,

This may be a little out of scope of the project, but would be cool if there were support to RawKeyboard Events on this project.

I am a collaborator at a flutter game engine (https://github.com/luanpotter/flame), and with this kind of support, we could bring flutter games to desktop.

Thanks

[2019-05-16 15:39] Drakirus commented on #136
Some documentation about keyboard events:
 - The dart raw_keyboard's handlers are located [here](https://github.com/flutter/flutter/tree/master/packages/flutter/lib/src/services)
 - The GLFW linux & windows implementation  [flutter/engine](https://github.com/flutter/engine/search?q=KeyboardHookHandler&unscoped_q=KeyboardHookHandler)
 - MacOS specific [flutter/flutter/#29231](https://github.com/flu

[2019-05-17 09:35] atresnjo opened #137 "Support for borderless windows"
Would it be possible to add support for borderless window mode? Thanks! 👍

[2019-05-17 15:42] elbashery opened #139 "error when installing hover"

[2019-05-17 15:50] elbashery commented on #139
when i install hover with :
### go get -u github.com/go-flutter-desktop/hover
it show is error :
### gowork/src/github.com/go-flutter-desktop/hover/cmd/run.go:78:30: cmdApp.ProcessState.ExitCode **_undefined (type *os.ProcessState has no field or method ExitCode)_**

[2019-05-17 15:55] Drakirus commented on #139
#111

[2019-05-17 16:53] #139 closed

[2019-05-17 17:14] elbashery commented on #111
Yes it succeeded
thank you very mutch

[2019-05-17 17:15] elbashery commented on #139
Yes it succeeded
thank you very mutch

[2019-05-17 21:04] Drakirus commented on #132
Regarding

I think it is related to what is described [here](https://github.com/go-flutter-desktop/go-flutter/blob/676de77352dbd7b24ea18e16607e67a87b1a5b0e/messenger.go#L33-L35).

---

And for

I cannot reproduce the error described error, on my pc... it dosn't crash.
I am getting the folowing output
[code]

Using the folowing go.mod
[code]

[2019-05-18 00:40] Drakirus commented on #136
Work has been done in #140, I have stolen a lot from [google/FDE :heart: ](https://github.com/google/flutter-desktop-embedding/).

<details>
<summary>Example dart code (again from FDE) (Clickable)</summary>

[code]

</details>

[2019-05-18 10:53] GeertJohan commented on #137
This can be done by adding an Option that overrides a default in Application config. By default we should enable borders. They may be disabled in GLFW using the `decorated` attribute: https://www.glfw.org/docs/latest/window_guide.html#GLFW_DECORATED_attrib

This can be done in core go-flutter. Not sure if it should be a plugin.

[2019-05-18 11:52] GeertJohan commented on #88
Starting work on this now.

[2019-05-18 12:00] Drakirus commented on #137
I'll open a PR on go-gl/glfw to support `glfwSetWindowAttrib`.

Such features can be done in core go-flutter, but I'll like to keep the numbers of `Option` small. And IMO encouraging people to understand and tweak around the package is better than solving local demands.

[2019-05-18 12:08] Drakirus commented on #137
That being said, I think there is a room in [plug-ins](https://github.com/go-flutter-desktop/plug-ins) for a specific go-flutter plug-in that will take care of setting an multiple `WindowAttrib`

[2019-05-18 14:58] GeertJohan commented on #137
I think go-flutter must be in charge of the window and application lifecycle. Plugins are meant to support platform specific features that are not in scope for go-flutter. E.g. webcam, audio, webview, etc.
Imo the PluginGLFW interface already exposes too much. I want to write an abstraction layer that is implemented by GLFW (and in the future possibly others). All window settings should be configu

[2019-05-18 22:10] GeertJohan opened #141 "failed to decode envelope: unexpected end of JSON input"
Errors like these may occur in the standard output:

```go-flutter: failed to pop route after escape key press: failed to decode envelope: unexpected end of JSON input```

This is the case because InvokeMethod always expects a response which it wants to decode, but we don't always get a response. Currently responses are not implemented (https://github.com/flutter/flutter/issues/18852), and even wh

[2019-05-18 22:27] GeertJohan opened #143 "Let hover suggest plugins"
Hover could suggest desktop-implementations of plugins.

1. For each dependency package in pubspec.yaml, detect if it's a plugin (uses platform-specific code).
2. For each plugin, see if it has a folder `desktop` with a `go.mod` file in it. If it has, assume it to be go-flutter compatible and suggest to the user to add it to `desktop/cmd/options.go`
3. For each plugin didn't satisfy point 2, see i

[2019-05-18 22:41] #88 closed

[2019-05-18 23:59] GeertJohan commented on #126
After consideration, @Drakirus and I have decided to indeed implement this feature in the go-flutter package as Option. PR comming soon :tm:

[2019-05-19 00:20] #137 closed

[2019-05-19 00:26] #126 closed

[2019-05-19 07:59] GeertJohan commented on #143
Instead of 3, there may be a list.json file in the plugins repo linking plugins to desktop equivalents.

[2019-05-19 17:48] pampascoder opened #148 "Error installing hover"
## Flutter version
[code]

## Golang errors (Optional)

[code]

## Steps to Reproduce

Run go get -u github.com/go-flutter-desktop/hover

[2019-05-19 18:42] Drakirus commented on #148
#111, #139  Upgrading golang will resolve your problem.

[2019-05-19 18:42] #148 closed

[2019-05-19 21:05] Drakirus commented on #136
#140 is ready to be merged, @erickzanardo, @luanpotter, you can test the pending feature using: `hover run -b "@feature/key-events"` (You might need to upgrade `hover`)

<details>
<summary>Example Widget receiving Rawkeyevents (from FDE) (Clickable)</summary>

[code]

</details>

[2019-05-19 21:09] erickzanardo commented on #136
That is some awesome news! I will be testing this tomorrow and report here.

Thanks a lot

[2019-05-19 21:42] GeertJohan commented on #136
Will review the PR soon:tm:!

[2019-05-20 13:47] zephylac commented on #104
I could try to implement it. It seems to be relatively similar to what I've done in the past.

[2019-05-20 16:26] GeertJohan opened #149 "Hide "no handler for method" errors when they are no-op on desktop"
Some of these errors are annoying, and are not really an error on desktop.

- 'TextInput.show' on channel 'flutter/textinput'
- 'SystemChrome.setSystemUIOverlayStyle' on channel 'flutter/platform

These don't need to do anything on desktop.

For a list of possible options to silence, see https://api.flutter.dev/flutter/services/SystemChannels/platform-constant.html (and sibling pages)

[2019-05-21 09:28] #136 closed

[2019-05-21 10:09] Drakirus commented on #136
@erickzanardo make sure to also checkout: #144 ;)

[2019-05-21 15:27] erickzanardo commented on #136
@Drakirus I tested and it worked great! I have already added an example on Flame's repository if you want to check out: https://github.com/luanpotter/flame/pull/92

Just a couple of comments, I tested on MacOs, and I have received instances of `RawKeyEventDataLinux` instead of `RawKeyEventDataMacOs`, it did not caused any issues though.

Also, I noticed a lot of these messages on the console while

[2019-05-21 21:48] GeertJohan commented on #136
@erickzanardo

Using go-flutter, you will receive `RawKeyEventDataLinux` on each platform (mac, windows, linux). This is because go-flutter "proxies" GLFW key events, and those are only supported by `RawKeyEventDataLinux`.

To start an app in fullscreen, add to the options list: `flutter.WindowMode(flutter.WindowModeBorderlessFullscreen)`

[2019-05-22 07:25] Drakirus commented on #136
@erickzanardo Tanks for your feedback!

The `go-flutter: Unknown key event type: 2` error message occurs when **go-flutter** detects a `gfw.Repeat` [Action](https://godoc.org/github.com/go-gl/glfw/v3.2/glfw#Action).

The flutter [framework supports](https://github.com/flutter/flutter/blob/7a4c33425ddd78c54aba07d86f3f9a4a0051769b/packages/flutter/lib/src/services/raw_keyboard.dart#L291-L299) only `

[2019-05-22 12:19] erickzanardo commented on #136
Awesome, thanks for the clarifications @Drakirus and @GeertJohan!

I just tested the fullscreen feature and it worked pretty well.

Awesome work!

[2019-05-22 13:12] radzish opened #150 "Documentation/Instructions request: Guide to writing plugins"
Hello,

It would be very helpful to have some simple instructions on how to write own plugins for not go lang users. I have seen examples and I feel like I can do my own, but it would be nice to know how can I compile them, where should I put them in my app, etc..

[2019-05-22 13:17] GeertJohan commented on #136
Thanks @erickzanardo

@Drakirus Perhaps we can 'silence' the Unknown event type when it is glfw.Repeat?
We know that glfw.Repeat exists, and we know we cannot send it to the Flutter Framework, so it can be ignored. Ofcourse it should still report for actions we do not know (perhaps are added in the future).

[2019-05-22 13:17] zephylac commented on #104
I can not get a working test platform. I can still try to do it but I won't be able to test it.

[2019-05-22 13:31] GeertJohan commented on #104
@zephylac Can you create an issue about the issues you're experiencing? If possible with screencast/screenshots to desmonstrate the issues and information about your MacOS version.

[2019-05-22 22:32] Drakirus commented on #136
I was about to submit a PR on flutter/flutter that adds a new `RawKeyRepeatEvent` event to `RawKeyEvent`, but then I thought  about the current implementation.

- On Android, there is a [`KeyEvent.getRepeatCount()`](https://developer.android.com/reference/android/view/KeyEvent.html#getRepeatCount()) that retrieve the repeat count of the event.
  From what I can tell the above getter isn't used by

[2019-05-22 22:44] GeertJohan commented on #136
Sounds good @drakirus

[2019-05-22 22:51] Drakirus commented on #150
I have written in a [wiki](https://github.com/go-flutter-desktop/go-flutter/wiki) a [tips](https://github.com/go-flutter-desktop/go-flutter/wiki/Plugin-info#tips) where I go in further details on how to compile/build Plugins.
It's not the most exhaustive guide, is the wiki page is sufficient enough?

[2019-05-23 08:21] Drakirus opened #151 "Add mouse button support"
The embedding API now support device type and different buttons, allowing for right click, middle click, etc.
Some reading:
 - flutter/engine [PR](https://github.com/flutter/engine/pull/9034/files), updated field: `FlutterPointerEvent`
 - go-gl/glfw [MouseButton doc](https://godoc.org/github.com/go-gl/glfw/v3.2/glfw#MouseButton)
 - go-flutter [code to change](https://github.com/go-flutter-desktop/

[2019-05-23 08:30] Drakirus commented on #151
The embedding API now support for device type and different buttons, allowing for right click, middle click,etc.
Some reading:
 - flutter/engine [PR](https://github.com/flutter/engine/pull/9034/files)
 - go-gl/glfw [MouseButton doc](https://godoc.org/github.com/go-gl/glfw/v3.2/glfw#MouseButton)
 - go-flutter [code to change](https://github.com/go-flutter-desktop/go-flutter/blob/master/glfw.go#L100

[2019-05-23 10:41] radzish commented on #150
@Drakirus thanks a lot for prompt response. Tips section of wiki helped a lot and now I have one of my plugins working!

I would suggest few fixes to Tips section though:
1. rename github.com/go-flutter-desktop/plugins/not-on-remote to github.com/go-flutter-desktop/plugins/not_on_remote, as "not-on-remote" seems to be not valid identifier
2. change line
[code]
to
[code]

[2019-05-23 15:05] Drakirus commented on #150
I've updated the https://github.com/go-flutter-desktop/go-flutter/wiki with a more exhaustive guide (https://github.com/go-flutter-desktop/go-flutter/wiki/Implement-a-plugin).
Closing the issue.

[2019-05-23 15:05] #150 closed

[2019-05-27 09:08] radzish commented on #133
Hi,

I am trying another app and having same results. After I start application it appears with black window. I see following messages in console:
[code]
When I try to resize app it crashes and another line is added to console:
[code]
Flutter info:
[code]

Note: the only possible way to make it working was not to resize but rather expand window to full screen. Everything works excellent on Windows

[2019-05-27 10:08] GeertJohan commented on #133
Hi Radzish, thanks for the report.
Does this also occur on channel beta (version 1.5.4-hotfix.2)?
What version of MacOS are you using?

[2019-05-27 16:50] radzish commented on #133
Hi,
I just tried on version 1.5.4-hotfix.2 and behavior is the same.
MacOS version: mojave 10.14.5 (18F132)

[2019-05-27 21:28] radzish commented on #133
Additional info:
[code]

[2019-05-27 21:41] radzish commented on #133
Another info: this happens also when running "standard" flutter desktop embedding

[2019-05-28 07:34] Drakirus commented on #133
This is a longstanding issue of the Flutter Engine: [flutter/flutter#17579](https://github.com/flutter/flutter/issues/17579)
Our side
[code]
Their side:
[code]

[2019-05-29 03:39] huang-weilong opened #152 "hover run failed"
When I execute `hover run`, I get this message:
[code]

flutter doctor:
[code]

[2019-05-29 06:39] Drakirus commented on #152
What is your go version?
Is upgrading go fixes the issue?

[2019-05-29 06:45] huang-weilong commented on #152
my go version is `go version go1.12.5 windows/amd64`
I thought it was the reason for the flutter version, so I just upgraded the flutter version, but it still is the same failure.
[code]

[2019-05-29 06:50] Drakirus commented on #152
Can you try `hover run - b ''`

[2019-05-29 13:44] gedw99 commented on #58
Flutter Dart FFI has now landed in Master

This means you can write Flutter Plugins in golang, and compile them as a shard lib as c.
So you have none of the speed / Perf issues on Mobile. I noticed that in the last few days Android studio has NDK side by side support also.
On Desktop, you can hook in easily with the exact same shared lib cross compiled.
On Embedded, you can use Flutter and golang.

[2019-05-29 14:00] Drakirus commented on #58
FFI looks very promising.

Sadly I don't have the time to take an in-depth look into it now.
I'm focusing on bug-fixes and standardization with the [FDE](https://github.com/google/flutter-desktop-embedding/) at the moment.

If @gedw99 or anyone else is interested in FFI, please submit a PR, @GeertJohan, and I would be happy to review it!

[2019-05-29 14:04] gedw99 commented on #58
Cool... Will work on it and push PR if i get anywhere...

[2019-05-29 14:05] Drakirus commented on #58
Nice!
Keep us update on your work!

[2019-06-05 01:38] erickzanardo opened #154 "Faulty alignment in plugin.StandardMessageCodec"
Hello I am trying to port the [audioplayers](https://github.com/luanpotter/audioplayers) plugin to go-flutter and have been facing some problems that I can no longer solve alone.

When I call the `play` method on the plugin, I receive the following error:

[code]

I have tried looking into go-flutter source code, and it looks like some arguments that are sent from the dart is breaking the conversi

[2019-06-05 12:11] Drakirus commented on #154
From what I can tell, the [`volume`](https://github.com/luanpotter/audioplayers/blob/fca5c3205eeb482aea44bdccad14947871155c9e/lib/audioplayers.dart#L234) value from the map is causing the [standard-message-codec](https://github.com/go-flutter-desktop/go-flutter/blob/bb3debe487f6b63d6d1188e66bcb0d7c4869725f/plugin/standard-message-codec.go#L591) to fail.
When debugging, I found out that the [`readF

[2019-06-05 12:36] erickzanardo commented on #154
Thanks for the quick response @Drakirus , I will test this tonight and report back here :)

[2019-06-05 12:54] Drakirus commented on #154
@GeertJohan Adding the `buff.Next(2)` breaks the [unit test](https://github.com/go-flutter-desktop/go-flutter/blob/bb3debe487f6b63d6d1188e66bcb0d7c4869725f/plugin/standard-message-codec_test.go#L136). We will need your help on this one.

[2019-06-06 00:30] erickzanardo commented on #154
@Drakirus just reporting back, the branch you asked me to use work like a charm! thanks

[2019-06-06 15:58] zephylac commented on #151
I'll do it.
Just some question :
Do we want it to handle like keyboard and have separated files for each platform ?
Do we want to enable user customisation like keyboard where they can customise the callback ?

[2019-06-06 23:04] GeertJohan commented on #151
I think left/right/middle-click is fairly equal cross-platform. It doesn't feel like it needs separate implementation for win/mac/linux.
I don't think we need customization. This is quite straightforward: mapping GLFW mouse buttons to the embedder PointerEvent.

[2019-06-06 23:10] GeertJohan commented on #154
Auch, thats odd! I have scheduled some time to take a proper look at this bug next monday.
And @erickzanardo, really awesome to see go-flutter plugins come to life! :rocket:

[2019-06-06 23:16] GeertJohan commented on #133
This issue as this seems to be an issue with the Flutter Engine, not the go-flutter embedder (this project). Will keep this issue open to track the problem until it's fixed in flutter/flutter.

[2019-06-07 20:44] GeertJohan commented on #104
Work being done in #153

[2019-06-07 21:28] GeertJohan commented on #154
Thanks for sharing all this information and a working example. It helped me to identify the issue really fast.

You see, the problem is not directly with standard message codec, it works fine on it's own and the unit tests are happy. The problem is introduced when using the **message** codec from the standard **method** codec.
The standard method is a bit strange, it encodes a string as method nam

[2019-06-07 22:18] GeertJohan commented on #154
I've created a PR that includes proper unit tests for this situation: Simple unit test with several scenario's and a unit text containing a replica of the MethodCall that this issue was opened for. The PR also fixes the issue. ;)

[2019-06-07 22:32] #154 closed

[2019-06-07 22:42] Drakirus commented on #154
The fixe made by @GeertJohan solves the bug, the branch `@bugfix/standart-message-codec` is deleted.
The tag: `v0.19.0` is includes the fix.

[2019-06-07 23:10] erickzanardo commented on #154
Thanks for the quick fix!

[2019-06-08 16:56] GeertJohan commented on #143
Work has started in go-flutter-desktop/hover#7

[2019-06-09 15:16] arcticfox1919 opened #156 "Release builds"
I use the `hover build` command to generate a Windows executable, but there is a black console, how to publish a real program without a console.

[2019-06-09 16:04] GeertJohan commented on #156
We don't have support for releases yet. For now, hover only builds a debug version of the app with a console to track logs. I'll keep this issue open to track support for release builds.

[2019-06-09 19:52] Drakirus commented on #104
Merged

[2019-06-09 19:52] #104 closed

[2019-06-10 10:21] GeertJohan commented on #156
Things that `--release` should do:

- Build binary without console (windows: `-ldflags -H=windowsgui`).
- Building flutter bundle as --release.
- Setting the right VM arguments.
- Reduce the size of the share-lib from 88M to 28M by running strip -s ./libflutter_engine.so.

[2019-06-10 10:35] GeertJohan commented on #106
This issue is related to #156

[2019-06-10 13:04] Sach97 commented on #106
Hi guys I never packaged an app before but I thought I would share my findings here : [msix-packaging](https://github.com/microsoft/msix-packaging) it is written in C and works on mac, linux and windows.

[2019-06-10 13:07] Sach97 commented on #99
Hi @gedw99 the issue I see with this approach is that it only works on Mac because it depends on hdiutil. What about this [shell approach](https://github.com/Xeoncross/macappshell) ?

[2019-06-10 13:20] Sach97 opened #160 "Packaging for linux"
Hi guys I've seen open issues for Mac and Windows packaging but none for Linux, so here it is. As a linux user my prefered approach for downloading apps is [snapcraft](https://snapcraft.io/) and might be worth considering for hover to integrate it for release mode. Thank's for the great work on the library btw.

[2019-06-11 10:17] zephylac opened #164 "Quickstart"
I can write [quickstart page](https://hover.build/docs/quick-start/).

[2019-06-12 03:25] pickalex opened #161 "can hover build a X86 exe"
can hover build a X86 exe ,how to config

[2019-06-12 06:30] GeertJohan commented on #161
Do you mean a 32-bit build?

[2019-06-12 09:46] zephylac commented on #149
I found a way to deal with this problem:

 We could implement this method
[code]
 and then add this inside [here](https://github.com/go-flutter-desktop/go-flutter/blob/master/textinput.go#L48-L56):
[code]

**OR**

Create constant with all method handler we want to hide and add a check inside [here](https://github.com/go-flutter-desktop/go-flutter/blob/master/plugin/method-channel.go#L128-L150)

[2019-06-12 23:52] iambudi commented on #152
MacOS 10.14.5
Go 1.12.5
Flutter 1.5.4-hotfix.2
Dart 2.3.0
`hover run` or `hover run -b ''` shows black screen.

[2019-06-13 00:46] pickalex commented on #161
hi GeertJohan , yes  32-bit  build

[2019-06-13 08:29] leedstyh opened #162 "Got error when running hover run"
## Flutter version

[code]

## Golang errors (Optional)

[code]

## Steps to Reproduce

1. xxx
2. xxx
3. xxx

[2019-06-13 08:30] zephylac commented on #152
@iambudi Try to resize the window. It usually fix the problem.

[2019-06-13 08:43] Drakirus commented on #162
What's your OS ?

[2019-06-13 08:47] Drakirus commented on #152
The issue related by @iambudi is not the same as the one described by @huang-weilong, please open a new issue.
<details>
<summary></summary>

[ERROR:flutter/shell/common/engine.cc(122)] Engine not prepare and launch isolate.
[ERROR:flutter/shell/platform/embedder/embedder_engine.cc(69)] Could not launch the engine with configuration

Humm, There seems to be a problem with the flutter bundle. (crea

[2019-06-13 09:27] leedstyh commented on #162
hi @Drakirus , I'm using windows 10, and I already install mingw following [this comment](https://github.com/go-flutter-desktop/go-flutter/issues/107#issuecomment-479597138). And `gcc` works fine. Am i missing other dependencies ?

[2019-06-13 09:37] Drakirus commented on #162
I don't thinks it's dependencies related, might be a `gcc` version issue.

Windows ports of gcc vary wildly. As documented on https://github.com/golang/go/wiki/InstallFromSource#install-c-tools. Can you install another C compiler ?

[2019-06-13 10:02] leedstyh commented on #162
TDM-GCC works, thank you for your help @Drakirus

Printing two error message:

[code]

App runs fine, just make sure you don't miss the error messages. So I'm closing this issue.

[2019-06-13 10:02] #162 closed

[2019-06-13 10:07] Drakirus commented on #162
The `make_resource_current` is already described in a issue, it's expected don't worry.

[2019-06-13 12:21] zephylac commented on #103
I've looked into it, but since I'm not an expert in golang, I don't know how to implement stream-a-like in Go.

[2019-06-13 18:35] wud147 opened #163 "StandardMessageCodec decoding error with long strings"
### Flutter Version
[✓] Flutter (Channel stable, v1.5.4-hotfix.2, on Mac OS X 10.14.5 18F132, locale en-CN)

### Golang Version
go version go1.12.5 darwin/amd64

### Steps to Reproduce

1、   Add plugin shared_preferences from https://github.com/go-flutter-desktop/plugins

2、 Call function "setString" with a very long string such as 60000 characters

[code]

[2019-06-14 15:03] GeertJohan commented on #161
No, Flutter doesn't support 32-bit builds.

[2019-06-14 15:03] #161 closed

[2019-06-14 15:05] GeertJohan commented on #163
Do you have a bit of example code to reproduce this issue?

[2019-06-14 18:46] wud147 commented on #163
hi, I just setuped a simple [project](https://github.com/wud147/go-flutter-error) to reproduce the error
the key code just at the begin of  main_desktop.dart, you can also check the below code
`
SharedPreferences sharedPreferences = await SharedPreferences.getInstance();
String s = randomString(50000);
sharedPreferences.setString("test", s);
`
if you decrease the length of the string, error gone

[2019-06-15 13:09] GeertJohan commented on #149
I prefer the first method. Name `handleIgnore` would be more descriptive.
Each registration of handleHide should be acompanied with a comment explaining why the message / method call is ignored: e.g.: Desktop

[2019-06-15 13:13] GeertJohan commented on #163
Thanks for the debug info @wud147

[2019-06-16 11:27] GeertJohan opened #165 "Add codeblock colors to hover.build"
The hover.build website shows multiple code blocks, these are not colored right now, but should be. Investigate a good codeblock color plugin for hugo, or client-side. Copy button would be nice to have as well.

[2019-06-16 23:21] Drakirus commented on #163
@wud147, Does the fix (Test it by running: `hover run -b '@fix/msgSizeEncoding'`) resolve the issue ?

PS: You might need to clear your app cache `rm -rf ~/.config/myOrganizationOrUsername/myApplicationName`

[2019-06-17 01:53] leedstyh opened #167 "Surport FLUTTER_STORAGE_BASE_URL"
Hi,

Developers in China facing issue when downloading flutter related files, and flutter team has a solution [here](https://flutter.dev/community/china).

Now I get error message when running `hover run` like this:

[code]

I changed URL `https://storage.googleapis.com/flutter_infra/flutter/2589785b5c5eaad64d1da3403048e61d8f230c48/windows-x64/windows-x64-embedder.zip` to `https://mirrors.sjtug.sj

[2019-06-17 07:24] Drakirus commented on #167
I've updated hover to support `FLUTTER_STORAGE_BASE_URL`
To update hover run: `go get -u github.com/go-flutter-desktop/hover`

Does the new version of hover fixes the isses?

[2019-06-17 14:34] #163 closed

[2019-06-17 14:40] Drakirus commented on #163
The tag: v0.20.0 includes the fix.

[2019-06-17 14:50] leedstyh commented on #167
Yeah, thank you for the quick fix

[2019-06-17 14:50] #167 closed

[2019-06-21 09:50] Drakirus commented on #149
The PR  #168 fixed haft of the issue.
Missing `TextInput.hide`, `HapticFeedback.vibrate`, `SystemSound.play`, `SystemChrome.setApplicationSwitcherDescription`, `SystemChrome.setEnabledSystemUIOverlays`, `SystemChrome.setPreferredOrientations`.

[2019-06-21 13:43] erickzanardo commented on #156
I am really looking forward to this as well.

[2019-06-26 03:52] chengxuncc commented on #156
Can't wait to play with it.

[2019-06-26 12:45] alexelisenko commented on #156
@GeertJohan Any updates or ETA on this? If not, would you be able to provide any documentation on how to go about removing the console window manually for now? It would be greatly appreciated.

Thanks.

[2019-06-26 12:52] Drakirus commented on #156
Once my final exams are over, I'll like to take a look at release builds.
For now, #135 provides enough information for you to hack this through.

[2019-06-26 13:10] alexelisenko commented on #156
@Drakirus Thanks for that. Im assuming its supposed to be `set` vs `export` for windows?

[2019-06-26 13:12] Drakirus commented on #156
Yup

[2019-06-26 13:15] alexelisenko commented on #156
Im getting the following error:

[code]

[2019-06-26 13:17] Drakirus commented on #156
#34 will have your back

[2019-06-26 13:36] alexelisenko commented on #156
@Drakirus That worked, thank you!

For anyone having this issue, copying the `flutter_engine.dll` file to the `lib` folder of minwg did the trick.

windows env var command:

`set CGO_LDFLAGS="-L%HOMEPATH%/.cache/hover/engine/windows/"`

[2019-06-26 13:48] chengxuncc opened #169 "Hover: offline building"
## Flutter version

[code]

## Advise
It can be slow when using `hover run` to debug golang code, which usually need to reboot many times. Especially when my network become bad or going down, it keep killing my time. I think `hover run` shouldn't execute `go: finding github.com/go-gl/glfw latest` every time, it wastes time.

## Steps to Reproduce
[code]

[2019-06-26 14:01] Drakirus commented on #169
`flutter build bundle` is also executed every time (about a second).
Having a `--cached` flag to `hover run` sound a good fix to me.

[2019-06-26 19:17] chengxuncc commented on #156
It doesn't work
[code]

I just copy `flutter_engine.dll` to `{mingw64 installation place}\lib` and it works.
[code]

[2019-06-26 19:28] GeertJohan opened #170 "Use os.UserConfigDir in plugins and go-flutter"
When go1.13 has landed, plugins (shared_preferences, path_provider), hover and go-flutter code looking up the config dir may switch to using https://tip.golang.org/doc/go1.13#os

[2019-06-26 23:32] b0o commented on #84
Hey @GeertJohan, I am seeing this issue as well. Here's the debug output:
[code]

I'm on a Linux system with a  multihead setup and two HiDPI displays which I configure with XRandR:

[code]

The hover example application was run on my `DisplayPort-1` monitor.

Various system/version info:

- Arch Linux:
[code]
- Flutter:
[code]
- WM: `xmonad`
- hover: `v0.19.0`
- full debug output:
[code]

Hope th

[2019-06-27 00:06] b0o commented on #84
Also, I just tried this with the `stocks` and `pointer_demo` examples, and the UI scales as expected but then the mouse cursor location is not tracked properly.

Prior to change (bad DPI, good cursor position):
![flutter-hover-dpi-scale-expected](https://user-images.githubusercontent.com/21299126/60223072-88a8dc80-9834-11e9-8728-407ffc7f3426.gif)

Post change (good DPI, bad cursor position):
![flu

[2019-06-27 22:40] alexelisenko opened #171 "How to set DPI for hover run and/or build"
I am running on Windows 10, and everything works, however, the DPI/PixelRatio is too low. When building manually I can set the pixelratio, but how does one do this when using hover run/build?

[2019-06-28 09:31] Drakirus commented on #171
Using hover you have to edit the file `./desktop/cmd/options.go ` to change the PixelRatio.
[wiki](https://github.com/go-flutter-desktop/go-flutter/wiki/Options)

Is that information what you were looking for?

[2019-06-28 12:47] Drakirus commented on #84
Hey @b0o
Thanks for sharing all this information.
It helped me your identify the second issue you described (the one about `flutter.ForcePixelRatio(2.0)`)

I've found a [fix](https://github.com/go-flutter-desktop/go-flutter/compare/hotfix/pixelsPerScreen?expand=1), and it is available for testing using:
[code]
If it solves the second issue you described, I'll merge the branch.
Thanks 😃

[2019-06-28 12:57] Drakirus commented on #171
#84

[2019-06-28 15:24] alexelisenko opened #172 "embedder_surface_gl Error"
I am getting the following error:

[code]

[code]
I see that this might have been resolved in: #68 , but not sure on how to debug this. Any help would be appreciated.

[2019-06-28 18:50] alexelisenko commented on #171
@Drakirus Adding it to the options.go works, but on both Mac and Windows, whenever I set the pixelRatio, it does indeed change, but the UI becomes unresponsive.

This error appears in log, but this error is there even when not setting the pixel ratio:

[code]
There is also this curious error:

[code]

[2019-06-28 19:36] davidmartos96 commented on #132
I am experiencing this same crash when returning some error from the Go plugin side. I am also using the replace keyword to develop the plugin locally.
Are there any workarounds to overcome this issue?

[2019-06-28 19:41] Drakirus commented on #171
@alexelisenko, this issue is in the process of been resolved. Please read : https://github.com/go-flutter-desktop/go-flutter/issues/84#issuecomment-506721457

[2019-06-28 19:45] Drakirus commented on #172
This error isn't critical, it doesn't have any effect on go-flutter-desktop.

Closing since it's a duplicate of #82

[2019-06-28 19:45] #172 closed

[2019-06-28 19:54] alexelisenko commented on #171
@Drakirus Just tested with the hotfix branch, it is working! Thanks you.

[2019-06-28 19:59] Drakirus commented on #171
If I get the same positive feedback from @b0o, I'll merge the hotfix.
Closing the issue, follow the progress on #84

[2019-06-28 19:59] Drakirus commented on #171
If I get the same positive feedback from @b0o, I'll merge the hotfix.
Closing the issue, follow the progress on #84

[2019-06-28 19:59] #171 closed

[2019-06-28 20:27] Drakirus commented on #169
I take back what I said about `--cached`.

Having a periodic `go get - u` (one a week for example) is the best way to resolve this issue.
Plus we could use the same trigger to check any updates on hover itself.

[2019-06-28 20:32] Drakirus commented on #152
@huang-weilong does the error still occurs?

[2019-06-28 20:48] b0o commented on #84
@Drakirus

That hotfix does indeed fix the cursor position issue.

[2019-06-28 20:55] Drakirus commented on #84
@b0o hotfix merged.
Keeping this issue open since the original issue isn't fixed.

[2019-06-28 21:27] alexelisenko commented on #172
@Drakirus I probably should have added more details. I dont know if that error is related to my issue, but, on Mac OS 10.14.5, when I build with flutter, the UI is very responsive and I never have any missed mouse clicks, but when I use go-flutter, the UI misses mouse clicks almost 20-30% of the time.

Since that error mentioned performance, I thought it may be related, if it not, then are there a

[2019-06-28 21:49] davidmartos96 commented on #132
I digged a bit in the source code and I found this in `method-channel.go`

[code]

Shouldn't the last block be in an else statement?  If `handler.HandleMethod` returns an error, 2 responses are being sent, which causes the error from this issue. I tried it with the else and it works as expected.
Is it a bug?

[2019-06-29 01:21] iambudi commented on #152
I tried again today, it works now. Tho when resizing the window it gives a lot of flicker.

[2019-06-29 09:26] huang-weilong commented on #152
@Drakirus Successfully run after reinstalling hover

[2019-06-29 09:27] Drakirus commented on #132
@davidmartos96 I think you are right!
It does look like a bug!
Could you craft a quick pull request?

[2019-06-29 09:36] davidmartos96 commented on #132
@Drakirus I just created a PR #174

[2019-06-29 09:39] Drakirus commented on #152
@huang-weilong OK thanks, closing the issue.
@iambudi the resizing flicker comes from the engine it's a won't fix for go-flutter-desktop. issues/30671 on the flutter tracker

[2019-06-29 09:39] #152 closed

[2019-06-30 14:39] #132 closed

[2019-06-30 14:41] Drakirus commented on #132
I was able to reproduce the error.

First of:
[code]
Will generate a panic since [this](https://github.com/go-flutter-desktop/plugins/blob/66331235a5316eeff6abf22d99e018544cc7545a/shared_preferences/plugin.go#L133) cast isn't correct.
The folowing output is to be expected since there is a misuse of a plugin.
[code]
go-flutter will [recover](https://github.com/go-flutter-desktop/go-flutter/blob/40b

[2019-06-30 14:53] Drakirus commented on #132
Ohh,
You are now able to catch [PlatformException](https://github.com/go-flutter-desktop/plugins/blob/66331235a5316eeff6abf22d99e018544cc7545a/shared_preferences/plugin.go#L136) using try/catch!

[2019-06-30 15:03] davidmartos96 commented on #132
@Drakirus I came across this issue while porting a plugin that threw some handled errors from the native side. Returning nil, err wasn't working correctly...

[2019-06-30 15:07] Drakirus commented on #132
:+1:
Just out of curiosity, what is the plugin you are porting to go-flutter?

[2019-06-30 15:14] Drakirus commented on #16
There is even a [pub plugin](https://pub.dev/packages/screenshot) for screenshot (no platform message needed)
Closing for cleanup.

[2019-06-30 15:14] #16 closed

[2019-06-30 15:25] davidmartos96 commented on #132
@Drakirus It is `sqflite`. I almost have it, although I don't really know how to make it behave the same way as the iOS and Android implementations. In Android it uses Handler.post(runnable) to make some operation in the background and then it posts the response back to the main thread. To call `Result.success(someResult)`. The handler function it quickly finishes because it leaves the operation t

[2019-06-30 16:06] Drakirus commented on #132
If you are using [`HandleFuncSync`](https://godoc.org/github.com/go-flutter-desktop/go-flutter/plugin#MethodChannel.HandleFuncSync) the operation will block the Main Thread.
But using [`HandleFunc`](https://godoc.org/github.com/go-flutter-desktop/go-flutter/plugin#MethodChannel.HandleFunc), the operation are run on a background thread.

[2019-06-30 21:20] davidmartos96 commented on #132
@Drakirus Yes, I was already using HandleFunc. I found the issue though. I was comparing the performance of the sqlite library on the android emulator vs go-flutter. It looks like the encoding and decoding performance of the platform calls is much worse in go-flutter.

1 INSERT (time since the call to invokeMethod in Dart until the reply is received in Dart)
Android emulator -> 1 ms
Go Flutter ->

[2019-06-30 21:50] Drakirus commented on #132
@davidmartos96 thanks for the feedback.
The encoding and decoding performance should be as good as on Android, Golang is Fast.

I'm pretty sure the 30ms comes from the [MainLoop](https://github.com/go-flutter-desktop/go-flutter/blob/8fa66290c4c86e330202f4a6f931003da1084843/application.go#L228-L233).

The flutter engine team added `FlutterEngineFlushPendingTasksNow`  as a workaround for embedders t

[2019-06-30 22:05] Drakirus opened #175 "Wire up custom event loop interop"
The flutter/engine GLFW implementation makes use of the [` custom_task_runners`](https://github.com/flutter/engine/blob/e7f8ca1de9f714596a17fa953fad6e1791c8ce38/shell/platform/embedder/embedder.h#L678-L681).
The implementation is available here: https://github.com/flutter/engine/commit/4e344e6cd23b2195c544d53cbad410c71534704c  , it is just a matter of porting it to go-flutter.

The use of a custom

[2019-06-30 22:21] davidmartos96 commented on #175
Using PollEvents did the trick. Thanks for the information! Not quite a problem for the sqlite plugin at least, because it provides a way to execute operations in batches, without going back and forth from Dart and native. Useful to know none the less.

[2019-07-01 01:39] chunhunghan opened #176 "Modify file_picker plug-in and want to test it. but get cmd\options.go:5:2: imported and not used: "xxx/", What is correct way to put plugin in options.go?"
I have modified file_picker plug-in and want to test it.
I get this error "imported and not used"

	C:\go-flutter-master\example\file_picker_example>hover run
	Using engine from cache
	go: finding github.com/go-gl/glfw latest
	go: finding github.com/chunhunghan/file_picker latest
	go: downloading github.com/chunhunghan/file_picker v0.0.0-20190701011006-457d50e58024
	go: extracting github.com/chunh

[2019-07-01 05:26] chunhunghan commented on #176
Problem Fixed. I will provide example for File Picker. Thanks.

[2019-07-01 05:26] #176 closed

[2019-07-01 06:08] chunhunghan commented on #64
Thank you for @drdgvhbh 's amazing work.
I have modified @drdgvhbh 's code and provide an example since I really need to use this plugin in my project.
I did an example PR, perhaps you want to check it.
https://github.com/go-flutter-desktop/examples/pull/2

[2019-07-01 06:41] zakiso opened #177 "Support custom title bar color on OSX"
Some OSX app has a great view, like this：
<img width="492" alt="image" src="https://user-images.githubusercontent.com/5389326/60415528-fdea2800-9c0d-11e9-95ed-aff626396d5c.png">

Is there any chance of getting this for go flutter app?

This can be achieved by using the following flags on NSWindow, assuming the window background color is set accordingly (example in Swift).
[code]

[2019-07-02 13:00] alexelisenko opened #179 "MacOS Code Signing"
Hello,

I am trying to get my app code signed, but Apple now requires all apps to be notarized. I am getting the following error back from Apple:

`The executable does not have the hardened runtime enabled.`

This is referring to the main executable created by hover build. I have tried adding the hardening to the Xcode project, but Im assuming hover build does not use the xcode project to build it

[2019-07-02 13:12] alexelisenko commented on #179
The documentation from Apple:

Is there a way to provide this build settings when creating the cmd binary?

[2019-07-02 13:28] alexelisenko commented on #179
I think I found how to do it, the codesign utility lets you add the option:

`codesign -s "<COMMON_NAME>" -fv --options runtime App.app/Contents/MacOS/<EXECUTABLE>`

[2019-07-02 14:48] Drakirus commented on #179
I'm sorry, but I cannot help you on this one. Please report your finding here, as it might help others.

[2019-07-02 15:12] GeertJohan commented on #177
This may be possible to implement as plugin, maybe even compatible with https://github.com/mchome/flutter_statusbarcolor (I'm not sure if osx supports all features of flutter_statusbarcolor?)

[2019-07-02 15:51] GeertJohan commented on #64
Somewhat related. I've added initial work for a desktop compatibility with Flutter's [image_picker](https://pub.dev/packages/image_picker).

It can be found here: https://github.com/go-flutter-desktop/plugins/tree/master/image_picker

[2019-07-02 15:53] GeertJohan commented on #179
This sounds like something we may want to do for the release build of an app? Or should it also be done for debug builds?
Related issue #156

I have very little experience with MacOS, help is welcome and much appreciated @alexelisenko

[2019-07-02 15:59] GeertJohan commented on #172
I don't think it's related, but this is indeed an issue I have been noticing recently. Likely a regression we recently made. I'll be opening a new issue for this problem

[2019-07-02 16:02] GeertJohan opened #180 "Mouseclicks miss when dragged"
Mouse-clicks fail when dragged a little (1+ pixel)
It seems to be a regression in go-flutter.

Also reported in #172

[2019-07-02 16:06] GeertJohan commented on #169
Agreed, perhaps the `go get` should be less aggressive. Although a weekly `go get` will result in unexpected behavior. Either we should run it, or we don't and leave `go get` to the user.

[2019-07-02 16:42] alexelisenko commented on #179
I have been able to successfully sign, notarize and distribute the app with a DMG installer. My findings:

### Step 1: build with either hover or manual
`hover build -t "lib/main.dart"` *I dont use the main_desktop.dart*
### Step 2: create .app package:
[code]
### Step 3: move the build output to the `MacOS` folder in the app package

Move the following files to the .app directory under the MacOS

[2019-07-02 17:33] Drakirus commented on #179
It's is more related to packaging (`hover dist` maybe?)
related to #99

[2019-07-02 17:58] GeertJohan commented on #84
Thanks @Drakirus for fixing the cursor position bug. Indeed this issue is a separate problem.

Thanks @b0o for the great debug info.
So, I actually encounter this problem as well, I have a 4k screen in my laptop and use `--scale 2x2` for a non-4k screen that's attached via HDMI. There's a difference in behavior depending on which the monitor is set as the primary monitor, because #74.

I wonder if

[2019-07-02 18:13] GeertJohan commented on #179
Indeed this will be useful for packaging. Thanks @alexelisenko !

[2019-07-03 06:42] GeertJohan commented on #151
Closed by #159

[2019-07-03 18:44] #151 closed

[2019-07-04 01:32] ekasetiawans opened #181 "Maximized Window"
How to make window's state in maximized mode by default?

[2019-07-04 01:48] ekasetiawans commented on #181
SOLVED by editing /desktop/cmd/options.go

[code]

[2019-07-04 01:48] #181 closed

[2019-07-04 07:32] CaiJingLong opened #182 "How to develop plugin."
For example, if I want to develop a plug-in locally, how should I do it?

If I developed a plug-in, such as returning a string in go language and displaying it in flutter, how should I import this plug-in?

----
Do you have any documents?

[2019-07-04 07:48] CaiJingLong commented on #182
I find it in [website](https://hover.build/docs/create-a-plugin/).
I think should write the url in the README, because it's hard for me to find this.

I'll close the issue.

[2019-07-04 07:48] #182 closed

[2019-07-04 08:00] GeertJohan opened #183 "Implement callback on messages"
https://github.com/flutter/engine/pull/9655

[2019-07-04 09:39] ekasetiawans opened #184 "Hover build fails with whitespace in the path to engine cache"
My windows username contain whitespace, how to resolve?

[code]

[2019-07-04 09:53] Drakirus commented on #184
related to #125
@GeertJohan is [hover feature/escape-spaces](https://github.com/go-flutter-desktop/hover/compare/feature/escape-spaces) ready to be merged?

[2019-07-04 11:14] GeertJohan commented on #184
No, it was a try to fix the issue, but didn't work.
I don't have a windows machine so it's hard to test this. Help is welcome.

[2019-07-04 11:15] GeertJohan commented on #125
Duplicated by #184, closing this one.

[2019-07-04 11:15] #125 closed

[2019-07-04 12:26] #180 closed

[2019-07-06 00:12] alexelisenko commented on #156
@Drakirus When building with hover, it seems as though the `-mmacosx-version-min` gcc flag is not being set, how would I go about making hover set it?

[2019-07-06 09:43] Drakirus commented on #156
@alexelisenko I don't know much.
I've read https://stackoverflow.com/questions/37399813/why-is-go-build-executable-not-working-on-osx-10-7-or-below-with-third-party-lib
But, didn't found any answers 😕

[2019-07-06 13:32] monkeyWie opened #185 "Support system tray?"
For desktop applications, the system tray is very important.

[2019-07-06 13:55] Drakirus commented on #185
go-flutter supports plugin [wiki how to make a plugin](https://github.com/go-flutter-desktop/go-flutter/wiki/Implement-a-plugin).
To place an icon and menu in the notification area, the library [systray](https://github.com/getlantern/systray/) exist.

I'm not planing to support system tray plugin.
But we will be pleased to get some help.
If you have implemented a plugin that you would like to shar

[2019-07-07 14:26] monkeyWie commented on #185
Thank you, I will try to write this plugin.

[2019-07-07 14:26] #185 closed

[2019-07-07 14:48] monkeyWie commented on #156
How is the progress of this feature? I am looking expectantly toward the feature.
And use `-ldflags "-s -w -H=windowsgui"` could reduce the size even more.

[2019-07-08 01:00] chunhunghan commented on #156
For Windows

cd C:\your_project_dir\desktop\cmd
C:\your_project_dir\desktop\cmd>go build -ldflags -H=windowsgui
move cmd.exe ../build/outputs/windows
C:\your_project_dir\desktop\build\outputs\windows\cmd.exe

[2019-07-08 01:44] ekasetiawans commented on #184
I have try https://github.com/go-flutter-desktop/hover/compare/feature/escape-spaces and compile it but it's not resolve the problem

[2019-07-08 06:39] gedw99 commented on #99
hey @Sach97
Had a look at pure shell. All the calls are for native MacOS stuff that is installed in a normal Mac so its ok by me.
I think its cool if we put the .sh into Hover.
This will mean none golang code but its probably best as for each Desktop the Packaging and Signing is very OS specific.

Also happy to see this being looked at for incorporation into Hover.
Will be a good start and can add

[2019-07-08 19:44] alexelisenko opened #186 "MacOSX 10.13 GLFW panic "FormatUnavailable: NSGL: Failed to find a suitable pixel format""
I am getting the following error from GLFW on MacOSX 10.13.6.

[code]

I have files an issue in go-glfw, but I was hoping someone could point me in the right direction, as I think its related to this setting:

`glfwWindowHint(GLFW_STENCIL_BITS, 8);`

How can I set this when running hover run/build?

[2019-07-09 21:31] Drakirus commented on #186
Related issue: https://github.com/go-gl/glfw/issues/252
Leaving this issue open. In case someone finds a solution.

[2019-07-10 07:46] zakiso commented on #177
I don't know glfw if provide this capability, if glfw has this capability add an option on `options.go` is more simple maybe.
I don't really understand go and glfw, when I‘m free I will investigate it.
Also hope someone implement it early.

[2019-07-10 08:08] GeertJohan commented on #156
FYI, Work in progress in feature/release, not completed yet.

[2019-07-10 08:48] zephylac commented on #177
I've looked into it, and started to write a plugin. It seems that go implementation of GLFW doesn't support title bar _etc._
It only supports `func (w *Window) SetTitle(title string)`.
But GLFW in C seems to support `C.glfwGetCurrentContext().glClearColor()` which apparently changes background color.
Here's the code I've started writing : https://github.com/zephylac/statusbarcolor.
I've followed t

[2019-07-10 11:33] Drakirus commented on #177
@zephylac @zakiso here is a blog describing how to set `titlebarAppearsTransparent`, `backgroundColor` on a GLFW. http://svenandersson.se/2016/rendering-to-full-size-of-an-nswindow-using-glfw3.html

It's possible to get the native `NSWindow` using [go-glfw](https://github.com/go-gl/glfw/blob/master/v3.2/glfw/native_darwin.go)

IMO, I think the plugin should call [`window.GetCocoaWindow()`](https:/

[2019-07-10 12:32] zephylac commented on #177
Ok but we want the plugin to be cross-platform?  We will need to implement for each patform then.

[2019-07-10 12:45] Drakirus commented on #177
Yes and No, The feature asked by @zakiso is about an OSX dependent request. To resolve the issue, OSX code needs to be written.
If someone has the same request on another platform (windows for example), then we will have to write windows code to solves the windows issue.

A shared interface can be exposed to each platform, (same way we handle `textinput`). But for now this isn't the question.
Let'

[2019-07-10 12:52] zephylac commented on #177
I'll draft a PR on plugins then to follow the WIP.

[2019-07-10 16:53] GeertJohan commented on #184
A workarround has been added to hover. Use `--cache-path` with a simple path (that does not contain spaces). e.g.:
[code]

Will keep this issue open as the underlying issue is not yet fixed. Hover should work out-of-the-box, also with spaces in the path (most often on Windows due to usernames)

[2019-07-10 16:55] ekasetiawans commented on #184
Thank you, I will try

[2019-07-11 12:35] joeblew99 opened #188 "plugins.flutter.io/camera"
I want to work on Camera Plugin.

Can you advice on current roadblocks, so help me work out the work required.

Saw this but not sure.
https://github.com/go-flutter-desktop/go-flutter/issues/134

Event Channel would be needed?
its getting close: https://github.com/go-flutter-desktop/go-flutter/pull/178

[2019-07-11 13:03] zephylac commented on #177
Now we can:
 * Change status bar color
 * Change status transparency
 * Hide / show status bar
 * Hide / show minimize widget button
 * Hide / show close widget button

I found out that we could also implement some others features like fullscreen (which we already handle) and transparency but this is more related to the window in itself than status bar.

I decided to not follow https://github.com/

[2019-07-11 13:55] #82 closed

[2019-07-12 06:20] zakiso commented on #177
I have tested this plugin, but found a weird problem. I called the method channel function on program started, but status bar color not changed. I have two display, when I drag the window into another display then the status bar color changed.

[2019-07-12 07:55] zephylac commented on #177
Can you send your example, I'll try to replicate it.

[2019-07-12 09:59] leedstyh opened #189 "Panic when I press any key on the app"
When the app is on the front, and I press any key on the keyboard, the app crash with the following message:

[code]

[code]

The app works fine, but today I create a new app with `--androidx` support, and copy files to the new app, the crash appears.

[2019-07-12 12:17] alexelisenko commented on #179
@Drakirus @GeertJohan I have found that using the `--options runtime`, which is required by Apple for the app to be notarized, caused a Dart crash. I have files bug reports.

Also, is there any updates on how MacOS 10.15+ will be handled? It is my understanding that OpenGL is no longer supported.

[2019-07-14 21:14] Drakirus commented on #189
[code]
I created a new app with `flutter create -a kotlin -i swift --androidx my_awesome_app`. Pressing any key  in the app didn't result in any crash. Could not replicate the issue.

Does this errors occurs AFTER you copied the files?
If so, can you please start a **fresh** new flutter project an run:
  `hover init github.com/my-organization/simpleApplication`
  `hover run`
and tell us if the err

[2019-07-14 21:16] Drakirus commented on #188
Event Channel is about to be merged, some works still needs to be made on the flutter/engine side.
What's missing is the texture API. Once the texture API is complete, we will begin the development such plugins

[2019-07-14 21:23] Drakirus commented on #179
Hopefully you can get the `--options runtime` bug to be fixed :crossed_fingers:.
About `OpenGL` not been supported on MacOS, we did talk about it in #40.
tl;dr: It might be a non-issue if Metal is ported into go-gl/glfw.

[2019-07-15 00:02] alexelisenko commented on #179
@Drakirus I have found the issue with enabling hardened runtime.

You need to also add entitlements for allowing JIT, since AOT with Dart in the flutterembedder is not supported yet, which is why it crashes.

I will post the exact entitlement file and codesign command that is working for me.

[2019-07-15 08:37] Drakirus commented on #102
Hi @cloudwebrtc I'm seeing progress on flutter/engine about the textureAPI :+1:.
I'm trying to implement the textureAPI for go-flutter based your CPP code.

While implementing the API, I hit a wall.

My understanding was that you register a texture using: `FlutterEngineRegisterExternalTexture`, then mark a new frame with `FlutterDesktopMarkExternalTextureFrameAvailable`. At some point, in between

[2019-07-15 09:27] MostHated opened #190 "Examples of passing data from Go to the flutter front end"
Hey there,
Big fan of the work you guys are doing here. I had been learning Go the last few months and kept trying out different UI packages and so far this one definitely seems to be the way to go. I was working on building my application which runs as a taskbar background application and then uses flutter as a config window. I got to the point where I was ready to connect up some of my backend l

[2019-07-15 09:36] Drakirus commented on #190
Thanks for your interest in go-flutter:+1:!
go-flutter supports plugin (flutter <-> golang binding) [wiki how to make a plugin](https://github.com/go-flutter-desktop/go-flutter/wiki/Implement-a-plugin).
Some plugins are already implemented checkout: [go-flutter/plugins](https://github.com/go-flutter-desktop/plugins).

[2019-07-15 10:03] MostHated commented on #190
Thanks for the links. I want to make sure I am understanding this properly, it looks like the code in the plugin wiki is it's own separate complete project/app then? It is not something you code directly within your current project? I would have to create a whole new directory outside of my project, create desktop folder with new go code in it and then lib/dart files, and then reference that new s

[2019-07-15 10:14] Drakirus commented on #190
If you want to `pass data from Go to the flutter front end` plugins are the way to go!
But, If I understand your needs correctly you 'only' need to use flutter to display a config list. Thus the flutter app is only launched occasionally. If that's the case, a plugin is overkill.

Flutter/Dart can read your file directly, https://flutter.dev/docs/cookbook/persistence/reading-writing-files. There is

[2019-07-15 10:36] MostHated commented on #190
For the most part, yes. The flutter side of things will only be displayed occasionally, such as when first configuring the application.  I say "simply display the data", but in reality it is more complicated than that on the Go side, as I am using this package https://github.com/Unknwon/goconfig to open the file and parse the data in a specific way, but then later on the data will be used in other

[2019-07-15 11:19] Drakirus commented on #190
There is 2 applications:
A rsync daemon.
A UI.

The `rsync daemon` should work independently from the `UI`.
The `UI` need to retrieve information from the `rsync daemon`.

Flutter plugin is a way of gaining access to platform specific feature. (And bundle those feature in the same exec).
Your `rsync daemon` should not contain any `UI`, flutter pluing shouldn't be use in the `rsync daemon`. The dae

[2019-07-15 11:24] Drakirus commented on #190
You could also bundle everything into a Flutter application. If so, flutter plugins is a better way to go.
It really comes down to architectural preferences.

[2019-07-15 11:25] Drakirus commented on #190
I don't have a response for your question.
You can use go-flutter plugins.. or.. not!
It's up to you to make your choice.

[2019-07-15 11:27] MostHated commented on #190
I understand what you are saying. I am doing this as a personal learning project. I certainly know there are other ways to go about things, but that is not what I am after. The primary reason I am making this and running my Go application as a taskbar background application is to provide a scheduler/task runner to Rclone. My application will just run in the background and then issue commands to Rc

[2019-07-15 11:30] StefanLobbenmeier opened #191 "[Question] How does this compare to the "official" flutter desktop?"
Hi,

I found [this article on medium](https://medium.com/flutter-community/flutter-for-desktop-create-and-run-a-desktop-application-ebeb1604f1e0). From my understanding, that means that flutter has an official approach to flutter-desktop, what does this mean for the future of this approach?

[2019-07-15 11:34] Drakirus commented on #190
I hope I gave you the information you were looking for. If you have any questions/issues about the go-flutter package, fell free to ask them in gitter or on github!

[2019-07-15 11:34] #190 closed

[2019-07-15 12:11] Ali1Ammar opened #192 "app closed directly"
Hello
I have problem with hover
I  create new project and add main_desktop.dart
then run
hover init github.com/my-organization/simpleApplication
hover run
app run and close directly
with this error
hover: app 'my_awesome_ap' exited with error: exit status 2
* i use lubuntu 18.04*
## Flutter version
[✓] Flutter (Channel master, v1.8.1, on Linux, locale en_US.UTF-8)

## Error

[code]

[2019-07-15 12:35] Drakirus commented on #191
@GeertJohan and I are maintaining this alternative desktop embedder.

This approach has some benefits (plugins are way easier to write in Golang than in C++/Objective-C, and our API is easier to use for non-system developers). Those reasons are why we are maintaining such package.

The major drawback is that we aren't part of the flutter team. So at some point, if @GeertJohan and I stop maintainin

[2019-07-15 12:45] Drakirus commented on #192
The compiler warnings is related to your gcc version, I've never saw them.
Warnings or not, go-flutter compiles and the crash occurs at run time.

I think this issue is related to #189.

go-flutter should stay [compatible](https://github.com/go-flutter-desktop/go-flutter#flutter-version) with the beta channel of flutter. From my testing, `Flutter 1.8.2-pre.33 • channel master` works.
That been sai

[2019-07-15 12:45] Drakirus commented on #189
go-flutter should stay [compatible](https://github.com/go-flutter-desktop/go-flutter#flutter-version) with the beta channel of flutter. From my testing, `Flutter 1.8.2-pre.33 • channel master` works.
That been said, does the errors occurs on the beta channel? (`flutter channel beta`), if not, it's a non bug!

[2019-07-15 14:49] MostHated commented on #190
Just in case anyone searches this in the future. I found this tutorial, you just have to translate the page, but it shows a good example of having a value on the Go side and then getting that value to display in your flutter app.

https://www.kikt.top/posts/flutter/desktop/go-desktop-engine/flutter-go-desktop-1/

[2019-07-15 15:04] Drakirus commented on #114
Flutter version is checked by the flutter toolkit.
What's is missing IMO is a check on the flutter channel (as the README says `go-flutter project tries to stay compatible with the beta channel `)
I created https://github.com/go-flutter-desktop/hover/pull/10, in this PR hover checks the channel of flutter and print an warning if the channel isn't `beta`

[2019-07-15 17:23] MostHated commented on #190
Sorry to dig this back up again. I had a relevant question though on usage.

I implemented what I found in that tutorial and I was able to get a value from my Go code into the Flutter UI, but it is super... inconvenient? Is there a way to make this a bit more reusable?

Following the tutorial, it has you create a get_version_plugin.dart which contains:

[code]

Then to actually display it, I did s

[2019-07-15 20:38] Drakirus commented on #190
Well, platform plugins are about implementing native platform code 1-2-3-4 times on multiples native language (Java, Objective-C, CPP, Golang, ...). The platform code talks to a dart interface, `_channel.invokeMethod` for example, using different codec [`StandardMessageCodec`](https://godoc.org/github.com/go-flutter-desktop/go-flutter/plugin#StandardMessageCodec) for example. Writing plugin isn't

[2019-07-15 21:02] MostHated commented on #190
I appreciate the thorough reply. I do confess since Dart/Flutter in general is new to me, I suppose it was a bit difficult for me to differentiate what would be a go-flutter question and what would be a plain dart/flutter question. That is probably my biggest issue to overcome. Once I figure that out, it will probably help me to better locate more repos with code samples which are closer to what I

[2019-07-15 22:13] #114 closed

[2019-07-16 07:19] MostHated opened #194 "invalid type provided to message codec: type []string is not supported by St andardMessageCodec"
## Flutter version

[code]

## Plugin version
version: 1.0.0+1

## Go.mod file
module github.com/instance-id/gclone_flutter

go 1.12

require (
	github.com/Unknwon/goconfig v0.0.0-20190425194916-3dba17dd7b9e
	github.com/getlantern/context v0.0.0-20190109183933-c447772a6520 // indirect
	github.com/getlantern/errors v0.0.0-20190325191628-abdb3e3e36f7 // indirect
	github.com/getlantern/golog v0.0.0-2

[2019-07-16 07:32] MostHated commented on #194
Just to test I tried to use the ```"container/list"``` package, just in case, but it doesn't like that either.

[code]

I didn't think it would, but it was worth a try.

[2019-07-16 07:40] davidmartos96 commented on #191
@Drakirus I think the answer to this question would be great to have it linked in the README or in the Wiki. I also had this question when looking at the different desktop alternatives with Flutter.

[2019-07-16 08:20] MostHated commented on #194
Ok, I think I have it worked out.

Looks like I had to instead do this:

[code]

Then on the flutter side, just to test and see if I would get anything, I did this:

[code]

Which did get me some data from my config file:

![](https://i.imgur.com/VqY4OHD.png)

So at least I am on the right track.

[2019-07-16 09:30] Drakirus commented on #194
The first line of the [wiki](https://github.com/go-flutter-desktop/go-flutter/wiki/Implement-a-plugin) is:

That been said, I like to see peoples uses go-flutter, so I strapped the following code for you:
[code]

[code]

[code]

[2019-07-16 09:32] #194 closed

[2019-07-16 09:42] #149 closed

[2019-07-16 10:35] di3663 commented on #184
Does hover work now ?
[code]

[2019-07-16 11:32] Drakirus opened #195 "hover windows LD error"
Does hover work now ?
[code]

_Originally posted by @di3663 in https://github.com/go-flutter-desktop/go-flutter/issues/184#issuecomment-511762317_

[2019-07-16 11:36] Drakirus commented on #195
@di3663 Your issue occurs when linking the `flutter_engine.dll`.
Since windows has multiple implementation of GCC,  I don't know your which C compiler you are using.
Are you using [the Golang recommended C compiler](https://github.com/golang/go/wiki/InstallFromSource#install-c-tools) ?

[2019-07-16 12:06] Drakirus commented on #191
@davidmartos96 I have linked the question in the Wiki. Also, the README notices the user of the existence of a wiki.

I am leaving this Issue open; If anyone has questions about this package, we will be happy to answer them!

[2019-07-16 12:10] StefanLobbenmeier commented on #191
Thanks for the elaborate answer :)

[2019-07-16 15:59] Drakirus commented on #184
@di3663 your issue isn't related to the spaces in the path. Your issue is now described in #195

[2019-07-16 16:12] stuartmorgan commented on #189
This was a bug in the engine that was in Flutter for a few days; see https://github.com/flutter/engine/pull/9698. You'll need to use a slightly older or slightly newer version of Flutter.

[2019-07-16 19:04] #103 closed

[2019-07-16 20:42] stuartmorgan commented on #195
`flutter_engine.dll` is 64-bit only, which is why you're getting an unknown format on 32-bit Windows.

[2019-07-17 07:29] chunhunghan opened #196 "Have trouble to register plugin method handler with uncertain string, example is file_picker plugin use __CUSTOM_x"
Function Custom Format of Plugin file_picker https://github.com/miguelpruivo/plugins_flutter_file_picker
 pass a uncertain string and I have trouble to register method handler in InitPlugin
x is file type, such as txt, svg, doc, xls

    channel.HandleFunc("__CUSTOM_x", p.custom)

File_Picker Dart

	static Future<dynamic> _getPath(String type, bool multipleSelection) async {
		try {
		  dynamic re

[2019-07-17 10:06] di3663 commented on #184
Ok. Thanks. Yesterday I wanted to check whether ime is supported better these days. Chinese input methods are not supported well in all opengl projects on windows, not even gtk. We can input of course. And win32 may still a more common platform.

[2019-07-17 12:15] StefanLobbenmeier opened #198 "An exception is logged when maximizing the window vertically"
Is not an urgent issue, as I can see no effect besides that the error is logged. Might indicate other problems though, so thats why I created the issue

## Flutter version

[code]

## Golang errors (Optional)

Compilation works, but runtime error (occurs in pairs as far as I can see, thats why I copied both):
[code]

## Steps to Reproduce

1. My code looks like this
[code]
2. I run it with hover r

[2019-07-17 18:24] Drakirus commented on #198
This also happen a lot to me.
The Steps to reproduce are correct.

[2019-07-18 02:37] leedstyh commented on #189
Thanks @Drakirus @stuartmorgan , `channel master` works

[2019-07-18 02:37] #189 closed

[2019-07-18 07:22] Drakirus commented on #192
Updating flutter fixes the issue. Look at  #189 for more information.

[2019-07-18 07:22] #192 closed

[2019-07-18 07:25] #195 closed

[2019-07-18 08:04] GeertJohan commented on #196
Having variables in a method name doesn't make sense. I have never seen it in another plugin. I think the file type should've been an argument. I don't feel like we should add much complexity to go-flutter, but a simple catch-all handler could let you implement the matching manually.

[2019-07-18 11:47] #196 closed

[2019-07-18 12:04] GeertJohan commented on #84
So here is a setup I have where the same issue occurs.
- My laptop has a 4K display (AU Optronics Corporation), on the left
- An external display is attached (LG Electronics 34UM95)
- To match DPI between the built-in screen and the external screen, I scale that display 2x2. It is rendered at 6880x2800, then downscaled by X11 to the actual 3440x1440 that the display has.
- go-flutter sees the exte

[2019-07-18 14:34] #74 closed

[2019-07-18 14:37] GeertJohan commented on #198
This also happens when clicking inside the app (mouse button down), then dragging the cursor out of the app window.

[2019-07-18 19:23] Drakirus commented on #196
@chunhunghan, you can use:
[code]

The `CatchAllHandleFunc` functionality will be added to the next release of go-flutter.
If you want to try it out use: `hover run -b '@master'`.

[2019-07-18 21:08] Drakirus commented on #198
I also get another error:
[code]
This happen when I resize the application right after the window is created. I can reproduce the error quite constantly, just have fast very fast!

weirdly enough, adding a `glfw.WaitEvent()` before setting `CursorPosCallback` solves 'my' issue [`glfw.WaitEvent()`](https://github.com/go-flutter-desktop/go-flutter/commit/a4f132c7a77a811224440129c66dade8375e680b)

[2019-07-18 21:09] Drakirus commented on #198
I have written:
[code]
it's only based on MY understanding, the comment is certainly false.

[2019-07-19 08:28] GeertJohan commented on #198
Everyone with a tiling window manager will automatically resize the window right after it has been created. Will WaitEvent always return imediatly? Or could this block the aap startup

[2019-07-19 08:38] Drakirus commented on #198
`glfw.WaitEvents()` will not  necessary return immediately. But it's fine, because a we need to wait for a engine's paint event.

This will not block the app startup, at some point paint event will occur, just to clarify, `glfw.WaitEventsTimeout(0.016)` was used because `embedder.FlutterEngineFlushPendingTasksNow()` isn't connected to the GLFW event loop.

The end goal with the custom engine event

[2019-07-19 22:21] #198 closed

[2019-07-20 02:50] djpnewton opened #203 "Hover: hook system"
when building using hover the build directory gets erased, this causes trouble if you are using a 3rd party binary like a shared library or something.

we need the option to not delete the output directory or perhaps some hook to copy files into the build output directory

[2019-07-20 19:36] jascodes commented on #129
any update on this? vscode support is for forcing me to use flutter's native solution for now

[2019-07-21 21:45] Drakirus commented on #129
To have hot-reload in vs-code you have to:
 - Use `lib/main.dart` as your app entry-point.
   hover default the entry-point to `lib/main_desktop.dart`, it's not supported by VSCode, https://github.com/Dart-Code/Dart-Code/issues/1881, in order to get hover run with VSCode you have to run `hover run --target=lib/main.dart`. (*cough*: don't forget the `debugDefaultTargetPlatformOverride` in main.dart

[2019-07-22 05:56] chunhunghan opened #204 "Encounter error "interface {} is map[interface {}]interface {}, not map[string]interface {}" when develop Image_Picker for windows "pickVideo""
When develop Image_Picker Plugin for Windows.
pickImage work fine but pickVideo has the following error message

	go-flutter: recovered from panic while handling call for method 'pickVideo' on channel 'plugins.flutter.io/image_picker': interface conversion: interface {} is map[interface {}]interface {}, not map[string]interface {}
	goroutine 57 [running]:

Modify func handlePickVideo of plugin.go

[2019-07-22 07:18] cloudwebrtc commented on #102
@Drakirus  Sorry to reply so late, I see you in the code RegisterExternalTexture(textureId: 400), and after a while MarkExternalTextureFrameAvailable(textureId: 600), this place textureId should be a fixed value of int64_t when registering once, for example: textureId = 0, when your The plugin generates a new video frame, only need to execute MarkExternalTextureFrameAvailable(texture: 0), then the

[2019-07-22 07:38] #204 closed

[2019-07-22 07:44] Drakirus commented on #204
Thanks for the bug-report!
Fix available in `image_picker/v0.1.1`

[2019-07-22 10:05] Drakirus commented on #102
@cloudwebrtc Thanks for your reply!
The testing code that I pushed was wrong, I've updated it: [commit](https://github.com/go-flutter-desktop/go-flutter/compare/feature/gl_texture).

I'm still facing the same issue: `gl_external_texture_frame_callback` never gets called. :disappointed:

I've updated the code to use a bare C handler [code](https://github.com/go-flutter-desktop/go-flutter/compare/fe

[2019-07-22 11:08] DanTup commented on #129
There's a beta of the upcoming VS Code release that adds support for setting `"program":` on attach configs here:

https://github.com/Dart-Code/Dart-Code/issues/1881#issuecomment-513747167

[2019-07-22 11:12] cloudwebrtc commented on #102
@Drakirus Your changes are correct, just add Texture(textureId: 1) to flutter lib/main.dart.
I tested it under linux:
[code]

[2019-07-22 11:30] Drakirus commented on #102
`Texture(textureId: 1)` that what I was missing, Thanks!!

[2019-07-23 01:41] jascodes commented on #128
@GeertJohan Any indication how much work we might be looking at?

[2019-07-23 02:32] jascodes commented on #129
@DanTup @Drakirus Any chance extension can hook up debugger also?

[2019-07-23 07:39] DanTup commented on #129
@jascodes I'm not sure I understand the question. The Dart/Flutter extensions to fully support debugging for launched and attached apps, however I'm not familiar with the setup here with Go. What is it that doesn't work for you?

If you raise an issue at Dart-Code with details and [a log file](https://dartcode.org/docs/logging/#capture-logs-command) I can take a look.

[2019-07-23 07:56] jascodes commented on #129
@DanTup Check out direction for hot-reloading of this project in vscode by @Drakirus above in this thread. I am attaching it below. go-flutter generates Observatory url that one need to attach to manually for debugging.

[2019-07-23 08:46] chunhunghan opened #205 "Need code review for file_picker plungin and test on darwin / linux before merge to pub.dev"
I have tested on Windows 10. It works fine.
But I only have Windows, can't test on linux and darwin
Could you please help me.
Thanks.

plugin
https://github.com/chunhunghan/file_picker

android
https://github.com/chunhunghan/file_picker_example

[2019-07-23 09:09] DanTup commented on #129
Oh, sorry, you're asking for a way to automatically attach?

I'm not familiar with how you're launching the app so I don't know how easy it'd be. I presume you're using the standard Go extension in VS Code to launch the Go app, and then attaching the Dart debugger? You would probably need a VS Code extension that understands how both of these work and can glue them together.

[2019-07-23 09:28] joeblew99 opened #206 "plugin: SQLCool uses the current SQL plugin but adds change feed"
https://github.com/synw/sqlcool

I think we can get this working on Desktop and mobiles.
It uses the existing go-flutter plugin called https://github.com/nealwon/go-flutter-plugin-sqlite, but adds Change Feeds

Why Change feed is a useful pattern ?
I use it to essentially hold all the Materialised Views for the Flutter GUI.
From the Server, events come in and the business logic then updates the da

[2019-07-23 10:08] Drakirus commented on #206
From [what I can tell](https://github.com/synw/sqlcool/search?q=invokeMethod&type=Code), `synw/sqlcool` is a Dart only plugin wrapping [`tekartik/sqflite`](https://github.com/tekartik/sqflite).

We already have a desktop implementation of [`tekartik/sqflite`](https://github.com/tekartik/sqflite) => [`nealwon/go-flutter-plugin-sqlite`](https://github.com/nealwon/go-flutter-plugin-sqlite).

 The pla

[2019-07-23 10:08] #206 closed

[2019-07-23 10:26] Drakirus commented on #205
From what I can tell, you are trying to port [miguelpruivo/plugins_flutter_file_picker](https://github.com/miguelpruivo/plugins_flutter_file_picker) to go-flutter!

As @miguelpruivo [said](https://github.com/go-flutter-desktop/plugins/pull/3#issuecomment-506288221):

Can you please submit a PR to https://github.com/miguelpruivo/plugins_flutter_file_picker with the content of https://github.com/chu

[2019-07-23 10:28] Drakirus commented on #205
Also the https://github.com/flutter/plugins/tree/master/packages/file_picker url in the README is wrong.

[2019-07-23 10:47] Drakirus commented on #129
@jascodes you're leadin' us around in circles...

The extension made by @DanTup works in 2 modes: `launch` and `attach`.
I'm sure you are familiar with the `launch` mode, you click a button an everything is handled for you.

go-flutter isn't part of the flutter tool-chain, we came up with `hover` to automate the maximum of the painful setup. We are not supporting VSCode `launch`mode, and will cert

[2019-07-23 14:21] jascodes commented on #129
@Drakirus Yup I have tried and it works well.
[code]
Gotcha

[2019-07-23 15:39] Drakirus commented on #156
https://github.com/go-flutter-desktop/hover/pull/11 got merged!
Hover, when building the app with `hover build` will create the app in release mode!

[2019-07-23 15:39] #156 closed

[2019-07-23 15:43] Drakirus commented on #156
Updates on hover occurs, make sure to run `go get -u github.com/go-flutter-desktop/hover` every once in a while.

[2019-07-23 17:24] Drakirus opened #207 "Hover: app packaging"
Regrouping the issues related to app packaging:
 - windows: https://github.com/go-flutter-desktop/go-flutter/issues/106
 - linux: https://github.com/go-flutter-desktop/go-flutter/issues/160
 - Mac: https://github.com/go-flutter-desktop/go-flutter/issues/99 / https://github.com/go-flutter-desktop/go-flutter/issues/179

Packaging can be done by the user, that why it's not our top priority.

We don't

[2019-07-23 17:25] Drakirus commented on #106
Moved to #207.

[2019-07-23 17:25] #106 closed

[2019-07-23 17:26] Drakirus commented on #160
Moved to #207.

[2019-07-23 17:26] #160 closed

[2019-07-23 17:26] Drakirus commented on #99
Moved to #207.

[2019-07-23 17:26] #99 closed

[2019-07-23 17:27] Drakirus commented on #179
Moved to #207.

[2019-07-23 17:27] #179 closed

[2019-07-23 17:27] Drakirus commented on #179
@alexelisenko what is related to code signing can be reported in this issue.

[2019-07-23 17:31] Drakirus commented on #64
Closing duplicate of #205.

[2019-07-23 17:31] #64 closed

[2019-07-23 17:38] Drakirus commented on #9
The tool [`hover`](https://github.com/go-flutter-desktop/hover) exist, Mage build is irrelevant.
CI can be good, it could enable us to have pre-build version of go-flutter. CI is irrelevant in the same way flutter dosn't provide pre-build version of android flutter, users will add plugins...

[2019-07-23 17:38] #9 closed

[2019-07-23 17:44] Drakirus commented on #109
Not top priority, to me what's needs coverage is codec, and codec are pretty well tested.
Don't want to fight for a stupid awesome list.

[2019-07-23 17:44] #109 closed

[2019-07-23 17:46] Drakirus commented on #124
documentation has been written in the https://github.com/go-flutter-desktop/hover readme and on the website.

[2019-07-23 17:46] #124 closed

[2019-07-23 17:51] Drakirus commented on #164
Work on the website needs to be made. I don't need another issue to keep track the individual task, the big **TODO**  in the quick-start page is enough.

[2019-07-23 17:51] #164 closed

[2019-07-23 18:08] Drakirus commented on #128
Geert is in vacation.

But I can try to answer the question:
At first hand xgo seems to be easy to use. But when we look at go-flutter, there is a lot of cgo involved (flutter/engine glfw/glfw opengl). I think it's too much work for @GeertJohan and I to handle, there are others more important issues to fix.

[2019-07-23 22:33] Drakirus commented on #102
Making progress:
![2019-07-24_00-30](https://user-images.githubusercontent.com/7476655/61751924-424e8b00-adaa-11e9-8294-d8acc2560193.png)

A demo is available at: https://github.com/go-flutter-desktop/examples/tree/feature/gl_texture/texture_tutorial, use `hover run -b '@feature/gl_texture'` to try it out.

@cloudwebrtc everything was implemented thanks to you, big thanks!

[2019-07-23 23:45] cloudwebrtc commented on #102
Wow, that's awesome.

[2019-07-24 01:33] chunhunghan commented on #205
@Drakirus  Thank you for your review
unnecessary print has removed also README.md url  and import has updated.

@GeertJohan could you help to check darwin? Thank you very much.

[2019-07-24 04:45] lucaszanella commented on #92
Hi @GeertJohan

I have the same problem, then I switched to the beta channel but I can't find linux device.

[code]

Doesn't only master channel has linux support?

[2019-07-24 07:00] davidmartos96 commented on #129
@Drakirus Proposal: how about making hover save the last observatory URI in a hidden file?
https://github.com/go-flutter-desktop/hover/blob/4751a8e61e1d43372bf6c94639bf13e92f30bf23/cmd/run.go#L61

I have been looking into VS Code extensions and it would not be hard to make one that reads the URI from a file and automatically attaches with the Dart VS Code extension debugger.

[2019-07-24 07:04] DanTup commented on #129
I don't know the details of how `hover` works, but you could probably also make a VS Code extension that runs it for you and regexes the URL out of stdout, then spawns a Dart debug session ([here's how](https://github.com/Dart-Code/Dart-Code/blob/a963f950844e667697ae68e028d35e5cd1e56ba2/src/extension/commands/debug.ts#L139) you can start a Dart debug session programatically - you'd want to use `at

[2019-07-24 07:53] jascodes commented on #129
@DanTup I was kinna thinking along same line, I was taken a back lil when @Drakirus put it like `We are not supporting VSCode launchmode, and will certainly never support it.` That certainly shut me up :stuck_out_tongue_closed_eyes:

[2019-07-24 08:29] DanTup commented on #129
To be fair, if this project doesn't already have a VS Code extension, then I'm not sure it can really support this. It would need to be built as a VS Code extension specifically to glue the two things together - and I think that would work better if done by having it launch Hover and read the output than writing to a file (since it would all be streamlined into a single button press).

[2019-07-24 08:29] Drakirus commented on #92
@lucaszanella Ah, this repo is about go-flutter, an alternative embedder to the official flutter project.
Sorry about the confusion.

To use this alternative embedder please use [hover](https://github.com/go-flutter-desktop/hover).
Make sure to read the repos README.

[2019-07-24 08:56] pttdev commented on #205
@chunhunghan great work!

[2019-07-24 09:16] Drakirus commented on #205
@chunhunghan GeertJohan is in vacation, @zephylac, can you give this a try?
Thank!

[2019-07-24 09:37] zephylac commented on #205
I was doing it. Having this issue RN
[code]

[2019-07-24 09:39] Drakirus commented on #205
@zephylac you are on an older version of go-flutter, update hover

[2019-07-24 10:46] GeertJohan commented on #129
I think @Drakirus meant support for the existing flutter launch extension??

As @davidmartos96 and @DanTup propose,  I think nothing holds us back from creating a hover extension for vscode, basically just a GUI arround the hover cli.

[2019-07-24 10:55] Drakirus commented on #129
Exactly, the existing flutter/dart extension cannot support hover at the moment.
Nothing holds us back from creating a hover extension for VSCode, you are right. And as @DanTup said:

The hover VSCode would only be glue.

For now, I don't see any value in creating our extension to support launch mode.
To me, opening a terminal, executing one command and one copy-paste isn't worth automating.

[2019-07-24 12:59] zephylac commented on #205
I'm using this[example](https://github.com/miguelpruivo/plugins_flutter_file_picker/tree/master/example)

In your plugin package fmt is imported but no used.

The finder doesn't open except when I choose 'any' extension.
When it opens ('any' extension), I can browse normally but I cannot choose a file, they are all greyed out.

All greyed out excpet directory
<img width="332" alt="Capture d’écran

[2019-07-24 14:01] GeertJohan commented on #129
I prefer to use terminal as well. That said, lots of people like the GUI buttons, so it would be awesome if a glue-like extension is made. Anyone, feel free to pick this up!  :rocket:

[2019-07-24 17:24] davidmartos96 commented on #129
Is anyone else getting `Error 1001 received from application: File system already exists` when attaching with the configuration @Drakirus provided above?
It attaches fine, with breakpoints, but all Flutter output is missing. The Debug Console is empty.

![image](https://user-images.githubusercontent.com/22084723/61814481-7c6e6a00-ae48-11e9-826e-f888b4b70534.png)

I am using the Dart extension vers

[2019-07-24 20:08] stuartmorgan opened #209 "Consider putting 'go' in the folder name used by 'hover'"
I noticed that there was a suggestion to upstream a go-flutter-desktop plugin implementation into an existing plugin's repository in a `desktop` directory. For similar reasons as given [here](https://github.com/go-flutter-desktop/go-flutter/issues/72#issuecomment-464504875) I would recommend that if implementations are going to live in the upstream projects you consider using a more distinctive na

[2019-07-25 01:56] chunhunghan commented on #205
I have folk miguelpruivo 's project version v1.3.8 to  https://github.com/chunhunghan/plugins_flutter_file_picker
and put desktop folder in it,
also presume it's future version will be v1.3.9

I have checked with Windows 10. It works fine.

The reason of error is Flutter Text Widget received a nil from file_picker.go.

I don't know correct  filter string of darwin, so I just copy it from image_pic

[2019-07-25 02:27] miguelpruivo commented on #205
@chunhunghan by providing desktop support, as well as some other working fixes, the version will most likely jump to `1.4.0`.

Anyway, take your time and feel free to issue a PR to the _file_picker_ `beta` branch when you’ve ready to work with every desktop platform.

Thank you.

[2019-07-25 04:00] jascodes opened #210 "could not import github.com/go-flutter-desktop/go-flutter"
Do in need to go get go-flutter to fix the following issue?

![Screenshot from 2019-07-25 09-04-50](https://user-images.githubusercontent.com/1231593/61844011-9bf2aa80-aebb-11e9-8b17-af230211108e.png)
![Screenshot from 2019-07-25 09-04-55](https://user-images.githubusercontent.com/1231593/61844012-9bf2aa80-aebb-11e9-8aac-ba462b604384.png)
![Screenshot from 2019-07-25 09-04-59](https://user-images.

[2019-07-25 04:08] chunhunghan commented on #205
I have ask question in apple.stackexchange
https://apple.stackexchange.com/questions/365288/applescript-how-to-choose-file-for-all-files-or-list-of-extensions

Maybe for ANY, I should pass an empty string to disable "of type"

[2019-07-25 04:19] jascodes opened #211 "Initial window location"
How do I set initial windows location?

[2019-07-25 04:23] jascodes commented on #210
I am still getting error but all of sudden issue seem to be fixed

![Screenshot from 2019-07-25 09-50-46](https://user-images.githubusercontent.com/1231593/61845629-baf43b00-aec1-11e9-813d-8cef71a84a48.png)

Now I have quesion how and where we are importing option variable from option.go file, because setup works. Is somthing wrong with linter?

![Screenshot from 2019-07-25 09-50-59](https://user-

[2019-07-25 07:57] zephylac commented on #205
I found the [Apple developper page](https://developer.apple.com/library/archive/documentation/Miscellaneous/Reference/UTIRef/Articles/System-DeclaredUniformTypeIdentifiers.html).

By following the rules I ended up with :
[code]

This solution works on MacOS High Sierra 10.13 . We should test it on Mojave but I don't see any reasons why it wouldn't work.

[2019-07-25 08:28] chunhunghan commented on #205
@zephylac Thank you very much.
I have updated the code.
https://github.com/chunhunghan/plugins_flutter_file_picker/tree/master/desktop

Do I need to uppercase file extension in CUSTOM? Thanks

[2019-07-25 09:01] zephylac commented on #205
__CUSTOM is sent by [file_picker flutter plugin](https://github.com/miguelpruivo/plugins_flutter_file_picker/blob/master/lib/file_picker.dart#L82)
You need to keep this. This is used to know which custom extension is used.

You just need to replace
`filter = \`"\` + resolveType[1] + \`"\``
 by
`filter = resolveType[1]`

The double-quotes are messing up the filter. Also I noticed when the dialog is

[2019-07-25 09:26] chunhunghan commented on #205
filter had replaced. Thank you very much.

https://github.com/go-flutter-desktop/go-flutter/issues/141
I do not have enough knowledge about "failed to pop route after escape key press". Thanks

[2019-07-25 09:40] zephylac commented on #205
The main problem here is that the dialog windows is not focused when started.
Meaning that the windows currently focused is the main application.
The example that I'm using is [example](https://github.com/miguelpruivo/plugins_flutter_file_picker/tree/master/example).
The error message is normal. I have no route to pop.

That's why we need to find a way to focus the dialog window when it opens to a

[2019-07-25 11:27] Drakirus commented on #205
@chunhunghan, as @stuartmorgan said in #209, we should consider adding a `'go-'` before the directory `desktop`.
For the plugin, if you were to submit a PR on [miguelpruivo/plugins_flutter_file_picker](https://github.com/miguelpruivo/plugins_flutter_file_picker), do it in a `go-desktop` directory.

[2019-07-25 11:41] Drakirus commented on #209
I've updated my comment on #205, as you said, we should made a distinction between embedder project.
I would love to have official guidance because we are not alone in the ecosystem, and sometime, we make mistake.

The tool 'hover' creates a `desktop` directory in the root of the project, if @GeertJohan is ok with a breaking change, https://github.com/go-flutter-desktop/hover/pull/13 should fix th

[2019-07-25 11:55] Drakirus commented on #210
I can see that you are using `LSP`, the [`gopls`](https://godoc.org/golang.org/x/tools/cmd/gopls) is famous for been a bit freakish.

The issue from: `go get -u github.com/go-flutter-desktop/go-flutter` occurs because your `CGO_LDFLAGS` isn't correct. When using the tool `hover`, we are setting the `CGO_LDFLAGS` to the correct path (on linux: `export CGO_LDFLAGS="-L/home/drakirus/.cache/hover/engi

[2019-07-25 11:58] Drakirus commented on #210
If you don't have any other question, or if my answer is enough, please close the issue. :wink:

[2019-07-25 12:04] Drakirus commented on #211
Similar to https://github.com/go-flutter-desktop/go-flutter/issues/126, you can 'hack' a [GLFW-plugin](https://github.com/go-flutter-desktop/go-flutter/wiki/GLFW-Plugin-example).
But what would be better is a custom [`Option`](https://github.com/go-flutter-desktop/go-flutter/wiki/Options).

Can you submit a quick PR addressing the changes, it is very similar to: [#145](https://github.com/go-flutte

[2019-07-25 12:35] Drakirus commented on #211
This might also help you: [Work on 'go-flutter' source code](https://github.com/go-flutter-desktop/go-flutter/wiki/Setting-up-hover-to-use-a-home-made-version-of-'go-flutter')

[2019-07-25 12:36] GeertJohan commented on #209
I would like to give this some more thought, i'm affraid things can still be conficsing with `go-desktop` as well. I'm not sure though what would be better.. Just `go` or perhaps `hover`. I'm convinced by Stuart's arguments that `desktop` can be confusing, just would like to give this some more thoughtbefore doing the beaking change.

[2019-07-25 12:41] miguelpruivo commented on #205
I’d suggest to call the directory only `desktop` for the _file_picker_.